[2022-05-04 05:03] heshanpadmasiri commented on #1006
Therefore regarding formatting values (point 2 [above](https://github.com/ballerina-platform/nballerina/issues/1006#issue-1223675821)) we actually have 2 options

1. We can have our own debug adapter that will communicate directly with GDB and return the expected output.
2. We can have a gdb pretty printer for ballerina similar to rust-gdb and reuse an existing debug adapter. To integrate this wit

[2022-05-04 05:55] manuranga commented on #995
We had a chat yesterday and concluded, yes, every conditional should be a region entry, but exit should only appear when *all* the paths that diverged at the entry are merged. Given that Ballerina is a structured language that may mean every merge, but Ushira need to find out how the`return`, `break`, `continue` affects this.

Definition is not finalized since we found some complicated cases where

[2022-05-04 06:01] jclark commented on #995
Sounds plausible.

Otherwise it wouldn't be single exit, right?

[2022-05-04 06:28] manuranga commented on #995
Correct.

[2022-05-04 12:12] jclark commented on #1006
My understanding is that what we need to represent in DWARF is not our type system, but the different kinds of value representation that the LLVM backend uses.

[2022-05-04 13:53] heshanpadmasiri commented on #1006
Yes in the sense of "nature" of the type (number of bits, is it a pointer etc.) but should use the ballerina name.

[2022-05-04 19:12] manuranga commented on #995
We had a long chat today. We came to some rough conclusions. After some reflection, I have simplified them as follows.

- A given block is a region's `entry` if and only if:

    - If it is a target of a backward branch. In this case the region kind is `REGION_LOOP`.
    **Else**
    - If its terminator is a conditional, unless one (or both) of its paths solely leads to the region's or ancestor's

[2022-05-06 03:31] heshanpadmasiri commented on #1001
This is not a bug (This leads to 2 type descriptors as the inherent type)

[2022-05-06 03:31] #1001 closed, assigned to heshanpadmasiri

[2022-05-06 04:57] manuranga commented on #995
Though about the above "unless ..." part. But It's only complicated because I am explaining how it should appear in the BIR. If we think about Ballerina code, it's an `if` where only one or more arms doesn't complete normally. In other words, if it really has a merge.

So I think generating it will be trivial🤞. Verification may take a bit of work.

It is correct even without "unless ..." part. But

[2022-05-12 04:01] ushirask commented on #995
<img src="https://user-images.githubusercontent.com/36252574/167989013-a1377093-bc08-4157-af3a-7a9be16e9ec4.png" width="400">
 In the given graph according to the above definition the loop region starting from bb1 would be 1 to 3. However the region currently created in the frontend is from 1 to 4, which also seems to be allowed by WASM. We can either,

1. Modify the region creation in the fronten

[2022-05-12 04:27] manuranga opened #1013 "Refactor `front` module following up the TypeBranch changes"
Follow up on #952.

Potential refactorings

1. Get rid of Assignment, Environment
Model Assignment in a similar fashion to a narrowing Binding. That is, Assignment will be another Binding where `reg` happens to be the same as unnarrowed Register.

Challenges:

- Currently binding only points all the way back to original binding. But for loop validation we need the immediately previous one.
- Need

[2022-05-13 11:14] manuranga opened #1014 "Assignments in statement blocks ending with `break` does not invalidate narrowings"
This is because foreach doesn't return assignments.

https://github.com/ballerina-platform/nballerina/blob/accf778002716d72bc17d3ee961c68b23004e942/compiler/modules/front/stmt.bal#L500-L501

[2022-05-16 13:18] heshanpadmasiri opened #1017 "Invalid assignment to narrowed variable in loop error"
**Description:**
Fallowing code will produce an error `error: assignment to narrowed variable 'a' in loop`
[code]
Please note that `a` is not assigned inside the loop and we don't get an error if we don't have the while loop

[2022-05-16 18:04] manuranga opened #1019 "Remove `realpath` from build script"
`realpath` is not available on MacOS.

You will get `make[4]: /java: No such file or directory`.

Remove it form:
https://github.com/ballerina-platform/nballerina/blob/379c0db1ef6e3569b43aa8458ee2e23349b78bcd/test/findJava.sh#L3

Use `brew install coreutils` as a workaround.

[2022-05-17 02:07] manuranga commented on #995
LLVM's loop definition has multiple exit blocks https://llvm.org/docs/LoopTerminology.html#terminology
In our exit block is merging of what LLVM calls exit blocks.

[2022-05-17 05:38] ushirask commented on #995
* If paths don't merge `exit` is nil.

[2022-05-18 02:48] rdhananjaya opened #1020 "Subtyping test failure for list and mapping interaction"
Example:
[code]

Out:
[code]
**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-05-19 07:29] ushirask opened #1021 "Rename `args` field in CallInsn to `operands`"
**Description:**
The field `args` in CallInsn in `bir.bal` should be changed to `operands` for consistency with other instructions.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-05-19 09:51] rdhananjaya commented on #1020
Similar case with only mapping types:

[code]

[2022-05-22 19:09] manuranga opened #1022 "Verify TypeMerge and TypeBranch instructions"
Following needs to be verified

Flow related:
* Non-backwards branches form a DAG
~~* Backward edges points to an entry node of the current node's [strongly connected component](https://en.wikipedia.org/wiki/Strongly_connected_component).
(Is this too strong? Will we ever have optimizations that violate this? This is a prerequisite for LOOP_REGION and reducible CFG)
I plan to do this via [Tarjan's

[2022-05-23 07:12] ushirask commented on #995
Tmp registers should only be used within the block it was initialized, but this is not currently correct in the front end and should be fixed.

[2022-05-23 09:14] jclark commented on #1022
I think the easiest is a boolean array and clone between branches.

How are you planning to deal with something like:

[code]

When you merge these branches, you have x initialized on one branch, and y initialized on the other branch.  They are  both out of scope, but you don't know that from the BIR (unless you use the debug scope info).

I *think* for out current subset we can treat them as both

[2022-05-23 09:47] manuranga commented on #1022
Plan is to allow Register access only when all paths to a usage has an assignment. But I assumed in the current subset all the merges that matter can be detected by having TypeMerge as the block's first insn. Plan was to create a merged initialized list at that point.

But your example shows I need to do it genericaly, not just at TypeMerge. Let me come up with a design.

[2022-05-23 09:56] jclark commented on #1022
In our current subset, I don't think it is possible to have an variable that is for a block

- in scope in the block
- initialized on one path coming into the block
- not initialized on another path coming into the block

[2022-05-23 10:32] manuranga commented on #1022
Yes, it is not possible for variables, but it is possible for NarrowRegisters. So I think I need to generalize that logic to handle your example.

[2022-05-23 12:07] jclark commented on #1022
When there's a narrowed register, why won't it be initialized on both paths (by the TypeBranch)?

[2022-05-23 15:27] manuranga commented on #1022
Registers are typed with the occurrence type, so we have separate registers for true path and false path, each is only initialized on one side and should be invalidated after merge.

[2022-05-25 05:19] heshanpadmasiri opened #1025 "Construct decimal constants at compile-time"
Currently we are using `decQuadFromString` at runtime in places such as [creating decimal constants](https://github.com/ballerina-platform/nballerina/blob/fe0ed4185c12e259c27e2841a3fae959772706e9/runtime/decimal.c#L255) in order to create the runtime representation of decimal constants. It would be better to construct the native decQuad representation  (which is a 16-byte Densely Packed Decimal fo

[2022-05-26 02:56] #1020 closed, assigned to rdhananjaya

[2022-05-26 05:03] jclark commented on #1025
We don't want to have to call any function at runtime.

[2022-05-30 05:07] rdhananjaya opened #1027 "Check and align mapping `isEmpty` function with the solution for exercise 10 in Cov-Contra paper (10/Apr/22)"
**Description:**
[Cov-Contra paper](https://www.irif.fr/~gc/papers/covcon-again.pdf)

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-06-02 05:09] #1006 closed, assigned to heshanpadmasiri

[2022-06-02 05:36] poorna2152 opened #1028 "Complicated type check in `TypeBranch`"
[code]
Type check generated for the above code does not simply check the whether the type is string[].

[2022-06-02 10:25] jclark commented on #1025
Look at

http://speleotrove.com/decimal/DPDecimal.html

[2022-06-03 01:56] jclark opened #1029 "Type-emptiness testing should produce witness"
In a case where a type S is expected to be a subtype of type T, we test whether the set difference of S and T is empty, and then give an error if not. This results in an error message that is not very informative, particularly when S and T are complicated.

We can do better by making the API that tests whether a set is empty produce a *witness* (or perhaps multiple witnesses) in the case that it i

[2022-06-06 04:27] manuranga commented on #1013
4. Refactor `groupOriginsByUnnarrowed` such that it only return `MergeOriginGroup`s that narrows **each** path. Then don't need to return `numOrigins`.

[2022-06-08 17:47] manuranga opened #1031 "Implement bir textual format"
Design a textual format to represent bir. Implement a serializer and a deserializer for it.

[2022-06-08 18:14] manuranga commented on #1031
Please find the first draft [here](http://htmlpreview.github.io/?https://gist.github.com/manuranga/912810e0cd1baac51c25f5c41c13e10c/raw/93f6b8f89b9f0d36662e266225a3244e94bfe358/nbir-s-expr.html).
(html styling doesn't seems to work in preview, download from [here](https://gist.github.com/manuranga/912810e0cd1baac51c25f5c41c13e10c/raw/93f6b8f89b9f0d36662e266225a3244e94bfe358/nbir-s-expr.html))

[2022-06-09 02:52] jclark commented on #1031
Let's look at printEq

[code]

[2022-06-09 02:56] jclark commented on #1031
I would do:

[code]

Then

[code]

[2022-06-09 04:16] jclark commented on #1031
I think it's cleaner to use identifiers (e.g. `r0`) rather than numbers are identifiers for blocks/registers, even though internally we use numbers.

[2022-06-09 04:18] jclark commented on #1031
I would also use a more Lispy aesthetic for instruction names and semantic type operators i.e. hyphen-separated words with only occasional use of symbolic characters.

[2022-06-09 07:43] manuranga opened #1032 "Fix llvm variable name for narrowed registers"
Name (superficial) is nil when narrowed register's underlying is also narrowed.

_Originally posted by @manuranga in https://github.com/ballerina-platform/nballerina/pull/952#discussion_r893174627_

[2022-06-09 18:38] manuranga commented on #1031
[Draft 2](https://manuranga.github.io/nballerina/nbir-sexp-draft2.html)
I have addressed all suggestions, expect block names, for which I'll need to pass a map of name, since `bir:Label` is just an int.

[2022-06-10 02:25] jclark commented on #1031
This is starting to look really nice.

There will be whole bunch of things in a module's main symbol space in addition to functions (e.g. types, constants, classes). I think we should follow the same pattern for the module symbol space as for the local symbol space.

So rather than

[code]

how about

[code]

? This will work better for anon functions too.

[2022-06-10 02:30] jclark commented on #1031
Also add `public` here (which is independent of the kind of thing that the name is bound to).

Can we think of something better than `(internal "printEq")`? It doesn't communicate well that it is internal to the module, and doesn't fit well with `global`.

[2022-06-12 09:33] heshanpadmasiri commented on #1027
I think there is an edge case where our current algorithm is not behaving as intended. I believe we should pass the following test (but we don't)
[code]
I believe the reason for this is, in our algorithm following line
https://github.com/ballerina-platform/nballerina/blob/4ea04d25b468f5553577f597daae4b9122973435/compiler/modules/types/mapping.bal#L236
is not doing the same thing as the highlighted

[2022-06-12 11:00] jclark commented on #1027
A value `{ a: 0, b: 1.0 }`  belongs to pos, but not R_1 nor to R_2, so why is `pos` smaller than `neg`?

[2022-06-12 11:01] jclark commented on #1027
@heshanpadmasiri If you find an example where you think we are doing the wrong thing, check it with CDuce.

[2022-06-12 15:46] heshanpadmasiri commented on #1027
@jclark I was under the wrong impression that R_1|R_2 is field wise union. But in that case, should we be passing the following test  (we are passing this currently, note R_2 doesn't have a string b)?
[code]

[2022-06-13 01:28] jclark commented on #1027
I suggest you use `{| |}` rather than `{ }` in tests, so the openness is explicit.

[2022-06-13 02:13] jclark commented on #1027
R2 means `record {| 0|1 a; anydata...; |}`.

`|` always means set union (that is really what semantic subtyping means).

[2022-06-13 04:33] manuranga commented on #1031
[Draft 3](https://manuranga.github.io/nballerina/nbir-sexp-draft3.html)

[2022-06-14 04:45] heshanpadmasiri commented on #1027
Proof that both are the [same](https://docs.google.com/document/d/e/2PACX-1vS6LgPZ6DbyeAw-m6eE50h1r21npTO9-uK1_R3hCfHf2ZBq6NUuQb4cEiUhLNC7E9FpkWREIm-CxzH7/pub)
[prove_isEmpty.pdf](https://github.com/ballerina-platform/nballerina/files/8937481/prove_isEmpty.pdf)

[2022-06-15 19:08] manuranga commented on #1031
[Draft 4](https://manuranga.github.io/nballerina/nbir-sexp-draft4.html)
[Draft Parser](https://gist.github.com/manuranga/2055b06d8bd8a7ebda2ee2360b361cf9)

[2022-06-16 04:15] #1014 closed, assigned to manuranga

[2022-06-16 04:15] #1017 closed, assigned to manuranga

[2022-06-20 04:28] manuranga commented on #1031
[Draft 5](https://manuranga.github.io/nballerina/nbir-sexp-draft5.html)

[2022-06-20 13:48] heshanpadmasiri opened #1033 "Add support for regular expressions"
Idea is to define regular expressions as a list type (as `[head, tail]`) and define strings to be checked as lists. Then we can check if that string belongs to the list type recursively.

[2022-06-20 13:49] heshanpadmasiri commented on #1033
cDuce definition of regex
[code]

[2022-06-23 05:14] rdhananjaya opened #1034 "Illustrate how sample based approach of listInhabited is similar to approach used in mappingInhabited"
**Description:**

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-06-27 04:28] manuranga commented on #1031
[Draft 7](https://manuranga.github.io/nballerina/nbir-sexp-draft7.html)

[2022-06-30 04:51] rdhananjaya commented on #1034
Discuss and resolve this on a team call.

[2022-06-30 04:51] #1034 closed, assigned to rdhananjaya

[2022-07-12 03:34] rdhananjaya opened #1041 "Types containing only cyclic values are treated as empty"
**Description:**

[code]

Subtyping relation between strictly recursive types seems to work as expected.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-07-21 04:56] jclark opened #1046 "General support for intersections in contextually expected type of constructor expression"
Relates to #991.

[2022-07-21 05:09] jclark commented on #1029
Draft PR in #1040

[2022-07-21 08:02] heshanpadmasiri commented on #981
When it comes to converting our types to CDuce, we need to consider the following issues

1. In CDuce, Char is a basic type, and strings are a subtype of lists, but we need string and list types to be disjoint.
2. CDuce does not have the concept of readonly. It is not clear whether we can encode the upcoming cell/location concept in CDuce types and thereby represent readonly.
3. CDuce provides ope

[2022-07-25 05:40] poorna2152 opened #1047 "Decimal `!` typetests not working"
**Description:**

[code]
prints out `not 2.3`
**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-07-25 05:42] poorna2152 commented on #967
example:
[code]
Gives: `panic: no filler value`

[2022-07-25 06:25] lochana-chathura opened #1048 "Implement cell type"
**Description:**
$subject.

[2022-07-25 09:00] heshanpadmasiri opened #1049 "Bug in subtype relation between `map` and `record`"
**Description:**
Fallowing type relation should be correct
[code]
But currently it think `Cood = IntMap`

[2022-07-25 09:44] heshanpadmasiri commented on #1049
This problem seems to be caused by a subtle difference in how `MappingPairing` deal with the default value of the records. In the paper, the default value is ANY|⊥ for open records as shown below.
![image](https://user-images.githubusercontent.com/17991461/180740020-689a9e39-4a4b-456f-ab0d-6f99b0534a0c.png)

In our context (allowing for openness to be controlled) I believe this should be rest|NEVE

[2022-07-25 10:38] manuranga commented on #1049
No. This is a special value called `undef` which we don't have yet.

[2022-07-26 01:20] jclark commented on #1049
`undef` is implicit in our representation. If an identifier `x` is allowed by the rest field (i.e. there's a rest field and `x` is not an individual field), then its value can be `undef`. When we have optional fields, it will also be possible for them to be `undef`.

[2022-07-28 02:35] jclark commented on #1049
When pairing up individual fields, if there's a positive that allows undef (because it comes from the rest field), and the negative doesn't (which will always be the case until we allow optional fields), then the negative cannot cancel out the positive, and so the negative can be skipped.

[2022-07-28 02:53] #1047 closed, assigned to poorna2152

[2022-07-28 06:28] poorna2152 opened #1053 "Empty testcase in testSuite"
**Description:**

Test case is empty. Is this intended?
https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/12-decimal/exacteq4-v.bal

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-07-28 06:31] poorna2152 opened #1054 "Uncertainty about `decimal` remainder output"
**Description:**

Example testcase:
[code]
This outputs `0` in JBallerina

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-07-28 10:54] #1025 closed, assigned to heshanpadmasiri

[2022-08-02 04:47] #1049 closed, assigned to heshanpadmasiri

[2022-08-02 06:31] poorna2152 commented on #1054
The reason decimal remainder on above two numbers is giving `not a valid is decimal` is due to the `Division impossible` exception is `decNumber`.
http://speleotrove.com/decimal/daexcep.html
Quoting Division Impossible definition.

This occurs and signals invalid-operation if the integer result of a divide-integer or remainder operation had too many digits (would be longer than precision). The res

[2022-08-02 06:51] jclark commented on #1054
I get DivisionImpossible in Python (3.10.4) also

[code]

gives

[code]

[2022-08-02 06:55] jclark commented on #1054
Looks like Python is using https://www.bytereef.org/mpdecimal/

[2022-08-02 06:58] jclark commented on #1054
We should give a better error message. Currently panic strings have to be between 13-19 characters, which is a limitation we should get rid of.

Maybe better to change message from "not a valid decimal" to "invalid operation" for now.

[2022-08-02 08:23] poorna2152 commented on #1054
After taking the look at the spec. I think answer should not be `0` and `not a valid decimal` is correct in this case.
Quoting the spec

Otherwise, the result is the residue of the dividend after the operation of calculating integer division as described for divide-integer, rounded to precision digits if necessary. The sign of the result, if non-zero, is the same as that of the original dividend.

[2022-08-03 02:22] jclark commented on #1054
The Ballerina spec references IEEE 754-2008 spec (which covers both decimal and binary floating point), and I don't see anything corresponding to this in that. Not sure why.

[2022-08-03 02:46] jclark commented on #1054
The Ballerina `%` operator performs the speleotrove remainder operation (same as `%` operator in C family languages). But the IEEE remainder operation is different (and corresponds to Speleotrove remainder-near operation). For remainder-near, the last sentence is the same as for remainder,

But it has a [footnote](http://speleotrove.com/decimal/daops.html#footnote.10)

So Ballerina spec does not s

[2022-08-03 03:29] jclark commented on #1054
@poorna2152 Please separate out the tests that generate this division impossible error into a separate files and put in a comment explaining the situation. Then we can close this issue.

[2022-08-03 03:46] poorna2152 commented on #1054
To clarify what needs to be done, there are currently only two test files that comes across this ([rem6-p.bal](https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/12-decimal/rem6-p.bal), [rem7-p.bal](https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/12-decimal/rem7-p.bal)) and they only contain a single remainder operation in each one of them.

[2022-08-04 04:12] #1054 closed, assigned to nobody

[2022-08-04 08:03] lochana-chathura opened #1058 "Remove support for `readonly` in types module"
This would involve

- getting read of RO/RW uniform type pairs for selectively immutable basic types
- renaming "uniform" type to "basic" type
- renaming some functions ending with "Rw" to remove the "Rw"
- renumbering the uniform types

[2022-08-05 03:24] jclark commented on #1058
We want to design the renumbering, so that we can easily compute from the number when a basic type is

- always immutable (e.g. int)
- always mutable (e.g. future)
- selectively immutable (e.g. list)

If we don't have gaps, then the obvious ordering is:

[code]

Then basic type b is

- always immutable if `b <= 0x9`
- always mutable if `(b & 0x1E) == 0xA`
- selectively immutable if `b >= 0xC`

[2022-08-05 04:06] jclark commented on #1048
Formula is
![Lemma5_4](https://user-images.githubusercontent.com/499966/182999354-13a1d927-b61e-49e7-8988-27c890087009.jpg)

[2022-08-05 05:47] lochana-chathura commented on #1041
Simple version:
[code]

or with records

[code]

[2022-08-05 06:59] jclark commented on #1048
It seems there's a problem with recursive types involving locations.

Consider a type R defined by

[code]

This will desugar into an internal location type `type R = { &R x; };`. But when we try to determine whether R is empty, we will recursively call isEmpty on R (because `&R` is empty).  The memoization logic will then treat R as empty.

Note that values belonging to the type can be created e.

[2022-08-05 07:02] jclark commented on #1041
Note that CDuce will treat R defined as

[code]

as empty, but R defined as

[code]

as non-empty (because in CDuce `ref t` desugars to `{ get = [] -> t ; set = t -> [] }`).

So this is something that our cell implementation needs to handle. But it currently doesn't: https://github.com/ballerina-platform/nballerina/issues/1048#issuecomment-1206112316.

[2022-08-05 07:09] jclark commented on #1041
Note that we can create such a value:

[code]

[2022-08-09 06:08] heshanpadmasiri commented on #991
[PDF incase of rendering issues in github](https://github.com/ballerina-platform/nballerina/files/9287381/202208090957.pdf)

# Design for negative atoms

I shall start the explanation from the design in [CastagnaPaper](https://www.irif.fr/~gc/papers/covcon-again.pdf) and then extend that to the more general case in [FrishThesis](http://www.cduce.org/papers/frisch_phd.pdf). In page 61 of the [Casta

[2022-08-10 05:37] heshanpadmasiri commented on #991
# Record difference worked examples

I will be using the notation `{ T_1 l_1; ...; T_n l_n; [T_0] + }` to represent sets where there must be at least one field (that is not undefined) other than `l_1` ... `l_n` of type `T_0`. If there is no `T_0` that means `any`.

## Examples verified by Cduce

[code]

[code]

[code]
[code]

[code]
## Examples worked by hand

[code]

[code]

[code]

[2022-08-12 02:08] #1033 closed, assigned to heshanpadmasiri

[2022-08-15 09:48] heshanpadmasiri commented on #991
Step by step worked examples

### Open records (from 2nd example above)
+ For a given open record `{ t1 l1; ...; tn ln }` we shall get the negative by iterating over each required field,  picking the record type where that field is either missing or not of the expected type (i.e `{ not(t_i) l_i? }`) and taking the union.

[code]
+ Note that this union covers all records where required fields (of t

[2022-08-15 11:02] jclark commented on #1041
Following paper (via Giuseppe) is relevant:

https://person.dibris.unige.it/ancona-davide/papers/AnconaCorradiOOPSLA2016extended.pdf

[2022-08-17 03:19] jclark commented on #1041
I don't think we should switch to co-inductive types, so for the moment I think the right solution is to change the spec to disallow this https://github.com/ballerina-platform/ballerina-spec/issues/1152

[2022-08-17 03:26] jclark commented on #1041
For nBallerina, we should then give an error for any record/map/tuple/array type descriptor that contains only infinite shapes.

We would need to do this in the front-end. We need to give an error if isEmpty is true for any such type descriptor. However, for recursive types we cannot do this at the time we resolve the type. Instead we would need to keep (in ModuleSymbols) a list of type descriptor

[2022-08-17 03:32] jclark opened #1061 "Report an error for recursive empty intersections"
We do not at the moment completely enforce the rule in the spec that:

Specifically when there are recursive types involved:

https://github.com/ballerina-platform/nballerina/blob/59d47237788061ef72c2fd4b6749e5bc58c36b65/compiler/modules/front/resolveTypes.bal#L146

[2022-08-17 03:33] jclark commented on #1041
We can fix #1061 at the same time.

[2022-08-17 04:06] heshanpadmasiri commented on #981
@jclark I think we should create an “extra” (similar to regex) to keep the compiler interface clean.

In the minimum version it should

- Take a `.bal` file with type definitions and translate them to CDuce types (panic incase it can’t  translate type). Then it should write a `.cd` file with those type definitions. So essentially this is acting as a transpiler from ballerina to CDuce
    - Type de

[2022-08-17 04:19] jclark commented on #981
I don't think the translation should panic.  It should do the best approximation it can and give a warning when approximating.

We should aim to produce a readable CDuce type.

[2022-08-17 04:48] jclark commented on #981
I agree we should put this in extra

[2022-08-17 05:11] jclark commented on #991
Thanks for the explanation.  It's not clear whether this representation will be helpful for us.

[2022-08-17 05:16] jclark commented on #991
I think we should put this on pause for now.

[2022-08-18 02:23] #1046 closed, assigned to heshanpadmasiri

[2022-08-22 02:25] #1048 closed, assigned to lochana-chathura

[2022-08-31 02:21] jclark opened #1065 "SemType recursive types failure"
If the following is added as a test case to e.g. `compiler/testSuite/semtype/recurse-t.bal`

[code]

then it fails with the error:

[code]

But when run with `--showTypes` it shows the correct relationships

[code]

This test comes from translating the regex test

[code]

and adding `readonly`.

The same thing happens when `readonly` is replaced by `!readonly`.  The error also happens with the tup

[2022-08-31 02:29] jclark commented on #1065
This shows up while doing #1063, because that it effectively turns each atomic list type T into `T & !readonly`.

[2022-08-31 05:04] heshanpadmasiri commented on #1065
This seems to happen only when there is more than one character inside the star e.g. `"ad" < "a(b)*d"` is working correctly

[2022-08-31 06:35] jclark commented on #1065
With #1066, we can now reproduce easily with

[code]

in `nballerina/extra/regex`

[2022-08-31 09:15] #1041 closed, assigned to heshanpadmasiri

[2022-08-31 09:15] #1061 closed, assigned to heshanpadmasiri

[2022-09-01 03:43] #1058 closed, assigned to nobody

[2022-09-03 02:01] jclark commented on #1065
I tried this to fix it:

[code]

This fixes the `regex.jar "ad" "a(bc)*d"` case, but I haven't tried the rest.

I didn't realize we needed the `remove` at first, and it didn't work.  But given that we need to do the `remove`, I feel like there should be a better way to do this.

Note that proper fix needs provisionallyEmpty to hold both Bdd and which memo table (list/mapping/function) it's in.

[2022-09-03 02:24] jclark commented on #1065
@heshanpadmasiri Can you see what logic CDuce uses for this?

[2022-09-03 06:45] jclark commented on #1065
I am thinking maybe 5 values for memo.isEmpty

- true - known empty
- false - know non-empty
- "computing" - currently computing whether it is empty or not
- "provisional" - provisonally decided its empty (because of recursive call)
- nil - none of the above apply

Then we have a field provisionalCount in Context that starts at 0 and is equal to the number of memos that have value "provisional".

[2022-09-03 10:32] heshanpadmasiri commented on #1065
I couldn't figure out what CDuce does exactly. However in the [Frish thesis](http://www.cduce.org/papers/frisch_phd.pdf) section 7.1.2 (page 131) he talks about a Cache (which I presumed what CDuce does but couldn't find in the code). If I understand that correctly what we need is something like
[code]
This gets the regex relation write and also pass all of our tests

[2022-09-03 10:37] jclark commented on #1065
Interesting! Can you explain why that gets the regex relation right?

[2022-09-03 12:35] jclark commented on #1065
It is starting to make sense: it no longer returns a possibly incorrect answer that might lead to the wrong answer being cached.

Assuming this works, it's a much better fix that I was suggesting.

[2022-09-03 12:38] jclark commented on #1065
We can write this

[code]

as

[code]

[2022-09-04 07:11] heshanpadmasiri commented on #1065
@jclark I made a draft PR with (#1067) which at the moment has only the changes to list memo and revert the change to regex.
As I [mentioned](https://github.com/ballerina-platform/nballerina/pull/1067#discussion_r962262790) in the PR I am not sure this is the way we want to go.

[2022-09-04 07:38] jclark commented on #1065
You seem to be saying the algorithm here https://github.com/ballerina-platform/nballerina/issues/1065#issuecomment-1236092188 is not correct.

It seems like it has the same problem: even though we continue on rather than return, some subsequent computation may use a memoized true value, before it gets corrected to false.

[2022-09-04 07:51] jclark commented on #1065
I think I need to study the relevant part of the Frisch thesis.

[2022-09-04 08:26] heshanpadmasiri commented on #1065
If I understood the algorithm correctly, it is suppose to work as fallows

1. We will maintain two disjoint sets, named N and P in the thesis. Here P is the set of types for which we have proven to be not empty. N is the set of types we have already considered (but not proven to be not empty). (As far as I can understand this is doing 2 things as a buffer of things that we think is empty and thing

[2022-09-04 08:45] heshanpadmasiri commented on #1065
Yes. Any type we have decided to be empty after starting to continue could be because we have said our type is empty (where as types we have decided to be non empty should not be affected). So we need to correct them as unknown

[2022-09-04 09:57] jclark commented on #1065
What I describe in https://github.com/ballerina-platform/nballerina/issues/1065#issuecomment-1236061588 is effectively maintaining three disjoint sets:

1. Set of types proven to be empty (isEmpty == true)
2. Set of types proven to be non-empty (isEmpty == false)
3. Set of types being considered (isEmpty == "provisional" or "computing"), but not yet proven empty/non-empty.

I don't understand why

[2022-09-04 10:31] jclark commented on #1065
Bottom of page 133, top of page 134, Frisch suggests something like this.

I still don't understand the terminology/notation of the algorithm. It's presented in a very abstract way, and I'm not sure how this maps onto our specific case.

[2022-09-04 12:34] jclark commented on #1065
Does it say anywhere that Phi corresponds to isEmpty (rather than, say, isInhabited)?

[2022-09-05 02:19] jclark commented on #1065
Compared to what I suggest here https://github.com/ballerina-platform/nballerina/issues/1065#issuecomment-1236061588, one insight is that this is not optimal

It's only setting isEmpty to true that is provisional. Setting isEmpty to false is always correct.

Another key difference between what I suggested and what is in the Frisch thesis is that:

- Frisch removes cache entries that turn out to be

[2022-09-05 02:41] jclark commented on #1065
At the top of page 134, he suggests

I believe "pile"  is French for stack.

[2022-09-05 03:00] jclark commented on #1065
I think the overall structure of the algorithm we want is

- Context should have a field `BddMemo[] memoStack;`. We add to this memo's that we provisionally found to be empty.
- At the start of the listSubtypeIsEmpty function, we remember the current size of the memoStack. At the end of the function, if we discover the Bdd to be non-empty, then for all entries in the stack added since the beginnin

[2022-09-05 03:24] heshanpadmasiri commented on #1065
Would it make sense to separate out types that are proven not empty from the rest in the memorization logic. I can think of two benefits of such an approach
1. Even if we discover at the end of the function that bdd is non-empty these values will remain non-empty. So no need to throw these results away (we only need to throw away types that we have found to be empty since they can now become non-e

[2022-09-05 09:47] heshanpadmasiri commented on #1065
@jclark I think our algorithm should be something like this (updated #1067 to match)
[code]

[2022-09-05 09:56] jclark commented on #1065
In the isEmpty case, things will get pushed on the memoStack but not popped off.

[2022-09-05 09:57] jclark commented on #1065
I also think (as you suggest in the TODO) that we should continue to use an isEmpty value of () to capture whether it is on the stack.

[2022-09-05 10:23] jclark commented on #1065
Can we clear the stack when initialStackSize is 0?

[2022-09-06 03:57] jclark commented on #1065
Another problem with this approach is that we are not memoizing in the case where isEmpty == true.

[2022-09-06 05:50] manuranga opened #1068 "Refactor main module to support multiple backends"
Refactor `compile.bal` such that import resolution and job system can be shared by multiple backends.

Prerequisite for #1031

[2022-09-06 05:53] manuranga commented on #1068
I propose a new object type to be implemented per each backend. Implementation classes will live in separate files in the main module. (Moving it into respective backends will create a dependency between `nback` and `llvm.print`)

proposed interface:
[code]

[2022-09-06 05:57] jclark commented on #1068
That looks reasonable, but I don't think we need separate files.

[2022-09-06 07:10] jclark commented on #1065
Here's another attempt:

[code]

This assumes a field in BddMemo (which would be combined with isEmpty)

[code]

and a field in Context:

[code]

The concept is that when `cx.loopCount > 0` we are depending on an assumption that may turn out to be invalid and so we do not cache any results that turn out as isEmpty.

[2022-09-06 07:22] heshanpadmasiri commented on #1065
I think the main advantage of this approach over any implementation I can think of from the Frishes approach is that this doesn't need to undo anything.

[2022-09-06 08:13] jclark commented on #1065
One could argue that it is inefficient because when the assumption of emptiness turns out to be correct, it will sometimes not memoize things that it could have memoized.  But I suspect it wouldn't be a net win to do such memoization.

[2022-09-06 08:38] heshanpadmasiri commented on #1065
Updated version of my implementation based on what we discussed
[code]

[2022-09-06 12:08] jclark commented on #1065
This one seems to be inconsistently mixing using a nil value for isEmpty and a stack.

[2022-09-06 12:08] jclark commented on #1065
I think I prefer the approach in https://github.com/ballerina-platform/nballerina/issues/1065#issuecomment-1237745628

* it needs only an additional integer variable in context, plus some additional possible values for isEmpty
* it changes the current behaviour only in the case where there's a recursive loop

[2022-09-07 02:42] heshanpadmasiri opened #1069 "Stress recursive type implementation by generating regex pairs"
Currently we are using regular expressions to test and validate recursive list type implementation. Therefore it is useful if we have some system that will generate such tests. We could use a somewhat simpler version of the approach used for [property based testing](https://github.com/ballerina-platform/nballerina/issues/877) to do that.

[2022-09-07 02:43] heshanpadmasiri commented on #1065
Agreed. In the meantime I will look in to #1069 to better test recursive types

[2022-09-07 04:13] jclark commented on #1069
I would like to find some cases where cx.provisionalEmptyCount is greater than 1. I think it is possible but not 100% sure.

[2022-09-07 04:49] heshanpadmasiri opened #1070 "Better detect recursive types that only contain infinite shapes"
With #1065 we should be able to detect such cases without the need for deferring emptiness checks as done in #1062

[2022-09-07 04:52] manuranga opened #1071 "Reduce the time taken for randomTest.bal"
Reduce the time taken for randomTest.bal

[2022-09-07 06:37] jclark commented on #1070
I think you need deferred emptiness checks.  The point is that we can better distinguish types that are considered empty *because they are infinite* from those that are merely recursive and empty.

[2022-09-08 07:02] manuranga commented on #1068
I was thinking of `Emitter` or `EmitStage` and `emitModule`.
https://en.wikipedia.org/wiki/Emitter

[2022-09-08 14:53] heshanpadmasiri opened #1073 "Regex checks causing `java.lang.ArrayIndexOutOfBoundsException`"
Regex pair

- `WR(eN)*U(bZn)*(kPC(xeq(KdVlPh)*AWfCKC)*oePqmj)*`
- `WR(eN)*U(bZn)*(kPC(xeq(KdVl(VeRKOGFRr)*Ph)*AWfCKC)*oePqmj)*`

causes fallowing error:
[code]

Based on our previous experience this is probably some sort of stack overflow in `listSubtypeIsEmpty`

In the older version (2eae9397791de8ca0fa05ef305eab40c2bbd9719) this produce incorrect answer as equal.

[2022-09-08 15:05] jclark commented on #1073
Not clear to me that the bug is in  nballerina. What is the evidence this is a stack overflow? jBallerina should be giving a more helpful error message in any case.

I would expect us to use quite a lot of stack space for complex types.

I suggest reporting this to jBallerina.

[2022-09-09 02:03] heshanpadmasiri commented on #1073
Closing because issue seems to have been fixed in the newer version of ballerina (2201.1.1)

[2022-09-09 02:03] #1073 closed, assigned to nobody

[2022-09-09 03:52] heshanpadmasiri opened #1074 "Stack overflow in regular expression tests"
Running the regular expression test  to compare the following regexes causes a stack overflow (will happen both inside testerina (by adding to `regexInclusionTests.json` as well as directly running in the nballerina.regex.jar file)
+ (RgeRgF(b((OS)*cDVB)*H)*kYLy)*W
+ (RgeRgF(b(((glPrQ)*OS)*cDVB)*H)*kYLy)*W

[stack trace](https://github.com/ballerina-platform/nballerina/files/9532189/stack.txt)

[2022-09-09 04:03] heshanpadmasiri opened #1075 "Incorrect regular expression relations"
Following regular expression relations will produce an incorrect relationship (not equal) when the expected relationship is less than (tested both inside testerina and by directly running regex jar file)

1. `(JRBB(U(yeNTW)*W)*mlJQv)*xIZVP`, `(JRBB(U(yeNTW(CoePqmjQbZ)*)*W)*mlJQv)*xIZVP`
2. `(JRBB(U(yeNTW(CoePqmjQbZ)*)*W)*mlJQv)*xIZVP`,  `(JRBB(U(yeNTW(C(KCQCY)*oePqmjQbZ)*)*W)*mlJQv)*xIZVP`

I have

[2022-09-09 04:41] jclark commented on #1075
You could try the types with CDuce.

[2022-09-09 05:55] heshanpadmasiri opened #1076 "Subtype check for some complex, nested recursive types takes excessive time and stack space"
Running the program in extra/regex with the following arguments

- `BDGB(gSUNd(Pp(xMsTI(TcnBE)*ke)*)*S)*v`
- `BDGB(gSUNd(Pp(xMsTI((CvGb)*TcnBE)*ke)*)*S)*v`

(which tests whether the first regex is a subtype of the second) uses a lot of time and stack space.

It caused the memo table to grow to 243 (checked after [this line](https://github.com/ballerina-platform/nballerina/blob/c1a12d9d09a0a8d69211

[2022-09-09 06:01] jclark commented on #1076
It seems like this technique is successfully stressing our recursive types implementation!

[2022-09-09 07:20] jclark commented on #1065
I think more testing (specifically #1076) is showing that this isn't right.

[2022-09-09 07:21] jclark commented on #1065
Specifically we need to memoize while `provisionalEmptyCount > 0`.

[2022-09-09 07:21] jclark commented on #1076
I think this shows algorithm in #1065 isn't right.

[2022-09-09 09:52] #1065 closed, assigned to jclark, heshanpadmasiri

[2022-09-09 09:55] jclark commented on #1076
Can you add a test case for this? It should only run if long-running tests are enabled.

[2022-09-09 10:25] heshanpadmasiri commented on #1075
I think this is a bug in regex not in subtyping (confirmed by passing the expected semtype tests)

[2022-09-09 12:32] jclark commented on #1074
There's something weird going on here.

If I change the innermost string on the second regex from `glPrQ` to `gQ`, it works fine (and quickly). If I add one more character and make it `glQ`, I get bored of waiting - it seems to be producing an unbounded number of new BDDs.

[2022-09-09 12:43] jclark commented on #1074
#1076 is also slower than I would expect.  My guess is that it is failing to recognize some equivalent BDDs as equivalent.

[2022-09-09 13:00] jclark commented on #1074
The BDDs can be printed out with `bddToString`. It just seems to be exploring a large number of different permutations. I suspect the nesting of `*` is causing exponential behaviour. The BDDs aren't consistently getting bigger .

Let's see what happens after #1075 is fixed.

[2022-09-12 03:29] #1075 closed, assigned to heshanpadmasiri

[2022-09-12 03:34] jclark commented on #1074
Still get the problem after merging #1078 to fix #1075.

[2022-09-12 08:31] lochana-chathura opened #1079 "Integrate cells into mapping type"
**Description:**
$subject.

[2022-09-12 11:53] heshanpadmasiri commented on #1074
I think the root of the problem in both #1074 and #1076 is that regex produces a type definition that is very complicated but ultimately equal to a much more simpler type. This is because the regex module can't (at least to the extent I have thought about it) produce that simpler type under a particular situation with nested stars (when the nested part is the beginning of the star (ex: ((a)*b)*) d

[2022-09-12 14:07] jclark commented on #1074
Can you not do what the  front-end does (which is to expand definitions like `T_a_star_b` until you get something that's an atomic type)?

[2022-09-13 01:46] heshanpadmasiri commented on #1074
@jclark if I recall correctly we did considered that option. The way we explored back then was to build a proper parser and AST for regex so when we come to `T` we know what the rest of definition will look like. I think we tried to avoid doing that since we are dealing with a regular language which shouldn't need an AST. (In retrospect I think we avoided that because we had "equivalent" type solu

[2022-09-13 02:07] jclark commented on #1074
I think the regex module should produce a "natural" semtype for the regex. I expect this will add some complexity to the current implementation, involving some sort of intermediate data structure between the regex string and the semtype.  I don't think it necessarily needs to be an AST for the regex.  Rather it might be something that represents the semtype that is to be built.

[2022-09-16 02:02] jclark commented on #1079
I suggest we adopt the convention that functions operating on a mapping type that dereference the cell have `deref` in the name.

For every (or almost every) existing public function in the types module that looks inside a MappingAtomicType and returns a SemType for the member(s), we will need to a `deref` variant that returns the type inside the cell.  In most cases, we will need just the deref v

[2022-09-16 05:32] jclark opened #1082 "Compile to native image with GraalVM"
See if we can compile nballerina using the support for GraalVM that is being worked on by jBallerina team.

[2022-09-16 05:36] jclark commented on #1082
We could potentially make nBallerina available for download as an 64-bit Intel Linux binary.

[2022-09-16 05:39] jclark commented on #1082
Ideally we want a native image that links with LLVM. One way is to compile our JNI version with GraalVM. See https://www.graalvm.org/22.1/reference-manual/native-image/JNI/

Is there any other way?

[2022-09-20 08:58] #1074 closed, assigned to heshanpadmasiri

[2022-09-21 06:26] lochana-chathura opened #1085 "Integrate cells into list type"
**Description:**
$subject.

[2022-09-22 07:18] heshanpadmasiri commented on #1076
One problem we have in the current implementation is that if we mark one type as provisional it will make every subsequent provisional if that type is empty. This don't take into account the fact the subsequent type may have no dependency on any provisionally empty type.

One idea on how to deal with this is for a given Bdd (that comes after a provisionally empty type and we think is empty), if al

[2022-09-22 11:55] jclark commented on #1076
As of Update 2 and with regex fixes, reproduce the problem by doing `make` in `extra/regex` and then running:

[code]

[2022-09-22 12:22] jclark commented on #1076
This pair completes in a second:

[code]
But changing Tc to Tcn in the innermost part i.e.

[code]
causes execution time to explode to 3.5 minutes.

[2022-09-22 13:14] jclark commented on #1076
I am wondering if the problem is that we are creating new BDDs that combine provisionally empty BDDs, but we are not using the provisional emptiness to simplify the BDDs e.g. if we see X|Y and Y is provisionally empty, we should simplify to X. But we don't do this...

This is related to Frisch's `eval` function having cases for logical and and logical or.

So for example in list.bal when are testi

[2022-09-22 17:58] heshanpadmasiri commented on #1076
[Type definitions for the expensive case](https://gist.github.com/heshanpadmasiri/cc0f92b4911e9ff6017677e4683ce40c). I verified the semtype returned by regex and semtype we get by running these via `typesFromString` function (used in both semtype tests and show types) to be the same (using `t:sameType`). However, when we check the subtype relation using type definitions in this order (I got this o

[2022-09-23 08:33] heshanpadmasiri commented on #1076
Correction on this time taken is similar in both cases

Updated (in the correct order regex is doing the type test) [type definitions](https://gist.github.com/heshanpadmasiri/e1c98ee5e0cc16d6efec3a8062e2213f)

[2022-09-26 13:24] heshanpadmasiri opened #1088 "Invalid type cycles in regex"
Nesting a star inside a star (`(a*)*`) produces an invalid type cycle as
[code]

[2022-09-27 19:27] manuranga commented on #1076
I generated a diagram to visualize the isEmpty call graph for the faster pair. I omitted the calls to already memoed.
![short](https://user-images.githubusercontent.com/1686124/192615967-6af4b1ac-b2a9-4368-aae4-b7e11d18969c.svg)
(open in a separate tab and scroll to middle to read)
The two types that cause large forkings are suspicious. I think I can get some insight form it, if I worked on it a b

[2022-09-28 03:47] jclark commented on #1076
New example from @heshanpadmasiri

[code]

[2022-09-30 09:41] heshanpadmasiri commented on #1076
It's easier to understand the examples when each letter occurs at most one.

Here are two example pairs, which can be run using `java -Xss100M -jar ../../build/extra/bin/nballerina.regex.jar` in the `extra/regex` directory.

This one executes relatively fast ( a second or so):

`"ab(cd(ef(gh((pqrs)*ij)*lm)*)*n)*o" "ab(cd(ef(gh(ij)*lm)*)*n)*o"`
[fast.log](https://github.com/ballerina-platform/nball

[2022-09-30 11:45] jclark commented on #1076
I tried this:

[code]

and it got a stack overflow after about 100 minutes.

[2022-10-03 11:56] heshanpadmasiri commented on #1076
Logs for `"((a(b((klmn)*cde)*fg)*)*ij)*" "((a(b(cde)*fg)*)*ij)*"` (I changed the characters in `"((P(x(Tcn)*ke)*)*ab)*" "((P(x((CvGb)*Tcn)*ke)*)*ab)*"` to make it alphabetical so similar to other tests)
[log.log](https://github.com/ballerina-platform/nballerina/files/9697210/log.log)

[2022-10-04 03:11] jclark commented on #1076
It starts off with `diff(j0, i1|b1|a1)`, so I think we need to handle unions.

[2022-10-04 05:48] heshanpadmasiri commented on #1076
Handling unions fixed this.

[2022-10-04 07:17] lochana-chathura commented on #1085
Since the list is used for the function type descriptor args and regex relations, both the cell-based and non-cell-based member types representation has to be supported parallelly.

There are two options,
1. Make the intersectMemberSemTypes() generalize so that it supports both cell-based intersection and normal intersection.
2. Make cellOps intersection more strict by, simplifying <cellAtom1, F,

[2022-10-04 11:40] gayaldassanayake opened #1093 "Update the types.sexpr module for the fixed JBUGs when moving to 2201.3.0"
**Description:**
The testerina framework was re-written in ballerina. When the nballerina tests were run with the re-written testerina framwork, the following error occured during the execution of `nballerina.types.sexpr:typeTests`. This is a data driven test and the error occurs during the passing of the parameters to the test from the data provider.

[code]

**Suggested Labels:**

**Suggested As

[2022-10-04 12:09] lochana-chathura commented on #1093
This turned out not to be due to the new testerina rewrite.
Causing due to the new behavior of match pattern with the fixes introduced in the PR ballerina-platform/ballerina-lang#37235.

Need to update the following places with the update 3.

https://github.com/ballerina-platform/nballerina/blob/066686b98e29d4fb507fdd9a3e8db03f3d924141/compiler/modules/types.sexpr/convert.bal#L71-L74
https://githu

[2022-10-06 01:08] #1069 closed, assigned to heshanpadmasiri

[2022-10-06 08:46] heshanpadmasiri opened #1094 "Regex parsing bug when there are more than 2 operands for unions"
When there are more than 2 `|` operands for a union (ex:`a|b|c`) parser silently fails producing incorrect semtypes

[2022-10-07 09:57] #1079 closed, assigned to lochana-chathura

[2022-10-07 10:29] lochana-chathura opened #1095 "Integrate cells into table type"
**Description:**
$subject.

[2022-10-10 03:57] heshanpadmasiri commented on #1088
Reopening the issue since I found another case with the same bug that was not solved by the earlier fix #1089.
[code]

The root cause of the problem seems to be when we have a nested star or a union including a star inside a star, the type definition of the inner star will include an element that refers to the outer star. Since stars are represented as unions this ultimately leads to two unions th

[2022-10-12 13:20] lochana-chathura commented on #1088
The test case:
`["<", "(RgeRgF(b((OS)*cDVB)*H)*kYLy)*W", "(RgeRgF(b(((glPrQ)*OS)*cDVB)*H)*kYLy)*W"]`

added with PR #1089 failing intermittently with StackOverflow after integrating readonly cells for regex in PR #1091.
I have temporary disabled it with https://github.com/ballerina-platform/nballerina/pull/1091/commits/8e939fcca77074873bdfecfd3208cb0f65428ae8

[2022-10-13 07:04] lochana-chathura opened #1098 "Add support for readonly in types module"
**Description:**
With cells being integrated into mapping, list and table types, the $subject.

[2022-10-13 07:05] lochana-chathura commented on #1095
Sample:
[code]
With adding cells into the table type, T3 and T4 are no longer equivalent.

[2022-10-13 07:15] #1088 closed, assigned to heshanpadmasiri

[2022-10-13 07:25] jclark commented on #1095
In `table<T>` the T is working like with `...` in mappings or lists e.g. `record {| T...;  |}`  or `[T...]`. When we have readonly tables, then it's like `record {| readonly T...; |}`.

When you do `table:put` and the keys are the same, then you are effectively mutating a cell.

[2022-10-14 08:57] pcnfernando commented on #1095
Clarification regarding the immutability when we are referring to **read-only tables**;
Isn't `table<T>  & readonly` is equivalent to `table<T & readonly> & readonly` same as how `map<T> & readonly` is equivalent to `map<T & readonly> & readonly`?

[2022-10-17 05:18] jclark commented on #1095
Sure.

[2022-10-20 03:33] #1085 closed, assigned to lochana-chathura

[2022-10-20 03:33] #1094 closed, assigned to heshanpadmasiri

[2022-10-21 07:53] manuranga opened #1101 "Fix nightly builds"
<img width="927" alt="Screenshot 2022-10-21 at 1 23 08 PM" src="https://user-images.githubusercontent.com/1686124/197143179-c23b56b3-c102-4d08-b9e7-1c68c9ff33b4.png">

[2022-10-21 13:34] manuranga commented on #1101
Looks like [ballerina-distribution/daily-build-2201.0.x.yml](https://github.com/ballerina-platform/ballerina-distribution/actions/workflows/daily-build-2201.0.x.yml) is deleted and [ballerina-distribution/daily-build-2201.1.x.yml](https://github.com/ballerina-platform/ballerina-distribution/actions/workflows/daily-build-2201.1.x.yml) has been failing for a month. So no point of having these at our

[2022-10-24 06:55] manuranga commented on #1101
Had a chat with @keizer619 We decided test nBallerina during daily full build of jBallerina. Please add following steps to the build
[code]

I will send a PR to remove `Validate on jBallerina 2201.0.x nightly` `Validate on jBallerina 2201.1.x nightly`.

I am still planing to keep `Validate on jBallerina nightly` as a final check, but with this approach it should never fail.

[2022-10-28 03:16] #1095 closed, assigned to lochana-chathura

[2022-11-02 04:51] lochana-chathura opened #1107 "Add readonly record fields support in the types module"
**Description:**
$subject.

[2022-11-03 06:07] lochana-chathura opened #1109 "Reuse diff operator when implementing compliment operator"
**Description:**
$subject.

[2022-11-04 03:03] #1098 closed, assigned to lochana-chathura

[2022-11-04 04:31] #1107 closed, assigned to lochana-chathura

[2022-11-08 03:42] lochana-chathura opened #1110 "Implement optional fields"
Implement the `record {| int x?;|}`  syntax.

The x field will be represented as a cell containing int|undef.

Depends on #1135.

[2022-11-08 10:40] heshanpadmasiri commented on #1082
@jclark I managed to compile our JNI version such that it passes all the tests except for
1. [12-narrow/if21-v.bal](https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/12-narrow/if21-v.bal)
2. [14-bug/loopassign-v.bal](https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/14-bug/loopassign-v.bal)

In both cases, I get a segmentation [fault at this

[2022-11-08 11:21] lochana-chathura commented on #1109
We can't get rid of the complement operator for each basic type as `diff(SemType t1, SemType t2)` implemented upon the [basic type compliment](https://github.com/ballerina-platform/nballerina/blob/b349ae2f4540b260650271f7891403dae012c370/compiler/modules/types/core.bal#L742). Then the next step would be to see if we can reuse diff operator for the complement operator implementations in each type.

[2022-11-08 12:01] lochana-chathura commented on #1109
Re: Mapping top type being not identified as BasicBitSet
This behavior seems to be there even before we introduce cells. However, subtyping relationships are correct both before and now.

[code]

[2022-11-09 03:03] heshanpadmasiri commented on #1082
We can reproduce the same problem with the normal build (ie. one using `print.llvm`) if we we disable clang optimizations.

[2022-11-09 03:08] jclark commented on #1082
Try using valgrind on the generated llvm.print executable.

Is the double being accessed static data or on the heap?

Check the alignment of the address.

[2022-11-09 03:15] heshanpadmasiri commented on #1082
[Valgrind log without optimisations (ie. `-CFLAGS=-O0`)](https://github.com/ballerina-platform/nballerina/files/9967029/no-opt.log)

[Valgrind log with optimsations (default which uses `-CFLAGS=-O2`)](https://github.com/ballerina-platform/nballerina/files/9967042/opt.log)

[2022-11-09 03:20] heshanpadmasiri commented on #1082
As far as I can understand what it (`_bal_tagged_to_float`) try to access is an immediate int (`8`). But since all floats are suppose to be on the heap I can think `_bal_tagged_to_float` assumes it is to be an address in the heap.

[2022-11-09 03:21] jclark commented on #1082
Looks like there's a bug in our backend somewhere. I guess there's an invalid read which is usually getting optimized away.

[2022-11-10 03:00] heshanpadmasiri opened #1114 "Invalid code generation in type narrowing"
In the llvm-ir generated for the following two test cases, there is a call for `_bal_tagged_to_float` that is getting called even if the type check shows the value is not a `float`. (I believe what is happening here is that the (implicit) else part that narrows the type to be float if the type check fails is getting merged into rest of the code)
1. [12-narrow/if21-v.bal](https://github.com/balleri

[2022-11-10 04:02] jclark commented on #1114
Looking at 12-narrow/if21-v.ll, I suspect a bug in the front-end related to type narrowing and joining. The call to _bal_tagged_top_float happens in block 30. There's one branch to that from line 38, which happens after a type test that x's basic type is not in the set int|boolean|string (which is represented by the 38 in line 36); this looks OK.  But there's another branch from line 95, which can

[2022-11-10 04:38] manuranga commented on #1114
2-narrow/if21-v visualized https://bit.ly/3hz20Ru

[2022-11-10 12:31] heshanpadmasiri opened #1116 "Update llvm backends to use opaque pointers"
As of LLVM 16,  C API no longer has [`LLVMConstGEP`](https://github.com/ballerina-platform/nballerina/blob/b349ae2f4540b260650271f7891403dae012c370/llvm_jni/modules/jni.llvm/Context.bal#L125) and [`LLVMConstInBoundsGEP`](https://github.com/ballerina-platform/nballerina/blob/b349ae2f4540b260650271f7891403dae012c370/llvm_jni/modules/jni.llvm/Context.bal#L131) functions, instead, it has [`LLVMConstGE

[2022-11-10 13:04] manuranga commented on #1082
[moved](https://github.com/ballerina-platform/nballerina/issues/1114#issuecomment-1310278021)

[2022-11-10 13:21] jclark commented on #1082
Can we discuss this in #1114?

[2022-11-10 13:24] manuranga commented on #1114
Found the issue.
We create new narrowed register for each outcome of a type branch. Narrowed register is just a read-only copy.
They are blindly injected at the top of each target block.
[code]
![init-narrow](https://user-images.githubusercontent.com/1686124/201093326-426e40be-301d-4259-bc64-edf4ecd284c3.png)

This has an issue if the given target block is reachable via some other path

[code]
![i

[2022-11-10 13:56] manuranga commented on #1114
Solutions

1) Initialize narrow registers just before (each) first use.
We did discuss this approach when first implemented but ruled out due to complexity.

![init-narrow-muliple](https://user-images.githubusercontent.com/1686124/201109504-a7807845-9ef1-440a-8d20-7ffc08cac879.png)

2) Create additional llvm basic blocks to initialize narrow registers.
![init-narrow-pre-bb](https://user-images.git

[2022-11-11 03:55] heshanpadmasiri opened #1117 "Add ability to test the jni version of the compiler against the test suite"
Currently, jni version of the compiler (compiler that uses `jni.llvm` instead of `print.llvm`), is tested only against its own unit tests. It is better if we have an on-demand test that can test it against the whole test suite similar to how we test the default version of the compiler

I don't think it makes that much sense to have this test run automatically, especially with #1112 we will need a

[2022-11-14 04:40] lochana-chathura opened #1119 "Refactor `BinOp` and `UnaryOp` to use `ProperSubtypeData`"
**Description:**
$subject.

[2022-11-14 05:07] #1109 closed, assigned to lochana-chathura

[2022-11-14 05:38] jclark commented on #1116
Maybe related https://bugs.llvm.org/show_bug.cgi?id=41362

[2022-11-14 06:08] manuranga commented on #1114
3. Initialize narrow registers just after TypeMerge instructions. Skip any registers that got merged.

[2022-11-15 02:09] #1117 closed, assigned to heshanpadmasiri

[2022-11-15 02:11] #1070 closed, assigned to heshanpadmasiri

[2022-11-15 05:53] heshanpadmasiri opened #1122 "Look in to why certain optimizations not happening with object files"
As noted in (2) [here](https://github.com/ballerina-platform/nballerina/pull/1112#issuecomment-1308288438) it seems that certain optimizations llvm / clang does with the normal llvm-ir (output of compiler version using `print.llvm`) are not happening with the object files (output of compiler version using `jni.llvm).

[2022-11-15 09:19] heshanpadmasiri commented on #1116
Things I have managed to confirm so far are as follows

1. llvm C-API for llvm 15 does have the newer `LLVMConstGEP2` and `LLVMConstInBoundsGEP2` functions ([ref](https://web.archive.org/web/20220521225015/https://llvm.org/doxygen/group__LLVMCCoreValueConstantExpressions.html#gae355c965dacae2f840ad9c1e8b60f885))
2. [Above bug](https://bugs.llvm.org/show_bug.cgi?id=41362l) seems to have been fixed

[2022-11-15 09:27] jclark commented on #1116
We are definitely going to need to update to use opaque pointers.

[2022-11-15 09:28] jclark commented on #1116
If I am understanding correctly, the difference with the GEP2 functions is that you have to explicitly specify the type of the thing pointed to.  Do we have that information conveniently available?

[2022-11-15 09:29] jclark commented on #1116
Does byte-deco have the GEP2 functions for llvm15?

[2022-11-15 09:35] heshanpadmasiri commented on #1116
One small addition for [this](https://llvm.org/doxygen/group__LLVMCoreValueConstantGlobalAlias.html#gad4dfb6341f8c010227673b2756d09aeb) all the following functions have changed (as far as I can work out every function that takes a pointer)
+ `LLVMBuildLoad` -> [`LLVMBuildLoad2`](https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilder.html#ga025026f91ebe29901a52f5f261f3fc57)
+ `LLVMBuildCall` -

[2022-11-15 09:36] jclark commented on #1116
I am guessing the missing functions in bytedeco is just a bug, which we should report.

[2022-11-15 09:37] jclark commented on #1116
It seems to me the issue here is really opaque pointers rather than constant expressions.

[2022-11-15 09:45] heshanpadmasiri commented on #1116
Yes that is the change (+ possible changes in the actual IR generated)
At the moment no but I think we can easily do that with either,
1. When we create the `Value` we can have an additional field that holds onto the type (we already do this in [print.llvm ](https://github.com/ballerina-platform/nballerina/blob/7a4c8f93f8d4fec3e6cb1dc831f68cf10a7664dc/compiler/modules/print.llvm/llvm.bal#L31), `jn

[2022-11-15 09:48] jclark commented on #1116
Will approach 2 work when we switch to opaque pointers? I guess not, since it will be a type-less, opaque pointer.

[2022-11-15 10:05] heshanpadmasiri commented on #1116
I don't think it will work at that point, I believe what they recommend in the [migration guide](https://llvm.org/docs/OpaquePointers.html#migration-instructions) (2 was based on that) is for people still not using opaque pointers.

[2022-11-22 04:14] manuranga opened #1123 "Fix `xml<never>` to be a non-sequence"
`xml<never>` is currently represented as a sequence (just like `xml<Element>`) when it should just be a primitive.

[2022-11-22 07:30] lochana-chathura commented on #1119
Re: Not considering `data == false` case and eliminate basic type of it from `some` in `diff(SemType t1, SemType t2)`.
https://github.com/ballerina-platform/nballerina/blob/7a4c8f93f8d4fec3e6cb1dc831f68cf10a7664dc/compiler/modules/types/core.bal#L753-L764
The current logic seems to be correct. `some` calculated from `some1` and `some2` is only used to iterate over the basic types that could have a

[2022-11-23 05:54] lochana-chathura opened #1126 "Make top type of a basic type to be a BasicTypeBitSet at creation"
**Description:**
$Subject. e.g. map<any|error> has to be a BasicTypeBitSet.

[2022-11-24 04:06] lochana-chathura opened #1129 "Be more eager in intersect"
**Description:**
$subject.
- At the moment when we do the intersection with `readonly,` we don't simplify the cell-based types enough.
e.g. readonly & map<any|error>
- In the intersection we need to check if one of the type is `readonly` and other one has one level of defineness, we should be able to simplify it.

[2022-11-28 02:33] #1114 closed, assigned to manuranga

[2022-11-28 02:50] #1126 closed, assigned to lochana-chathura

[2022-11-28 03:08] lochana-chathura opened #1130 "Avoid maintaining the order of pre-defined atoms in two places"
**Description:**
$subject.

We need to refactor as follows.
- Use constant for the indexes.
- Define an array of atoms and loop over it to initialize. e.g. `final readonly & Atom[] PREDEFINED_ATOMS = [ ...];`
- Can be accessed as follows: `PREDEFINED_ATOMS[CELL_ATOM_TOP_INDEX];`

Related code segment:
https://github.com/ballerina-platform/nballerina/blob/941f899f9358705332a1f1e665775dde84403ca4/co

[2022-11-28 03:15] #1119 closed, assigned to lochana-chathura