[2021-07-14 00:05] jclark opened #222 "Vforeach03 generates unreferenced basic block"
@jclark I have made a new PR #219 that fixes this issue. It seems to be caused due to having an  un-referenced basic block in that test case. This PR adds a work around to temporarily make it output a valid code in such cases. `jni` generated ll file (which marks predecessors of each basic blocks) for reference
[Vforeach03.txt](https://github.com/ballerina-platform/nballerina/files/6809529/Vforeac

[2021-07-14 00:06] jclark commented on #222
The relevant code is:

[code]

In this case, the loop increment will never be reached and so should not be generated.

[2021-07-14 00:17] jclark commented on #218
Also need `unnamed_addr`.

[2021-07-14 00:51] jclark commented on #218
For example:

[code]

[2021-07-14 02:39] jclark commented on #218
We also need an initializer which is a constant (in this case it will be a struct constant, which contains an array constant), and Linkage:

[code]

[2021-07-14 06:27] #215 closed, assigned to heshanpadmasiri

[2021-07-14 06:28] jclark commented on #215
@heshanpadmasiri Please look at my fix and make sure you understand it.

[2021-07-14 07:39] #217 closed, assigned to heshanpadmasiri

[2021-07-14 07:48] heshanpadmasiri commented on #175
There are no more empty basic blocks.

[2021-07-14 07:48] #175 closed, assigned to heshanpadmasiri

[2021-07-14 08:52] jclark opened #226 "Type cast to `any[]` is not implemented"
This is in subset 03 but not implemented by the backend.

[2021-07-14 09:42] jclark opened #227 "LLVM interface needs support for `signext` and `zeroext` attributes on arguments/returns values"
We need this to get compatibility with clang for boolean arguments.

This requires extending attributes to support applying to argument/return value rather than to function.

[2021-07-15 04:54] heshanpadmasiri commented on #227
@jclark  for this I can think of two options

1. extend the current `addEnumAttribute` function to be `public function addEnumAttribute(EnumAttribute attribute, *AttributeIndex index)` and introduce new record type (similar to `GlobalProperties`) which will have attributes for where it must be set (return value, function or argument) and optional index value (in the case of argument)
2. Add 3 (inc

[2021-07-15 05:41] #218 closed, assigned to heshanpadmasiri

[2021-07-15 07:56] jclark commented on #227
The validity of the AttributeIndex depends on the EnumAttribute and vice-versa, so I think it's better to group the Attribute with the AttributeIndex into a tuple so we can type-check this:

[code]

so I would say:

[code]

The int in the ParamEnumAttribute tuple should be 0-based.

[2021-07-15 10:08] #211 closed, assigned to manuranga

[2021-07-15 10:54] #222 closed, assigned to manuranga

[2021-07-15 11:30] #227 closed, assigned to heshanpadmasiri

[2021-07-16 09:24] jclark opened #234 "LLVM module support for const expressions"
In the initializer of a global we need to be able to have at least:

- getElementPtr
- bitCast
- addressSpaceCast

[2021-07-16 12:40] #207 closed, assigned to manuranga

[2021-07-16 23:46] #213 closed, assigned to jclark

[2021-07-17 03:00] jclark commented on #191
@gimantha There seem to be quite a few bugs relating to the new implementation of `string:Char`.

[2021-07-17 03:45] manuranga commented on #191
I reported some of them (31668 31673 31660), @gimantha please use those numbers when appropriate.

[2021-07-18 03:46] jclark commented on #130
Still to do: io:println needs to handle informal style for strings (i.e. in quotes).

[2021-07-18 04:09] jclark opened #235 "Implement hexadecimal integer literals"
Now that we have bitwise operations, it would be really convenient to have hexadecimal integer literals

https://ballerina.io/spec/lang/2021R1/#HexIntLiteral

[2021-07-18 08:28] gimantha commented on #191
@jclark @manuranga We will try to get the fixes in this sprint. These are planned to be fixed in this sprint (31668 31673 31660)

[2021-07-18 08:38] #130 closed, assigned to jclark

[2021-07-18 23:43] #103 closed, assigned to manuranga

[2021-07-18 23:52] #125 closed, assigned to manuranga

[2021-07-18 23:53] jclark commented on #177
Also `_bal_mapping_construct`.

[2021-07-19 01:59] jclark opened #237 "LLVM module support for named structs"
LLVM allows you to give names for structs.  It would be useful to be able to take advantage of that.

[2021-07-19 02:04] jclark commented on #165
How are we going to deal with derived pointers?

[2021-07-19 02:45] jclark opened #238 "Implement "large" string representation"
In C, this is:

[code]

This needs support in a number of places
- in the compiler for constants (in `addStringDefn`)
- string equality
- string ordered comparison
- string hashing

This would use a flag of 2 in the bottom bits of the tagged pointer (medium uses 1 and small uses 0).

[2021-07-19 02:53] jclark commented on #238
Needed for #152

[2021-07-19 02:54] jclark commented on #152
Implementation stages:

1. Implement #238
2. BIR instruction StringConcat with two operands
3. runtime function `GC char *_bal_string_alloc(int64_t lengthInBytes, int64_t lengthInCodePoints, TaggedPtr *stringPtr)`, which chooses the string representation based on the length, and returns a pointer to the bytes; *stringPtr gets the result
4. runtime function _bal_string_concat with two TaggedPtr arg

[2021-07-19 02:56] jclark commented on #152
At this stage, do no optimization at all: just turn each `+` into a runtime string concatenation (just as we do for integer `+`).

[2021-07-19 03:27] jclark opened #239 "Implement int:toHexString in C"
This will allow us to easily generate strings for testing.

[2021-07-19 03:45] jclark opened #240 "Use LLVM JNI to generate object files directly"
The goal is to be able to generate object files directly using the LLVM JNI interface.

The jni.llvm module should have additional methods that provide access to the needed APIs of LLVM.  Then write a separate main.bal in llvm_jni that uses these methods to implement a program that compiles a .bal file into an object file. This needs to combine the module with the `runtime/balrt_inline.bc` module

[2021-07-19 03:48] jclark commented on #167
This would allow us to implement string:fromCodePointInt

[2021-07-19 08:47] heshanpadmasiri commented on #234
@jclark for this I am thinking of adding fallowing functions to `Context` (assuming we may need to share constants among modules)

- `function getElementPtr(ConstValue ptr, ConstValue[] indices, "inbounds"? inbounds=()) returns ConstValue` similar to [`LLVMConstGEP`](https://llvm.org/doxygen/group__LLVMCCoreValueConstantExpressions.html#ga297cf7ec9e5b39e6ae47a834d1a84bfb)
- `function bitCast(Const

[2021-07-19 08:52] heshanpadmasiri commented on #237
@jclark for this I am thinking of adding a new function to `Context` as `structCreateNamed(string name, Type[] elementTypes) returns StructType` combining the [`LLVMStructCreateNamed`](https://llvm.org/doxygen/group__LLVMCCoreTypeStruct.html#gaf3bed4d4b79664d613acf8b9dbfbccb7) and [`LLVMStructSetBody`](https://llvm.org/doxygen/group__LLVMCCoreTypeStruct.html#ga0969f946bdec1ddb160530e12097da3e) to

[2021-07-19 11:23] #148 closed, assigned to manuranga

[2021-07-20 03:05] #235 closed, assigned to manuranga

[2021-07-20 05:01] jclark commented on #237
Looks good. Will this emit the definition of the type if it is not used?

[2021-07-20 05:03] jclark commented on #234
Looks good but I think the names should start with `const` e.g. `constBitCast`.

I don't think PointerValue is working very well - it requires a lot of casting - so let's not do that for ConstValue.

[2021-07-20 06:11] heshanpadmasiri commented on #237
I think we can make it not so by

1. Add a boolean `isReferred` flag to `StructType`
2. Have that flag updated in `typeToString` function (When you use some value of this type in builder it inevitably call this function)
3. When we make the output we only do so if that flag is up

[2021-07-20 06:38] jclark commented on #237
I just want to know how the LLVM C API behaves if you define a type but do not refer to it.

It's fine for our API do the same.

[2021-07-20 18:45] KavinduZoysa commented on #165
If we define a derived pointer and we use that pointer after the statepoint, RS4GC pass(--rewrite-statepoints-for-gc) identifies that derived pointer and rematerialize. Please check the following example.

Before run RS4GC:
<pre>
define void @dummy_func() {
  ret void
}

define i8 addrspace(1)* @test1(i8 addrspace(1)* %obj) gc "statepoint-example" {
  <b>%gep = getelementptr i8, i8 addrspace(1)* %

[2021-07-21 00:33] heshanpadmasiri commented on #234
@jclark if we are planning to use `addrspacecast` const expressions we may need to update to llvm-12. At least in llvm-11 for ubuntu there seems to be a bug throwing in `llc`
[code]
(`LLVMVerifyModule` doesn't detect any issues so I assume this is a bug in the compiler)
The issue does not exists with llvm-12 for ubuntu.

Sample code causing issue:
[code]

[2021-07-21 01:07] #239 closed, assigned to manuranga

[2021-07-21 02:30] jclark commented on #234
We should switch to LLVM 12 then.

(I remember one of the Go LLVM projects having a pass to fix this.)

[2021-07-21 02:33] jclark opened #250 "Update to LLVM 12"
Given https://github.com/ballerina-platform/nballerina/issues/234#issuecomment-883795856 we should update to LLVM 12

I see LLVM has its own apt repo:

https://apt.llvm.org/

Looks like for Ubuntu 20.04, we can use:

[code]

[2021-07-21 02:35] jclark commented on #250
@heshanpadmasiri Do the bytedeco LLVM JNI packages support LLVM 12?

[2021-07-21 02:49] heshanpadmasiri commented on #250
Version in maven central (stable version) is still LLVM 11. But their repository and version in Nexus has been updated to LLVM 12  recently so probably maven central may be in the process of getting updated as well.
As long as we are not using the LLVM JNI to compile the code affected by it we are not affected by  [#234 (comment](https://github.com/ballerina-platform/nballerina/issues/234#issuecom

[2021-07-21 03:03] jclark commented on #152
I implemented _bal_string_alloc in https://github.com/ballerina-platform/nballerina/commit/894bbcc658c602b673d7054df1e3d5fa3252c3fc for #235

@manuranga I suggest you implement string concatenation first: _bal_string_alloc will panic if given a string that is too long. Then either you or I can do #238.

[2021-07-21 03:06] jclark commented on #250
OK, then we can hold off on #240 until maven central gets updated to LLVM 12.

[2021-07-21 05:26] #221 closed, assigned to jclark, heshanpadmasiri

[2021-07-21 05:33] jclark commented on #165
Oh I see. That's clever. We need to make sure this works with our tagged pointers. Can you check that it works with the ptrmask intrinsic?

Is there a way to control which functions get treated as safepoints and rewritten via RS4GC?  I think we will want to not treat some of the calls to langlib functions as safepoints.

This relates to another problem. How to deal with GC roots in the stack frame

[2021-07-21 05:36] KavinduZoysa commented on #46
@jclark, I have come up with a couple of approaches.

1. Use libbacktrace with debug info
Using this approach we can get the line numbers of the caller functions. But we need to inject debug info into our LLVM IR. We can get an output that is the same as jballerina.

2. Use libbacktrace without debug info
This approach is easy to implement but we cannot get the line numbers we can only get the fun

[2021-07-21 06:16] jclark commented on #46
Option 3 is what we are doing now, and it's a pain. It complicates the compiler and requires generating lots of extra basic blocks.

We will at some point need to generate debug info in the IR, because we will need to support debugging. So eventually we want to do 1, but I don't want to do this right now.

Can we just put a little bit of debug info in the IR and get some line numbers out of libbac

[2021-07-21 07:51] jclark commented on #234
I gave the wrong answer https://github.com/ballerina-platform/nballerina/issues/234#issuecomment-883055527

Given that we already have PointerValue, we have to have ConstPointerValue or the typing doesn't work out at all.

[2021-07-21 08:18] jclark commented on #250
The way I am using addrSpaceCast right now doesn't seem to trigger this problem, e.g.

[code]

I think we'll only hit this when we have list or mapping constants.

Anyway, we don't need to worry about this for a bit.

[2021-07-21 08:22] jclark commented on #234
I am now generating code for strings using this https://github.com/ballerina-platform/nballerina/commit/44fb94e357037981fc79a1176521a00000bf49d2

The code compiles fine with LLVM 11 on Ubuntu.

@heshanpadmasiri Please see whether this works with LLVM 11 through JNI

[2021-07-21 11:44] KavinduZoysa commented on #165
RS4GC identifies the output of ptrmask intrinsic as a gc-live pointer and it is added to the gc.statepoint intrinsic. Please check [this LLVM IR](https://github.com/KavinduZoysa/llvm/blob/master/list_opt.ll), generated via RS4GC for the below example.

[code]

Yes, we can do it by using `"gc-leaf-function"`.
Ex:
`declare i8 addrspace(1)* @_bal_int_to_tagged(i64) "gc-leaf-function" ; _bal_int_to_ta

[2021-07-21 12:18] jclark commented on #165
This is the same as with stack frames from our compiler: address space 1 pointers may or may not have a tag. I don't think that's a problem.

The problem I am concerned about is something like _bal_mapping_set. Suppose it needs to grow the array (calling _bal_array_grow).  Suppose this triggers a garbage collection. This may cause the heap objects referenced by the `key` and `value` parameters to

[2021-07-21 12:21] jclark commented on #165
A simpler case is `_Barray_push`.

[2021-07-21 15:00] KavinduZoysa commented on #46
@jclark, This is a working example that prints the backtrace for panic https://github.com/KavinduZoysa/test-GCs/tree/backtrace.

In `panic-example` folder, I have added two LLVM IRs to represent the difference between when there is no debug info and when there is debug info. As a summary, we have to add,
1. function-related information at function signature ([L8](https://github.com/KavinduZoysa/te

[2021-07-22 03:00] jclark commented on #167
This will require arrays having an inherent type to distinguish `(any|error)[]` and `any[]`, because this

[code]

creates an array with inherent type `(any|error)[]`.

So we could also add an explicit type `any|error`.

[2021-07-22 07:23] #238 closed, assigned to jclark

[2021-07-22 07:42] KavinduZoysa commented on #165
https://github.com/KavinduZoysa/test-GCs/tree/find-gc-roots, Please find the progress of the issue in this repo

[2021-07-22 08:27] #152 closed, assigned to manuranga

[2021-07-22 11:23] #234 closed, assigned to heshanpadmasiri

[2021-07-22 11:31] jclark commented on #177
Only true if the implementation of _bal_alloc is compiled separately (not just to `.bc`) from the other files

[2021-07-22 11:51] jclark opened #254 "Sort out linkonce_odr mess"
Currently the sed script applies to only some functions in balrt_inline.c.

Those functions cannot be used in the C files so they should not be in balrt.h.

So balrt_inline.c needs to include only functions that are called by emitted .ll code and that need to be inlined. These functions should not be in balrt.h and must not be used in the C files. They should all be linkonce_odr.

[2021-07-22 11:55] jclark commented on #165
Two alternative strategies for https://github.com/ballerina-platform/nballerina/issues/165#issuecomment-884145261

1. the C code does something explicit that makes the GC collector aware of the variables that need updating after a GC e.g. calls a function `add_gc_root(context, &ptr)`
2. take the .ll output by clang and massage it (e.g. by adding `gc "strategy"`) to look like the code that we gener

[2021-07-22 11:58] jclark commented on #165
In any case, I think we will want to distinguish between our C runtime functions that can trigger (or allow) a garbage collection and those that don't. The former are the ones we need to worry about. The latter can be declared as "gc-leaf-function" and don't need any special treatment.  Functions that can themselves call _bal_panic need to be in the former category.

[2021-07-23 00:56] jclark opened #255 "Implement `match` patterns"
This builds on #256.

Given we now have `map<any>` and `any[]`, we can now implement match-patterns, specifically

- list-match-pattern
- mapping-match-pattern

We would initially have the restriction that a binding-pattern in a match-pattern is restricted to a variable-name or `_`.

We can then leverage semtypes to analyze  whether the statement-block of each match-clause is reachable (by turning

[2021-07-23 01:55] jclark commented on #255
There would be BIR instruction to represent matching a match pattern against a value. It would have

- a boolean register for the result
- a register for each bound variable
- a SemType representing the set of shapes that can be matched
- a path (of type `(int|string)[]`) for each bound variable register, saying which part of the matched shape should be bound to each variable
- perhaps also a high

[2021-07-23 03:12] jclark opened #256 "Implement `match` statement with constant match patterns"
The simplest subset of `match` statements is to restrict a match-pattern to be:

[code]

Also disallow match-guard, but allow match-pattern-list as `|`-separated list of match patterns.

This is roughly switch-statement level functionality.

[2021-07-23 03:15] jclark commented on #256
**Edited: turns out that LLVM can optimize if-else chains of comparisons against constants into switch instructions, so there is no need for us to do it.**

LLVM has a [switch instruction](https://llvm.org/docs/LangRef.html#switch-instruction), which allows to switch on an integer value. We should try to design things so that we can leverage this as much as possible. For example:

- switch on the

[2021-07-23 04:02] jclark opened #257 "Equality expression involving constant needs to narrow variable"
In a statement

[code]
where C is a constant expression, the type of `x` needs to be narrows to a singleton within S.

This can show up even in our subset 4 e.g.

[code]

[2021-07-23 04:05] jclark commented on #257
The failing test cases are only for things that are not in 2021R1 spec, so this is not too terrible a bug.

[2021-07-23 04:09] jclark commented on #257
The test FEnarrow01 is debatable: the spec does not make a variable narrowed to a singleton type be a constant expression.

[2021-07-23 06:53] #226 closed, assigned to jclark

[2021-07-23 09:32] jclark commented on #195
We have already done a lot of the work for this when implementing #156

There can be references between constant definitions and between constants and types, so the constants need to be evaluated during the convertTypes phase, with cycles being detected similarly.

[2021-07-23 11:24] jclark commented on #206
We now have some although there is much room for improvement.

[2021-07-23 11:24] #206 closed, assigned to jclark

[2021-07-23 12:11] #254 closed, assigned to jclark

[2021-07-24 03:42] jclark opened #260 "Store small strings in tagged pointer"
The idea is to do with strings something similar to what we do with integers.  Key point is that == on two small strings is just pointer equality. In particular `x == s` where s is a constant string can be inlined into an iCmp instruction (also applies in `match` statement against a small constant string), where one operand is an LLVM constant.

We want an in-pointer (immediate) representation tha

[2021-07-24 05:20] #170 closed, assigned to jclark

[2021-07-24 07:37] jclark commented on #257
Another case is

[code]

[2021-07-24 09:34] jclark commented on #256
The string representation in #260 should make it possible for comparisons against short constant strings to turn into LLVM iCmp instructions with one constant operand, which will in turn enable LLVM to generate optimized switch statements from our match statements.

[2021-07-24 13:13] jclark commented on #260
_bal_string_alloc does not quite carry over because in the short case, the pointer is now to address space 0 rather than address space 1

[2021-07-25 02:32] jclark commented on #165
I should say that I definitely prefer strategy 2 if we can make it work, since it makes the C code consistent with the code we generate, and should be more reliable.

[2021-07-25 02:43] jclark commented on #7
This comment has a description of what we need: https://github.com/ballerina-platform/nballerina/issues/46#issuecomment-884259636

We can just have a single scope for each function to start with.

[2021-07-25 11:35] jclark commented on #260
I've switched the implementation over to this representation. Still some work to do:

- [ ] rename representations to Immediate/Small/Large
- [x] inline string equality for small strings rather than using a function call
- [ ] write some documentation
- [ ] switch int to use 0x20 flag consistently

[2021-07-25 16:12] KavinduZoysa commented on #165
I have started to develop a working example. Please find the progress here. https://github.com/KavinduZoysa/test-GCs/tree/find-gc-roots/solution2

[2021-07-26 01:20] jclark opened #262 "Implement `float` type"
Requires:

- `float` type descriptor
- floating point literals
- extend arithmetic operators to float
- extend relational operators to float (these follow IEEE rules)
- extend `==` and `===` to float (these are not the same as IEEE numeric equality)
- extend type cast to float
- io:println on float
- extend tagged pointers to represent float
- float constant evaluation
- BIR instructions for float

[2021-07-26 01:25] jclark commented on #262
Not sure what `==` and `===` will turn into: maybe need to use LLVM `select` instruction.

[2021-07-26 01:30] jclark commented on #262
Also requires extending semtypes to do singleton float types.

[2021-07-26 02:24] jclark opened #263 "Improve runtime library testing"
The current testing is rather skimpy and ad hoc.

We should
- put tests in separate directory
- split up into separate testing programs
- have a Makefile that allows tests to be run in parallel
- ensure we have good test coverage using clang's code coverage support https://clang.llvm.org/docs/SourceBasedCodeCoverage.html

[2021-07-26 02:37] jclark commented on #262
Another problem is that with the addition of `float`, and integer literal is either of type `int` or `float` depending on the contextually expected type. I will try to deal with this when I have another look at how we handle constants.

[2021-07-26 04:23] manuranga commented on #262
~~Until then, I'll restrict the syntax to mandate `f` suffix for non-dotted float literals.~~
A syntax level restriction will not work.

[2021-07-26 06:01] jclark opened #264 "Vstring13 is not getting optimized as well as it should"
The assembly output for the Vstring13 shows LLVM is nearly but not quite optimizing as one would hope.
[Vstring13.s.txt](https://github.com/ballerina-platform/nballerina/files/6875945/Vstring13.s.txt)

The source has 6 calls to isKeyword, which is somehow being optimized to 4 calls.

It is failing to detect that it is impossible for _bal_string_heap_eq to be called: the IMMEDIATE_FLAG is set on on

[2021-07-26 06:19] jclark opened #265 "Design optimization pass pipeline"
We should have our own optimization pass pipeline that does a good jib with the code we generate rather than just reusing clang's. See https://llvm.org/docs/Frontend/PerformanceTips.html#pass-ordering

[2021-07-26 06:46] manuranga commented on #262
Interesting tokenizer case :`0.e0f()`

[2021-07-26 07:20] manuranga commented on #262
Another difficult case `10..toHexString()`.

[2021-07-26 08:38] jclark commented on #262
Please explain the problem. The lexer chooses the longest valid token.

[2021-07-26 08:38] jclark commented on #262
That is to say, the longest string that is a token.

[2021-07-26 09:23] manuranga commented on #262
Please disregard this, my concerns are baseless since there are no functions in `lang.int` starting with `f` or `e`. I'll use this fact.
I was thinking, if there was,`32.factor()` would be tokenized as `32.f` `actor()`.

[2021-07-26 09:37] manuranga commented on #262
When we are parsing a `1.toHexString()` and we see `.`, we still need to see the next char to determine if it's a decimal or float. After setting `t` we need to unget `t` **and** `.` and then return `[DECIMAL_NUMBER, "1"]`.

(And we are not returning the longest token which is `[DECIMAL_FLOATING_POINT_NUMBER, "1."]`)

[2021-07-26 09:41] jclark commented on #262
The way tokenization is supposed to work is to return the longest string that is a valid token. So `1.toHexString()` lexes as the tokens  `1.`   `toHexString`  `(`  `)` which will give a parse error.

[2021-07-26 09:44] jclark commented on #262
If you want to do something else, please report it as a spec issue.

[2021-07-27 00:11] jclark commented on #262
Another complication to remember is that a type cast expr does conversions between int and float.

[2021-07-27 00:22] jclark commented on #262
I think we're going to need to split this into stages: it's too much for one pull request and I think I am going to need to help with some bits.

[2021-07-27 03:23] #214 closed, assigned to manuranga

[2021-07-27 06:15] #144 closed, assigned to nobody

[2021-07-27 12:25] jclark commented on #129
Still to do:

- make assignments invalidate the narrowing
- narrowing on ==/!=

[2021-07-27 12:32] jclark opened #267 "Rework handling of constants"
Goals:

- Update to new design in https://github.com/ballerina-platform/ballerina-spec/issues/902
    - expressions with singleton operands have singleton results (mostly)
    - unreachability is based on whether type is a singleton
- Provide basis for implementing constant definitions #195
- Provide basis for distinguishing type of numeric constant based on contextually expected type (needed for

[2021-07-27 12:42] jclark commented on #129
There are also improvements post 2021R1 that we should implement at some point:

- `else` narrowing applies after `if` that cannot complete normally https://github.com/ballerina-platform/ballerina-spec/issues/73
- `while` should narrow https://github.com/ballerina-platform/ballerina-spec/issues/840
- `!is` operator https://github.com/ballerina-platform/ballerina-spec/issues/752

Probably better to

[2021-07-27 12:58] manuranga commented on #262
I'll try to get a minimal substed done and send it as a PR, with just dotted float literals and printing.

Spec mandates that we don't use extra precision but unfortunately there isn't much info on this on llvm side, closest I could find was [this](https://stackoverflow.com/questions/17663780/is-there-a-document-describing-how-clang-handles-excess-floating-point-precision).

This is usually not an

[2021-07-27 23:48] jclark commented on #262
We need to ensure that we don't get into the situation where we want to close a milestone, but we have only partially implemented floats, i.e. we do not have a correct subset of the language.  There are quite a few tricky things in float, so I am not confident that we will get this done in a single milestone. So we need to stage things very carefully.

So I think we need to do things a bit differe

[2021-07-27 23:55] jclark commented on #262
When I look at what the LLVM spec says about the double type and about the instructions on it, it doesn't give LLVM any license to use extended precision.  Is a machine that only supports x87 going to support x86_64? I don't think so. I wouldn't spend time on this right now.

[2021-07-27 23:57] jclark commented on #262
On tokenization we need to distinguish

- literals that are necessarily of type float - these can be converted to float in the tokenizer
- literals that may be float or decimal depending on the contextually expected type - these should be left as strings in the tokenizer

[2021-07-28 00:02] jclark commented on #262
On the runtime:

- I would expect the tagged representation to always allocate on the heap (untagging in the backend should just do a load rather than going via a function call)
- I am surprised to hear you say that `printf` does not do what is needed. How so?

[2021-07-28 00:25] jclark commented on #263
@heshanpadmasiri I suggest you start with a simple pull request that just splits up the current testrt.c into multiple programs in a test directory and modifies the makefiles accordingly.

[2021-07-28 00:26] jclark commented on #263
We should provide a way to test io:println. We can use this as part of staging #262

[2021-07-28 00:30] jclark commented on #262
On the LLVM module, yes you need to use hex literals.  See the LLVM spec for why https://llvm.org/docs/LangRef.html#simple-constants

[2021-07-28 00:38] jclark commented on #262
I think the trickiest thing is going to be https://github.com/ballerina-platform/nballerina/issues/262#issuecomment-887112489 So we should try to figure that out up front.

What I would like to do is to split up the type testing and the conversion at the BIR level. In other words, a type cast that might convert would turn into a regular type cast (that just checks the type) instruction plus a conv

[2021-07-28 00:51] jclark commented on #262
On the LLVM side, as well as `fadd` etc, we are going to need conversion operators. For int to float I think we can use `sitofp`. For float to int  we cannot use fptosi because we need an error if the conversion cannot be done. See https://ballerina.io/spec/lang/2021R1/#section_5.8.4 Maybe there's an intrinsic we can use

Note that conversion has to be handled correctly in the milestone that adds

[2021-07-28 07:56] KavinduZoysa commented on #264
Basically this optimization happens when it inlines the _B_isKeyword method to _B_main method. These are my observations.

1. If we run this command, `llvm-link-11 -o Vstring13_linked.bc Vstring13.ll ../runtime/balrt_inline.bc && clang-11 -S -O2 Vstring13_linked.bc -Rpass=inline -o Vstring13.s`, we can get the below output. This command reports transformations for inline pass.

[code]

   Last 2 e

[2021-07-28 08:20] manuranga commented on #264
@KavinduZoysa the key thing to find out is not why they are getting optimized, but why others are not.

[2021-07-28 08:33] jclark commented on #264
We need it to be able to optimize when isKeyword is not inlined: knowing one of the arguments to taggedStringEqual is immediate should be sufficient to allow it to remove the call to _bal_string_heap_eq.  But it seems it can only do this when both arguments to taggedStringEqual are immediate. Why?

[2021-07-28 08:36] jclark commented on #264
Getting it to inline isKeyword would not solve the problem. The issue is getting it to optimize taggedStringEqual and so _bal_string_eq, when only one argument has a value known at compile time.

[2021-07-29 03:28] jclark commented on #264
In today's call, @KavinduZoysa said he thinks the problem relates to addrspacecast.

That then raises the question of whether this is something that can be improved in LLVM or is it inherent in the semantics of multiple address spaces.

(BTW, I also noticed that `llvm-link` seems to be removing the non-integral address space part of the data layout, but that this doesn't happen with -S.)

[2021-07-29 07:16] jclark commented on #129
Attempt at the assignments part in https://github.com/ballerina-platform/nballerina/tree/james-type-narrowing

Doesn't quite work because of https://github.com/ballerina-platform/nballerina/blob/james-type-narrowing/compiler/testSuite/FEnarrow03.bal

[2021-07-30 05:56] jclark commented on #129
This implements [approach 2](https://github.com/ballerina-platform/ballerina-spec/issues/904#issuecomment-889595775) to restricting assignment to narrowed variables in loops.

[2021-07-30 07:22] jclark opened #270 "While statement should narrow types"
Specified here https://github.com/ballerina-platform/ballerina-spec/issues/840

Follow on from #129

[2021-07-30 07:25] jclark opened #271 "Implement `!is` operator"
Follow on from #144

Specified https://github.com/ballerina-platform/ballerina-spec/issues/752

[2021-07-30 07:28] jclark opened #272 "Types should be narrowed as for `else` after `if` that cannot complete normally"
Follow on from #129 and #156

Specified https://github.com/ballerina-platform/ballerina-spec/issues/73

[2021-07-30 07:29] jclark commented on #129
Other parts will be dealt with separately.

- Narrowing on constants #257
- While statement narrowing #270
- `!is` operator #271
- Narrowing after `if` that cannot complete normally #272

[2021-07-30 07:33] #129 closed, assigned to jclark

[2021-07-30 08:20] KavinduZoysa commented on #264
To verify this, I have written below sample code by removing the addrspacecast in _bal_string_eq method.

[code]
If we run the `opt-11 -instcombine -inline -debug-pass=Arguments -S test.ll`, we can see the _bal_string_eq is inlined and _bal_string_heap_eq is removed. The inline pass alone does not remove the _bal_string_heap_eq, we have to use instcombine before or after inline.

With addrspacecas

[2021-07-30 09:49] jclark commented on #264
If we do addrspacecast to address space 0 in our IR, before calling _bal_string_eq, won't that have the same problem?

I am guessing our code needs not to do the addrspacecast to address space 1 for constant strings.

[2021-07-31 00:54] jclark commented on #262
I suggest we create some issues for separable parts of this. This will give us somewhere to have more focused discussions on each area.

[2021-08-01 05:55] jclark opened #274 "Result type of expressions with singleton operands should be a singleton"
This is specified in https://github.com/ballerina-platform/ballerina-spec/issues/902

The ways an expression can be a singleton are as follows

1. it's a literal
2. it's a reference to constant
3. it's a reference to a variable that has singleton type, which can happen from
    - variable narrowing
    - an explicit declaration of a variable as being a singleton
4. it's an expression with singleto

[2021-08-01 06:54] #257 closed, assigned to jclark

[2021-08-01 08:29] jclark opened #275 "Constant fold references to variables with singleton type"
This should #274 for the current subset.

[code]

which is FEnarrow06. Relates to #267

[2021-08-01 08:50] jclark commented on #267
Handle more expressions in const.bal:
- [x] `is` expr
- [x] list constructor (don't fold just call for subexpressions for now)
- [x] mapping constructor (ditto)

Call foldExpr for subexpressions of each kind of statement/expression (passing the appropriate contextually expected type) in codeGen (this is for things that cannot occur in `const` definitions):

- [x] return stmt
- [x] function call ex

[2021-08-02 01:29] jclark opened #276 "Generate better LLVM IR for equality when one operand is constant"
We can generate much better for code equality when we know one operand is constant.

In particular, for small strings we can generate a pointer comparison.

Relates to #267 and #264

[2021-08-02 02:54] jclark opened #277 "Restore code coverage after constant folding"
The implementation of constant folding in #267 will mean that some tests that previously tested codeGen and the backend get folded away. So we need some revised tests to ensure we have the same coverage as before.

[2021-08-02 03:03] #267 closed, assigned to jclark

[2021-08-02 04:54] manuranga opened #278 "Implement float equality in LLVM IR"
Implement float equality in LLVM IR, since it's difficult to write in portable C .

Existing C inline functions and handwritten IR needs to be combined before adding the`linkonce_odr` attribute, to prevent it from being optimized away during combining.

[2021-08-02 04:55] manuranga opened #279 "Implement equality for `float`"
Part of #262 is to make the equality operators work for float.

This will require splitting _bal_eq into two functions, one for `==` and one for `===`.

This is follow on from #278

[2021-08-02 05:06] manuranga commented on #279
From what I can see, spec uses the word `exact equality`. Word `identity` is only used in conjunction with the word `storage`.

So I think the function should also be called `_bal_exact_eq` or slimier.

[2021-08-02 05:26] manuranga commented on #264
It's wired that

Could it be that, we are seeing cast in `taggedPtrBits` getting inlined and `getelementptr` disappearing altogether?

[2021-08-02 06:18] #275 closed, assigned to nobody

[2021-08-02 06:25] jclark commented on #279
I agree it should be called `_bal_exact_eq`.

I suggest the following staging:

1. Implement _bal_float_eq and _bal_float_exact_eq  (leaving _bal_eq unchanged) #278
2. Split _bal_eq at the same time as we fix buildEquality to handle floats

[2021-08-02 06:35] jclark opened #280 "Split up balrt_inline.c"
In preparation for #278, split up balrt_inline.c.

`linkonce_odr` linkage needs to be added after combining with `llvm_link` otherwise `llvm_link` will discard them.

[2021-08-02 06:51] #280 closed, assigned to jclark

[2021-08-02 07:45] jclark commented on #201
This is easier now we have done #280

[2021-08-02 07:48] jclark commented on #191
@gimantha I've found a bunch more bugs. Could you have a look please?

[2021-08-02 10:11] KavinduZoysa commented on #277
@jclark, I found that before the constant folding the method [intSubtypeWidenUnsigned](https://github.com/ballerina-platform/nballerina/blob/f5192d944cc4e36be35cd56fb82ca738652370f1/compiler/modules/types/int.bal#L53) was covered by the example (1|1) == 2 (a test available in front/test/testConst.bal). This method was called via [widenUnsigned](https://github.com/ballerina-platform/nballerina/blob

[2021-08-02 11:17] gimantha commented on #191
Sure. I will have a look.

[2021-08-02 11:47] jclark commented on #277
@KavinduZoysa Don't think it's possible to test it via a complete `.bal` file right now. Can you do a unit test instead? It's implementing the rules here: https://ballerina.io/spec/lang/2021R1/#section_6.30

[2021-08-03 02:50] jclark commented on #274
I think we can fix this by having const folding introduce a new kind of expr:

[code]

This would be used for variables narrowed to a singleton type with a shape that corresponds to multiple values (float 0 or decimal). In this case you know the shape but not the value. In many cases, when an expression can be constant folded even though a subexpression is a SingleShapeExpr rather than a ConstExpr

[2021-08-03 08:42] #277 closed, assigned to KavinduZoysa

[2021-08-03 08:44] #195 closed, assigned to nobody

[2021-08-03 11:28] manuranga commented on #279
I looked into whether we can optimize this to two comparisons but I couldn't find a way.

It comes down to finding a way to check if **both** operands are NaNs. Single `fcmp` doesn't give us that. `ord` and `uno` gives us the same information, only negated.

| op1 | op2 | ord | uno | oeq  | ueq  | andpd   | We need |
|-----|-----|-----|-----|------|------|---------|---------|
| n   | n   |   1 |

[2021-08-03 12:04] jclark commented on #279
I see the problem.  The following C:

[code]

gives

[code]

(which I think is equivalent). So I think you might as well do this in C.

We should probably add a langlib function to float to do the equivalent of C `==`.

[2021-08-03 12:06] jclark commented on #279
This gives exactly the same as yours:

[code]

which is reassuring.

[2021-08-03 12:09] jclark commented on #279
This discussion ought to be in #278.

[2021-08-03 12:17] jclark commented on #279
But on ARM the LLVM IR code generates much better assembly code than the C, so we should stick to the LLVM IR.

[2021-08-03 12:41] jclark commented on #279
I also wonder how it compares against a branch:

[code]

I am guessing that in real life comparing two NaNs for equality is pretty unlikely and I was reading that branches never taken are basically free https://blog.cloudflare.com/branch-predictor/

[2021-08-03 12:48] manuranga commented on #279
I also wrote that first, thought the branch might have a negative impact. Maybe predictor will come out on the top.

[2021-08-03 13:17] jclark commented on #279
I just did a very quick and dirty measurement and they seem pretty similar, so I suggest sticking with your non-branching version.

[2021-08-03 17:53] KavinduZoysa commented on #264
This change happens before the inline, if we run only the -instcombine, the getelementptr instruction changes to inttoptr.

[2021-08-03 17:54] KavinduZoysa commented on #264
@jclark The reason to optimize when both values are known is like this.
This optimzation happens only when both pointer values are same. The first icmp instruction of _bal_string_eq checks whether both pointers are same. Since both values are same, other basic blocks will not be executed.

In **gollvm**, they have added a pass to remove addrspacecast for globals which are initialized. As they ment

[2021-08-04 16:40] manuranga commented on #278
I am getting
[code]
 It's emitted from [here](https://github.com/llvm/llvm-project/blob/74b99b5c2eacbdef15b99b3e0a8073598f985bb4/llvm/lib/Linker/IRMover.cpp#L1447)

Can't see a flag to git rid of it.

[2021-08-04 17:49] manuranga opened #284 "Add float singleton types by generifying string type logic"
Generify string type union, intersect, diff algorithms by passing a comparator.
Use that to create float singleton type.

Part of #262.

[2021-08-05 00:33] jclark commented on #284
Don't pass a comparator: just look at the types of the values, e.g.

[code]

[2021-08-06 06:49] ushirask commented on #17
The current implementation passes the test cases except for bellow conditions due to JBallerina bugs.
1.  Using `toHexString` directly with an int (ex : - `0.toHexString()`) [Can be tested by wrapping the integer in parenthesis]
2. Using  5 digit Unicode characters (ex:- `u{1F600}`)
 @manuranga @jclark

[2021-08-06 07:01] manuranga commented on #17
Above case 1 is not a bug per se, It's just that jBallerina is bases on 2021R1 and this (ballerina-platform/ballerina-spec#905) was proposed later. So I suggest duplicating hex string tests and add wrapping (eg - `(0).toHexString()`)  until jBallerina caches up.

[2021-08-06 07:18] manuranga opened #285 "Remove `--testJsonTypes` cmd line flag and make `testJsonTypes` tests run during `bal test`"
Remove `--testJsonTypes` cmd line flag and make `testJsonTypes` tests run during `bal test`.

[2021-08-06 08:30] jclark commented on #17
It's great that it's all working now.  For 1, you can just put a space after the `0`.

Where's the code?

I wonder what we can compile that goes beyond what our front end does. For example:

1. `&&` or `||` operators
2. compound assignment e.g. `+=`, `-=`

[2021-08-06 08:51] ushirask commented on #17
For 1, binary expression can be extended to handle those operators as well in the frontend.  Will look into 2.
The code is available at https://github.com/ballerina-platform/ballerina-lang/pull/31350, might have to create a new PR from beta2 since this PR was created from beta1 and the beta2 changes were merged later.

[2021-08-06 09:05] manuranga commented on #17
You could try git rebase, but given the size it thinks that would be difficult especially if you don't use git tricks like `git rerere`. Give it a try and see, if it doesn't work, I would go for a low tech solution, do a git merge and use regular `diff` to create a patch file and reapply it in a clean branch.

[2021-08-06 09:29] jclark commented on #17
My question is if you try a .bal file that uses our subset but also `&&` and `||` does it work with the jBallerina front end used with the nballerina backend?

(Implementing `&&` and `||` is quite difficult, different from all the other binary operators, because (a) the second operand is not always evaluated and (b) type narrowing.)

[2021-08-06 10:26] ushirask commented on #17
It will be parsed as a binary expression with operator `&&` or `||` in  jBallerina front end which we can use to pass an instruction to nballerina backend

[2021-08-06 10:43] jclark commented on #17
There's no `&&` or `||` BIR instruction (at least in nBallerina) and no need for one. These operators would turn into the existing BIR instructions (as would `+=` or `-=`).   How does jBallerina implement `&&` and `||`? I suspect there's a fundamental issue here.

Does the jBallerina/nBallerina combo report errors for all the E test cases? Are they all reported by jBallerina or does the BIR verifi

[2021-08-06 10:57] ushirask commented on #17
I'll clean the PR and give an update

[2021-08-07 14:25] KavinduZoysa commented on #165
https://github.com/KavinduZoysa/test-GCs/tree/79d28f9836c0ed0feb9e4bf864ba1217a636b06b

Here I have tested the identifying roots for a runtime function according to the 2nd approach of https://github.com/ballerina-platform/nballerina/issues/165#issuecomment-884854477. These are the steps I followed.
1. Generate LLVM IR for runtime C source using clang.
2. Mark gc statepoint on function signature.

[2021-08-08 02:25] #263 closed, assigned to heshanpadmasiri

[2021-08-08 02:43] jclark opened #287 "Front-end support for float and other numbers in type descriptors"
To support proper testing of #284, we can add

- allow type descriptors (as occurring in type definitions) to contain numeric simple constant expressions directly, rather than via `const`; this includes unary `-`
- add support for `float` as an additional type of value in `SingletonTypeDesc`.

This doesn't yet allow float in constants or match patterns.

This requires updating the grammar file.

[2021-08-08 02:53] jclark commented on #287
With this #284 can add complete support for singleton float types just by resolving SingletonTypeDesc into the corresponding semType.

At this point, we do not yet add float to `t:Value`.

[2021-08-08 10:07] jclark commented on #165
A few comments:

- With approach 2, clang is processing address space 1 without knowing that it is non-integral. I am concerned that this may mean that clang does optimizations that will make the stack map not correct (this is why we have non-integral address spaces). If we turn off optimization, then it gives functions a noinline attribute. Maybe we should turn off optimization but remove or othe

[2021-08-08 17:01] KavinduZoysa commented on #165
+1

If we check the object dump of final executable we can se there are two stack maps.

Yes, I am using that to generate the hash table and lookup frame info for the given return address https://github.com/KavinduZoysa/test-GCs/tree/find-gc-roots/solution2/runtime/gc. Also, I am using the same approach to get the rsp https://github.com/KavinduZoysa/test-GCs/blob/find-gc-roots/solution2/runtime/sh

[2021-08-08 18:12] jclark commented on #165
Right. So we would need to do extra work at link time to combine them. Can you look at how Julia does this?

[2021-08-08 18:48] KavinduZoysa commented on #165
Sure, I will work on that.

[2021-08-09 01:43] ushirask commented on #17
https://github.com/ballerina-platform/ballerina-lang/pull/32060/files

[2021-08-09 06:26] manuranga opened #288 "Implement conversions between `float` and `int` in runtime"
Implement conversions between `float` and `int` in runtime
Part of #262

[2021-08-09 06:28] manuranga commented on #288
- Int to float should be straightforward using `sitofp`. Could be done in build.bal itself. Yet I am unsure how to send this part as a PR, since I haven't done the BIR yet, let me try.

- Float to int should panic for some cases, but `fptosi` produces a silent `undef`. I propose to pre-check and panic. Clang is doing something similar when `sanitize` is enabled. https://godbolt.org/z/ajoM1hWPE

[2021-08-09 06:40] jclark commented on #288
If int-to-float can be done in `build.bal`, then it doesn't need any runtime support and you can do it when you implement float support in `build.bal`.

[2021-08-09 07:21] jclark commented on #288
Pre-check and panic seems like a good approach. In the case where there should be a panic, the C runtime function should return a  value saying there has been an error, rather than panicking directly: build.bal will check for this and generate a panic with the correct line number.

[2021-08-09 08:05] #240 closed, assigned to heshanpadmasiri

[2021-08-09 08:34] jclark commented on #17
That diff is much more comprehensible, thanks.

It looks to me like the code is duplicating a lot of the logic of codeGen.bal.  Maybe we need to rethink the approach. @manuranga Please have a look and see what you think.  We could convert into our `ast.bal`, but then what are really gaining from using jBallerina?

[2021-08-09 09:04] #287 closed, assigned to jclark

[2021-08-09 10:16] jclark opened #289 "Implement `decimal` basic type"
We can use the decNumber package from

https://github.com/hercules-390/decNumber-icu-368

or

https://github.com/SDL-Hercules-390/decNumber

This has a more permissive license than the copy that comes with GCC.

Sub issues:

- [x] #755
- [x] #766
- [x] #759
- [x] #779
- [x] #777
- [x] #778
- [x] #782
- [x] #780
- [x] #781
- [x] #783

[2021-08-09 18:44] manuranga commented on #17
- Cost of converting to AST will be, having to grow codeGen.bal not just BIR, to reap benefits from jBallerina. But I think this will be better than replicating codeGen.bal on the Java side.
I think we'll primarily get two benefits for jBallerina.
  a) multi-module support
  b) desugarings -
    - syntactical  (string template, `+=` ect)
    - conditionals (`check` `&&` `||` `?:` `?.`)
    - defau

[2021-08-10 02:40] heshanpadmasiri opened #290 "Use LLVM JNI to execute bal files directly"
For this we need to

1. Link `module` generated by `jni.llvm` with inline runtime library (`balrt_inline.bc`) path of which will be given via command line
2. Link runtime library (`balrt.a`) path of which will be given via command line with result from one
3. Execute the result of 3 via [LLVM ORC JIT](https://llvm.org/docs/ORCv2.html) APIs

Ideally 1 and 2 should be extensions of #266 such that we

[2021-08-10 02:49] heshanpadmasiri commented on #290
So far I have confirmed we can do 1 via a [LLVMCreateMemoryBufferWithContentsOfFile](https://llvm.org/doxygen/group__LLVMCCoreMemoryBuffers.html#ga882a7aff0ee42d8def45505c07cb1588) ->[LLVMGetBitcodeModuleInContext2](https://llvm.org/doxygen/group__LLVMCBitReader.html#ga1af45a3355d75b61ece499ee8965dcf5) -> [LLVMLinkModules2](https://llvm.org/doxygen/c_2Linker_8h.html#ae18bee20a3140da8a2b2ebb8edcf4b

[2021-08-10 03:34] jclark commented on #290
I suggest you separate out point 1 as an extension of #266: generated object file should include balrt_inline.bc. The build process should store balrt_inline.bc in nballerina.jar rather than requiring it to be given on the command-line.

[2021-08-10 05:34] jclark commented on #102
@ushirask The first step is to add compound assignment operators to scan.bal and token.bal. I suggest you start by doing this for `+-*/%`.

The next step is to design how they will be represented in the AST (in ast.bal).

[2021-08-10 06:40] jclark opened #292 "Implement `string:Char` type"
Need a simple way to represent this that

- is closed under union, intersection, difference operations
- combines with the existing list of singletons

[2021-08-10 06:46] jclark commented on #292
May be this. Additional field:

[code]

Semantics are:
- true - value belongs to type only if it is of length 1
- false - value belongs to type only if it is not of length 1
- () - no constraint on value

This is in addition to the constraint from the existing two fields.  Then we need to have a function that removes from the existing singleton list anything that the isChar constraint makes redund

[2021-08-10 09:16] manuranga opened #293 "Allow type descriptor in constant declarations"
Const declarations should be able to specify a type descriptor so as to provide the expression with a contextually expected type.

[2021-08-10 09:21] jclark commented on #293
@manuranga Not sure what  `add const expressions` meant.

I guess you meant #294.

[2021-08-10 09:31] jclark opened #294 "Allow floating point literals in expressions"
This is part of #286.

[2021-08-10 09:34] manuranga commented on #293
I was thinking we'd have to select a sub set of [const expressions](https://ballerina.io/spec/lang/2021R1/#const-expr) to be consistent.

[2021-08-10 09:36] jclark commented on #294
Includes
- startPrimaryExpr needs to create FpLiteralExpr from DECIMAL_FP_NUMBER
- ConstValueExpr needs to allow float
- const.bal needs to support folding on floats
- Expr needs to allow NumericLiteralExpr instead of just IntLiteralExpr

[2021-08-10 09:39] jclark commented on #294
This is all straightforward apart from #274.

[2021-08-10 09:43] jclark commented on #293
We already support const expressions (as specified in https://github.com/ballerina-platform/nballerina/blob/main/docs/subset05.md): const-ness is enforced semantically.

[2021-08-10 09:45] jclark commented on #294
Also needs support in types module for float as a constant e.g. t:containsConst, t:singleton, t:singleShape

[2021-08-10 10:05] KavinduZoysa commented on #165
Julia's GC strategy is similar to [shadow stack](https://llvm.org/docs/GarbageCollection.html#the-shadow-stack-gc) and it does not use LLVM's GC framework, which means they do not use LLVM stackmaps to identify GC roots. Therefore we cannot gather information related to LLVM stackmaps from Julia.

The other thing is, how does Julia handle the roots in C functions. Form C side it calls method [JL_G

[2021-08-10 11:48] jclark commented on #165
Interesting though that Julia is using non-integral pointers in LLVM code, plus something explicit in C code. Does Julia have a moving GC? I guess not.

The shadow stack thing is interesting: I wonder if that might be a good way to get started with GC.

[2021-08-10 23:01] jclark opened #295 "print.llvm:appendBasicBlock should not ignore`name` argument"
Currently it ignores it. It should use in in the generated LL IR, and (this is important) include it the message when there's an unreferenced basic block. (I am trying to debug this at the moment, and it is hard without this info.).

[2021-08-10 23:01] jclark commented on #295
@heshanpadmasiri Please prioritize this.

[2021-08-11 05:16] KavinduZoysa commented on #165
They are using custom address spaces(10 - GC tracked pointers, 11 - Derived pointers, etc) and non integral address spaces to keep the GC related information safe, even after the program passes through optimizations(This point is explained [here](https://docs.julialang.org/en/v1/devdocs/llvm/#GC-root-placement)). They have a [GC root placement LLVM pass](https://github.com/JuliaLang/julia/blob/mas

[2021-08-11 06:26] #295 closed, assigned to heshanpadmasiri

[2021-08-11 08:10] #284 closed, assigned to manuranga

[2021-08-11 12:02] jclark commented on #256
Still need to do:

- lots of tests
- type narrowing (as in https://github.com/ballerina-platform/ballerina-spec/issues/827#issuecomment-895601520)

[2021-08-11 23:49] jclark opened #300 "Implement simple garbage collector"
This follows on from #165.

I think the best approach at this stage is a Cheney-style semispace copying collector, which is described here https://en.wikipedia.org/wiki/Cheney%27s_algorithm

It's very elegant and simple.

Concretely:

1. use mmap to allocate the heap on startup
2.  heap will be page aligned
3. I suggest a default size (including both halves) of 2Gb and multiple of page size; it sh

[2021-08-11 23:51] jclark commented on #165
Please have a look at #300,  to see how this fits in, in particular point 7.

I think we've done enough exploring. It's time to write the code to resolve this issue. I suggest you start a new branch "gc". Can you make statepoints work for both C and LLVM-generated code? If so, we should do that. When you've done this, then go on to #300. We will need some test programs that do a lot of allocation

[2021-08-11 23:57] jclark commented on #300
We want to keep the stack marking independent of the GC algorithm: we should be able to change the GC algorithm just by changing the object file that handles allocation. So

- rename alloc.c to gc_none.c and add a _bal_init_heap method that does nothing
- add a gc_cheney.c that implements this algorithm; this will call the function in the file from #165 passing it a function pointer

[2021-08-12 04:52] KavinduZoysa commented on #165
I will go to #300.

[2021-08-13 03:49] #256 closed, assigned to jclark

[2021-08-13 04:45] manuranga opened #301 "Update float related changes in subset documentation"
Update float related changes in subset 5 documentation.

[2021-08-13 04:59] jclark opened #302 "Fix string/int heap/immediate inconsistency"
The tagged int implementation uses 0x20 bit of upper byte to say the int is on the heap;  the string implementation uses it to say the string is immediate (not on the heap).

[2021-08-13 05:01] jclark commented on #260
Inconsistency of 0x20 flag is #302

[2021-08-13 05:01] jclark opened #303 "Document format of tagged pointers"
This is now quite complicated, so we should write a document explaining it.

[2021-08-13 05:02] jclark commented on #260
Documentation is #303.

[2021-08-13 05:34] #260 closed, assigned to jclark

[2021-08-13 05:52] jclark commented on #301
I have done this already.

[2021-08-13 05:52] #301 closed, assigned to manuranga

[2021-08-13 06:54] #278 closed, assigned to manuranga

[2021-08-13 06:59] #102 closed, assigned to ushirask

[2021-08-13 07:59] jclark commented on #166
This requires distinguishing `==` and `===`.

[2021-08-14 04:13] manuranga commented on #288
How about a signature that looks like below in that case?

[code]

[2021-08-14 05:48] jclark opened #307 "Use hexadecimal for LLVM floating point constants"
LLVM requires the use of hexadecimal format (which is a hex integer representing the IEEE format bits) in some cases:

The simplest correct solution is to always use hex, but that will reduce the human readability of the IR.  One approach is to convert finite (not NaN or infinity) values to a string, then parse back into a float, and check whether the bits are the same (using float:toBitsInt).

[2021-08-14 05:48] jclark commented on #307
Required for #262

[2021-08-14 05:52] jclark opened #308 "Float to string conversion should use just enough digits to represent the correct IEEE value"
Currently using printf %g which does not do the right thing.

The classic paper on this is the Steele/White one:

https://lists.gnu.org/archive/html/gcl-devel/2012-10/pdfkieTlklRzN.pdf

Required for #262

[2021-08-14 05:57] jclark commented on #308
Best option maybe to use this:

https://github.com/ulfjack/ryu

[2021-08-14 06:10] jclark commented on #308
More here:

https://erthink.github.io/dtoa-benchmark/

[2021-08-14 06:11] jclark commented on #308
Probably better to go for something more compact than Ryu, since this will be part of every Ballerina binary.

[2021-08-14 06:11] jclark commented on #308
This looks promising:

https://github.com/miloyip/dtoa-benchmark/blob/master/src/emyg/emyg_dtoa.c

[2021-08-14 06:15] jclark commented on #262
I take charge of getting the front end complete, and then create specific issues for everything in the backend.

[2021-08-14 06:21] jclark opened #309 "Extend implementation of EqualityInsn to work for float"
Add support for float to buildEquality using bal_float_eq and bal_float_exact_eq.

This requires having separate functions for bal_eq and bal_exact_eq.

This is needed for #262.

Let's not do this right away. Maybe better to do #276 first.

[2021-08-14 06:27] jclark commented on #288
Looks good.

[2021-08-14 06:32] jclark commented on #262
Things that don't yet have their own issue:

- extend arithmetic operators to float
- extend relational operators to float (these follow IEEE rules)
- add BIR instructions for conversion to float and to int
- extend implementation of BIR type test insn to float
- extend implementation of BIR type cast insn to float
- some langlib float functions (exact list TBD)

[2021-08-14 06:38] jclark opened #310 "Implement constReal in jni.llvm"
Catch up with print.llvm changes in #306.

Needed for #262.

@heshanpadmasiri Can you look at how it decides whether to use hex vs decimal formats for float?

[2021-08-14 06:40] jclark commented on #309
Sorry, this is duplicate of #279.

[2021-08-14 06:40] #309 closed, assigned to nobody

[2021-08-14 06:41] jclark commented on #294
@manuranga This is now done, apart from #274, right?

[2021-08-14 06:49] manuranga commented on #294
Yes, let me close this.

[2021-08-14 06:49] #294 closed, assigned to nobody

[2021-08-14 06:49] jclark commented on #279
Remaining part of the is to add support for float to buildEquality using bal_float_eq and bal_float_exact_eq. This requires having separate functions for bal_eq and bal_exact_eq.

We need to do this before we can test #274.

[2021-08-14 06:51] jclark commented on #274
For this subset, we can just have a FloatZeroExpr, which would be used when we have variable reference whose value we know is == to 0f (because the type of the variable was narrowed) but we do not know whether it is -0f or +0f.

[2021-08-14 07:52] jclark opened #311 "Add LLVM module support for `fcmp` instruction"
The condition codes we need are ugt/uge/ult/ule, but we might as well add support for all of them.

Needed for #262.

[2021-08-14 08:01] jclark opened #312 "Add LLVM module support for binary floating point arithmetic instructions"
Specifically we should have a function that supports

* fadd
* fsub
* fmul
* fdiv
* frem

Needed for #262.

[2021-08-14 08:03] jclark opened #313 "Determine right code to generate for `%` operator on floats"
Ballerina semantics for `%` for float are based on Java: https://ballerina.io/spec/lang/2021R1/#section_6.23

LLVM provides `frem` instruction: https://llvm.org/docs/LangRef.html#i-frem

Need to check whether these are the same and if not what to generate.

[2021-08-14 08:04] jclark commented on #313
Needed for #262. Relates to #312

[2021-08-14 08:05] jclark opened #314 "Add LLVM module support for `fnegate` instruction"
Need support for `fnegate` in order to implement unary `-` on float.

[2021-08-14 08:05] jclark commented on #314
Needed for #262

[2021-08-14 08:19] jclark commented on #279
We need to make sure this works in const too. foldBinaryEqual does this

[code]

Is that going to work right in jBallerina when left and right are float NaN?

[2021-08-14 08:58] manuranga commented on #279
Ah it's not going to work in beta2, will use a function, it'll be fixed in beta3.
BTW, I'll need a NaN to write the tests, so will need `0.0/0.0` to work.

[2021-08-14 09:35] jclark opened #315 "Avoid warning in runtime build about modules with different data layouts"
Building runtime library gives warning:

[code]

[2021-08-14 09:42] jclark opened #316 "Add tests for const float expressions"
const expressions involving floats should work, but they need tests

e.g.

[code]

[2021-08-14 12:28] jclark opened #318 "Implement FloatNegate BIR insn"
This issue completes the implementation of unary minus for float.

Front-end has untested support for this.

LLVM support for this #314.

This is part of #262.

[2021-08-14 12:30] jclark opened #319 "Implement FloatArithmeticBinary BIR insn"
This issue completes the implementation of binary arithmetic operators for float type.

Front-end has untested support for this.

LLVM support for this is #312.

This requires solving #313.

This is part of #262.

[2021-08-14 12:33] jclark opened #320 "Implement BIR TypeTest insn for float"
This will make an expression `x is float` work.

Implementation just looks at tag of tagged pointer.

This is part of #262.

[2021-08-14 12:41] jclark opened #321 "Implement front-end support for float/int conversion"
This will introduce new instructions for float/int conversion. A type cast in the Ballerina source will be turned into a combination of these new instructions and the existing type cast instructions.

These instructions will use runtime implementation in #288.

This is part of #262.

[2021-08-14 12:43] jclark opened #322 "Implement BIR TypeCast insn for float"
Note that this does *not* do float/int conversion (which will be done by #321). It should just check whether the type of the operand is a float.

This insn will support  a case like:

[code]

This is part of #262.

[2021-08-14 12:47] jclark opened #323 "Implement BIR instructions for float/int conversion"
Issue #321 will introduce new BIR instructions for float/int conversion.

These need to be implemented in the backend using #288.

This issue should wait for #321.

This is part of #262.

[2021-08-14 12:49] jclark opened #324 "Add LLVM module support for sitofp instruction"
This will be needed to implement #323.

This is part of #262.

[2021-08-14 13:05] jclark opened #325 "Implement lang.float functions corresponding to LLVM intrinsics"
LLVM has intrinsics for a lot of the functions lang.float. We can support this by adding a simple wrapper for each in float_ir_inline.ll

Start off by doing everything in

https://llvm.org/docs/LangRef.html#standard-c-c-library-intrinsics

that corresponds to a function in

https://ballerina.io/spec/lang/2021R1/#lang.float

At least the following intrinsics

* fabs (corresponds to float:abs)
* sqr

[2021-08-14 13:07] jclark commented on #288
I noticed this:

https://llvm.org/docs/LangRef.html#llvm-lrint-intrinsic

Not sure if it helps.

[2021-08-14 13:08] jclark commented on #262
I think we now have issues for everything that needs doing in the backend.

[2021-08-14 14:25] manuranga commented on #285
I have accidentally committed a change that makes them run during `bal test`, but I still need to remove the flag and use data providers to the tests.

[2021-08-15 01:08] jclark opened #326 "Implement hexadecimal floating point literals"
These are documented here:

https://ballerina.io/spec/lang/2021R1/#HexFloatingPointLiteral

They can be parsed with float:fromHexString.

[2021-08-15 02:09] jclark opened #327 "Implement unions of basic types"
This allows type descriptors that correspond to a union of complete basic types (i.e. something that can be represented by a bit-vector).

Semantically this includes #132.

This lays the ground for implementing typed maps/arrays #328 and the error type #167

[2021-08-15 02:17] jclark opened #328 "Allow member type of map/array to be union of basic types"
This means we allow type descriptors like

[code]

Implementationally:

- we maintain a single representation of maps/arrays where values are tagged
- map/array values have an inherent type that can be represented as a bit vector of basic types
- we also need to deal with different filler values

This lays the ground for the error type #167 (since that requires implementing `any[]` as having a mem

[2021-08-15 02:26] jclark opened #329 "Implement specialized representations for `int[]` and `float[]`"
This improves the initial implementation of arrays from #328 to provide specialized implementations for `int[]` and `float[]`.

This should use the idea in #204.

After this we can tackle #169

[2021-08-15 02:30] jclark commented on #166
I am dropping this in favour of #328 and #329.

[2021-08-15 02:30] #166 closed, assigned to nobody

[2021-08-15 02:34] jclark commented on #328
One parsing complication is that when we see a `(` at the beginning of a statement we don't know if we have a method call statement of a local variable declaration.

[2021-08-15 03:25] jclark commented on #328
Also need to deal with `array:push` being generic.

[2021-08-15 03:26] jclark commented on #328
Also need to deal with relational operators being allowed when there is an ordered type (e.g. `int[]`) to which both operands belong.

[2021-08-15 04:06] jclark commented on #279
There shouldn't be anything special needed for `0.0/0.0` to work.

[2021-08-15 04:08] jclark commented on #271
@ushirask If you haven't started on this yet, then don't. Better to help with some of the things needed for #262.

[2021-08-15 05:54] jclark commented on #328
Type narrowing will need to use read-only difference operation.

[2021-08-15 06:58] heshanpadmasiri commented on #290
@jclark I have confirmed we can do 2 via `LLVMOrcLLJITAddObjectFile` (which corresponds to [`LLVMOrcObjectLayerAddObjectFile`](https://llvm.org/doxygen/Orc_8h.html#ac3356e8c9028ec515d44d41994f742ed) in C api) and do 3 based of this [sample](https://github.com/bytedeco/javacpp-presets/blob/231ec19685f18fdbddaeadeabe07b57f464af4d6/llvm/samples/llvm/OrcJit.java).
But this has fallowing problems:

1.

[2021-08-15 06:59] ushirask commented on #271
I've already started on this, I'll try to finish up by today and start on the other

[2021-08-15 07:11] jclark commented on #290
Using llvm-12 is fine. I suggest you switch over to LLVM 12 for the JNI part. If we run into problems with mixing that with using LLVM 11 elsewhere, we can switch everything to LLVM 12.

Can you just put all the .o files in a directory in the .jar file (as you did with balrt_inline.bc)?

[2021-08-15 09:17] jclark commented on #289
Note that Ballerina uses the simplified X3.274 subset described here

http://speleotrove.com/decimal/dax3274.html

[2021-08-15 15:03] KavinduZoysa commented on #300
Please check this branch for progress. https://github.com/KavinduZoysa/nballerina-1/tree/gc

[2021-08-16 01:05] jclark commented on #290
What about the C library? If I use ldd on an executable produced by nballerina, I see a dependency on libc.so.6.

I am guessing it is possible to link in a shared object.  So an alternative approach could be to create a shared object out of balrt.a (e.g. libbal.so) and link that in.

[2021-08-16 01:06] jclark commented on #300
Please create a branch in the nballerina repo.

[2021-08-16 01:07] jclark commented on #300
You cannot do this without doing #165 as well.

[2021-08-16 01:14] jclark commented on #290
It's not going to work well long-term to execute the generated code in the same process (image the Ballerina program calls abort()). I think there are APIs to run in a separate process.

[2021-08-16 01:57] jclark opened #330 "Implement BIR Compare insn for float"
This involves using #311 to implementing OrderType "float".

Part of #262.

[2021-08-16 01:58] ushirask commented on #271
There are 2 ways BIR instructions for this can be created for this.
1. Use existing BooleanNot and TypeTest instructions and add two instructions (change only frontend)
2. Create a new NotTypeTest instruction

Which approach would be more suitable?

[2021-08-16 02:02] jclark commented on #271
I would actually suggest a third way: add a negated field to the TypeTestInsn. This parallels what EqualityInsn does. Do the same thing with the AST.

Be sure to test conditional variable type narrowing with `!is`.

[2021-08-16 03:55] jclark commented on #328
We have to support `==` and `!=` when the member types are simple or strings, but we don't yet need to support comparison of values with cycles (because we don't yet allow e.g. `map<map<int>>`).

Note that this also requires distinguishing `==` and `===`, which we have to do for `float` anyway.

[2021-08-16 04:03] heshanpadmasiri commented on #310
Documentation says "the only time hexadecimal floating-point constants are required (and the only time that they are generated by the disassembler) is when a floating-point constant must be emitted but it cannot be represented as a decimal floating-point number in a reasonable number of digits". Based on my testing this "reasonable number of digits" is 7 (ex :1.12345 => 1.123450e+00 will be decima

[2021-08-16 04:57] jclark commented on #307
Fix to be consistent with https://github.com/ballerina-platform/nballerina/issues/310#issuecomment-899196582

[2021-08-16 04:58] jclark commented on #310
@heshanpadmasiri Thanks. Please take #307 and fix to be consistent with jni.llvm.

[2021-08-16 08:10] #279 closed, assigned to manuranga

[2021-08-16 13:08] jclark commented on #308
See also https://www.cs.tufts.edu/~nr/cs257/archive/florian-loitsch/printf.pdf

[2021-08-16 13:09] jclark commented on #308
Unfortunately looks like Grisu2 is not really suitable

[2021-08-16 13:22] jclark commented on #308
Problem with Grisu2 is that it does not always produces a string with more digits than necessary. However, the 2021R1 spec does not have a requirement to produce a string with the minimum number of digits. So I think we can stick with Grisu2 for now, but create an issue to replace with a better algorithm, when the spec is tightened up here.

[2021-08-17 00:57] jclark opened #335 "Need git process for third-party libraries"
We need a proper git process for incorporating third party libraries that have their own github repos.

Goals

1. Be able easily to merge in new upstream versions while preserving local changes
2. Each local change should be clearly distinguished in our github history
3. Preserve third party history (not essential but nice)

We should document this.

[2021-08-17 01:00] jclark commented on #335
@manuranga can use this for #334

@KavinduZoysa should use this for libbacktrace and llvm-statepoint-utils for #165 #300 #46

[2021-08-17 01:02] jclark commented on #335
I did something similar when incorporating the semtype repo. It was some combo of cloning the repo with the third-party library, pruning it and then adding it to this repo. I don't remember the details.

I suspect we should have a branch in which all third party libraries are as they are in their original repos.

[2021-08-17 01:31] jclark commented on #315
With 0df6ad26edf6082a0474ded51a0ae68ebf0ae76d this is now fixed, right?

[2021-08-17 02:58] manuranga commented on #335
How about we keep original repos in `third-party` branch as [git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules), along with a `.diff` file and list of selected files/dir.

We could have a script that:
1) checks branch is clean
2) switch to `third-party` branch
3) do `git submodule update --recursive`
4) apply diff
5) copy selected files to a tmp location
6) switch back
7) move fr

[2021-08-17 03:05] manuranga commented on #315
@KavinduZoysa can you please verify and close.
(On mac`clang` is aliased, so I was not getting this anyway)

[2021-08-17 04:05] jclark commented on #335
The git submodules stuff looks way too complicated to me. Normal git clone no longer works in a useful way.

[2021-08-17 04:22] manuranga commented on #335
Yes, git submodules are over complicated, but since we are doing it in a separate branch it shouldn't affect normal development activities, such as cloning, only third party dependency updatining has to deal with it.

[2021-08-17 04:34] jclark commented on #335
I don't understand the process you are suggesting then. What does the main branch look like?

[2021-08-17 04:50] #307 closed, assigned to heshanpadmasiri

[2021-08-17 04:50] #310 closed, assigned to heshanpadmasiri

[2021-08-17 05:18] heshanpadmasiri commented on #314
@jclark is this [`fneg`](https://llvm.org/docs/LangRef.html#fneg-instruction) instruction?
If so I'll add a new function `fNeg(Value val, string? name=()) returns Value` similar to  [`LLVMBuildFNeg`](https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilder.html#ga93de3da5c9ab84b1fb2a167b96e37e1a)  to builder

[2021-08-17 05:35] manuranga commented on #335
I am proposing the main branch to contain just the relevant files (not full repos), with modifications.
### `main` branch
[code]
### `third-party` branch
[code]

[2021-08-17 07:28] #312 closed, assigned to heshanpadmasiri

[2021-08-17 07:29] #314 closed, assigned to heshanpadmasiri

[2021-08-17 07:32] jclark commented on #314
Yes I meant fneg

[2021-08-17 07:37] jclark commented on #335
Ok, that sounds fine then.  I just want the keep the main branch nice and simple: no submodules and correct history. Any way of handling the third-party branch that delivers this and allows merging from upstream is good for me.

[2021-08-17 09:41] heshanpadmasiri commented on #313
Based on my testing `frem` generates the expected results (including "negative" 0, NaN and Infinity) according to the ballerina spec. (Officially it is suppose to be identical to libm ‘fmod’ function )

[2021-08-17 10:16] jclark commented on #313
Thanks. Could you write a `FVfmod00.bal` test case for `%` this? We can use this when #319 is implemented. Then we can close this issue.

[2021-08-17 14:35] KavinduZoysa commented on #315
Yes, it is fixed.

[2021-08-17 14:35] #315 closed, assigned to manuranga

[2021-08-18 02:00] jclark opened #339 "Improve how semtypes handles atoms in BDDs"
We need to make it work well with multiple modules, which may be separately compiled. In particular, we want to recognize when atoms are the same across modules.

Another problem is we currently divide things into two sequential phases:
1. Construct semtypes, which includes adding new entries to the array of list/mapping definitions
2. Perform subtype checks; at the start of this phase, we constru

[2021-08-18 03:11] jclark commented on #339
Key considerations:

1. We have to support recursive types
2. Module graph in Ballerina is acyclic (i.e. recursion is internal to a module)
3. We have to do memoization of subtype checks: this is necessary for dealing with recursion, but also important for performance
3. We want semtypes to be readonly (to enable concurrency in the future)
4. Construction of a BDD needs an ordering of atoms (atoms

[2021-08-18 03:15] jclark commented on #339
Currently

- an atom is represented by an integer
- ordering of the atoms used by the BDD is just ordering of the integers
- integers correspond to type descriptor nodes in the AST, where type descriptor is e.g. record type descriptor or tuple type descriptor

[2021-08-18 03:59] jclark commented on #339
Note that structures used as table keys in Ballerina have to be not only read-only but also acyclic.

[2021-08-18 04:26] #313 closed, assigned to heshanpadmasiri

[2021-08-18 09:14] jclark commented on #339
Note that even within a module, each occurrence of a type descriptor gives a different atom. So

[code]

will give us two distinct atoms.

We are doing everything in a way that works for the recursive case, but that means we are not taking advantage of things we can easily do in the more common, non-recursive case.

[2021-08-18 10:47] jclark commented on #339
Another problem is that the ordering depends on the order of the type descriptors in the source code. So if the order of two declarations are swapped, then the BDDs will all change. This makes it more difficult persist semtype info from one compilation and reused it in another: BDDs would have to be rebuilt using the atom ordering that was used in the new compilation.

[2021-08-18 11:40] jclark commented on #339
Possible new scheme:

1. in the non-recursive case, an atom refers directly to the ListAtomicType/MappingAtomicType
2. in the recursive case, the reference goes via a separate lookup (like now) but the key changes from just an integer to a combination of
     - module identifier
     - identifier of top-level definition in the module in which the type descriptor occurs
     - integer index to dist

[2021-08-18 16:03] ushirask commented on #326
@jclark  `float:fromHexString` is giving me the following error

`error: {ballerina}TypeCastError {"message":"incompatible types: 'handle' cannot be cast to '(float|error)'"}
        at ballerina.lang.float.1_0_0:fromHexString(float.bal:367)`

[2021-08-18 16:10] manuranga commented on #326
@ushirask please create an issue in ballerina-lang repo with a minimal test case.

[2021-08-18 16:37] ushirask commented on #326
created in https://github.com/ballerina-platform/ballerina-lang/issues/32220#issue-973862104

[2021-08-18 23:49] jclark commented on #339
I'm not sure that point 5 will be a net win. If you are interning (point 3), then you have to have a single shared intern table used for all modules. This will need to be an isolated object (or isolated module-level variable). When you deserialize a previously compiled module, you have to do some processing on the semtypes i.e. intern all the atoms. Since interning already gives you for free somet

[2021-08-19 00:52] jclark commented on #339
This means that the atom field of a BDD node would have type:

[code]

(Or maybe a BDD node gets an additional field.) The `int` would be used for the BDD ordering. The second member of the tuple is nil in the recursive case. In the non-recursive case, isSubtype can get to the atomic type without having to lock the mutable table that maps the integer onto the ListAtomicType/MappingAtomicType. This

[2021-08-19 00:56] jclark commented on #326
Your test case is not a valid https://ballerina.io/spec/lang/2021R1/#HexFloatingPointLiteral

Do you get an error when you pass valid literals?

[2021-08-19 01:13] jclark commented on #326
When parsing the literal, don't allow a trailing `.` (i.e. the token cannot have a `.` without a following hex digit). This is for consistency with the change we made to decimal literals.

[2021-08-19 02:05] jclark commented on #339
cc: @rdhananjaya @ushirask

[2021-08-19 02:12] #311 closed, assigned to heshanpadmasiri

[2021-08-19 02:33] jclark commented on #339
Plan of campaign:

- [x] Make ComplexSemType be a record
- [x] Intern list/mapping atomic types
- [x] Make types.bdd module part of types module
- [x] Make BDD atoms, in non-recursive case, contain reference to atomic type as well as int
- [x] Make TypeCheckContext refer to Env and handle ongoing addition of atoms to Env
- [x] Make Env be an isolated object
- [x] Make front:loadModule take an Env

[2021-08-19 07:13] manuranga opened #345 "Create a github action to validates latest jBallerina nightly"
Create a github action that pulls latest jBallerina distribution form [a workflow](
https://github.com/ballerina-platform/ballerina-distribution/actions/workflows/main.yml) artifacts and build/test nBallerina on top of it

May run as a periodically at first, ideally should run for every successful build of jBallerina.

[2021-08-19 07:35] manuranga commented on #345
Challenge is to find the URL of the latest action run, options:

1) Using a bit of python find the latest. We have used [PyGithub](https://pygithub.readthedocs.io/en/latest/github_objects/Workflow.html#github.Workflow.Workflow.get_runs) in other repos in ballerina-platform
2) Use [nightly.link](https://nightly.link/ballerina-platform/ballerina-distribution/workflows/main/master) third party servic

[2021-08-20 01:13] #324 closed, assigned to heshanpadmasiri

[2021-08-20 06:30] manuranga commented on #335
After yesterday's chat I have a better understanding of what the requirement is. I think it's even better if the original files are not committed by an actual user, but rather by a bot. So mofificanon will stand out in both git history and git blame.

We already have a bot in other ballerina-platform repos to keep versions uptodate ([example bot commit](https://github.com/ballerina-platform/baller

[2021-08-20 07:07] jclark commented on #335
OK, but I don’t want to get updates from third-party repos automatically. That should be an explicit decision.

[2021-08-20 11:01] #320 closed, assigned to jclark

[2021-08-21 07:47] manuranga commented on #335
Had to do a bit of experimenting but managed to do without third party actions or python.
Most online tutorials ask you to use a lot of third party actions to achieve even the simplest thing.

I am still not sure if the `github-actions` bot has enough permission in ballerina-platform organization, in my fork it does. If not, I'll change to a different bot later.

[2021-08-21 17:14] manuranga commented on #288
`@llvm.lrint.i64.f64` did work. It gets compiled to a single instruction `cvtsd2si`, whereas `fptosi` gets compiled to `cvttsd2si`

[2021-08-21 18:51] manuranga commented on #345
Looks like this can be done without third party tools using github cli.
[code]

[2021-08-22 01:27] #335 closed, assigned to manuranga

[2021-08-22 04:24] jclark commented on #339
@heshanpadmasiri You may need to fix up the JNI stuff to deal with front:loadModule change.

[2021-08-22 04:25] #339 closed, assigned to jclark

[2021-08-22 07:20] #308 closed, assigned to manuranga

[2021-08-22 10:37] #288 closed, assigned to manuranga

[2021-08-22 12:16] #319 closed, assigned to manuranga

[2021-08-23 01:23] #318 closed, assigned to manuranga

[2021-08-23 01:24] #330 closed, assigned to manuranga

[2021-08-23 03:59] jclark commented on #293
This is defined in the subset

https://github.com/ballerina-platform/nballerina/blob/main/docs/subset06.md

[2021-08-23 04:14] jclark opened #352 "Fix warning in tests/inlinert_float.c"
I get this warning compiling

[code]

[2021-08-23 04:35] #271 closed, assigned to ushirask

[2021-08-23 05:27] manuranga commented on #352
Ahg! I have missed the minus sign, how did this even pass?

[2021-08-23 05:35] KavinduZoysa commented on #300
@jclark, https://github.com/ballerina-platform/nballerina/issues/165#issuecomment-884856189, In this comment, it is mentioned that we can use functions which call `_bal_panic` to trigger GC.

I cannot understand the reason behind that, can you please explain this?
What I thought was we have to use the functions which call `_bal_alloc()`. Because in our current GC implementation we trigger the GC c

[2021-08-23 05:57] #352 closed, assigned to manuranga

[2021-08-23 06:01] jclark commented on #300
@KavinduZoysa When we implement `error` type in #167, _bal_panic will need to call _bal_alloc to allocate an error object. It will also allocate memory to save the state of the stack #46.

[2021-08-23 06:15] jclark commented on #290
The overall goal here is to support `bal shell` in nballerina. Note that REPLs (and `bal shell` is a REPL) are explictly in scope for [LLVM ORC](https://llvm.org/docs/ORCv2.html#use-cases).

I would expect us to have two processes:

1. The shell process that
    - reads input from the user
    - compiles it into LLVM IR
    - includes the JIT session object
    - uses the LLVM JIT to turn the IR i

[2021-08-23 07:37] manuranga commented on #293
Not sure I understand this statement, I still need to change
`const-decl = ["public"] "const" [basic-type-name] identifier "=" const-expr ";"`
to
`const-decl = ["public"] "const" [type-desc] identifier "=" const-expr ";"`
Isn't that correct?

[2021-08-23 07:41] jclark commented on #293
No: in the subset the only kind of type-desc that is allowed following `const` is a basic-type-name.

[2021-08-23 07:42] manuranga commented on #293
Ah got it.

[2021-08-23 07:46] jclark commented on #293
Note that when an expression references an identifier declared with `const`, the type of the identifier will be a singleton. For example:

[code]

The purpose of the type in the `const` declaration is to give the contextually expected type for the expression. It is also a constraint on the value of the constant.

[2021-08-23 10:32] jclark commented on #323
The necessary front-end support has been added, but there is a line disabling it in codeGenTypeCast.  This is because it causes many existing tests to fail. This is because a cast  `<int>x` where x has type `any` needs to generate a conversion to int to cover the possibility that x is a float.

[2021-08-23 10:33] jclark commented on #321
Still to do is the const case.

[2021-08-23 12:52] #321 closed, assigned to jclark

[2021-08-23 12:54] jclark commented on #327
Still to do:

- type cast to a union
- type test to a union
- tests with nested narrowings

[2021-08-23 18:38] KavinduZoysa commented on #165
@jclark, when enabling GC for runtime functions, first I selected **list.c** and I am trying to run the following commands.
[code]
But opt command crashes and it is unable to generate statepoints. I ran `opt-11 -S -O2 -o list_opt.ll list.ll` and output LLVM IR is attached [here](https://github.com/KavinduZoysa/llvm/blob/master/list_opt.ll).

I went through the llvm IR and I found that compiler cra

[2021-08-23 23:55] jclark commented on #165
I thought the plan was to use -O0 with -emit-llvm and then edit out the noinline attribute.

Also we should mark functions as leaves where appropriate.

If we still get LLVM crashes, then we should try an alternative approach. At this stage, we do not want to get into debugging LLVM.

[2021-08-24 01:10] jclark opened #356 "Allow `_` on LHS of assignment"
This means another alternative for lvexpr is `_`.

In the spec, this corresponds to the combination of

https://ballerina.io/spec/lang/2021R1/#destructuring-assignment-stmt
https://ballerina.io/spec/lang/2021R1/#wildcard-binding-pattern

This is important because it allows tests to avoid unused variables.

[2021-08-24 01:13] jclark opened #357 "Make unused local variables be an error"
The spec currently says nothing about unused variables, but my expectation is that this will become an error.

We should implement this now to avoid accumulating test cases with unused variables.

To make this convenient, we should first implement #356 (so you can so `_ = x;` to "use" `x`).

[2021-08-24 01:18] jclark commented on #357
As part of this issue, we should fix any test cases with unused variables.

[2021-08-24 03:55] #316 closed, assigned to ushirask

[2021-08-24 04:56] KavinduZoysa commented on #165
I tried this and LLVM has crashed again. Then I marked **noinline** for `taggedToPtr`. Then it works without crashing LLVM. The steps I followed in breif:

1. Run `clang-11 -S -emit-llvm -o list.ll list.c`
2. Remove noinline in all functions except `taggedToPtr`
3. Run `sed -i -e '/define /s/ {/ gc "statepoint-example" {/' -e '/target datalayout/ s/"$$/-ni:1"/' list.ll`
4. opt-11 -S -O2 --rewrite-

[2021-08-24 06:15] jclark commented on #165
taggedToPtr should really be done with the ptrmask intrinsic. See #201.

So really what we should do is:

- declare taggedToPtr as extern
- have a .ll file (e.g. tagged_ptr.ll) including a handwritten .ll that implements taggedToPtr with ptrmask
- llvm-link tagged_ptr.ll with the .ll produced from the C with -emit-llvm before optimizing

So please fix #201 and submit a pull request to main.

[2021-08-24 08:04] #293 closed, assigned to manuranga

[2021-08-24 08:10] jclark opened #358 "Update test suite to use same format as conformance test suite"
Development has started an a conformance test suite for the language in the spec repo, which is using a test format similar to us, but with multiple tests in a single `.balt` file:

https://github.com/ballerina-platform/ballerina-spec/blob/ac5724f6bfd36ee76d473b1ccf7064c4e158d664/conformance/lang/values-types-and-variables/array.balt

We should update our test suite to use this.

I would suggest t

[2021-08-24 08:42] #274 closed, assigned to jclark

[2021-08-24 08:57] jclark opened #359 "Support relational operator applied to optional type"
The spec allows using a relational operator op such as `<` to a type `T?` if it can be applied to `T`.

This is defined in https://ballerina.io/spec/lang/2021R1/#ordering

Since we now support optional types with #132, we should support this.

[2021-08-24 08:58] jclark commented on #132
Separated out relational operators into #359.

[2021-08-24 09:05] jclark commented on #359
Probably makes sense to do this at the same time as nil lifting https://github.com/ballerina-platform/ballerina-spec/issues/191

[2021-08-25 01:57] jclark commented on #358
We should also make this work for semtype tests, so we can share these between @rdhananjaya 's port and here cc @MaryamZi

[2021-08-25 02:20] jclark commented on #359
Remember to do this for the const case also.

[2021-08-25 02:24] jclark commented on #359
If we don't implement this completely for subset 6, we at least need to give an unimplemented error.

[2021-08-25 08:14] #132 closed, assigned to jclark

[2021-08-25 08:15] jclark commented on #359
This is now implemented in the front-end.

[2021-08-25 08:16] jclark opened #362 "Implement BIR CompareInsn for OptOrderType"
This gets generated for relational expressions between operands of type `T?`.

[2021-08-25 08:16] jclark commented on #362
This is the remaining part of #132 and #359.

[2021-08-25 08:17] jclark commented on #359
Separate remaining part into new issue.

[2021-08-25 08:17] #359 closed, assigned to jclark

[2021-08-25 09:01] jclark commented on #328
This also requires implementing compound assignment when LHS is `x[i]`.

[2021-08-25 09:26] #322 closed, assigned to jclark

[2021-08-25 09:49] jclark commented on #262
This is done apart from #323.

[2021-08-25 09:49] #262 closed, assigned to jclark

[2021-08-25 11:04] manuranga commented on #323
consider the following case
[code]
I get a `ConvertToInt` instruction and no `TypeCast` instruction. So, I though it's the responsibility of the `ConvertToInt` to panic. Is that a correct assumption?

[2021-08-25 11:12] jclark commented on #323
If it's only generating a ConvertToInt in that case, then it's a bug in my code: it needs to generate a TypeCast also.

Edited. It's a bug: this https://github.com/ballerina-platform/nballerina/blob/62d8d42e28db5aa92879c74182f73ce578226130/compiler/modules/front/codeGen.bal#L1121 is not computing the right type

[2021-08-25 11:19] jclark commented on #323
The concept is that ConvertToInt panics only if the float-to-int conversion fails

[2021-08-25 14:49] manuranga commented on #345
There was an error in above pr.

https://github.com/ballerina-platform/nballerina/actions/runs/1165734700/workflow

[2021-08-26 00:11] jclark commented on #356
Also in variable declaration to support the idiom described here: https://github.com/ballerina-platform/ballerina-spec/issues/887#issuecomment-902334830

[2021-08-26 00:32] jclark commented on #323
There's some things that don't look quite right yet:

https://github.com/ballerina-platform/nballerina/pull/363#discussion_r696201859

[2021-08-26 00:33] jclark commented on #323
In the verification, need to check that all the non-numeric part of the operand is in the result.

[2021-08-26 01:24] jclark opened #364 "Improve representation of source locations"
Goals:

- Include filenames
- Provide columns in units of UTF-8 and UTF-16 code unit in addition to code points
- Basis for support for ranges
- Support display of line in which error occurred with location highlighted (similar to clang)

[2021-08-26 01:25] jclark opened #365 "Support multiple source files in a module"
This goes hand in hand with #364.

[2021-08-26 02:22] jclark commented on #362
Behaviour of nil in ordering is specified here: https://ballerina.io/spec/lang/2021R1/#ordering

[2021-08-26 02:27] jclark commented on #362
@heshanpadmasiri You need to implement the part in buildCompare where it gives an unimplemented error.

The implementation should distinguish two cases:
1. where both operands are `T?`
2. where only one operand is `T?`

In case 2, the code should:
- check whether that operand is (); if it is, then the result of the comparison is false (they compare as UN)
- if it is not (), then untag it and proce

[2021-08-26 03:08] jclark commented on #167
I removed `fail`: it's pointless (equivalent to `return`) in the absence on `on fail`.

[2021-08-26 03:33] manuranga commented on #345
Successfully ran last night, hence closing.

https://github.com/ballerina-platform/nballerina/runs/3427951655?check_suite_focus=true

[2021-08-26 03:33] #345 closed, assigned to ushirask

[2021-08-26 03:54] #323 closed, assigned to manuranga

[2021-08-26 07:27] jclark commented on #201
This needs considerable reworking.  Non-static symbols need to be prefixed with _bal. References to taggedToPtr from within other _inline.bc files were not getting inlined because it was not linkonce_odr in balrt_inline.bc. The Makefile is also unnecessarily ugly.

[2021-08-26 08:42] #201 closed, assigned to KavinduZoysa

[2021-08-26 08:43] #327 closed, assigned to jclark

[2021-08-26 08:49] jclark commented on #167
Things to do:

- [x] Runtime support for error values #376
- [x] BIR ErrorConstructInsn for creating error values #377
- [x] Make panicking use error values #379
- [x] Implement error constructor  #386
- [x] Implement `panic` statement #385
- [x] Add `error` type descriptor #387
- [x] Make type test  `is error` work
- [x] Make type cast `<error>` work
- [x] Allow unions with error
- [x] Make sure

[2021-08-26 09:10] jclark opened #379 "Make panicking use error values"
build.bal and panic.c currently represents a panic as an int. We need to fix this to use an error value.

This is part of #167 and depends on #376.

[2021-08-26 09:12] jclark commented on #6
This should be done via a combination of #379 and #46

[2021-08-26 10:03] jclark opened #381 "Add minimal LLVM module support for debug information"
In order to get backtraces with line numbers #6, we need to generate some minimal debug information #7.

This will need some functionality from LLVMDIBuilder.

[2021-08-26 10:04] jclark commented on #381
@heshanpadmasiri Can you figure out what is the minimum API we need in order to be able to generate what is described here https://github.com/ballerina-platform/nballerina/issues/46#issuecomment-884259636

[2021-08-26 13:21] jclark commented on #364
New module common.loc

[code]

err becomes common.err and defines:

[code]

front.syntax provides a class that implements File and module-level definitions in the AST contain that. AST nodes contain Positions to represent their position within the file.

[2021-08-27 06:38] manuranga commented on #358
Q: In the test run output, should it list each `balt` file or each case?
A: It should be each case, so that we can select to run a single case using `--tests` flag.

Q: In that case what should be the name?
A: I think an incrementing number should work.

Eg:
[code]

[2021-08-27 06:50] jclark commented on #358
Instead of an incrementing number, I suggest Lnnn where nnn is the line number of the Test-Case line in the .balt file.

[2021-08-27 09:10] manuranga commented on #358
I changed it slightly,
[code]
This way when you ctrl+click the name, VSCode opens up the file and jump to correct location.

[2021-08-27 09:30] KavinduZoysa commented on #46
@jclark My plan for the implementations is mentioned below. Appreciate your thoughts on this.

1.  Add a new field to ErrorPtr this field should be an array(TaggedPtrArray), each member of this array represents a string that includes method name and line number.
2. Inside _bal_error_constructor, we have to call libbacktrace and get backtrace info. Using this backtrace info, we have to create stack

[2021-08-27 10:12] jclark commented on #46
error:stackFrame is not part of the subset: we are a long, long way from having enough of the language implemented to support error:stackFrame.

The key point is what I mentioned at the beginning:

So in _bal_error_construct you should call libbacktrace and, with minimum work, store a compact representation of the stack.  Separately, you should have a function to print that representation out (whi

[2021-08-27 10:20] jclark commented on #46
In the Error structure you should save the pc, lineno, filename and function.  Probably best to use a linked list:

[code]

Search a few frames to avoid having multiple copies of the same filename/function.

[2021-08-27 10:30] KavinduZoysa commented on #46
@jclark, I did not understand the use of having `char[] bytes;`, can you please explain it?

[2021-08-27 10:33] jclark commented on #46
You have to copy the filename and function. Instead of having a separate allocation, you do a single allocation. Similar to MediumString.

[2021-08-27 16:22] jclark commented on #46
Unfortunately what I suggested isn't going to work with garbage allocation. We need to avoid doing any (GC) allocation in the callback.

[2021-08-27 17:01] KavinduZoysa commented on #46
If I understand correctly, what we have to do is, allocations done inside the callback function should be copied to a new location (GC allocated) from outside the callback function(May be inside `_bal_error_construct`). Then we have to free the allocations in callbackfunction. Am I correct?

[2021-08-28 02:22] jclark commented on #46
Represent the snapshot as two arrays

1. an array of frames
2.  an array of bytes

Frames are:
[code]

Before creating the error object, use libbacktrace to create these two arrays, allocated with malloc/realloc.

Then store the snapshot with the error object in a single allocation from _bal_alloc.

[code]

The second array of bytes follows the last frame.  After constructing the error object, fre

[2021-08-28 10:01] #379 closed, assigned to jclark

[2021-08-29 02:49] jclark opened #385 "Implement `panic` statement"
This is part of #167.

We already have the BIR insn. So this means we have to:

- [x] Add panic to AST
- [x] Convert panic AST to string
- [x] Parse panic statements
- [x] Generate BIR for panic from AST
- [x] Implement PanicInsn in build

[2021-08-29 02:51] jclark opened #386 "Implement error constructor"
This is part of #167. This builds on #377.

We need to:

- [x] Add expr to AST
- [x] Parse error constructor expressions into AST
- [x] Support AST to string for error constructors
- [x] Generate BIR from AST
- [x] Verify ErrorConstructInsn
- [x] Implement ErrorConstructInsn in backend

We need this in order to be able to test #385.

[2021-08-29 02:57] jclark commented on #386
Interesting parsing difficulty. An `error` at the beginning of a statement could be the beginning of either:

- a local variable declaration: `error x = error("foo");`, or
- a method call: `error("foo").message()`

However in subset 7 there's no way the second can be a semantically valid statement (because there is no way, as far as I can see, to turn this into something that returns nil). But let

[2021-08-29 07:48] #385 closed, assigned to jclark

[2021-08-29 07:48] #386 closed, assigned to jclark

[2021-08-29 08:21] jclark opened #387 "Implement `error` type descriptor"
Allow `error` to be used as a type descriptor.

Part of #167.

[2021-08-29 08:22] #387 closed, assigned to jclark

[2021-08-29 18:24] manuranga commented on #358
This is where I am at right now,
https://github.com/manuranga/nballerina/compare/8334939cacdc0621edee35a54414ae553cfb0916..f074cb21d434f90828c9e9b611959cef7deaa8a3

What I am working on
1. I am in  the process of breaking up `subset01.balt` into `loops.balt`, `int.balt`, `boolean.balt`, `conditional.balt`, `function.bal`.
2. Find a way to run balt. Current public api in `main.bal` accepts file pat

[2021-08-30 01:17] jclark commented on #358
On point 1, I would like the subset number included in the balt name: eg `01-loops.balt`

On point 2, change front:loadModule so that it takes a list of lines and a filename (the filename in this case would be a fake filename giving the balt plus the starting line number of the test case).

On point 3:
- we won't have persistent .ll filenames, so I think we will have to stop checking in .ll files

[2021-08-30 09:20] jclark commented on #328
Still to do:

- [x] make member access expressions work: make sure untagging happens; fix verify
- [x] make sure list/mapping construction is working (need to fix verify)
- [x] Implement == and != when member type is simple or string
- [x] make ListSet/MappingSet work in front-end/verify
- [x] add inherent type to map and use in MappingConstruct/MappingSet insns
- [x] add inherent type to list and

[2021-08-31 01:27] jclark opened #390 "Build libbacktrace as part of runtime build"
This follows on from #367.

libbacktrace uses autoconf as its build system, but we are not using (and don't want to use) autoconf.

We also don't want libbacktrace as a separate library: we want it as part of balrt.a. Furthermore, we want to make sure we get only as much as we need of libbacktrace in any build. For example, if we have a non-debug build without symbols, there is no point in includi

[2021-08-31 04:39] jclark commented on #390
My suggestion would be to run configure on Ubuntu to generate config.h. Also do it on OS  X and see if there are any differences.  Then create our own config.h from this with appropriate #ifdefs. See how it builds and then write our own Makefile that does not build as a shared library. Check in both this config.h and our Makefile.

[2021-08-31 05:06] heshanpadmasiri commented on #381
We will need to support [`LLVMDIBuilderRef`](https://llvm.org/doxygen/group__LLVMCSupportTypes.html#gae7276221889549b4cf3b3f2297a8333e) and [`LLVMMetadataRef`](https://llvm.org/doxygen/group__LLVMCSupportTypes.html#gab9f52d9777af781812e7bffdd491d01e) objects. I think we can do the `LLVMDIBuilderRef` similar to how we handle `LLVMBuilderRef` (-> `llvm:Builder`) and `LLVMMetadataRef` similar to how

[2021-08-31 07:13] jclark commented on #381
Overall that seems fine. Some specific comments:
- for LLVMDIBuilderCreateCompileUnit, let's use an included record parameter with just the fields we need for now (default others to something sensible)
- omit the "2" from LVMSetCurrentDebugLocation2; stick to nil for clearing the debug info
- for LLVMDIBuilderCreateSubroutineType, can our API just omit the parameter types and flags for now? Maybe

[2021-08-31 19:14] KavinduZoysa commented on #390
@manuranga, can you please clone this repo https://github.com/ianlancetaylor/libbacktrace to your OS X machine and run the command `./configure`. This command will generate a config.h file. Please send that file.

[2021-09-01 01:23] #362 closed, assigned to heshanpadmasiri

[2021-09-01 04:20] manuranga commented on #390
https://gist.github.com/manuranga/7d76846ffa699af8836f77f7f5a8b111
I have also attached a full diff of all the files that changed.

[2021-09-01 05:27] KavinduZoysa commented on #390
@jclark, I have compared two config.h files and there are 4 differences.

I will write a new Makefile as you mentioned and that Makefile will generate relevant object files. Then in our runtime Makefile, I will archive them to balrt.a

This is an exact single command libbacktrace uses to generate object file.
`gcc -DHAVE_CONFIG_H -I. -funwind-tables -frandom-seed=mmap.lo -W -Wall -Wwrite-strings -

[2021-09-01 06:09] jclark commented on #390
What are the 4 differences?

Can you run configure with options so that it uses clang rather than gcc as the compiler? Otherwise, you will need to look at each of these options and determine whether it is needed and if so what the corresponding clang flag is.

"-funwind-tables" may be important and we may need that for the rest of the runtime.

[2021-09-01 06:49] KavinduZoysa commented on #390
| macOS  | Ubuntu |
| ------------- | ------------- |
| #define BACKTRACE_ELF_SIZE unused  | #define BACKTRACE_ELF_SIZE 64  |
| not defined  | #define HAVE_DL_ITERATE_PHDR 1  |
| not defined  | #define HAVE_LINK_H 1 |
| #define HAVE_MACH_O_DYLD_H 1 | not defined |

Yes, after running configure for clang-11 the command is shown below. All the flags are available as GCC command.

`clang-11 -DHAVE_CO

[2021-09-02 05:16] jclark commented on #289
We should have an immediate format for decimals. decNumber uses DPD format for encoding decimals, described here:

http://speleotrove.com/decimal/DPDecimal.html

This packs 3 decimal digits into 10 bits.

We have 56 bits available. So one possibility is

- 1 sign bit
- 5 bits representing an integer in the range 0-31 saying where the decimal point goes
- 50 bits encoding 15 digits (10 bits for eac

[2021-09-02 10:07] KavinduZoysa commented on #390
@manuranga, can you run the below command in your MacOS and paste the output here.
`clang-11 -x c /dev/null -dM -E`

[2021-09-02 10:14] manuranga commented on #390
https://gist.github.com/manuranga/678f36f069d14cbd6c53e88da14d1ca0

[2021-09-02 10:29] jclark commented on #390
This is useful

http://web.archive.org/web/20191012035921/http://nadeausoftware.com/articles/2012/01/c_c_tip_how_use_compiler_predefined_macros_detect_operating_system#OSXiOSandDarwin

[2021-09-02 10:34] jclark commented on #390
I would suggest at the beginning do:

[code]

Thereafter, just test using `__APPLE__` and `__linux__`.

[2021-09-03 03:40] #390 closed, assigned to KavinduZoysa

[2021-09-03 03:55] ushirask opened #400 "`simpleArrayMemberType` , `simpleMapMemberType` has repeated condition in If statement"
**Description:**
simpleArrayMemberType, simpleMapMemberType functions in core.bal has a possible bug where there's repeated condition in If statement [bdd.right != false]
[code]

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-09-03 03:57] ushirask commented on #400
@jclark , @rdhananjaya

[2021-09-03 04:10] jclark commented on #400
One `right` should be a `middle`.

[2021-09-03 06:06] jclark commented on #6
We need to set things up so that if a program is not compiled with -g, it does not link in the part of libbacktrace that access the debug symbols.

Edited: don't think this is possible

[2021-09-03 07:48] manuranga commented on #390
stranded output from running make on libbacktrace under macOS : https://gist.github.com/manuranga/116f39ed6c5147a7f206fb4ce790e7a5

[2021-09-03 08:26] jclark opened #402 "Runtime type checking"
A Ballerina program needs to test at runtime whether a value belongs to a type:
- in a type test expression `x is T` or a type case expression `<T>x`, or
- when a new value is stored as a member of a mutable structure; in this case, the program must panic if the value does not belong to the type that the inherent type of the mutable structure requires

[2021-09-03 08:31] jclark commented on #402
In C terms, runtime representations would look like:

[code]

In the list case, every list atomic type that is used in the program (i.e. may occur as the inherent type of a mutable list at runtime) is given a unique integer.  At link time, we then compute for each ListSubtypeData T used in the program, the set of list atomic types A such that A is a subtype of T. This is stored in `atoms[]`. (This

[2021-09-03 09:23] jclark commented on #402
The result of the compilation of a Ballerina source module includes type information in addition to the LLVM module. The type information includes an array of the list atomic types used by the program. For each index i in the array, the LLVM module will have an external declaration, with a name that encodes both i and the module name, referring to a ListDesc. At link time, the type information fro

[2021-09-03 09:48] KavinduZoysa commented on #390
@manuranga, can you run below command and attach the log, it will give the clang related flags.

`./configure CC=clang-11 && make`

[2021-09-03 10:18] manuranga commented on #390
Both diff and the log are [here](https://gist.github.com/manuranga/2fb31ff7c3d4ac4a2ce3f56c9343881a).

[2021-09-03 10:41] KavinduZoysa opened #403 "MacOS build is failing for libbacktrace"
**Description:**
This build failure occurs because it tries to compile elf.c which is not needed for MacOS. So we have to stop compiling it and we have to compile macho.c

[2021-09-03 10:50] jclark commented on #403
I suggest you create a file obj.c that includes either macho.c or elf.c, and then compile that.

[2021-09-03 13:07] #403 closed, assigned to KavinduZoysa

[2021-09-04 00:43] #400 closed, assigned to jclark

[2021-09-04 01:59] jclark commented on #365
There's a bit of added complexity: it also requires representing imports per file rather than per module.

[2021-09-04 03:34] jclark opened #405 "Need to detect unused imports"
We are currently failing to detect unused imports.

[2021-09-04 04:59] jclark commented on #285
I don't see the need to remove it as a command line flag.

[2021-09-04 05:23] #365 closed, assigned to jclark

[2021-09-04 06:18] jclark opened #406 "Implement `check` and `checkpanic` expressions"
This is a follow on from #167.

[2021-09-04 06:19] jclark opened #407 "Implement `error:message` langlib function"
Follow on from #167.

[2021-09-04 06:21] jclark commented on #167
Moved remaining parts into separate issues.

[2021-09-04 06:21] #167 closed, assigned to jclark

[2021-09-04 06:22] jclark commented on #7
Depends on #381

[2021-09-04 06:31] jclark opened #408 "Make `front:SourceFile` include `ScannedLine[]`"
This will enable:

- Provide columns in units of UTF-8 and UTF-16 code unit in addition to code points
- Support display of line in which error occurred with location highlighted (similar to clang)

(These things are not part of this issue.)

[2021-09-04 06:31] jclark commented on #364
Remaining parts moved into #408.

[2021-09-04 06:31] #364 closed, assigned to jclark

[2021-09-04 06:36] jclark commented on #191
Better to wait now for slbeta3.

[2021-09-04 06:36] #191 closed, assigned to gimantha

[2021-09-04 06:52] jclark opened #409 "Fix `array:push` to work for arrays that are not of type `any[]`"
Two problems:

- it needs to be generic, so that it gives an error if the type of value being pushed is not compatible with the type of the array
- it needs to deal with the possibility of an inherent type violation

Probably the easiest way to solve this for now is to make it an insn. Later we can generalize this to handle other generic functions.

Part of #328.

[2021-09-04 07:01] jclark opened #410 "Extend CompareInsn to arrays"
If `T` is an ordered type, then `T[]` is an ordered type.

This is similar to #362.

Part of #328.

[2021-09-04 07:05] jclark opened #411 "Provide syntax for arrays of unions of multiple basic types"
Currently subset07 does this by making an inline type desc support the syntax e.g. `(any|error)[]`.

Part of #328.

[2021-09-04 07:15] jclark commented on #411
Alternative approach would be

- support module level type definitions
- allow an inline type descriptor to be a reference to a type definition

This is viable because we have done #339.

It requires passing a ModuleTable to resolveInlineTypes, which means we need a ModuleTable in a FoldContext. We also need a ModuleLevelDefn for reporting errors.

This is probably a better approach because it adv

[2021-09-04 07:26] jclark opened #412 "Allow statements to use full type descriptors"
Currently we parse type descriptors in two ways:

- full type descriptors are allowed in type definitions
- "inline" type descriptors are allowed in statements

We need to improve this so that statements can contain full type descriptors.  This requires fixing both parsing and type resolution.

Part of the necessary work for type resolution was done in #339.

[2021-09-04 12:16] manuranga opened #413 "Automatically create an issue if a workflow is failing due to JNI test or MacOS test"
Automatically create an issue if a workflow is passing in linux but failing in JNI test or MacOS test.
Issues should be assigned to the person responsible for the area.

[2021-09-04 12:29] manuranga commented on #413
Options for selecting workflows do this on:
1. Do this on all workflow runs including PR runs (pre-merge).
2. Only do it when the PR is merged.
3. Do it on PR only if there is a specific label `area-help-needed`, otherwise only when PR is merged.

Let's do 1 for now, let's reconsider if it creates too much noise.

[2021-09-05 10:06] #411 closed, assigned to jclark

[2021-09-05 10:13] jclark commented on #412
The fix for #411 fixes type resolution. The remaining part is parsing, which requires unbounded lookahead, for example:

[code]

or

[code]

[2021-09-05 10:13] jclark commented on #412
Unbounded lookahead will be easier with #408.

[2021-09-05 11:47] jclark opened #414 "Include filename in error values"
Currently error values include the line number where the error constructor occurred. We should extend this to include a filename.

[2021-09-05 11:57] jclark opened #415 "Allow `v[k]` on LHS of compound assignment statement"
Now that we support typed arrays/maps #328, it makes sense to allow LHR of a compound assignment statement to have the form `v[k]`.

[2021-09-06 01:26] jclark commented on #358
For Test-Case `output`, we should automatically add an `import ballerina/io;`. The conformance test suite is doing this. Later it will turn into `ballerinai/io`, which is a subset of `ballerina/io`.

[2021-09-06 01:41] jclark commented on #358
I added an `07-type.balt` with two tests, but it's not working properly for me, because `make -f new.mk` with no changes causes it to rerun java.

[code]

When there are no changes, `new.mk` should simple recurse and then discover it has nothing to do.

[2021-09-06 01:46] jclark commented on #358
It's creating an `out/07-type/out/` directory with a single `actual` directory. That doesn't seem clean to me.

[2021-09-06 03:47] jclark commented on #46
Note that neither `backtrace_create_state` nor `backtrace_simple` do much work. The expensive work (reading all the elf/dwarf structures) happens on the first call to any of `backtrace_syminfo`/`backtrace_pcinfo`/`backtrace_full`.

[2021-09-06 03:50] jclark commented on #46
I guess `-funwind` is needed because libbacktrace uses the compiler support _Unwind_Backtrace function, which may not get linked in unless `-funwind` is used.

[2021-09-06 07:18] jclark opened #418 "Refactor main.bal to enable sharing of code with llvm_jni/main.bal"
At the moment there's a lot of duplicated code between main.bal and llvm_jni/main.bal.

We should fix this by
- reducing the scope of llvm_jni/main.bal to just generating a .o file
- refactoring main.bal to separate common functions out into a separate file

[2021-09-06 07:19] jclark commented on #418
cc @heshanpadmasiri

[2021-09-06 08:37] manuranga opened #419 "Organize test suite into directories"
Organize test suite into directories.

Alternative to #358

[2021-09-06 08:41] #381 closed, assigned to heshanpadmasiri

[2021-09-06 08:41] manuranga commented on #419
Current proposal is to use a format like:
`testSuite/01-int/subtract-01-v.bal`

[2021-09-06 08:57] jclark commented on #419
Just: `testSuite/01-int/subtract1-v.bal`

The number in the filename is not required.

[2021-09-06 10:47] jclark opened #420 "Handle narrowing of list/mapping types"
Subset 7 restricts list/mapping to be arrays or maps with a member type that is a union of basic types.

However, type narrowing results in variables being narrowed to a type that is a difference of two such types, which will not satisfy this restriction.

This is part of #328.

[2021-09-06 10:49] jclark commented on #328
Everything remaining is a separate issue, so closing this.

[2021-09-06 10:57] jclark commented on #420
One problem is that we have not yet implemented the read-only difference operation described here: https://ballerina.io/spec/lang/2021R1/#conditional_variable_type_narrowing

With this operation, the type for the RW uniform type with be right (and will be a union of basic types).

The other issue is that simpleMap/ArrayMemberType is requiring the RO and RW types to be consistent. This is correct f

[2021-09-06 10:59] jclark commented on #420
Read-only difference is very similar to difference, but it needs a typeCheckContext because it has to perform a subtype check.

[2021-09-06 11:33] manuranga commented on #419
Proposed renamings https://gist.github.com/manuranga/97f3bdcaad2e31cf6c6f9d0bc4a79fdb

This is purely based on the original names, not on labels.

[2021-09-06 12:10] jclark commented on #419
There are a couple like this:

I think you should start at 1 in each created directory rather than adding 1.

So 06-const/19-e.bal  would be 1-e.bal.

In 03. I would distinguish langlib and lib.

I would merge 01-const into 01-int.

I would merge 07-panic into 07-error.

Does it make sense to categorize F cases by subset? Maybe just put all F cases into a fail directory.

There's lots more that co

[2021-09-06 12:24] jclark commented on #420
For the projection case, probably easiest just to ignore the RO part.

[2021-09-07 03:42] jclark commented on #410
There's a front-end and back-end part to this.

[2021-09-07 03:50] jclark commented on #410
Three parts:
- extend front:operandPairOrderType to bir:ArrayOrderType
- extend verifyCompare to deal with bir:ArrayOrderType
- extend nback:buildCompare to deal with arrays

[2021-09-07 08:29] #420 closed, assigned to jclark

[2021-09-07 08:30] jclark commented on #420
@rdhananjaya You will probably want to port the fix for this.

[2021-09-07 08:32] #328 closed, assigned to jclark

[2021-09-07 09:06] #407 closed, assigned to nobody

[2021-09-07 09:13] jclark commented on #7
This shows the calls we need to make:

https://github.com/ballerina-platform/nballerina/blob/main/compiler/modules/print.llvm/tests/dIBuilder.bal

[2021-09-07 10:48] heshanpadmasiri opened #423 "Introduce metadata subtypes for DIBuilder"
Use subtypes of metadata similar to [C++ API](https://llvm.org/doxygen/classllvm_1_1DIBuilder.html) instead of single metadata type in DIBuilder

[2021-09-08 06:34] #7 closed, assigned to nobody

[2021-09-08 06:35] jclark commented on #423
I added some type defns as a temporary measure:

https://github.com/ballerina-platform/nballerina/blob/e617cf4f8ccbe24fee19904aa0dd275d9ac5b862/compiler/modules/nback/build.bal#L48

There is no urgency to fix this.

[2021-09-08 06:36] jclark commented on #423
Maybe tackle this when we add more debugging info for variables and so on.

[2021-09-08 08:18] manuranga opened #425 "Annotate test suite with labels"
Each test file should contain set of labels similar to the labels used by the conformance tests.

[2021-09-08 08:24] manuranga commented on #425
Eg:
[code]

[2021-09-08 08:48] jclark commented on #425
Can we avoid continuation lines so this is greppable? If we really cannot put them all on one line, then have multiple `@labels`.

[code]

Also can we space-separate labels? I don't see the need for commas.

[2021-09-08 10:10] #419 closed, assigned to manuranga

[2021-09-09 01:40] #46 closed, assigned to KavinduZoysa

[2021-09-09 04:08] jclark commented on #6
This needs to check for errnum being -1 and use backtrace_syminfo instead

[2021-09-09 04:17] jclark commented on #358
We're now doing #419, but we'll keep the .balt stuff to work with the spec conformance work.

[2021-09-09 04:17] #358 closed, assigned to manuranga

[2021-09-09 04:57] KavinduZoysa commented on #6
ACK.

[2021-09-09 05:01] KavinduZoysa commented on #6
[code]
@jclark, I generated the LLVM IR for above source with --debug flag. There was no debug info available for call instruction line for `_bal_error_construct`. Do we have to implement anything on the compiler side?

[2021-09-09 06:09] jclark commented on #6
Use testSuite\07-error\panic2-p.bal

When I use --debug, I get plenty of debug metadata.  This is supposed to have everything you said was needed in https://github.com/ballerina-platform/nballerina/issues/46#issuecomment-884259636

If there's something missing, please tell me what it is.

[2021-09-09 06:10] jclark commented on #6
@heshanpadmasiri Please have a look and tell me if I am missing calls to anything. Maybe it needs "Dwarf Version"?

[2021-09-09 06:13] #405 closed, assigned to nobody

[2021-09-09 08:18] jclark commented on #410
If we use:

* -1 for UN
* 0 for LT
* 1 for EQ
* 2 for GT

then `x == LT || x == EQ` becomes `(unsigned)x <= 1` (using `icmp ule`), and `x == GT || x == EQ` becomes `x >= 1` (using `icmp sge`)

[2021-09-09 09:04] jclark commented on #415
For example:

[code]

[2021-09-09 09:42] manuranga opened #430 "Diff `test/ll` against produced ll via Makefile"
Remove `test/diff.sh` and do it via Makefile.
Output should just be a list of files instead of full diffs.

[2021-09-09 09:49] manuranga commented on #430
Doing this in sub.mk produces too much noise, putting on root Makefile will be better.
I am planing the output to be like:
[code]
I am **not** planing `make diff` to create the `ll` files if they don't exist.

[2021-09-09 09:58] jclark commented on #430
Do you mean the second line of output to be a .diff file?

[2021-09-09 09:59] heshanpadmasiri commented on #410
To the runtime I'm planning to add fallowing functions

1. `int compareTagged(TaggedPtr* lhs, TaggedPtr* rhs)` (I am using this instead of `compareArrays` because array elements can be `TaggedPtr` (including arrays) and I can call this recursively)

    - Inside this function first check if it is an array, and if so iterate over elements and compare by either calling it self or primitive compariso

[2021-09-09 10:10] manuranga commented on #430
Yes, corrected.

[2021-09-09 10:23] jclark commented on #410
External functions in the runtime look like e.g. _bal_string_cmp

`*cmp` suffix should mean a function that returns -1/0/1.  We can then perhaps use `*compare` for returning -1/0/1/2.

For each of the following Ballerina, types there should be a runtime function

* int? - _bal_int_compare
* float? - _bal_float_compare
* string? - _bal_string_compare
* int?[] - bal_array_int_compare
* float?[] - ba

[2021-09-09 10:47] jclark commented on #410
I think I would pass TAG_INT/TAG_FLOAT/TAG_STRING to the function.

To make the inlining work, you will probably need an inline version e.g. taggedIntCompare, which is called by the external version _bal_int_compare (which would go in int_inline.c).

[2021-09-09 10:48] jclark commented on #410
Do the runtime stuff as a separate pull request before you do the build.bal bit

[2021-09-09 10:51] manuranga commented on #430
One issue with the way I am doing diff (and update) is, when a test case gets removed from the working set, it doesn't show up as a change.
Is this something that needs fixing?

[2021-09-09 10:51] jclark commented on #409
I think the way to do this is:

- In FunctionRef, have two signatures (signature and erasedSignature). Usually these are the same, but with a generic function, the signature is the signature specialized to this call, and the erasedSignature is the generic signature with the type parameters erased (i.e. with Type and Type1 in langlib not treated specially)
- Front-end will then need to create the s

[2021-09-09 11:59] jclark commented on #430
It would be very useful if make update removed .ll files whose .bal file no longer exists.

[2021-09-09 17:54] KavinduZoysa commented on #6
@jclark, I have couple of concerns here.
1. When we run the bal unit tests with --debug flag, backtrace is printed for panic scenarios. So in order to pass the tests we have to change our scripts to compare the generated backtrace and provided backtrace. According to expect.sh we can compare only one line.
2. The filename is taken from the `!DIFile` node. In bal test files, this is resolved as a r

[2021-09-10 02:06] jclark commented on #302
We should use 0x20 consistently to mean it's immediate. When this flag is set, it's not safe for #204 to clear the 0x2 bit. This means we need to fix the int implementation.

[2021-09-10 02:20] jclark commented on #204
It will work out best, I think, to have the 0x4 bit being set to indicate that the tagged pointer is exact.  The reason to use 0x4 rather than 0x1 is:

- strings use 0x1 for large vs medium strings
- boolean uses 0x1 for true

The reason to use 0x4 rather than 0x2 is that it leaves two contiguous bits (0x1 and 0x2) available for other uses.

Apart from that, the only uses 0f 0x4 are for immediate

[2021-09-10 03:04] jclark commented on #204
Suppose p has Ballerina type `int[]`. Then the code to get an element at index i is:

[code]

I am hoping that using ptrmask rather than ptrtoint will enable LLVM to optimize this and hoist it out of loops, even though the tagged pointer is in a non-integral address space.

[2021-09-10 04:01] manuranga commented on #6
1. We have two options
    a) No `--debug` for tests. This means we should have a separate set of unit tests to test backtrace.
    b) Come up with a format for test suite, then change expect.sh Eg:
[code]
2. Looks like Rust and Go puts absolute path. That looks weird to me. What happens when you run it in a production environment that is different from the place where you compiled it? I feel like

[2021-09-10 04:39] KavinduZoysa commented on #6
In this case also, we will have a backtrace(function name only) because we call backtrace_syminfo, when we get -1 errnum.

Yes, I will check what others are doing

[2021-09-10 04:40] jclark commented on #6
@KavinduZoysa DIFile has a filename part and a directory part. Does libbacktrace combine the two or just use the filename part?  We can control exactly what goes into the filename and directory (it comes from the corresponding fields in SourcePart).

[2021-09-10 04:52] KavinduZoysa commented on #6
There are two patterns here.

1. If filename is a path, libbacktrace takes only the filename.
ex: `!1 = !DIFile(filename:"../../../compiler/testSuite/01-int/add2-p.bal", directory:"")`
It does not matter what is in the directory, it will only consider filename
2. If filename is not a path, but it is exactly the name of the file, libbacktrace combines it with the directory
ex: `!1 = !DIFile(filenam

[2021-09-10 04:53] jclark commented on #6
It's important that the output with `--debug` gets checked to ensure LLVM accepts it, but I think we should have separate tests to ensure the debug info we generate is producing the right result in conjunction with libbacktrace and our runtime.

Our regular p tests should just check that the compiler is passing the right line number to the panic constructor (which is independent of debug info/libb

[2021-09-10 04:55] jclark commented on #6
@KavinduZoysa What about `filename: "modules/foo/foo.bal", directory: "/usr/jjc/nballerina"`? Or `filename: "./foo.bal", directory: "/usr/jjc/nballerina/foo"`?

Does it make any difference with the directory is absolute e.g. `filename: "add2-p.bal", directory: "/usr/jjc/compiler/testSuite/01-int"`?

[2021-09-10 05:01] KavinduZoysa commented on #6
These two cases it does not consider what is available in the directory, because filename is a path. So the output is `modules/foo/foo.bal` and `./foo.bal` respectively.

In this case, it combines the filename and directory, so output is `/usr/jjc/compiler/testSuite/01-int/add2-p.bal`

[2021-09-10 05:12] jclark commented on #6
In that case, the runtime should just print out whatever libbacktrace gives it.  We can get whatever we want by passing appropriate filename/directory to the compiler.

[2021-09-10 05:20] jclark commented on #6
To get this merged, I suggest we start by having runcheck.sh massage the output of the `p` test to remove the backtrace.

We can then work on better testing for this. The format should be something like

[code]

The number in `@backtrace` is the frame index. The identifier in `@panic`/`@backtrace` is the function name.  The line numbers come from the line on which `@panic` or `@backtrace` occur.

[2021-09-10 09:31] KavinduZoysa opened #433 "Improve the testSuite scripts to test backtrace"
**Description:**
We need to change the test scripts in order to test the backtrace as suggested in https://github.com/ballerina-platform/nballerina/issues/6#issuecomment-916639738

[2021-09-11 01:23] jclark opened #434 "Error line numbers should come not from argument but only from backtrace"
At the moment the line number where the error constructor occurs or where the panic occurs is passed into the error constructor.  Other line numbers come from debug info via libbacktrace.

When a langlib function needs to panic (e.g. `array:push` #409), the line number is not available to pass into the error constructor.

I think everything will work more smoothly and simply if all errors come fro

[2021-09-11 05:43] jclark commented on #434
This isn't going to work well. When there are multiple calls to _bal_panic_construct (or presumably _bal_error_construct) within a single function, clang, when optimizing, can merge them together, which will invalidate their line numbers (making them come out as 0). So we need to continue to pass line numbers into _bal_panic_construct/_bal_error_construct.

[2021-09-11 05:43] #434 closed, assigned to jclark

[2021-09-11 07:06] jclark opened #436 "Improve error_backtrace1/2"
These print stuff to the terminal but don't check whether the output has the right format. They need to not write to the terminal, and check that the output is correct.

One approach would be to make _bal_error_backtrace_print take a FILE*. Then the test case can write to a temp file and check that the output is correct.

[2021-09-11 08:35] #409 closed, assigned to jclark

[2021-09-11 08:37] jclark commented on #409
Test case 07-array/push6-fp.bal is currently failing because of lack of a line number.  This should be fixed by #6.

[2021-09-11 08:37] jclark commented on #6
This should produce a line number for 07-array/push6-fp.bal

[2021-09-12 02:09] jclark commented on #414
Not clear if we need to do this.  We should be able to rely on libbacktrace + debug info to give us the filename.

[2021-09-12 02:37] jclark opened #438 "Support multiple modules"
Goal is to be able to compile programs involving multiple modules.

At this stage, we are not trying to serialize the result of the compilation of a module L for use in a compilation of a module M that imports L.  Rather the compilation of M will need to access the source of the modules it imports (transitively).

Parts of this:

- [x] Change interfaces to front module to allow module being compil

[2021-09-12 02:49] jclark commented on #438
Front-end interface changes to add:

- front:ModuleInterface represents the public interface to a module as used by an importing module
- front:SourceModule is mutable object that represents ordered list of SourceParts that have been loaded into memory
  - constructed from SourcePart[]
  - can provide a list of all the modules it imports directly
  - can construct a bir:Module and/or a ModuleInter

[2021-09-12 03:54] jclark commented on #438
When we do #402, the LLVM module that is generated by nback for each Ballerina module will include external references to type information.  Each program will then need an init LLVM module that combines the type information for modules in the program and generates definitions to satisfy those references. This init module will in the future also perform tasks such as:

- provide code to take the or

[2021-09-12 04:49] jclark commented on #329
~~To keep things simple to start with, we could have the array object in the generic case include the bit vector of member types as well as a pointer to a descriptor. This means would can need only three descriptors (int, float and generic) and so we could put them in the runtime.~~

We now have the init.bal machinery to do this properly.

[2021-09-12 10:38] #406 closed, assigned to jclark

[2021-09-13 01:26] #430 closed, assigned to manuranga

[2021-09-13 02:03] jclark opened #439 "Support `check` and `checkpanic` in call statements"
In #406 we implemented `check` and `checkpanic` in expressions. We should also allow `check` and `checkpanic` before statements consisting of a function call or method call.

[2021-09-13 02:12] jclark commented on #204
To implement this, we need to identify all cases where there can an implicit widening to a list value. In subset 8, the BIR insns that can do this are:

- ListSet (exactness works for the inherent type of a list member for the static type of a variable)
- MappingSet (similarly)
- ListConstruct
- MappingConstruct
- Call (for the arguments)
- Assign
- Ret

The insns that can restore an exact bit are

[2021-09-13 02:23] jclark commented on #204
We can implement this before we implement #329.  When we do a ListSet, if the pointer to the list is exact, then (if everything is working) it should be guaranteed that the value being stored is as required by the inherent type of the list. We can verify this and abort if it's not.

[2021-09-13 02:41] jclark commented on #204
We can define a _bal_tagged_to_ptr_with_exact function in tagged_inline.ll that takes a TaggedPtr and returns struct with the untagged ptr and a bool saying whether it's exact.

[2021-09-13 03:51] jclark commented on #204
We need to be very precise about the semantics of the exact bit.

Every reference to a list has a type constraint associated with it:
- for a BIR register it's the type of the register;
- for a member of a mapping/list, it is the type that the inherent type requires for the member.

Suppose a tagged pointer R has an associated type constraint T and R has the exact bit set. This means that if

- th

[2021-09-13 08:47] #425 closed, assigned to manuranga

[2021-09-13 10:28] jclark opened #441 "Make command-line interface work with imports"
This is part of #438.

We need to support multiple output files and control where imported modules are found.

[2021-09-13 10:45] jclark commented on #438
For this issue, we will have the following limitations

- we only compile imports that are part of the same package (i.e. have the same org and initial module name as root package)
- we will treat the root package as having an empty organization name
- other imports are treated as built-in like now (i.e. we do not go read a .bal file to interpret them)

[2021-09-13 10:55] jclark commented on #441
We have this limitation on imports: https://github.com/ballerina-platform/nballerina/issues/438#issuecomment-918068661.

At the moment, the CLI allows multiple arguments to specify all the files comprising a module.  I think we should drop that.  For testing purposes, we can allow an imported module to have multiple files. For non-testing, we can specify a directory (as in jBallerina).

Revise the

[2021-09-14 00:29] #415 closed, assigned to ushirask

[2021-09-14 01:05] #410 closed, assigned to heshanpadmasiri

[2021-09-14 03:10] jclark commented on #408
A Tokenizer will then be constructed just from a SourceFile. This means the construction of ScannedLines will happen up from rather than during tokenization.

[2021-09-14 03:59] jclark opened #443 "Support full syntax for import declarations"
Subset 08 supports full syntax for import declarations.

This issue is to parse those declarations and built the AST.

Part of #438.

[2021-09-14 04:00] jclark commented on #443
Please describe changes to ImportDecl here first.

[2021-09-14 04:20] jclark commented on #418
I have factored out `output.bal` from `main.bal`. The idea is that `main.bal` does not need to change in llvm_jni.  Instead llvm_jni just provides its own `output.bal`.

[2021-09-14 04:25] #302 closed, assigned to manuranga

[2021-09-14 04:40] jclark opened #444 "Restrict underscores in import organization/module names"
As described in https://github.com/ballerina-platform/ballerina-spec/issues/791

[2021-09-14 04:41] jclark commented on #444
These will affect how we do mangling.

[2021-09-14 04:42] jclark commented on #444
This also requires changing the subset spec.

[2021-09-14 04:44] jclark commented on #418
@heshanpadmasiri If you still need to change main.bal to get this working with llvm_jni, let me know so I can fix it.

[2021-09-14 06:14] #418 closed, assigned to heshanpadmasiri

[2021-09-14 06:23] manuranga opened #447 "Separate out boolean comparisons form int comparisons in runtime"
Separate out boolean comparisons form int comparisons and remove 8b5769f.

[2021-09-14 06:36] manuranga commented on #408
I plan to add `public function nextLine() returns ScannedLine?` to `SourceFile`.

[2021-09-14 06:43] jclark commented on #408
SourceFile is readonly, so should be

[code]

and I don't think it needs to be public.

[2021-09-14 07:21] jclark opened #448 "Enhance mangling to handle module names"
For subset 8, we need to be able to handle public names with

- an org that is either empty or `ballerina`
- arbitrary list of module names

We need to distinguish these from non-public names.

This is part of #438.

[2021-09-14 07:24] jclark commented on #448
C++ mangling rules here: https://itanium-cxx-abi.github.io/cxx-abi/abi.html#mangling

[2021-09-14 07:26] jclark commented on #448
Unquoted identifiers in LLVM must match `[-a-zA-Z$._][-a-zA-Z$._0-9]*`

https://llvm.org/docs/LangRef.html#identifiers

[2021-09-14 07:28] jclark commented on #448
We will rely on the proposed spec restrictions here: https://github.com/ballerina-platform/ballerina-spec/issues/791#issuecomment-858593020

[2021-09-14 07:44] jclark commented on #448
What we are currently doing is described here: https://github.com/ballerina-platform/nballerina/issues/43#issuecomment-859163191

[2021-09-14 07:48] jclark commented on #448
GNU as syntax for names is described here: https://sourceware.org/binutils/docs/as/Symbol-Names.html#Symbol-Names

[2021-09-14 09:06] #447 closed, assigned to heshanpadmasiri

[2021-09-14 10:05] jclark commented on #448
Public name looks like:
[code]
The digits are a decimal number equals  to (number of org-or-mod-name - 1)*4 + K, where K is

 * 0 if there is a non-empty org name other than "ballerina" (so first org-or-mod-name is organization name)
 * 1 if there is an empty org name (so first org-or-mod-name is a module-name)
 * 2 if the org name is "ballerina" (so first org-or-mod-name is a module-name)
 * 3 if

[2021-09-14 10:45] jclark commented on #448
Alternative scheme:

[code]

In this scheme, "well-known" org/module name sequences are assigned a lower-case ASCII letter
- `b` ballerina/
- `l` ballerina/lang
- `i` ballerina/io
- `h` ballerina/http
- `x` ballerinax/
- `w` wso2/
- `n` (no organization) (first org-or-mod-name is module name)
- `o` other organization (first org-or-mod-name is org name)

The digits are a decimal number saying how m

[2021-09-14 11:20] heshanpadmasiri commented on #443
I think we need to add fallowing to `ImportDecl`

- string import-prefix
    To deal with `import org/module-name as import-prefix`. In cases where explicit import-prefix is not given we can set this to the last identifier in module-name

I am not certain whether the fallowing information is needed for the rest of the compiler but I think it will be useful to locate the module that has been import

[2021-09-14 11:33] jclark commented on #443
I don't remember what we have at the moment, but we need

[code]

[2021-09-14 12:46] jclark opened #451 "Provide two-stage interface to front module"
In order to support #438, we need to provide a two stage interface to the front module:

1. In the first stage, it provides a list of the module’s imports. In this stage, it runs the parser/tokenizer only up till the end of the import declarations. It doesn’t yet build a complete AST.
2. In the second stage, it generates a BIR module; it is provided with the public interface to each of the modules

[2021-09-14 12:57] jclark commented on #451
I envisage a public class ScannedModule and a function

public function scanModule(SourcePart[] sourceParts, bir:ModuleId id) returns ScannedModule|err:Any|io:Error;

scanModule would perform parsing up to the end of the imports.

Then ScannedModule provides

- a getImports method to provide the required imports, and
- a method to build a bir:Module, which would take a t:Env, plus something TBD th

[2021-09-14 14:27] jclark commented on #451
This will need #443.

[2021-09-14 17:56] manuranga commented on #451
What should the `front:ScannedModule` object keep in order to later build the `bir:Module`

opt1) keep `s:SourceFile[]`, re-parse imports and throw them away
opt2) keep `s:SourceFile[]` and set of offsets - need API change form `Tokenizer`
opt3) keep `Tokenizer[]` - `Tokenizer` needs to be public

I feel like opt1 is the simplest.

[2021-09-14 18:30] jclark commented on #451
I would wrap Tokenizer in a class that provides a parse method that continues the parse.

[2021-09-14 18:45] jclark commented on #451
Public function creates a s:Parser object from an array of lines and a FilePath; Parser class provides parseImports and parse methods. These replaces parseModulePart. Parser contains private fields with Tokenizer plus a ModulePart. You can use Parser instead of LoadedSourcePart.

[2021-09-15 01:57] jclark opened #452 "Enhance interfaces to `front` to support multiple modules"
This is part of #438.

Currently `front` has a single-module view of the world with some hacks to support `ballerina/io` and langlib functions.  We need to reword the interfaces to support multiple modules.

Parts of this:
- divide work done by `front` into two stages #451
- provide a way to get the public definitions out of a module #453
- represent the public definitions of `ballerina/io` consis

[2021-09-15 02:07] jclark opened #453 "Provide a way to get the public definitions out of a module"
This is part of #452, which is part of #438.

[2021-09-15 02:12] #453 closed, assigned to jclark

[2021-09-15 04:24] KavinduZoysa commented on #276
@jclark, Since I did not find a direct way to identify whether a string is a small string or not, I came up with the below solution.

1. Propergate isSmallString boolean from `addStringDefn` to `buildReprValue`.
2. In buildReprValue, if isSmallString add new Repr for string and its based type should be `BASE_REPR_STRING`
3. Based on this information, we can do pointer comparison in `buildEquality`

[2021-09-15 04:32] jclark commented on #276
If it's a constant string, then insn.operands[i] will be be a string (not a register).  To tell whether it's small, factor out the relevant part of addStringDefn into a separate function.

[2021-09-15 04:35] jclark commented on #276
You'll probably also need to change addStringDefn, so it doesn't do the addrspacecast there, so that there aren't address space casts messing up optimization in the constant case.

We want this issue to fix #264.

[2021-09-15 05:44] #408 closed, assigned to manuranga

[2021-09-15 05:54] jclark commented on #451
There's a problem with what I suggested here https://github.com/ballerina-platform/nballerina/issues/451#issuecomment-919421689 in that eventually we will want ScannedModule to be readonly (to facilitate doing stage 2 in parallel). Otherwise ScannedModule will need to be an isolated object, which is harder. We can address this as a follow on issue.

[2021-09-15 06:26] jclark commented on #448
Rust mangling scheme https://rust-lang.github.io/rfcs/2603-rust-symbol-name-mangling-v0.html

[2021-09-15 08:04] KavinduZoysa commented on #276
After doing this change, I have checked the optimized LLVM IR of 05-string/1-v.bal(the example we considered in #264), and it has been inlined properly.

The addrspacecasts are happening inside _bal_string_eq. So I do not think we do not have to do a change in addStringDefn

[2021-09-15 08:29] KavinduZoysa commented on #276
[code]
For the above match-stmt, the generate LLVM IR shown below.
[code]

[2021-09-15 08:34] jclark commented on #276
I would like to see the output for

[code]

I want to see the code **after optimization**. Assembly as well as IR.

[2021-09-15 08:49] KavinduZoysa commented on #276
After the optimizations, foo was inlined to main, So the outputs are shown below.
optimized LLVM IR:
[code]
Assembly:
[code]

[2021-09-15 09:13] jclark commented on #448
Inspired by Rust

[code]

Examples

[code]

With the restrictions on org/module names https://github.com/ballerina-platform/ballerina-spec/issues/791#issuecomment-858593020, the "_" in qual won't be needed.  But we'll include this to support root module names based on filenames.

[2021-09-15 09:13] KavinduZoysa commented on #276
These are the output without calling foo.
opt output:
[code]

Assembly:
[code]

[2021-09-15 12:07] jclark opened #456 "Deal with calling `main` when root module name can change"
If we support multiple modules and we allow the name of the root module (the one that contains the Ballerina `main`) to change, then the mangled name of the Ballerina `main` will not be fixed, which means the `main` in the runtime will not be able to directly call the Ballerina `main` in the root module, because it will not know the mangled name.

Part of #438. Relates to #448.

[2021-09-16 03:53] #448 closed, assigned to jclark

[2021-09-16 04:15] #276 closed, assigned to KavinduZoysa

[2021-09-16 04:16] jclark commented on #14
Mangling is fixed by #448

[2021-09-16 04:18] jclark opened #458 "Demangle function names in backtraces"
When a panic prints out a function name, it should demangle it.

Mangling is described here: https://github.com/ballerina-platform/nballerina/issues/448#issuecomment-919844131

[2021-09-16 04:25] jclark commented on #458
The backtrace should make sense to a Ballerina programmer. It should only include stack frames corresponding to Ballerina functions. These all start with `_B`.  It needs to reverse the mangling that is done in nback/symbol.bal and turn it into something that makes sense in Ballerina.

Non-public names should be printed without any prefix.

For a public name e.g. with module id `ballerina/lang.arra

[2021-09-16 05:58] jclark commented on #264
#276 fixes this (as much as we can).

[2021-09-16 05:58] #264 closed, assigned to KavinduZoysa

[2021-09-16 06:15] KavinduZoysa commented on #264
@jclark, shall we create a new issue to track, writing a pass to remove addrspacecast? (gollvm and Juila have this pass). In the future we will also need such a pass. Please check https://github.com/ballerina-platform/nballerina/issues/264#issuecomment-892044937

[2021-09-16 06:47] jclark commented on #196
We are not going to do this.

[2021-09-16 08:13] heshanpadmasiri opened #459 "Ensure all errors generated shows the responsible file name"
Currently errors such as `semantic` and `unimplemented` takes an optional `Location` (which require fileName). Make this `Location` required and ensure it is correctly implemented in the code base

[2021-09-16 08:41] #443 closed, assigned to heshanpadmasiri

[2021-09-16 10:03] #451 closed, assigned to manuranga

[2021-09-16 10:04] #441 closed, assigned to manuranga

[2021-09-17 04:09] ushirask opened #462 "Implement decimal singleton type in semtype"
**Description:**
Implement the semtype for decimal singletons  in  types

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-09-17 04:10] ushirask commented on #462
@rdhananjaya

[2021-09-17 04:34] #452 closed, assigned to jclark

[2021-09-17 06:32] manuranga commented on #439
According to spec `check check a();` is syntactically valid (even though it can't be semantically valid). I guess implementation should follow the same, even it might be easier to reject it in the parser itself.

[2021-09-17 06:48] jclark commented on #439
`check check a();` is fine and should be accepted.

The spec does not say that e.g. `check 1` is an semantically invalid: it's just a no-op (like `+ 0`).

[2021-09-17 07:24] manuranga commented on #439
I am also unsure about `check (a());` I think this should fail according to spec, but since `parsePrimaryExpr` doesn't make a distinction between that and `check a();`, it'll require some changes.

[2021-09-17 07:48] jclark commented on #439
`check (a())` should fail

[2021-09-17 09:46] manuranga opened #466 "Parenthesized method call expr should not parse as a statement"
The parser accepts

[code]

but should not.

[Spec](https://ballerina.io/spec/lang/2021R1/#call-stmt) doesn't allow parentheses around method call statements.

When fixed enable [call1-fe.bal](https://github.com/ballerina-platform/nballerina/blob/7f74a271fb4b9292ce297711f51c715e0cda0a92/compiler/testSuite/future/call1-fe.bal)

[2021-09-18 02:45] jclark commented on #466
I think this can be fixed by changing parseMethodCall to

1. call startPrimaryExpr
2. give an error if the current token is not "[" or "."
3. call finishPrimaryExpr
4. give an error of we didn't get a MethodCallExpr

[2021-09-19 09:24] jclark commented on #412
With #454, we can do unbounded lookahead:

- make a new Tokenizer
- save the state of the current tokenizer
- restore the state into the new Tokenizer
- use the new Tokenizer to lookahead as much as needed

[2021-09-19 09:32] jclark commented on #412
So what we have to figure out is, given this ability, what is the best way to figure out whether we have a local variable declaration or something else.  This requires looking at what follows the type descriptor (or what would be the type descriptor if it's a local variable declaration).  In the local variable declaration case it will be something that can start a binding-pattern (e.g. an identifi

[2021-09-19 10:37] jclark commented on #412
Note that for subset 8 (in #471), we really ought to be able to handle

m:T v = E;

[2021-09-20 08:26] manuranga commented on #448
@jclark What does `qual` stand for?

[2021-09-20 08:31] jclark commented on #448
Qualifier. Maybe there's a better word to use here?

[2021-09-20 08:46] manuranga commented on #448
Qualifier is alright, I just didn't think of it when I saw the abbreviation. I would have used something like `part`, `fragment` or `group`, no strong preference though.

[2021-09-20 08:59] jclark commented on #448
The logic is that, in the spec, `m:foo` is a qualified name: the thing that the prefix `m` refers to is thus the qualifier of `foo`.

[2021-09-20 09:03] manuranga commented on #448
Ah makes sense.

[2021-09-21 03:57] jclark opened #470 "Enhance testSuite driver for error tests to support multiple modules"
Specifically:

- allow @error in submodules
- check that the filename in error messages is present and correct (test should fail if filename is missing)

Part of #438

[2021-09-21 04:03] #459 closed, assigned to heshanpadmasiri

[2021-09-21 04:51] jclark commented on #436
This should be done in #432 as part of #6.

[2021-09-21 04:51] #436 closed, assigned to KavinduZoysa

[2021-09-21 04:55] jclark opened #471 "Allow references to types and constants in other modules"
This is part of #438.

Subset spec needs to be extended for this: variable-reference-expr and type-ref should allow a qualified-identifier referring to a constant or type in another module.

The parsing bit of this is #473.

[2021-09-21 06:14] jclark commented on #471
We need to make the import map available to type resolution.

Maybe introduce a record type that combines:
* `t:Env`
* `ModuleTable`
* `s:SourceFile[]`
* `map<Import>[]`

Use this instead of Module in CodeGenContext. Also use for resolving types and constants.

[2021-09-21 07:16] jclark commented on #356
Identifiers should be able to start with `_`  and `_` by itself should become a keyword.

[2021-09-21 08:13] manuranga commented on #412
Meeting notes:

1) We should try to make do with left factoring when it's reasonable, instead of save/restore.
2) Qualified identifier should be done first to facilitate #438

[2021-09-21 08:52] jclark commented on #412
Also consider a peek method on Tokenizer that would turn a FragCode into a SingleCharDelim|MultiCharDelim|Keyword|VariableLengthToken

[2021-09-21 11:52] manuranga commented on #412
I plan to add a `string? modPrefix` to `VarRefExpr` and `TypeDescRef`.

[2021-09-21 12:21] jclark commented on #412
Just call it `prefix`.

[2021-09-21 12:24] jclark commented on #412
I think we're starting to blur the lines between this and #471.

This issue is really about allowing arbitrary type descriptors in local variable declaration statements (by doing lookahead).  So let's make a separate issue (#473) just for parsing of qualified identifier in variable references and type references.

[2021-09-21 12:31] jclark opened #473 "Parse qualified identifiers in variable ref expr and type desc ref"
Parsing part of #471 is for a variable-reference-expr and type-ref should allow a qualified-identifier.

This means extends the AST to allow to `VarRefExpr` and `TypeDescRef` to support identifiers with a prefix.

This has been separated out of #412.

[2021-09-21 18:01] manuranga opened #474 "Add an expect method for `VariableLengthToken`s to Tokenizer"
Currently there is an `expect` method for fixed tokens. Adding similar method for `VariableLengthToken` will

- Simplify usage code by removing one level of indentation
- Improve the parser error messages

[2021-09-21 18:10] manuranga commented on #474
I propose a method like
[code]
Which will give error message like

`'expected 'identifier'; got ';' {....}`

[2021-09-22 03:44] jclark commented on #474
Why does it need to be a separate method? Just add `|VariableLengthTokenCode` to the parameter type.

If we're going to give some love to the expect method, we should fix it up to be able to say that one of several tokens is expected.

Edited: Answering my own question: so you can get the string

[2021-09-22 03:56] jclark commented on #474
I would want the message to say: `expected an identifier; got ':'` (without quoting `identifier`).

I don't like the proposed function name.

What tokens is this really going to be useful for? It's not going to work for numbers. Do you have cases in mind other than identifiers? If not, I would just do `expectIdentifier`.

I'm not sure about customMsg.  What is the specific place you are planning t

[2021-09-22 05:27] manuranga commented on #474
`expectIdentifier` makes more sense. Added a `customMsg` to preserve existing error messages, but they don't provide a lot of value, will get rid of it.

[2021-09-22 06:13] jclark commented on #471
@rdhananjaya You might want to port https://github.com/ballerina-platform/nballerina/commit/d659aa7b49dc493fe94f14ae023266b0f030275b

[2021-09-22 08:02] #474 closed, assigned to nobody

[2021-09-22 09:00] jclark commented on #471
We also need to generalize the handling of int subtypes which is now done in parseTypeDesc.

[2021-09-22 10:50] rdhananjaya opened #477 "Implement `string:Char` type"
**Description:**
For the moment, we should be able to parse `string:Char` as we have done for `int` subtypes.
Need to figure out how to represent this within `StringSubtype`.

On top of my mind we should be able to do:
[code]

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issue

[2021-09-22 10:51] rdhananjaya commented on #477
@jclark what do you think about the above approach?

[2021-09-22 11:24] manuranga commented on #477
I think we should be able to represent `!string:Char` as well. But `STRING_CHAR` can't  be a `boolean`, because it already has a separate meaning (ie: all of string, non of string).

[2021-09-22 13:37] rdhananjaya commented on #477
@manuranga thanks, I forgot about that, I think we can do `type StringSubtype StringSubtypeData|STRING_CHAR|STRING_NOT_CHAR`.

I'm failing to come up with how the `diff` function should work.

[code]

What should `diff(T, string:char)` be? And this should extend for `!T`.

[2021-09-22 13:41] jclark commented on #477
The representation is wrong. You need to come up with a way of describing sets of values including string:Char that is closed under diff, union and intersection. So you need a representation that can describe e.g. string:Char|"foo" or string:Char & !"x".

[2021-09-22 13:57] jclark commented on #477
At the moment, we can represent

- a specified set of strings
- any string other than a specified set of strings

string:Char requires that we also be able to represent at least:

- a specified (possibly empty) set of strings (not of length 1) or a string of length 1
- any string of length 1 other than a specified (possibly empty) set of strings (of length 1)
- any string other than a specified se

[2021-09-23 01:42] jclark commented on #477
There's another more complex case, which is something like `"foo"|"bar"|(string:Char & !("x"|"y"))`.

[2021-09-23 02:15] #439 closed, assigned to manuranga

[2021-09-23 03:58] jclark commented on #473
This doesn't seem to be working. If I change line 7 of 08-import/type1-v.bal to use types:S rather than S, I get a parse error.

[2021-09-23 05:10] #196 closed, assigned to nobody

[2021-09-23 05:34] jclark commented on #473
@manuranga Can you add some tests for this and then close?

[2021-09-23 12:11] jclark opened #480 "Fix bug with allowing arithmetic operator other than `+` on the string"
Looks like code has a bug that will allow `"x" - "y"` and interpret it as `"x" + "y"`.

[2021-09-23 12:13] jclark opened #481 "Don't apply checks on `main` for non-root module"
In a module that is not root, there is no need to apply any constraints on `main` function.

[2021-09-23 12:17] jclark opened #482 "Give unimplemented error for `init` function"
Language has special constraints and semantics for module init function, which we do not implement. We should therefore give an unimplemented error if the module has an `init` function.

https://ballerina.io/spec/lang/2021R1/#section_8.4

[2021-09-23 12:37] jclark opened #483 "Qualified identifier referring to undefined function gets unimplemented error"
It should usually get an semantic error. Only for ballerina/io should it be an unimplemented error.

[2021-09-24 03:45] #480 closed, assigned to jclark

[2021-09-24 07:18] #470 closed, assigned to heshanpadmasiri

[2021-09-24 09:04] manuranga commented on #17
No longer planing to do the, instead jBallerina will migrate to SymTypes, allowing potential future integration.

[2021-09-24 09:04] #17 closed, assigned to nobody

[2021-09-24 09:48] KavinduZoysa commented on #356
@jclark, I have started to implement the tokenizer for this issue as shown here https://github.com/ballerina-platform/nballerina/commit/327a01d9eac488dbcbd098b15c1be041f4b03d2e

Appreciate your comments on this. I can send a draft PR if it is easy to discuss.

[2021-09-24 10:28] jclark commented on #356
Draft PR is good

[2021-09-24 10:39] KavinduZoysa commented on #356
Created https://github.com/ballerina-platform/nballerina/pull/485

[2021-09-26 01:32] #462 closed, assigned to ushirask

[2021-09-26 01:39] jclark commented on #14
Demangling is done by #458

[2021-09-26 01:40] #14 closed, assigned to nobody

[2021-09-26 02:27] jclark opened #486 "Replace `--debug` option with `--debugLevel=n` option"
With #6, we should by default produce enough debugging info for backtraces. This is corresponds to nback:Options debugLevel of 1.  So we should make the default debugLevel be 1, and then have an option that can change it to 0 (no debugging) or 2 (full debugging, which is not yet implemented).  Easiest solution is a `--debugLevel` option that allows an argument of 0/1/2.

[2021-09-26 05:34] manuranga opened #487 "Empty source files give `IndexOutOfRange` error"
Compiling an empty source file gives
[code]

[2021-09-26 06:56] jclark commented on #204
A complication is that this means we can no longer always treat === as being simple pointer comparison, as values that are === may differ in their exact bit.

[2021-09-26 11:29] #487 closed, assigned to manuranga

[2021-09-26 11:40] jclark commented on #204
Need to think more about `array:push` (code is currently using erasedSignature which will always widen).

[2021-09-26 15:55] manuranga opened #490 "Importing the root module result in an error"
Importing the root module from another module gives `error: unsupported module 'root'` error of type `Unimplemented`.

There shouldn't be an error, even though this is not useful in the current subset because there is no way to refer to it without creating a circular import.

[2021-09-27 00:27] jclark opened #492 "Allow a variable declaration to use `_`"
Allow `_` in a variable declaration to support the idiom described here: https://github.com/ballerina-platform/ballerina-spec/issues/887#issuecomment-902334830

_Originally posted by @jclark in https://github.com/ballerina-platform/nballerina/issues/356#issuecomment-905958650_

Follow on from #356

[2021-09-27 00:29] jclark commented on #356
Let's make the variable declaration part a separate issue #492.

[2021-09-27 00:35] jclark commented on #490
Just need to fix resolveImport in compile.bal to do `if id == DEFAULT_ROOT_MODULE_ID { return IMPORT_CYCLE_ERROR; }`

[2021-09-27 00:43] manuranga commented on #490
Can a different package import a submodule directly ? In that case, it won't be a cycle. So I though, this should be handled in a way that dosn't specal-case root.

[2021-09-27 00:47] jclark commented on #490
We're not doing that in this subset: cross that bridge when we come to it.

[2021-09-27 01:33] #6 closed, assigned to KavinduZoysa

[2021-09-27 02:13] jclark commented on #204
Things to do:

- be able to recover the exact bit in CondNarrow and TypeCast
- figure out what to do with `array:push`
- figure out whether ListSet/MappingSet need to behave differently based on the exactness of the reference to the list/mapping

[2021-09-27 02:31] jclark opened #493 "Redo front-end handling of int subtypes"
At the moment, these are special-cased in front.syntax:parseTypeDesc.

We should change this as follows:

* parseTypeDesc should turn them into a TypeDescRef with a prefix of `int`
* lib.bal should have a map that maps each of the names onto a SemType (subtype of ModuleExports)
* the prefix should be mapped onto this map

Follow on from #438 and #471.

[2021-09-27 02:32] jclark commented on #471
Made int subtypes into a separate issue #493.

[2021-09-27 02:32] #471 closed, assigned to jclark

[2021-09-27 02:44] #438 closed, assigned to jclark

[2021-09-27 02:47] jclark opened #494 "Add LLVM module support for aliases"
When implementing #402, we are going to want to be able to have two names for the same global data.

We can do this using aliases:

https://llvm.org/docs/LangRef.html#aliases

[2021-09-27 04:00] jclark commented on #477
I suggest

[code]

[2021-09-27 04:05] #466 closed, assigned to jclark

[2021-09-27 04:46] jclark opened #495 "Implement non-nested closed record types"
This is similar to #136, but

- we will deal with multiple modules (roughly as described in #402 but for mappings)
- we will implement each type as a LLVM struct with a vtable and use #204 to provide a fast path that bypasses the vtable

In this issue, we will restrict the field types to be the same as what is currently allowed as a member type for arrays and maps (otherwise `e[x]` expressions wit

[2021-09-27 04:47] jclark commented on #136
Replace this by updated version #495.

[2021-09-27 04:47] #136 closed, assigned to nobody

[2021-09-27 04:53] jclark commented on #495
Note that we maintain the restriction that we cannot have a union of a subtype of mapping with anything else: subset 8 does not allow e.g. `map<int>?`; we will similarly not yet allow a union of a closed record with nil or anything else. This means that although we can define a recursive record type, we cannot create an instance of one (because it would be infinite). This means it will not be poss

[2021-09-27 05:24] heshanpadmasiri commented on #494
@jclark  for this I am planning to add `addAlias(Type aliasTy, ConstValue aliasee, string? Name=()) returns ConstValue` to module (corresponds to [LLVMAddAlias](https://llvm.org/doxygen/group__LLVMCoreValueConstantGlobalAlias.html#gaa424cbdf2fb15653fdd64a5995664ff4)) If we are to set the optional fields such as linkage, PreemptionSpecifier, etc. I think the best way is to add a `AliasProperties` r

[2021-09-27 05:59] #481 closed, assigned to jclark

[2021-09-27 06:21] #482 closed, assigned to jclark

[2021-09-27 06:22] jclark opened #497 "Give unimplemented error when `main` can return an error"
The checking for the return type of `main` needs to be updated now that we have `error`.

[2021-09-27 06:45] jclark opened #499 "Improve semtypes testing"
Need to improve both tests and test framework.

[2021-09-27 06:47] jclark opened #500 "Implement distinct error types"
Now that we have modules, we can implement distinct error types.

[2021-09-27 06:48] jclark opened #501 "Implement optional record fields"
Syntactically this is a `?` following the field name in an inclusive record type descriptor:

https://ballerina.io/spec/lang/2021R1/#inclusive-record-type-descriptor

[2021-09-27 06:50] jclark opened #502 "Implement fixed length array types"
Logically equivalent to a tuple.

[2021-09-27 09:00] #473 closed, assigned to manuranga

[2021-09-27 09:18] jclark commented on #500
There was a partial implementation but it wasn't updated in #339.

Basic idea is to have a separate atom for each distinct id. t:Env is going to need to deal with managing distinct ids.

[2021-09-27 09:28] jclark commented on #502
At the moment we have:

[code]

The semantics is that after `members`, you can repeat `rest` 0 or more times. We would extend this to provide field(s) that say how many times `rest` is to be repeated e.g.

[code]

We have to figure out what we need so that the functions in list.bal all work out.

[2021-09-27 09:55] jclark commented on #494
Can we make AliasProperties be the same as GlobalProperties?

[2021-09-27 10:07] heshanpadmasiri commented on #494
GlobalProperties have fields that don't apply for alias like `align`, `isConstant`, etc. We can of course ignore such fields and just use the ones that apply to alias.

[2021-09-27 10:13] heshanpadmasiri commented on #494
For the alias type c api expects a pointerType. For example in the fallowing
[code]
first i64 (not i64*) comes from the alias type of i64 pointer. So I persume our api should change to `addAlias(PointerType aliasTy, ConstValue aliasee, string? Name=()) returns ConstPointerValue`

[2021-09-27 11:29] #486 closed, assigned to KavinduZoysa

[2021-09-27 11:31] #458 closed, assigned to KavinduZoysa

[2021-09-27 11:40] jclark commented on #494
Sounds like properties of the symbol vs the definition. So then we should have a record type (e.g. GlobalSymbolProperties)  used by addAlias and then GlobalProperties should include GlobalSymbolProperties.

BTW addGlobal should clone the props argument.

[2021-09-27 11:50] jclark commented on #494
Not sure I understand.  Can you use an example where only one of the types uses i64?

I would expect the first arg to be the same type as occurs immediately after `alias` in the IR.

Shouldn't it be `string name` (as with addGlobal) not `string? name`?

[2021-09-27 14:03] heshanpadmasiri commented on #494
If you have a global variable `g` defined with type at `i64`. Then you can pass to the aliasTy argument pointer type of i32 (It must be a pointer type) and get the fallowing.
[code]
You can set the name to be an empty string and have the llvm generate names. But I am not sure whether this is desirable or useful for our application

[2021-09-27 14:09] jclark commented on #494
Can we make the type be i32 in our API for uniformity with addGlobal?

How is this going to work with non-zero address spaces?

I think name should be required (as with addGlobal).

[2021-09-27 16:39] manuranga opened #505 "Subset-08 grammer should document allowing`"(" ")"` in `type-desc`"
Allowed in the implementation, since `?` is already allowed doesn't make sense to disallow `()`

[2021-09-27 18:12] manuranga opened #506 "A reference to a type equivalent to `never` should be rejected in subset 8"
This
[code]

gets an internal error. It should get an unimplemented error.

[2021-09-28 00:47] #490 closed, assigned to nobody

[2021-09-28 00:49] jclark commented on #506
That sort of check would stop `--showTypes` working. The way it is intended to work is that any type that is referenced in a function must be equivalent to a type that can be specified in the grammar.

[2021-09-28 01:05] jclark commented on #505
I clarified what the grammar is trying to achieve in https://github.com/ballerina-platform/nballerina/commit/750e07049a81651860c272349e39b8a9581ea6b3

It allows parentheses in array-member-type-desc. If we allowed it in other places, it would either make the grammar unnecessarily complicated or allow types that we do not yet support. If you think otherwise, please propose a specific change to the

[2021-09-28 01:05] #505 closed, assigned to nobody

[2021-09-28 01:26] jclark commented on #506
This should get an unimplemented error in resolveSubsetTypeDesc.

It needs to add `&& ty != t:NEVER`.

[2021-09-28 03:27] heshanpadmasiri commented on #494
I'll make the type non-pointer type (i32 instead of i32*) and make the name required. It respects the address spaces for example c api will generate code like this when we have non-zero address spaces.
[code]

[2021-09-28 03:44] #506 closed, assigned to jclark

[2021-09-28 04:05] #497 closed, assigned to jclark

[2021-09-28 04:31] jclark commented on #483
All the `ue` type tests in #475 should be `e` tests.

[2021-09-28 04:33] #483 closed, assigned to jclark

[2021-09-28 06:14] #414 closed, assigned to nobody

[2021-09-28 06:16] jclark commented on #433
@KavinduZoysa Please close this if it is done.

[2021-09-28 06:40] #494 closed, assigned to heshanpadmasiri

[2021-09-28 06:45] jclark opened #508 "BIR verification should limit where widening can occur"
BIR verification should limit where widening can occur to be consistent with https://github.com/ballerina-platform/nballerina/issues/204#issuecomment-917780707

This means that in several cases it needs to switch from checking for a subtype relationship to checking for an equivalence relationship.

Equivalence between two subtypes should be tested by first using `==` on the SemType and then, if th

[2021-09-28 06:48] jclark opened #509 "Implement field access expressions"
This is an expression `E.x` where the static type of E is a record type.

https://ballerina.io/spec/lang/2021R1/#field-access-expr

[2021-09-28 06:50] jclark opened #510 "Implement field access lvalues"
This is x.y.z on the LHS of an assignment or compound assignment statement.

https://ballerina.io/spec/lang/2021R1/#field-access-lvexpr

[2021-09-28 17:09] KavinduZoysa commented on #357
@jclark, this is my plan to fix this issue. We need to identify both unused module variables and unused local variables.
1. Add field called `boolean isUsed = false` to both records `ConstDefn` and `VarDeclStmt`.
2. Inside `lookupVarRef` we can modify `isUsed` to true.
3. At the end of codeGenFunction, we can iterate through `VardeclStmt`s and find unused local variables.
4. Create a method in `cl

[2021-09-28 17:59] manuranga commented on #357
I think we only need to detect unused local variables, not module level variables.
Consider doing that in verifier instead of codeGen.

[2021-09-29 01:46] jclark commented on #357
This issue is only for local variables (not constants, not parameters). I clarified the title.

[2021-09-29 01:55] jclark commented on #357
Call the field `used` (as `Import` type does). It's better not to annotate the AST if you can avoid it. In this case you can put it in `Binding` or `Environment`. You need to be careful about the shadow bindings created for narrowed variables.  You should be able to check when a variable goes out of scope (i.e. in codeGenStmts).

Please spend some time understanding the code in codeGen.bal and com

[2021-09-29 02:31] jclark opened #511 "Create an initialization module for each program"
Currently, we create an LLVM module for each Ballerina module. With this issue, we will create an additional initialization module.

This module will be responsible for defining the program's main function, which will have a fixed name like `_bal_main`, and is called by C `main` function. This will call the user-defined main function in the root module, whose name depends on the name of root modul

[2021-09-29 02:32] jclark opened #512 "Implement module initialization"
Every module that is part of a program will export an initialization function:

- no parameters, return type `error?`
- responsible for initializing module-level variables (which we don't yet have)
- calls the user-provided `init` function, if any, in the module
- has a special mangled name including the module name distinct from any user-defined function name
- called by a program's init module
-

[2021-09-29 02:52] jclark commented on #511
This should be in a separate file (e.g. `init.bal`).

[2021-09-29 03:06] jclark opened #513 "Add positions to AST nodes"
Every AST node should have a Position for its start and its end. The start position should be the start of the first token that is part of what it represents; the end position should be the end of the last token that is part of what it represents.

This can be done with startPos, endPos fields in the AST nodes.

[2021-09-29 03:07] jclark commented on #513
We can split AST nodes into groups
1. Top-level declarations: ModuleLevelDefn and ImportDecl
2. Statements
3. Expressions
4. Type descriptors

Let's do each of these in a separate pull request, starting with ModuleLevelDefns.

[2021-09-29 03:08] jclark commented on #513
For ModuleLevelDefn, the existing pos should be renamed to namePos and should correspond to the start of the name being defined by the defn.

[2021-09-29 03:10] jclark commented on #513
Create a record type

[code]

And then use `*PositionFields;` to include it in AST nodes.

[2021-09-29 03:12] jclark commented on #513
We also need to come up with a good test strategy.  For group 1: everything other than whitespace or comments should be within exactly one top-level defn.  I think you will need to write code that maps from a Position onto an index of a fragment within a ScannedLine (you have to count the length of each fragment).

Do top-level defns first; then come up the testing strategy.

[2021-09-29 03:49] jclark commented on #513
I think we will need a test function:

[code]

that tests whether all fragments between startPos and endPos are whitespace (e.g. FRAG_WHITESPACE or FRAG_COMMENT).

[2021-09-29 04:35] jclark opened #514 "Split up build.bal"
`build.bal` in nback is getting too big.  We should split it up.

[2021-09-29 07:29] #514 closed, assigned to jclark

[2021-09-29 07:46] manuranga commented on #511
Instead passing all the exports, I propose modifying `validMain` to return a `bir:FunctionSignature` and passing that.

[2021-09-29 07:59] jclark commented on #511
Please don't do that. Eventually we will want startup code to be able call public functions other than `main` in the root module.

compileBalFile can get the ModuleExports from ResolvedModule without any interface change required.

[2021-09-29 08:21] manuranga commented on #511
`ExportedDefn` is defined in `front`, importing in form `back` felt wrong. Should I move it to `bir`?

[2021-09-29 08:35] jclark commented on #511
That's a good point. How about passing a `map<bir:FunctionSignature>` (extracted from ModuleExports) to nback, since we only care about public _functions_?

[2021-09-30 06:28] manuranga commented on #412
I have to think a bit more before finalizing, but at high level I thought of two approaches. Let's take the case where we see `(` at the beginning of a statement.

#### Approach 1 - single pass

[code]

#### Approach 2 - look ahead

[code]

Hope to discuss this in today meeting.

[2021-09-30 07:02] heshanpadmasiri commented on #513
I have a suggestion for a possible test strategy for general case

1. We extend the tokenizer so that we can move forward it up to a given position
2. We'll use 1 to seek the tokenizer forward up to start position
3. Then call the parser function for the given node (ex:`TypeDefn` -> `parseTypeDefinition`)
4. If the start position is wrong parser will fail
5. Else after the parser function we look

[2021-09-30 07:20] ushirask commented on #499
Need to implement a better representation for expected relationships of the types.
If S is a proper subtype of T represent by `// @type S < T`
If S and T are equivalent types represent by `// @type S = T`
If neither S or T are a subtype of the other `// @type S <> T`

Ex: -
[code]
[code]

[2021-09-30 09:05] jclark opened #518 "Deal with intersections resulting from conditional narrowing"
This sort of case will cause problems:

[code]

The code assumes in several places that simpleArrayMemberType will return a UniformTypeBitSet; this case violates that assumption.  Similarly for maps.

Also

[code]

We will get an intersection type (a BDD with two nodes) here, which we cannot yet project.

[2021-09-30 09:37] jclark commented on #412
One point to bear in mind is that the grammar for type descriptors is a lot simpler than the grammar for expressions.  It is a bit easier to analyze what is impossible in a type-descriptor than in an expression.

Some things to look for:
- a built-in type such as `int`, `string`, `boolean` can only occur in an expression  if it immediately precedes `:` or if there has previously been one of the fo

[2021-09-30 10:00] jclark commented on #412
One way to approach this would be to have a state machine, with a stack of open brackets (`([{`), which you feed with token types (i.e. FixedToken|VariableTokenCode), and after each token, it says one of:

- keep going - not sure yet
- definitely local-var-decl
- definitely method-call
- error - can't be either

We can start relatively simple and add complexity as time goes on.

[2021-09-30 10:34] heshanpadmasiri commented on #513
@jclark for the line ([testcase](https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/05-const/2-v.bal))
[code]
I am getting fragcodes as `[135, 0, 3, 0, 61, 0, 4, 59]` (with fragments being `[" ",  "N1",  " ", " ", "100"]`) is this the expected behavior. (problem being fragcodes having FRAG_WHITESPACE(0))

[2021-09-30 11:47] jclark commented on #412
Further thoughts:

- recursive descent will be easier than a state machine
- probably not worth doing left factoring: starting with a parenthesis is not so common, and saving/restoring tokenizer state is not so expensive

So you have something like

[code]

where
- boolean means we have definitely decided it is/isn't a type desc
- nil means we need to keep parsing
- err:Syntax is an error

After r

[2021-09-30 11:51] jclark commented on #513
Looks like what I would expect. You don't get a fragment for any FragCode that always has the same string. So `const`, `=` and `;` won't have a fragment associated with them, and everything else will.  The idea is that you can reconstruct the exact original line from the ScannedLine.

What is it that doesn't look right to you?

[2021-09-30 11:59] jclark commented on #513
@heshanpadmasiri One difficulty I see is how to set the right mode (MODE_NORMAL vs MODE_TYPE_DESC); but perhaps you can deduce from the kind of AST node.

It will be useful functionality to be able to set the Tokenizer to a particular Position.  It requires some care to implement correctly. Probably we restrict it initially to a position between tokens. We could use this to replace saving the Toke

[2021-09-30 12:10] jclark commented on #499
This can be implemented in compiler/tests/testSuite.bal.

[2021-09-30 15:08] jclark commented on #412
I would add the expected close bracket as a parameter to the preparse function. Then you can do most of the work with a single function.

[2021-10-01 01:15] #511 closed, assigned to manuranga

[2021-10-01 03:05] heshanpadmasiri commented on #513
It's a `ModuleLevelDefn` with white spaces. I thought they were suppose to be free of white spaces. Are we trying to test everything not covered by the Top-level declarations with `testIsWhitespace` or everything that is a Top-level declaration

[2021-10-01 03:40] jclark commented on #513
Test that everything that is not within a top-level definition (including ImportDecl) is whitespace. Something is within a top-level definition if it is between the startPos and endPos of that definition.

Also test that the startPos/endPos of top-level definitions do not overlap.

[2021-10-01 10:02] jclark commented on #513
We should also check that whitespace is in the right place: startPos should not be the start position of a whitespace token; endPos should not be the end position of a whitespace token.

[2021-10-03 02:22] jclark commented on #518
In the case where the new type is a subtype of the old type, we can just use the new type rather than the intersection.

[2021-10-03 03:03] jclark commented on #495
We need to consider something like this:

[code]

Here r may have the exact bit set, but the assignment can be an inherent type violation.

One could argue that this should be a compile error: you can to convert to `map<string|int>` first, if that's what you really want. But the spec is clear that this is OK.

This means we need a concept of a projection being exact or not.

[2021-10-03 03:34] jclark commented on #204
We are going to need to distinguish between exact and inexact projections for list/map set/get.

[2021-10-03 05:09] jclark opened #522 "Implement SemType projection"
Projection is a an operation on types Proj(T, K) where T is a subtype of list or a subtype of mapping, and K is a subtype of int or string respectively, such that if v belongs to T and k belongs to K, then `v[k]` belongs to Proj(T,K). The spec calls Proj(T,K) [the member type of K in T](https://ballerina.io/spec/lang/2021R1/#section_5.4).

[2021-10-03 05:10] jclark commented on #522
This is discussed in section 4.4.1 of the [Castagna](https://arxiv.org/abs/1809.01427) paper.

[2021-10-03 05:11] jclark commented on #522
We need to do a bit of this in order to solve #518.

[2021-10-03 05:21] jclark commented on #522
The BDD is a disjunction of conjunctions of possibly negated atoms.  So a first approximation is:

- project each positive atom independently
- ignore each negated atom
- combine the projections in the same way as the corresponding atoms

The question is whether we can get something more precise by paying attention to negated atoms. We cannot simply project and combine. For example the projection

[2021-10-03 05:25] jclark commented on #522
Consider:

[code]

This is (I think) equivalent to `[int, int]`, so the projection is always `int` regardless of the key type.

[2021-10-03 10:29] jclark commented on #522
I am stuck on equation 4.17 on page 15:38 of the [Castagna](https://arxiv.org/abs/1809.01427) paper. He gives this formula (w/o the red lines, of course) for the type of e[0]

![ProjectionQuestion](https://user-images.githubusercontent.com/499966/135749552-e70cdea8-faca-4d47-9df2-9a543030cacf.png)

This is when e has type:

![ProjectionEquation](https://user-images.githubusercontent.com/499966/135

[2021-10-03 10:38] jclark commented on #522
Consider the very simple case where the type of e is (in Ballerina syntax with the addition of `!` for not):

[code]

In this case I is {1}, P1 is {1}, N1 is {2}. So the possibilities for N' are {} and {2}. Thus the formula 4.17 reduces to:

[code]

But that is just S1.

[2021-10-03 11:48] jclark commented on #522
@rdhananjaya @manuranga Any thoughts?

[2021-10-03 16:33] manuranga commented on #522
After staring at this section for almost 5 hours, I think I understand it.

You are correct, it'll give `S1`, but as it says this is just an approximation, by that it seems to mean an upper bound.
4.20 gives the accurate answer:
[code]
(note: `<:` stands for subtype, not proper subtype)

[2021-10-03 18:51] manuranga commented on #412
Yesterday, I wrote a small ballerina program to [generate first non-terminal for each rule](https://gist.github.com/manuranga/c5a8efe59f06c458412798f571d6245c). It would be useful if this is extended to give next terminal, give a rule and current terminals, then even draw a railroad diagram. But I paused this yak-shaving today to work on the main task. I have created above pr with expected grammar

[2021-10-03 20:23] manuranga commented on #522
Interesting test case:
[code]

[2021-10-04 02:10] jclark opened #523 "LLVM support for function pointers"
In order to do #402, I want to be able to create global constants that are structures that include function pointers.

This means we need to be able to create a function type and get a pointer to a function as a ConstPointerValue.

[2021-10-04 03:58] jclark commented on #522
You're ahead of me: I haven't yet tried to understand 4.20 (i.e. bottom half of page 15:38), but your example makes sense. Does 4.20 handle my example in  https://github.com/ballerina-platform/nballerina/issues/522#issuecomment-932866001? I don't think it does. I suspect 4.20 is also an approximation: just a more precise one than 4.17.

For our purposes, I think we can only get negated atoms when

[2021-10-04 04:21] jclark commented on #495
We could probably add intersections of record types, without making things significantly harder, since these arise anyway via conditional type narrowing.

[2021-10-04 05:37] manuranga commented on #522
I don't think so.

Yes, I thought so as well. That is why I wrote the above example. I didn't notice that your example already illustrates this.

But I could be wrong, because it's not entirely clear to me how to pick the correct `N'`.

Eg: In your example, one could pick `N'` such that `Sn` is `int?` and `never`, and that will give the correct answer. On the other hand, if one picks `N'` such tha

[2021-10-04 06:27] jclark commented on #522
You have to take the union for every N' that satisfies the criteria. So to handle my example right, all the Sn would have to include `()`.

Implementing requires transforming the BDD to turn `[S1,S2]&![T1,T2]` into `[S1&!T1,S2]|[S1,S2&!T2]`, which is going to blow with large records if done naively. I think we can manage without this for quite a while.

[2021-10-04 07:30] jclark opened #526 "Implement xml subtypes in types module"
The types module supports the `xml` type. This adds support for xml subtypes.

[2021-10-04 08:18] jclark commented on #522
This is also covered in Andrew Kent's [tutorial](https://pnwamk.github.io/sst-tutorial/#%28part._.Product_.Projection%29).

[2021-10-04 10:11] #523 closed, assigned to heshanpadmasiri

[2021-10-04 10:13] #356 closed, assigned to KavinduZoysa

[2021-10-04 10:43] manuranga commented on #522
I found it easier to imagine SemType product as a Cartesian product.
<img src="https://user-images.githubusercontent.com/1686124/135827206-34056fdd-2bb5-4dae-bd3c-e9fad773338d.jpg" width="250" height="250">

Then you can see union with a negation (in other words subtraction) will look as below. You'd simply have to cut out one square from another square. Lets take `e = (S₁, T₁) & !(S₂, T₂)`

<img

[2021-10-04 12:50] jclark commented on #133
I think we may have already allowed this in via type definitions. We need to check and make sure it works.

[2021-10-04 12:53] jclark commented on #357
Note that we need to fix all our existing e cases so that they do not generate an unused variable error.

[2021-10-04 12:58] manuranga commented on #133
I'll first send a PR with just tests for the already working cases.

[2021-10-05 01:30] jclark commented on #526
There's some material in [NOTES](https://github.com/ballerina-platform/nballerina/blob/main/compiler/modules/types/NOTES.md#xml)

[2021-10-05 04:30] jclark commented on #526
Assuming the representation proposed in the notes, the difficult part is to write the isEmpty function on the BDD. On any path, you can intersect all the positive ones to give you a single bit vector (call this P). You then have to test whether all the negated atoms on the path makes this empty. I think this only happens if there is an N such that P <: N.

[2021-10-05 07:53] #518 closed, assigned to jclark

[2021-10-05 07:57] #477 closed, assigned to rdhananjaya

[2021-10-05 07:57] #493 closed, assigned to rdhananjaya

[2021-10-05 11:40] rdhananjaya commented on #526
From [NOTES](https://github.com/ballerina-platform/nballerina/blob/main/compiler/modules/types/NOTES.md#xml)

If we have a bit for `nil` and a flag to say if this is a sequence or a singleton, then whether the empty sequence is allowed is inferable from the type alone, right?

`xml<xml:Element>` can't have an empty sequence, whereas `xml<xml:Text>` and `xml<never>` can.

[2021-10-05 12:22] jclark commented on #526
Remember we have to design this in a way that is closed under intersection/union/difference. So "a flag to say if this is a sequence or singleton" won't work.

The idea is to partition the set of xml values into 3 disjoint sets:

- the empty sequence
- sequences of length 1
- sequences of length > 1

Then we have a representation of each of these 3 parts. So...

`xml<never>` contains just the empt

[2021-10-05 12:33] jclark opened #529 "Document allowing `_` on LHS"
Need to update subset09.md for #356 and #492.

[2021-10-06 04:03] jclark commented on #495
An expression `r[s]` where type of r is a record type that has members that are records and type of s is a string will give us a type that is a union including record types, but the subset was not planned to include these.

[2021-10-07 03:45] jclark commented on #250
I will update the Makefiles.

@manuranga Please update GitHub actions
@heshanpadmasiri Please update JNI

[2021-10-07 03:52] jclark commented on #250
I think we're best off using the LLVM apt repo on Ubuntu 20.04: the version in universe is 12.0.0 rather than 12.0.1.

[2021-10-07 04:38] jclark commented on #526
There's also some complexity between mutable and immutable subtypes. This works rather differently from lists/mappings where the list/mapping is either immutable or not. Here it's the XML singleton (element/comment/processing instruction) that is mutable or not. (This is a bit like the situation with readonly record fields.)

[2021-10-07 05:10] jclark commented on #526
Thinking in terms of values: an xml value has its readonly bit set if and only if the readonly bit of each of its constituent singletons is set. A value of xml basic type is in XML_RO uniform type if its readonly bit is set and otherwise is in XML_RW.

So for XML_RO, the subtypes must exclude mutable singletons (i.e. we mask out the mutable types from the bit vector). This is easy.

Similarly XML_

[2021-10-07 06:13] jclark commented on #526
@rdhananjaya For the xml type to fit in with how we have done readonly, we need to split the description of a set of xml values into two independent parts:

1. a description of a set of xml values that are readonly
2. a description of a set of xml values that are not readonly

For each of these two descriptions, we need to be able independently to perform union/diff/intersection and to determine e

[2021-10-07 07:34] jclark commented on #412
This `[int][X]` is a nasty case, because `[X]` could be a binding pattern or a fixed length array.

So:

[code]

or

[code]

[2021-10-07 10:23] #250 closed, assigned to jclark, manuranga, heshanpadmasiri

[2021-10-07 10:35] jclark commented on #495
We can get a decent implementation on top of our map implementation, without going to an LLVM struct, just by inserting the fields in sorted order in the constructor. Because our mapping implementation has a separate compact array that is in insertion order, for a closed record type this allows us to determine the index of the field in the compact array at compile time.

Still to be done to achiev

[2021-10-08 02:55] jclark opened #538 "Introduce Identifier AST node that includes positions"
For AST nodes that include an Identifier, it will be convenient to introduce a node that combines the string for the identifier with the position.

[code]

Types that could use this include:
* FunctionDefn
* ConstDefn
* TypeDefn
* ForEachStmt
* VarDeclStmt
* FunctionCallExpr
* MethodCallExpr
* Field
* VarRefExpr
* TypeDescRef

For cases where there is a qualified name (i.e. a prefix also), both th

[2021-10-08 02:55] jclark commented on #513
@heshanpadmasiri Please think about #538 while you are doing this (and perhaps start to do it also).

[2021-10-08 02:58] jclark commented on #538
We should factor out a function that turns an `[IDENTIFIER, string]` token into an Identifier record.

We can then use this in error messages to give nice ranges.

[2021-10-08 04:15] #133 closed, assigned to manuranga

[2021-10-08 04:53] jclark opened #539 "Allow unions to contain subtypes of structured types"
In subset 9, unions are not allowed to contain subtypes of structured (arrays, maps, records). We only support `any` or `any|error` which contain complete basic types.

This issue is to remove this limitation. The main work is to improve how runtime type checking is done (both type test and type cast): the init module will have tables recording (for mapping and list) which atomic types are subtype

[2021-10-08 05:00] rdhananjaya commented on #526
[code]

@jclark @manuranga what do you think?

[2021-10-08 06:41] jclark commented on #526
I can provide detailed comments with a pull request, but this is in the right direction.

I suspect it will be less code if you make XmlRwData and XmlRoData be the same record type. I also think it will be simpler to do empty as an additional flag in singleton (and rename accordingly).

BddNode? should be Bdd (with the usual convention that true means everything and false means nothing).

[2021-10-08 07:01] rdhananjaya commented on #526
Thanks for the input, will proceed with the proposed changes.

The idea I had to reuse the logic was to have another super type used for common code `record { int singleton; BddNode? sequence; }`, this is the parameter type for common functions, accepting either `XmlRoData` or `XmlRwData`.

[2021-10-08 07:24] jclark commented on #526
It's going to be much simpler to put hasEmpty as a flag in singleton and use the exact same type.

`xmlSequence` is not the right function. `xml<T>` is a type operator on a **single** type, which must be a subtype of `xml`. Unions inside `T` are normal unions. So xml.bal should provide

[code]

Precondition for this is that constituentType is a subtype of `xml`.

[2021-10-08 07:28] jclark commented on #526
You need a function that creates a SemType from a XmlRoData/XmlRwData pair recognizing the case when either member of the pair is equivalent to all or none of the uniform type. This would be analogous to createStringSubtype.

[2021-10-09 01:06] jclark commented on #402
Suppose R is a record type and suppose there's a type test `v is R`.  There is an important common case where we can compile this very efficiently. If the program contains no case where a mapping value is created with an inherent type that is a proper subtype of R, then, assuming we give every inherent type a  unique integer id, we can compile this into a test of whether the unique id of the inher

[2021-10-09 02:55] jclark commented on #237
The way we've done this isn't satisfactory because it doesn't support recursive types. For example, the C struct

[code]

would turn into

[code]

So we shouldn't combine [`LLVMStructCreateNamed`](https://llvm.org/doxygen/group__LLVMCCoreTypeStruct.html#gaf3bed4d4b79664d613acf8b9dbfbccb7) and [`LLVMStructSetBody`](https://llvm.org/doxygen/group__LLVMCCoreTypeStruct.html#ga0969f946bdec1ddb160530e12

[2021-10-09 09:17] manuranga commented on #412
Update:
I am in the process of extending the supported statement grammar to have parentheses around just the type ref and `()`, (in addition to union types defs). I think is a good way to stage, since it will require figuring out key features, which are:
- Recursively handling parentheses
- Keeping the code similar for `[` and `(`
- Distinguishing between `x[CONST]` as a type and ref. (Note that w

[2021-10-09 09:24] jclark commented on #412
I don't think it's useful to extend the subset grammar to do this: the point of this issue is to simplify the subset grammar by getting rid of the difference between inline and non-inline type descriptors.  Let's just get this done.  What are the cases that you cannot yet distinguish?

[2021-10-09 09:25] jclark commented on #412
We don't need `x[CONST]` as a type descriptor for quite some time.

[2021-10-10 10:37] jclark opened #541 "Allow compound assignment with mapping member access lvalues"
The addition of records means that `m["foo"]` can return a non-optional value. This means we need to support member access lvalue expressions for mappings on the LHS of compound assignments e.g.

[code]

[2021-10-10 23:28] jclark commented on #412
The code needs some work.

[2021-10-10 23:34] jclark commented on #412
@manuranga I did a bit of work on preparsing. I have restructured it so that it will accomodate future evolution better. It gives errors in more cases. I didn't really understand your testing code.  Please have a look and maybe add a few more test cases. I added an early return for nested "." just to show how to accommodate this. You might want to add a few cases to the `match` statement.