[2021-10-11 00:46] #357 closed, assigned to KavinduZoysa

[2021-10-11 01:01] jclark commented on #237
@heshanpadmasiri Please prioritize this. It is blocking my work.

[2021-10-11 01:07] jclark opened #544 "Syntactically allow qualified identifiers in lvalues"
These can't be valid semantically yet, but we should allow them since we allow a qualified identifier followed by square brackets as an expression.

[2021-10-11 01:18] jclark commented on #412
There is still more work to do here.  We should be able to get rid of all the code for inline type desc parsing from parseTypeDesc (first 85 lines or so).  But we can't. Problem is parseErrorStmt using finishInlineTypeDesc in order to handle this (which is syntactically but not semantically valid):

[code]

[2021-10-11 01:21] jclark commented on #412
To get rid of inline type desc from the subset grammar we also need to allow statements starting with `record`.

[2021-10-11 01:39] jclark commented on #412
In the full grammar, there are difficult cases with error; `error X` could start `error X("foo").whatever()` or `error X = foo()`. So in general we need do a token save/restore like with `(`.

I will create a separate issue for dealing with simpler cases more straightforwardly.

[2021-10-11 01:44] jclark opened #545 "Add peek method to Tokenizer"
Several parsing cases (both in #412 and elsewhere) can be handled more straightforwardly if the tokenizer has the ability to peek ahead one token. Although we can do this by saving and restoring the Tokenizer state, this is a heavyweight solution.

We should add a `peek` method to Tokenizer that returns a `VariableTokenCode|FixedToken` by finding the next non-whitespace/comment fragCode. It should

[2021-10-11 02:03] jclark commented on #544
Fixed the subset grammar for this.

[2021-10-11 02:05] jclark commented on #412
Maybe we should just bite the bullet and do #545.

[2021-10-11 02:06] jclark commented on #412
I'll take a shot at #545.

[2021-10-11 02:45] #545 closed, assigned to jclark

[2021-10-11 02:57] jclark commented on #544
I think this is just a matter of `[` case from finishIdentifierStmt to finishOptQualIdentifierStmt.

[2021-10-11 03:14] jclark commented on #204
For `array:push`, I think we just have to fix `buildCall` to get the last argument of buildWideRepr from funcRef.signature rather than funcRef.erasedSignature.

[2021-10-11 06:12] jclark commented on #237
Keeping open to fix a couple of minor things: https://github.com/ballerina-platform/nballerina/pull/546#pullrequestreview-775835550

[2021-10-11 06:27] jclark commented on #541
Compound assignment needs refactoring also.

[2021-10-11 06:30] jclark commented on #412
We should also have a couple of tests in the test suite for cases with parentheses to make sure everything is working together particularly this sort of thing

[code]

which we could not do before.

[2021-10-11 06:39] jclark commented on #538
Problem with top-level defns in that the name is being used as a table key.

[2021-10-11 07:34] jclark opened #550 "Update JBUGs for slbeta3"
Go through all JBUG comments and either:

- if the bug has been fixed, remove the comment and the workaround
- if the bug has not been fixed and does not have a number, file a bug report

[2021-10-11 09:15] #541 closed, assigned to jclark

[2021-10-12 00:42] #412 closed, assigned to manuranga

[2021-10-12 00:43] jclark opened #553 "Revise subset grammar to get rid of inline-type-desc"
Follow on from #412

[2021-10-12 00:46] #237 closed, assigned to heshanpadmasiri

[2021-10-12 02:26] rdhananjaya commented on #292
Same as https://github.com/ballerina-platform/nballerina/issues/477

[2021-10-12 04:04] #444 closed, assigned to KavinduZoysa

[2021-10-12 04:04] #544 closed, assigned to nobody

[2021-10-12 04:22] #553 closed, assigned to jclark

[2021-10-12 04:31] #292 closed, assigned to nobody

[2021-10-12 05:48] KavinduZoysa commented on #492
Since this feature belongs to the `local-init-var-decl-stmt` and wildcard is a binding-pattern under typed-binding-pattern, I suggest to model this in AST as shown below.

[code]
@jclark WDYT?

[2021-10-12 05:51] jclark commented on #492
Doesn't work because WILDCARD is a subtype of string.

[2021-10-12 07:19] KavinduZoysa commented on #492
We can keep the wildcard as a separate field in `VarDeclStmt` as shown below.
[code]

Or we can create a separate node for this as shown below.

[code]

I prefer to use the second approach because it will be more clear to model this outside the `VarDeclStmt`.
@jclark, can you please check and comment on this?

[2021-10-12 08:22] manuranga commented on #492
In the first options you don't need a separate boolean, since `varName = ()` already imply wildcard.

[2021-10-12 08:30] KavinduZoysa commented on #550
These are the list og JBUGs we need to update.

- [x] compiler/tests/testBalt.bal: `JBUG: #32575`
- [x] compiler/tests/baltest.bal: `JBUG #31679 should use do`
- [x] compiler/compile.bal: `JBUG gets a bad, sad when done with a query expression`
- [x] compiler/balt.bal: `JBUG: can't use Char gives "'string' value 'x' cannot be converted to 'lang.string:Char'`
- [x] compiler/modules/nback/build.bal:

[2021-10-12 10:34] ushirask opened #555 "Extend typeDescToWords to handle all type descriptors"
`typeDescToWords` in `astString` should be extended to handle all type descriptors that can be parsed, not just the subset supported in functions, for example `type T true;`.

[2021-10-13 02:10] jclark commented on #550
Please do this as lots of small pull requests rather than one big one.

[2021-10-13 02:29] jclark commented on #492
We should have an approach where wildcard binding pattern is handled consistently in an AssignStmt and in a VarDeclStmt.

@manuranga it would be useful learning exercise for @KavinduZoysa to figure this one out himself...

[2021-10-13 02:36] jclark opened #557 "Make llvm:FunctionDecl be an llvm:ConstPointerValue"
At the moment we have a toValue method to work around that, but we should find a better way.

[2021-10-13 02:40] jclark commented on #557
Maybe best solution is not making llvm:Value be readonly. Instead

- llvm:Value would be an object type (probably similarly for ConstValue and ConstPointerValue)
- we would have readonly classes that subtype the above types
- for classes that are not readonly we can make the fields final

[2021-10-13 04:41] jclark commented on #557
We also need to be able to call a function ptr that we get from a structure (like a vtable).

[2021-10-13 06:54] KavinduZoysa commented on #492
I suggest to change both AssignStmt and VarDeclStmt as shown below. We can represent wildcard-binding-pattern when lValue or varName is nil.

[code]
@jclark, @manuranga WDYT?

[2021-10-13 09:48] #557 closed, assigned to heshanpadmasiri

[2021-10-14 04:59] jclark commented on #495
Need more tests:

- multiple modules: in particular same type in multiple modules
- long string names

[2021-10-14 06:57] jclark commented on #492
[code]

[2021-10-14 09:16] KavinduZoysa commented on #550
By searching from the issue number, the following issues are identified as unfixed in Swan Lake Beta 3. Edited the above list by removing these entries.

compiler/tests/testBalt.bal: `JBUG #32440 can't use assertNotEqual`
compiler/tests/testBalt.bal: `JBUG #31334 cast` (fixed in beta4)
compiler/tests/testSuite.bal: `JBUG #32615 can't use from-in-from query syntax`
compiler/modules/front.syntax/par

[2021-10-14 09:53] jclark commented on #538
Another point is that we can compute the end position from the start position and the scanned line.

[2021-10-15 07:44] jclark commented on #204
When a structure v has a key k with a member r referring to a structure s, then r having the exact bit set implies that the inherent type of s is the same as the type that the inherent type of v requires for member k.

So when we do a member get/set, we need to clear the exact bit if
- the type of value being fetched includes mappings/lists, and
- either
   - the reference to the structure does no

[2021-10-15 11:51] #499 closed, assigned to rdhananjaya, ushirask

[2021-10-16 17:56] manuranga commented on #510
@jclark
​​In the current subset, record fields can only be (unions of) basic types. So valid filed access lvalues will only be in the form `x.y` not `x.y.z`. Therefore I should keep `FieldAccessLExpr` as is, instead generalizing `mapping`. Is this understanding correct?

[2021-10-17 02:12] jclark commented on #510
Correct.  We will generalize lvalues when we support arbitrary member types for structures.

[2021-10-17 04:29] #303 closed, assigned to nobody

[2021-10-17 13:04] jclark commented on #204
There's now documentation here: https://github.com/ballerina-platform/nballerina/blob/main/docs/exact.md

[2021-10-17 17:46] manuranga opened #568 "Parser bug in wildcard destructuring assignment statement"
Following complies.
[code]

[2021-10-18 00:31] jclark commented on #204
As regards this point:

* figure out whether ListSet/MappingSet need to behave differently based on the exactness of the reference to the list/mapping

the answer is that the exact bit of what is being stored needs to be cleared if the reference to the list/mapping is not exact.

However, this cannot happen in subset 9 because the exact bit will be cleared from any structure value stored in a list

[2021-10-18 00:41] #568 closed, assigned to nobody

[2021-10-18 00:54] jclark opened #571 "Support arbitrary nesting of structure types"
At the member structures are restricted to containing types that are unions of complete basic types. This issue removes restrictions on the types that are allowed for structure members.

This mainly involves extending descriptors for lists/mapping to allow the type for each member to be an arbitrary type.

Required for correctness are:

- [x] #572
- [x] #574
- [x] #706
- [x] #707

Naturally part o

[2021-10-18 00:59] jclark opened #572 "Extend exactness tracking to handle nested structure types"
This completes #204 as needed for #571.

What's needed is [described ](https://github.com/ballerina-platform/nballerina/blob/main/docs/exact.md#structure-getset) in the exactness tracking doc.

[2021-10-18 01:06] jclark commented on #204
We will leave nested structure types to a separate issue #572.

All that remains for this issue is https://github.com/ballerina-platform/nballerina/issues/204#issuecomment-939644131

[2021-10-18 01:08] jclark opened #573 "Support open record types"
This involves:

- [x] supporting record-rest-descriptor #736
- [x] supporting the `record { }` syntax #737
- [x] supporting `anydata` #714  (although from the point of view of the subset we can approximate anydata and don't absolutely need #713)

It requires #571

[2021-10-18 01:09] jclark opened #574 "Make `==` deal with cycles"
This is required for #571.

[2021-10-18 01:46] jclark opened #575 "Implement subtypes of simple types and string"
Subtypes of simple types and string includes

- simple type singletons
- string singletons
- integer subtypes (`int:*` and byte)
- string:Char
- unions/intersections of the above

Subtasks

- [x] Support runtime type testing of `boolean` subtypes
- [x] Support runtime type testing of `int` subtypes
- [x] Support runtime type testing of `float` subtypes
- [x] Support runtime type testing of `decima

[2021-10-18 01:57] jclark opened #576 "Implement tuple types"
Implementing tuples is similar to records except that

- tuples support ordering using relational operators
- we have optimized array implementations

Things to do:

- [x] #891
- [x] Rework array comparison in backend
- [x] Change ListDesc in runtime and init.bal to support tuples
- [x] Allow tuples in resolve types
- [x] Support in init.bal for type testing tuple types
- [x] Use correct contextua

[2021-10-18 02:21] #509 closed, assigned to manuranga

[2021-10-18 03:05] jclark commented on #575
Several operations on mappings assume for an expression `m[k]` where m is a mapping, the type of k is either a singleton string or a `string`. This assumption will need to be fixed.

[2021-10-18 03:49] #204 closed, assigned to jclark

[2021-10-18 08:13] jclark commented on #522
We have done enough of this, I believe, to keep us going till #575

[2021-10-18 08:30] jclark commented on #539
We should do #580 first.

[2021-10-18 08:47] jclark opened #583 "Make operations on list values go through function pointers in the descriptor"
This is a prerequisite to #329. Follows on from #582.

[2021-10-18 08:48] jclark commented on #329
Prerequisites are #582 and then #583.

[2021-10-18 10:28] #510 closed, assigned to manuranga

[2021-10-18 10:38] #529 closed, assigned to jclark

[2021-10-18 11:49] #492 closed, assigned to KavinduZoysa

[2021-10-19 00:56] jclark opened #586 "Take advantage of `!is` operator"
Swan Lake beta 3  provides `!is` operator. We should fix the code to use it.

[2021-10-19 01:39] #495 closed, assigned to jclark

[2021-10-19 01:43] jclark opened #587 "Detect duplicate fields in record type descriptor"
Currently these are not detected.

[2021-10-19 01:57] #587 closed, assigned to jclark

[2021-10-19 10:13] manuranga commented on #508
I am wondering how to test this.

[2021-10-20 03:08] jclark opened #592 "Take advantage of relaxed typing of `==` and `!=`"
slbeta3 implements https://github.com/ballerina-platform/ballerina-spec/issues/814

We should take advantage of this.

[2021-10-20 03:24] #586 closed, assigned to jclark

[2021-10-20 03:24] #592 closed, assigned to jclark

[2021-10-20 06:44] manuranga commented on #508
Reopening to address [#590 (comment)](https://github.com/ballerina-platform/nballerina/pull/590#issuecomment-947266369).

[2021-10-21 04:22] jclark opened #598 "Support `null` as synonym for `()`"
Ballerina allows `null` as a synonym for `()` both as a type descriptor and a literal.

https://ballerina.io/spec/lang/2021R1/#nil-type-descriptor
https://ballerina.io/spec/lang/2021R1/#nil-literal

[2021-10-21 04:23] jclark commented on #598
subset spec will need to be fixed to match also.

[2021-10-21 04:39] jclark opened #600 "Support intersection types"
I suspect this may be easy to do given #539.

[2021-10-21 06:23] #513 closed, assigned to heshanpadmasiri

[2021-10-21 07:22] heshanpadmasiri opened #603 "Extend start and end pos to include parentheses"
For ast nodes generated in the form `"(" expression|type-desc ")"` , extend the start and end pos to include parenthesis

[2021-10-21 07:49] KavinduZoysa commented on #550
New issues created :
https://github.com/ballerina-platform/ballerina-lang/issues/33227
https://github.com/ballerina-platform/ballerina-lang/issues/33300
https://github.com/ballerina-platform/ballerina-lang/issues/33301
https://github.com/ballerina-platform/ballerina-lang/issues/33303
https://github.com/ballerina-platform/ballerina-lang/issues/33307
https://github.com/ballerina-platform/ballerina-l

[2021-10-21 07:52] jclark opened #604 "Add position of operator to AST nodes"
Many AST nodes need a position for the operator:

* (almost?) every expression node
* some statement nodes (e.g. assignment, compound assignment, variable declaration)
* some type descriptors (e.g. `|` and `&`)

Note that because of #603 we need this even for unary operators (since the startPos of the expression may be the parenthesis rather than the unary operator).

Call this field `opPos`.

[2021-10-21 07:54] jclark commented on #604
Cases where maybe not obvious:

- type cast should be position of `<`
- function and method call should be position of `(`

[2021-10-21 08:00] jclark opened #605 "Add position to BIR insns"
Every BIR insn should have a single position (not a range).  Long-term this will be used mainly for debugging info. Also used for error messages from verifier and backend.

Typically position should come from position of operator in AST (#604).

As we do this, we should fix verifier errors to use the position.

[2021-10-21 12:14] manuranga opened #609 "Move the logic in`buildListConstruct` to a new `list_construct` function in C"
Move the logic in`buildListConstruct` to new `list_construct` function in C
Get rid of `buildUntypedAlloc`

[2021-10-21 12:19] jclark commented on #609
This will also fix #203

[2021-10-21 13:06] #58 closed, assigned to heshanpadmasiri

[2021-10-22 00:20] jclark opened #613 "Implement ternary conditional expressions in front-end"
This is purely a front-end feature.

Should probably be done after #101.

Difficult part is dealing with parsing ambiguity between `:` as else in conditional and `:` between prefix and identifier.

[2021-10-22 00:47] jclark commented on #613
Idea for how to handle ambiguity:

- Functions parsing expressions get an additional argument that is a optional record with two integer fields, elseColonIndex and colonCount
- This argument is non-nil in places where `:` could be the else in a conditional expr
- When parsing a colon that might be a prefix of an identifier, check whether elseColonIndex == colonCount; if they are equal, don't parse

[2021-10-22 01:26] jclark commented on #613
Maybe better to add a ParseContext argument to parsing functions and put the colon-related fields in that.

[2021-10-22 01:48] jclark commented on #613
For example, consider

[code]

First try we will parse `a` as thenExpr, `b : c` as elseExpr. We will end up with the next token as `:` which will cause us to retry. Second try we will parse `a:b` as thenExpr, `c:d` as elseExpr, and the next token will the `;`, which is OK and will cause us to return.

[2021-10-22 01:59] jclark commented on #583
I suggest we handle filler value by have a create_filler_value function in the descriptor (rather than having the filler value itself in the descriptor): this is so it will work for records where we have to create a new filler value.

[2021-10-22 02:23] jclark commented on #539
Need be clear about what exactness means for unions with subtypes of both list and mapping. For example, if we have a static type `int[]|map<int>`, can the value have the exact bit set? [Exactness design doc](https://github.com/ballerina-platform/nballerina/blob/main/docs/exact.md) says that's OK and it means that:

- if the value is a list, the inherent type must be exactly `int[]` and
- if the v

[2021-10-22 02:30] jclark commented on #613
@lochana-chathura Would https://github.com/ballerina-platform/nballerina/issues/613#issuecomment-949123547 work for jBallerina?

[2021-10-22 03:17] jclark opened #614 "Change TypeTest struct to allow subtypes of multiple uniform types"
Change TypeTest to work like ComplexSemType:

[code]
The contains function would assume that the value has the right uniform type.

Prerequisite for #539.

[2021-10-22 03:45] jclark opened #615 "Store unique id of inherent type in list and mapping descriptor"
List and mapping descriptors should include a uint32_t giving a unique id of the inherent type. The id would uniquely identify the inherent type from all the inherent types of the same uniform type used by the program.

This will be useful for several things:
- For type test/cast to an atomic type, we can check first whether the value is exactly equal to a particular id: for a TypeCast, I expect t

[2021-10-22 03:46] jclark commented on #539
We should do #614, #615 first.

[2021-10-22 05:14] jclark commented on #613
@hasithaa mentioned this example  `x ? a:b:c` which the above algorithm would parse as ` x ? (a) : (b:c)` but jBallerina parses as `x ? (a:b) : c`. I believe both parses are consistent with `m:x` having higher precedence than `x?y:z` since they both produce a parse where the outer expression is `x?y:z` and the inner expression is `m:x`.

[2021-10-22 05:21] jclark commented on #613
Here's a more complicated one:

[code]

There's no ambiguity here, so the right parse is:

[code]

which I believe the above algorithm delivers.

[2021-10-22 06:23] jclark commented on #613
The spec says that `x?y:z`  is right associative which means `a ? b : c ? d : e` parses as `a ? b : (c ? d : e)` rather than `(a ? b : c) ? d : e`.  To me it feels more consistent with that to treat `a ? b : c : d` as `a ? b : (c : d)` than `a ? (b : c) : d`.

[2021-10-22 07:10] lochana-chathura commented on #613
The aforementioned algorithm does not give the same result as our current jballerina implementation.

What we do currently is, equivalent to this,
- When parsing a conditional expression, after parsing the `?`,
    - try parsing thenExpr (meanwhile keep the colonCount)
    - colonCount is not passed to subexpressions within brackets.
    - see if the next token is a colon. if yes, return with the

[2021-10-22 07:20] jclark commented on #613
How do you get that? That's not a syntactically valid expression. Why wouldn't you get `y + a:b + c + d + 2` immediately?

[2021-10-22 07:28] lochana-chathura commented on #613
sorry, my bad. In `y + a:b + c + d + 2:c`, thenExpr would be `y + a:b + c + d + 2` and resolves similar to sample 1.

the example I wanted to take is `y + a:b + c + d + z:c`.
In that thenExpr would be `y + a:b + c + d + z:c`

[2021-10-22 07:34] jclark commented on #613
The algorithms are pretty similar. The difference is:

a) jBallerina algorithm is parsing as much as possible and then, if that doesn't work, parsing less
b) my algorithm is parsing as little as possible and then, if that doesn't work, parsing more

I suspect with both algorithms there are cases where you need to retry more than once...

[2021-10-22 07:45] lochana-chathura commented on #613
Agreed. In our implementation, we do the parse only once and if that doesn't work, we split the parsed node at the rightmost qualified identifier and rearrange the node. I guess it is not possible with nballerina parser.

[2021-10-22 07:53] jclark commented on #613
How does the jBallerina algorithm apply to  `int v = a ? b : c ? d : e;`?

[2021-10-22 09:52] lochana-chathura commented on #613
With right associativity, It would first parse as `a ? [(b : c) ? d : e]`. Here the thenExpr would be `(b : c) ? d : e`.

Then we split the node at the right-most qualified-identifier. In this example, we only have one qualified-identifier within thenExpr which is `b:c`. So we split there. The result would be `a ? b : (c ? d : e)`.

I think we will have an equivalent behaviour, if the `colonCount`

[2021-10-24 19:01] manuranga commented on #583
I think set/get operations should look like below
[code]

I may also need to have `bool (*contains)(TypeTestPtr ttp)`.

I didn't understand why `create_filler_value` should be in the descriptor yet. I assume it should have a signature like `PanicCode (*create_filler_value)(TaggedPtr* to)`. Since it's only used in `set` I think I can do this part later (separate pr).

(edited to move `bitSet` to bo

[2021-10-25 01:06] jclark commented on #583
It's OK to do `get` like that for now, but this requires that the get instruction

1. assumes the length is immediately after the descriptor pointer
2. checks that the index is within range, and branches if it is not
3. makes a call through the get pointer

i.e. it's a precondition to the `get` function in the descriptor that the index is in range; the `get` function will not call panic (this is b

[2021-10-25 01:09] jclark commented on #583
You don't need `contains`: the `set` needs to check that `val` is allowed by the `bitSet`.  A TypeTest will need to be able to check that a particular list belongs to it, but it can do that via the descriptor.

[2021-10-26 15:47] manuranga opened #636 "Make the build pass with debug information enabled for the runtime"
Build should pass successfully with  `make CFLAGS="-g" test`.

Currently it breaks in two places
1. There is a test failure in runtime, at `compareBacktrace`
2. LLVM linking fails with `linking module flags 'Debug Info Version': IDs have conflicting behaviors`

[2021-10-27 06:01] #609 closed, assigned to manuranga

[2021-10-27 07:24] jclark commented on #289
@KavinduZoysa I suggest following steps

- [ ] Familiarize yourself with http://speleotrove.com/decimal/
- [ ] Look at the two versions of decNumber I linked to, analyze the differences and figure out which one we should use
- [ ] Bring chosen one into third-party
- [ ] Figure out how to integrate into our build (as you did with libbacktrace)
- [ ] Determine whether library has built-in support fo

[2021-10-27 07:28] jclark commented on #289
We could also consider this library: https://www.bytereef.org/mpdecimal/

[2021-10-27 09:04] KavinduZoysa commented on #550
@jclark, we can close this issue.

[2021-10-27 09:05] #550 closed, assigned to KavinduZoysa

[2021-10-27 09:12] KavinduZoysa commented on #636
This is the reason for runtime test failure.

`CFLAGS="-g"` overrides the -O2 and now backtrace has more trace lines than the previous one.
Printing these trace lines is controlled by the parameter `start` as shown below.
https://github.com/ballerina-platform/nballerina/blob/64b296e57ffe1078106fc4f38109507aeaa87f73/runtime/error.c#L143

Since we have more trace lines, the assertion fails in the te

[2021-10-27 09:16] jclark commented on #636
Can we make the test work even when -O2 is not specified?

[2021-10-27 09:22] KavinduZoysa commented on #636
Yes, we change the value of `start` parameter to skip unnecessary trace lines.

[2021-10-27 12:31] jclark opened #640 "Parse all type descriptors starting with an identifier in local var decl statements"
future/fieldexpr1-uv.bal is giving a parse error, which is not right.

[2021-10-27 12:32] jclark commented on #640
This is something that should have been fixed in #412.

[2021-10-27 14:26] manuranga commented on #640
In the 09 subset grammar, `type-reference` only appears at the top level of `type-desc`, and `type-desc` is not recursive. So I believe this case is ruled out by the grammar. If we are to fix this, a grammar change is needed.
It might as well include other type reference related generalizations such as `A? a = ();` and `B[] b = [];`.

[2021-10-27 14:30] jclark commented on #640
The type subset is enforced semantically not via the grammar: we should support the same type descriptors in a local variable declaration as we do elsewhere, for example in a type cast or a function parameter.

See https://github.com/ballerina-platform/nballerina/blob/main/docs/subset09.md#notes

[2021-10-27 14:47] manuranga commented on #640
Hmm I misunderstood extent to which the statement grammar should be allowed. So I should fix `A? a = ();` `B[] b = [];` ect. along with this.

I think we discussed briefly about implementing this by factoring some `parse`* functions in `parseTypeDesc.bal` into `finish`* functions. Let me try that with `parsePostfixTypeDesc`.

[2021-10-27 18:42] manuranga commented on #640
Draft PR #641 illustrate the above idea. (I have yet to refactor the `parseTypeDesc.bal` such that normal type parsing uses `finish`* functions , and to get the positions correct)

[2021-10-27 18:58] KavinduZoysa commented on #636
The reason for the 2nd error is,

The behaviour flag for `"Debug Info Version"` is different. With the -g flag, it creates behaviour flag 2 (warning) and our compiler produces behaviour flag 1(error). As mentioned [here](https://releases.llvm.org/12.0.0/docs/LangRef.html#module-flags-metadata), when linking, the same flag ID cannot have multiple behaviours except Require and Override behaviours.

[2021-10-28 01:39] jclark opened #643 "Fix typeDescToWords to handle record types"
They are currently getting serialized as `map<never>`.

[2021-10-28 02:16] jclark commented on #640
Yes, we want those things too.

The idea is that when we add full support for new types that are already supported in semtypes, we should not have to do any work on parsing: all we have to do is not disallow them in resolveTypes.

We don't need to call this a bug, since we are handling our subset properly.  We really do need this for subset 11, since our type desc grammar will be very general by t

[2021-10-28 02:32] jclark commented on #640
Draft PR #641 looks promising, but quite a lot of work/complexity.

Maybe worth thinking for a bit if we can find a simpler way to do this. I thought at first of some combo of peek plus save/restore state, but I guess that's not going to work, because of qualified identifiers. Arghh.

[2021-10-28 02:45] jclark commented on #640
@manuranga We have a problem only with type descriptors starting with an identifier, right?

[2021-10-28 03:20] jclark commented on #643
This is included in #555, but more urgent because it is in the subset.

[2021-10-28 04:16] jclark commented on #636
OK, I understand now.

[2021-10-28 04:20] #603 closed, assigned to heshanpadmasiri

[2021-10-28 04:23] #604 closed, assigned to heshanpadmasiri

[2021-10-28 04:52] manuranga commented on #640
I think `1 one = 1;` vs `1.toHex();` (semantically invalid) case will also have a similar issue. Also with string literals.

[2021-10-28 06:20] jclark commented on #640
And boolean literals and (in the future) tuple types, I guess. I think for these we can do what we did with `(`, since they are not common.

[2021-10-28 07:52] manuranga opened #644 "Fix breaking changes with jBallerina Swan Lake Beta4"
Current breaking changes are here:
https://github.com/ballerina-platform/nballerina/actions/runs/1392592562

(Some of these warnings should go away with https://github.com/ballerina-platform/ballerina-lang/pull/33435 but this has not landed in dist yet.)

[2021-10-28 13:52] manuranga commented on #640
As you mentioned, using `peek` is elegant for most cases (given we extend peek see past `:` of qualified identifiers). But `A[] a = x;` vs `a[x] = x` will be difficult, we'll need `peek(2)` or some other trick.

Then again, this case will get even harder with fixed length arrays `A[n] a = x;`. I think once we peek `A[`, we should do a preparse. This solution will continue to work with fixed length

[2021-10-28 14:01] jclark commented on #640
Not obvious to me whether extending peek to qualified identifiers + preparse is going to simpler than left factoring.

[2021-10-29 03:45] jclark commented on #644
I will fix the one in llvm.bal. Instead of panic we can use this idiom:

[code]

where previously we would panic if it's not a GeneralIntrinsicName.

[2021-10-29 04:57] jclark commented on #583
This should be pointerType not heapPointerType, because the descriptors are not heap-allocated.

https://github.com/ballerina-platform/nballerina/blob/d4717963bc3f248682b02f75b3b17d7a13339190/compiler/modules/nback/types.bal#L15

Edited: Not sure. Please check.

[2021-10-29 06:44] jclark commented on #600
One tricky aspect of this is catching `never`. Spec says

Problem is that when we use t:intersect while resolving the type, we may be in a recursive type that is not yet resolved, so it isn't going to work to use isEmpty to check for emptiness at that time.

We can at least catch things that are `never` just from their basic types.

[2021-10-29 07:34] manuranga commented on #640
Please take a look at #648 that uses peek + preparse approach, I think it turn out to be a much elegant approach than the other.

[2021-10-29 07:55] KavinduZoysa commented on #644
Getting `redeclared symbol` error is a JBUG bug, created an issue for that https://github.com/ballerina-platform/ballerina-lang/issues/33510

[2021-10-29 07:59] KavinduZoysa commented on #644
There is a fix for the warning `this function should explicitly return a value` in release branch, but it is not available in the beta4 rc1 release. It will be available from next release.

[2021-10-29 08:03] manuranga commented on #644
Some warninga will go away with ballerina-platform/ballerina-lang#33435, whatever remains we should fix under this issue.

[2021-10-29 10:27] #614 closed, assigned to jclark

[2021-10-30 09:17] jclark commented on #615
I am calling this unique id a _tid_.

[2021-10-30 12:46] #615 closed, assigned to jclark

[2021-10-31 05:57] manuranga opened #651 "Move parser/tokenizer test data to an external file"
Move test data in `testParser.bal` to an external file due to method too large issue. (jBallerina should fix it under ballerina-platform/ballerina-lang#33534).

[2021-11-01 03:54] jclark opened #652 "Bug in semtypes for mapping"
UU is not being recognized as a subtype of U:

[code]

[2021-11-01 04:17] KavinduZoysa commented on #636
@jclark, can we close this issue?

[2021-11-01 04:54] jclark commented on #636
Have we fixed point 1?

[2021-11-01 06:05] #652 closed, assigned to jclark

[2021-11-01 06:11] KavinduZoysa commented on #289
I was able to build the two versions of decNumber and run a simple example.
If we consider about the diff between these two version there is not a difference in the core implementation (in `include` `folder` and source folder). In the [forked version](https://github.com/SDL-Hercules-390/decNumber) authors has done some build related changes such as improve and refactor build sripts, add visual stu

[2021-11-01 08:17] #643 closed, assigned to nobody

[2021-11-01 08:27] jclark commented on #289
Don't worry about immediate format for now.  Main thing is to focus on is memory allocation: the less the library does memory allocation itself, the better.

Might also be worth looking at the code gcc generates for `_Decimal128` which is built on top of decNumber.

[2021-11-01 08:32] heshanpadmasiri opened #657 "Refactor `CallStmt` in AST"
Refactor  current implementation of `CallStmt` (`public type CallStmt FunctionCallExpr|MethodCallExpr|CheckingStmt;`) to better reflect the [grammar](https://ballerina.io/spec/lang/2021R1/#call-stmt) by

-  Introduce new `CallExpr` node and have `CallStmt` wrap it (`CallStmt` will contain ";" while `CallExpr` will be upto (not including ";").
-  Rename `CheckingStmt` to be `CheckingCallExpr` to be

[2021-11-01 14:12] KavinduZoysa commented on #636
@jclark, as explained in https://github.com/ballerina-platform/nballerina/issues/636#issuecomment-952707688, the reason for this failure is non-optimized code has more trace lines than expected.
Do we need to change the test to pass for both cases (-g -O2 and -O2)?

[2021-11-01 14:13] jclark commented on #636
Yes.

[2021-11-02 02:29] #651 closed, assigned to manuranga

[2021-11-02 04:03] manuranga opened #661 "Parse inline type descriptors starting with literals"
Parse inline type descriptors starting with literals.

Eg:
[code]
Better to be done as a part of #575
Related https://github.com/ballerina-platform/nballerina/issues/640#issuecomment-953500651

[2021-11-02 04:08] manuranga opened #662 "Categorize parser tests"
Turn the current informal grouping done via comments into a structured categorization.

Proposed in https://github.com/ballerina-platform/nballerina/pull/656#r740677937

[2021-11-02 12:08] #657 closed, assigned to heshanpadmasiri

[2021-11-03 01:09] jclark opened #664 "Modify Makefiles to enable build directory to be separate from source directory"
jBallerina is adding support for controlling `target` in slbeta4, so we can now do this properly.

https://github.com/ballerina-platform/ballerina-lang/issues/32295

[2021-11-03 09:17] KavinduZoysa commented on #289
I have compared some examples in libraries `decNumber` and `mpdecimal` to identify the memory allocation. I have added the sample code with built libraries in [this repository](https://github.com/KavinduZoysa/decimal).
For a simple addition `mpdecimal` is doing memory allocations but `decNumber` does not do. The reson is, `mpdecimal` represents data(decimal value) in a pointer and `decNumber` repr

[2021-11-03 12:11] jclark opened #665 "Report new JBUGs"
This commit has three new JBUGs (in the types module): https://github.com/ballerina-platform/nballerina/commit/0c4ebf4d344ebb0b7087b6689e51be528c573a14

[2021-11-03 12:19] #640 closed, assigned to manuranga

[2021-11-03 12:24] jclark commented on #665
@rdhananjaya You might also want to port this commit to jBallerina

[2021-11-03 13:00] jclark commented on #289
Sounds like decNumber will be a better fit

[2021-11-03 17:17] manuranga commented on #329
Currently all arrays are tagged pointer arrays, but after this `int[]` and `float[]` will store untagged representations. Interplay with this and exactness creates following cases.

| Comparison                       | Current behavior                             |  Proposed behavior                                                               |
|----------------------------------|---------------

[2021-11-04 01:06] jclark commented on #329
I would just do the first one (the exact case). In the second case, the overhead of retrieval via function pointer access (and knock-on effects from preventing inlining) is going to mean that gains from a specialized implementation are minimal.

[2021-11-04 04:02] KavinduZoysa commented on #289
I will start to add decNumber into runtime/third-party

[2021-11-04 04:05] jclark commented on #289
I mentioned two repos for decNumber. Which one are you planning to use and why?

[2021-11-04 04:43] KavinduZoysa commented on #289
@jclark, as mentioned in this comment https://github.com/ballerina-platform/nballerina/issues/289#issuecomment-955961718, [forked version](https://github.com/SDL-Hercules-390/decNumber) was improved by refactoring build scripts, adding visual studio support for windows etc and fixing some formatting issues. In both versions source files and header files are not changed. Since the build has changed

[2021-11-04 05:15] jclark commented on #289
What is your plan for integrating this into our build system?  Do the improvements in the fork matter for us? If not, we should not use the fork.

[2021-11-04 05:57] KavinduZoysa commented on #289
@jclark, To integrate this into our build system we can create object files with their CFLAGS and integrate them with our `balrt.a`. (Currently, they have libdecNumbericu36864.a/libdecNumber64.a)
My concern is in the two versions, CFLAGS are different.
1. initial version:
`C_FLAGS = -O2 -g -DNDEBUG  -D DECLITEND=1 -D DECPRINT=0 -D HAVE_PLATFORM_H -m64 -fPIC`
2. forked version:
`C_FLAGS = -O2 -g -D

[2021-11-04 06:03] jclark commented on #289
`-fPIC` is a shared library thing, which I don't think we need or want.

nballerina only supports little-endian currently, so we can assume that (the flags are effectively sayign BYTE_ORDER is 1234.

We want to keep our binaries as small as possible, which means that it important to compile it with only the features we need, and to compile it  to minimize what always gets linked in. Please have a

[2021-11-04 06:11] KavinduZoysa commented on #289
ACK.

[2021-11-04 07:18] jclark commented on #502
Alternative idea

[code]

[2021-11-04 11:35] #583 closed, assigned to manuranga

[2021-11-05 05:07] #223 closed

[2021-11-05 05:07] #229 closed

[2021-11-05 05:07] #246 closed

[2021-11-05 05:07] #247 closed

[2021-11-05 05:07] #251 closed

[2021-11-05 05:07] #261 closed

[2021-11-05 05:07] #296 closed

[2021-11-05 05:07] #299 closed

[2021-11-05 05:07] #317 closed

[2021-11-05 05:07] #137 closed

[2021-11-05 05:07] #171 closed

[2021-11-05 05:07] #172 closed

[2021-11-05 05:07] #178 closed

[2021-11-05 05:07] #205 closed

[2021-11-05 05:07] #208 closed

[2021-11-05 05:07] #220 closed

[2021-11-05 05:08] #34 closed

[2021-11-05 05:08] #36 closed

[2021-11-05 05:08] #74 closed

[2021-11-05 05:08] #75 closed

[2021-11-05 05:08] #77 closed

[2021-11-05 05:08] #78 closed

[2021-11-05 05:08] #79 closed

[2021-11-05 05:08] #80 closed

[2021-11-05 05:08] #84 closed

[2021-11-05 05:08] #85 closed

[2021-11-05 05:56] manuranga commented on #329
I need to change `push` and `print` as well. With `push` we have following options.

1) Go through`set` function ptr, panic if PanicCode != 0
2) Have push operation as a pointer in typedesc as well
3) Look at bitset and pick what to do

I am going ahead with 1

[2021-11-05 06:43] jclark commented on #329
1 is good: push should panic directly because it's a function not an insn.

We should have an exact implementation of push also, though we can add that later.

[2021-11-05 10:01] #605 closed, assigned to heshanpadmasiri

[2021-11-06 10:32] jclark commented on #636
On Ubuntu 21.10, `make test` in runtime fails with segfaults in error_backtrace1 and failure in error_backtrace2.

The code is broken: cmpTrace is not being passed the length of the expectedTrace array, so it can access memory past the end of the array if the traces don't match.

We need a more robust testing strategy.

[2021-11-06 10:42] jclark commented on #636
valgrind output
[code]

[2021-11-06 14:24] KavinduZoysa commented on #289
@jclark, In `decNumber` library, they support both arbitrary precision format and fixed precision formats (128 bits, 64 bits, 32 bits). In gcc, they are using fixed precision formats. Those are named as decQuad(128 bits), decDouble(64 bits), and decSingle(32 bits). In our case, I think initially we only need to use `decQuad`, and we can minimize the files we link to our runtime.
Also in gcc, their

[2021-11-06 14:33] jclark commented on #289
Right, we need only 128-bit support.

[2021-11-06 14:59] KavinduZoysa commented on #289
Then we can start our work with the initial version of `decNumber` https://github.com/hercules-390/decNumber-icu-368

[2021-11-06 17:08] KavinduZoysa commented on #636
The original issue was we are getting more trace lines when optimizations are disabled and we do not change the trace start position. Therefore more trace lines are getting printed.

Since we know the expected number of trace lines, before we compare the trace, we can read the temp file (where actual trace lines are getting printed) one more time, get the number of lines and assert it with the exp

[2021-11-07 01:16] jclark commented on #636
It would be better if the C code just printed out the backtrace: then the Makefile should use sed/diff etc to check whether the output is what is expected.

[2021-11-07 02:03] jclark commented on #289
The answer to this is that it _does_ have support for the subset:

- compile with `DECSUBSET` defined as 1
- at runtime, set `extended` in  `decContext` to 0

This is going to make things a lot easier.

[2021-11-07 02:23] jclark commented on #289
There's a difficulty:

- the decNumber library provides two distinct implementations of decimal
   - an arbitrary precision implementation that uses the decNumber type
   - a fixed precision implementation that supports decSingle, decDouble, decQuad
- Ballerina's decimal type is fixed precision (128-bit) type, corresponding to decQuad
- the decQuad is much preferable to decNumber, because it is fa

[2021-11-07 04:05] jclark commented on #289
There's also an Intel library for this (which I saw referenced from the Julia project)

https://www.intel.com/content/www/us/en/developer/articles/tool/intel-decimal-floating-point-math-library.html
http://www.netlib.org/misc/intel/

[2021-11-07 04:13] jclark commented on #289
The decNumber module is also in ICU here:

https://github.com/unicode-org/icu/blob/main/icu4c/source/i18n/decNumber.cpp

But that looks not like what we want.

The canonical location looks to me to be:

http://speleotrove.com/decimal/decNumber-icu-368.zip

(The library is written by Mike Cowlishaw, and speleotrove.com is his site.)

So I think we should unpack that and import it. Not sure about th

[2021-11-07 05:45] jclark commented on #289
I had a look at how gcc handles these conversions. I was surprised to find it handles them by going via a string.

[2021-11-07 05:46] jclark commented on #289
Actually I think the best source will be this: https://github.com/dnotq/decNumber

This is linked to from http://speleotrove.com/decimal/

[2021-11-07 10:18] jclark commented on #289
The defines we need are:

[code]

[2021-11-07 10:38] KavinduZoysa commented on #289
@jclark, are we going to use the resource files available in this repository instead of https://github.com/hercules-390/decNumber-icu-368

[2021-11-07 11:48] jclark commented on #289
We should use the dnotq directory or the unpacked zip from speleotrove, because there is a clearer provenance than the hercules repo.

[2021-11-07 18:02] KavinduZoysa commented on #636
@jclark, to understand further what we have to do is, print the backtrace once without considering whether the optimizations are enabled or not, and check whether the expected trace(function name, file name and line number separately) is available or not. Is this correct?

[2021-11-07 22:43] jclark commented on #289
I want to end up with a directory `runtime/third-party/decNumber` that contains the files from the zip like this: https://github.com/dnotq/decNumber/tree/main/decNumber-icu-368

[2021-11-07 22:52] jclark commented on #289
The spec has only this on the subset:

This is not really the full story, which is here:

http://speleotrove.com/decimal/dax3274.html

So I think for now, we can just implement what the spec says, and have a spec issue to flesh out exactly how much of X3.274 we want to adopt. (I added the spec issue https://github.com/ballerina-platform/ballerina-spec/issues/989.)

In practical terms, this means t

[2021-11-08 00:04] jclark commented on #636
Yes, make the C code as simple as possible, and do the rest of the work using something higher-level.

[2021-11-08 00:26] jclark commented on #289
Let's just use the zip file. That is the ultimate source of truth.  http://speleotrove.com/decimal/decNumber-icu-368.zip

@manuranga Can you please do the necessary git incantation to get this into our repo at runtime/third-party/decNumber?

[2021-11-08 02:32] jclark commented on #289
There's a lot of scope for clever optimizations with decimal, but we need to resist the temptation to start optimizing at this stage, since it has no importance for self-hosting.  What we need at this stage is the simplest thing that can work correctly and is in the right direction.

This means we should have a single (tagged) representation, which is just a decQuad on the heap.  We don't want to

[2021-11-08 03:21] manuranga commented on #289
So far we have got all of our sources from git, but the third party script should work with zip file as well. I'll use `wget` and `unzip`.

[2021-11-08 03:31] jclark opened #668 "Optimize subtype precomputation for closed record types"
Since a mapping can be a subtype of a closed record type (i.e. a type with a rest type is never) only if it is also a closed record type and has the same set of fields, we can efficiently identify the potential subtypes of a semtype that is an atomic record type (in createPrecomputedSubtypeStruct) by having a table indexed by the set of fields.

We could then choose to always use createPrecomputed

[2021-11-08 03:35] jclark opened #669 "Optimize precomputed subtype test for single subtype"
It will be very common for the list of tids in precomputed subtype test to have only a single member.

We should optimize this case to:

[code]

We should do #668 first.

[2021-11-08 03:41] jclark opened #670 "Use tid to check for exact match in non-precomputed type test"
When doing a type cast to some atomic list/mapping type T, the most common case will be that the inherent type is exactly T. We can optimize this case by storing the tid in the type test and checking it first.

[2021-11-08 03:42] jclark commented on #539
Closing this with optimizations pushed off to the future.

[2021-11-08 03:42] #539 closed, assigned to jclark

[2021-11-08 05:21] jclark commented on #289
@KavinduZoysa I will add this to the Makefile

[2021-11-08 08:57] heshanpadmasiri commented on #598
@jclark are we going to allow `null` to become a synonym of `()` in the type descriptor as well? The spec [says](https://ballerina.io/spec/lang/2021R1/#nil-type-descriptor)
[code]
which I understood as only the `nil-literal` supports `null` as a synonym for `()` (We currently have the same as above in the subset spec as well)

[2021-11-08 09:40] jclark commented on #598
Sorry I missed that. You are right: `null` should only be accepted as a nil-literal not a type-descriptor.

[2021-11-09 02:40] #598 closed, assigned to heshanpadmasiri

[2021-11-09 04:06] manuranga commented on #644
@KavinduZoysa since the first RC is out, we need to close this issue as soon as possible. We need to report back issues before the voting mail closes.

[2021-11-09 04:44] heshanpadmasiri opened #677 "Attach position to every error"
Currently we allow errors without a position attached to them. We need to remove this and change the test suite to verify error position we get in the error message is the expected one.

[2021-11-09 06:15] manuranga commented on #644
Found https://github.com/ballerina-platform/ballerina-lang/issues/33694, I could inline `VariableLengthToken` as a workaround for now.

[2021-11-09 08:17] jclark commented on #644
Can we get this fixed for beta4?

[2021-11-09 08:32] hasithaa commented on #644
Yes, we are checking this.

[2021-11-09 09:25] #665 closed, assigned to rdhananjaya

[2021-11-09 10:35] #508 closed, assigned to manuranga

[2021-11-09 12:27] jclark commented on #600
Still need to document this in the subset

[2021-11-09 13:35] #636 closed, assigned to KavinduZoysa

[2021-11-10 02:32] jclark commented on #644
Does beta4 fix https://github.com/ballerina-platform/ballerina-lang/issues/33532? We need that in order to get rid of some of the warnings.

[2021-11-10 02:38] manuranga commented on #644
Yes it's fixed.

[2021-11-10 03:14] jclark commented on #644
We'll leave the rest of this for when beta4 is out.

[2021-11-10 03:51] jclark opened #682 "CallInsn should use position of name of function or method call"
Add a namePos to both FunctionCallExpr and MethodCallExpr and use that when generating the CallInsn.

[2021-11-10 03:53] jclark commented on #682
We were using the opPos. I temporarily fixed it in https://github.com/ballerina-platform/nballerina/commit/cbed3fd81c4cc9d7755dbedf64135d38777361a7 to use the startPos, but that won't be right with a parenthesized call expression.

It should correspond to the function name, because the backtrace uses the function name.

[2021-11-10 03:54] jclark commented on #682
Also:

- opPos isn't a good name for the position of the open parenthesis: let's call it openParenPos or something clearer
- opPos for method call should be the `.` as it is in field access

[2021-11-10 04:10] #600 closed, assigned to nobody

[2021-11-10 06:38] jclark opened #684 "Support chained lvalues"
This follows on from #738 and completes support for chained lvalues, by adding support for chained member access lvalues e.g. `x[i][j] = v;`.

This is made complicated by the need to support the filling-read semantics #739

[2021-11-10 08:04] jclark opened #685 "Fix bug from introduction of StmtBody"
The compiler gives an error for this

[code]

This is from https://github.com/ballerina-platform/nballerina/commit/cfd71a81e201db489c5c96ba43613029ecd61fb7#r59915488

[2021-11-10 08:17] rdhananjaya opened #686 "Support semtype tests that result in errors"
**Description:**

After doing this add back the xml intersection test cases where result is empty, which were removed with the commit: https://github.com/ballerina-platform/nballerina/pull/562/commits/56622283e0a2ff6e8e9723654bd8d0b32e6c76c1

We will have to introduce a new test type; a combination of `-t` and `-e`.
**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**

[2021-11-10 08:18] jclark commented on #685
@heshanpadmasiri Please double check this commit to make sure there are no other problems from introduction of StmtBody.

[2021-11-10 08:19] jclark commented on #686
We should probably also rename the existing `-t` cases to `-tv`.

[2021-11-10 09:45] #526 closed, assigned to rdhananjaya

[2021-11-10 09:57] manuranga commented on #329
Progress update: I added exact int array set (via c function) and get (via code gen). Get side is working fine and LLVM is able to hoist the exactness checking out of the loop. Set side it not getting inlined, not sure why, I added `alwaysinline` the same way we add `linkonce_odr`, still didn't work. Anyway as we discussed, this is not the correct way to do exact set, I only did this get everythin

[2021-11-10 10:05] jclark commented on #329
It's not the end of the world if it can't hoist: branches should be highly predictable.

[2021-11-11 03:44] jclark commented on #289
@KavinduZoysa We need to figure out

- which status fields in decContext should turn into Ballerina errors
- whether all cases that should be Ballerina errors can be detected from the status fields (I think so, but not sure)

Not sure about the underflow case.  I think that's not an error: just the value becoming zero. But I'm not 100% sure.

[2021-11-11 08:58] heshanpadmasiri opened #689 "Add ability to set initializer after creating global variable in llvm"
Currently we expect `initializer` value to be given at the time of defining a global variable using `addGlobal` function. We need to add the ability to set this after creating the global value similar to [`LLVMSetInitializer`](https://llvm.org/doxygen/group__LLVMCoreValueConstantGlobalVariable.html#gaecc937af154a1d4fd5d337e5783a8387).
For this I will add a function `setInitializer(ConstPointerValu

[2021-11-11 09:00] jclark commented on #689
Prerequisite for #571

[2021-11-11 09:01] jclark commented on #689
Why the `?` in the type of the initializer argument?

[2021-11-11 09:07] heshanpadmasiri commented on #689
It's a typo it should be `setInitializer(ConstPointerValue global, ConstValue|Function initializer)`

[2021-11-11 10:30] #689 closed, assigned to heshanpadmasiri

[2021-11-11 16:47] heshanpadmasiri opened #691 "Store the position with "named" registers"
We need to store the position of registers with a `varName` so errors caused by those registers can have meaningful positions.

[2021-11-11 16:47] heshanpadmasiri commented on #691
prerequisite for #677

[2021-11-12 01:08] jclark opened #693 "Introduce Diagnostic record type"
To prepare for #563, we will introduce a Diagnostic type to represent a single Diagnostic including message and location. Our existing err:* types will use a Diagnostic as their detail.

We will split off part of the err module into a new diagXXX module (name TBD).

We will introduce a `comm` module which will contain a number of small modules common to most of the main modules, initially err and

[2021-11-12 06:03] #693 closed, assigned to nobody

[2021-11-12 06:08] jclark opened #695 "Format Diagnostic with caret"
The formatting of a diagnostic should be improved to show the range by printing the line with carets underneath (as in LLVM or GCC).

When the range is a single position, it should get the end of the range by looking for the end of the token.

This will need some additional methods on the File type.

This follows on from #693.

[2021-11-12 06:10] manuranga commented on #329
Progress update: Set in a loop produce following loop body for the exact path:

[code]
[code]
Exactness check is hosted, which is good. But ideally it should have a single `cmpq`, two`cmpq`s above are redundant. Since in [C mock-up](https://godbolt.org/z/eaGjeGb1s) there is only a single jump, it should be possible to improve this.

I perf tested the merge sort (replaced any[] with int[]) but no s

[2021-11-12 06:32] jclark commented on #329
There's an `int[]` version of merge sort in 07-bench.

What exactly is your benchmark comparing? As you say, merge sort mostly uses `push`, so we need to fix that to get something meaningful.  A quicksort would probably be a better comparison for this.  I would also expect `float[]` to give more of an improvement, since it avoids boxing (whereas `int` will mostly use immediate ints).

[2021-11-12 07:02] #685 closed, assigned to heshanpadmasiri

[2021-11-12 11:10] KavinduZoysa commented on #289
This is the summerize we had based on negative zero.

The places where negative zero can occur are mentioned in http://speleotrove.com/decimal/daops.html (last point of `Arithmetic operation notation`)
Here we only need to consider points 1 and 4.

We do not need to consider point 2, because we are not giving negative zero input. We can remove point 3 because we are not using the round-floor round

[2021-11-13 06:35] manuranga opened #697 "Allocate zero-initialized memory for list construction"
`calloc` may be orders of magnitude faster than `malloc` and zeroing out manually (even with `memset`).

https://stackoverflow.com/questions/2688466/why-mallocmemset-is-slower-than-calloc

1) Evaluate whether is true for the list sizes and OSs we are interested in.
2) If true, implement list construction using `calloc` and optimize list grow.

[2021-11-13 06:42] jclark commented on #697
The idea would be that in cases where the filler value is all bits zero, we maintain the invariant that all entries between length and capacity are all bits zero.

[2021-11-13 09:00] jclark commented on #697
This would involve adding a new _bal_zalloc function that would return zero-initialized memory.

We will be doing more of our own memory management in the not too distant future, which means we won't usually be using malloc/calloc.  I would expect we would get large chunks of memory using mmap. This will give us zero-initialized pages. (We can be fairly confident that things will work like that on

[2021-11-13 19:34] KavinduZoysa commented on #289
@jclark, these are my findings about underflow case.

- If adjusted exponent or exponent of conversion is less that E_min (`-6143`) then the result is called subnormal. If we check decQuadClass of 1E-6144 we can get `+Subnormal`. DEC_Subnormal flag is set if result is a subnormal value. But this flag is set only in decNumber module.
- For submornal result minimum exponent value is defined as `E_mi

[2021-11-14 02:16] jclark commented on #289
The question we need to answer is what code do we put in `finish` to give effect to the Ballerina spec's requirement that the decimal type does not include subnormal values.

First part of this is how do we detect whether we have a subnormal value. Looks like we check whether decClass is POS_SUBNORMAL or NEG_SUBNORMAL. Right?

Second part of this is what do we do if we get a subnormal value.  This

[2021-11-14 03:13] jclark commented on #289
Other functions we need (all starting with `_bal_decimal_`):

- `neg` - used for unary negation
- `cmp` - returns 1/0/-1 used for == and relational operators
- `exact_eq` - used for `===` ; probably needs to canonicalize and then use memcmp
- `from_float` - argument is a C double; needs to return a panic code if the argument is NaN or infinite; goes via a C string
- `from_int` - argument is an int

[2021-11-14 03:17] jclark commented on #289
Please also start to create some tests in `testSuite/11-decimal/opN-uv.bal` to capture the various tricky points we are discussing (where op is e.g. `add`).  If jBallerina gets any of them wrong, you can report those.

[2021-11-14 19:18] KavinduZoysa commented on #289
Yes, `DEC_Subnormal` flag is not raised in decQuad module, it is only available in decNumber module. So we need to check the decClass

Yes that is correct. Some examples are mentioned below.
|Value|full spec|subset|
|-------|-----------|---------|
|1E-6176|+Subnormal, 1E-6176|+Zero, 0|
|0.1E-6176|+Zero, 0E-6176|+Zero, 0|
|0*-1|-Zero, -0|+Zero, 0|

[2021-11-15 04:21] KavinduZoysa commented on #289
@jclark, according to ballerina spec, subnormals should be panic.

[code]
But here, we are going to make it zero. Are we going to change the spec accordingly?

[2021-11-15 04:51] jclark commented on #289
Ahh, that's a bug in the spec: it contradicts the statement that decimal "corresponds to the ANSI X3.274 subset".

[2021-11-15 04:56] jclark commented on #289
I made an issue: https://github.com/ballerina-platform/ballerina-spec/issues/995

[2021-11-15 05:44] manuranga commented on #329
Currently the list desc has `TaggedPtr (*get)(TaggedPtr lp, int64_t index)` and `PanicCode (*set)(TaggedPtr lp, int64_t index, TaggedPtr val)`. I am in the process of adding `getInt`, `getFloat`, `setInt` and `setFloat` to avoid extra tagging/untagging as we discussed.

But since `getFloat` (and `getInt`) should be able to panic, it's has to return `{ PanicCode, double}` or `{ boolean, double }`.

[2021-11-16 00:54] jclark opened #702 "Implement constPtrToInt in llvm backend"
Corresponds to LLVMConstPtrToInt

[2021-11-16 03:50] #702 closed, assigned to heshanpadmasiri

[2021-11-18 01:10] jclark opened #705 "constBitCast fails with named struct when struct body has not been set"
I need to call constBitCast on a named struct when I haven't yet set the body of the struct.

I get a crash here:

[code]

[2021-11-18 01:27] jclark commented on #705
The named struct code needs some work.  Not ok to do linear searches in namedStructTypes all the time.

[2021-11-18 02:00] jclark commented on #705
I put in a workaround, but I don't really understand what the code is doing.  Shouldn't it always be converting a named struct to a string by using the name?

[2021-11-18 04:19] jclark opened #706 "Fix relational operators on lists to handle arrays with arbitrary member types"
At the moment, the implementation assumes that member type is a bitset (in the front-end, it uses simpleArrayMemberType).

[2021-11-18 04:23] jclark opened #707 "Extend array filling to deal with member type that is a map or array"
If I have something like `map<int>[]`, then the filler value needs to be a new empty `map<int>`.

[2021-11-18 04:31] jclark commented on #575
Should add a `containsInt` member to UniformSubtype in the runtime.

[2021-11-18 04:33] jclark commented on #502
We should normalize tuples into this representation where possible i.e. `[int, int]` should produce the same ListAtomicType as `int[2]`. `T[0]` should be normalized into an empty `SemType[]`.

[2021-11-18 04:45] jclark commented on #502
Using a tuple `[Semtype, int]` won't work because a SemType can be a UniformTypeBitSet which is an int. So it would need to be a record instead e.g.

[code]

[2021-11-18 04:46] jclark commented on #502
As part of this, we should add a function `listAtomicTypeIsArray` which we can use where the code now does `x.members.length() == 0`.

[2021-11-18 04:50] jclark commented on #502
I still feel a bit uneasy about this representation. It is allowing us a `rest` part as well as the fixed length array part, which is more than what we need.

I also suspect it's going to make the logic in list.bal rather awkward.

[2021-11-18 04:56] jclark commented on #502
Would something like this work better for list.bal?

[code]

[2021-11-18 05:02] jclark commented on #502
Or maybe this:

[code]

So `int[5]` would turn into `{ members: [INT], repeatLastMember: 4, rest: NEVER }`.

Then:

- replace `members.length()` by `members.length() + repeatLastMember`
- replace `members[i]` by `members[int:max(i, members.length() - 1]`

Testing for an array then remains just testing `members.length() == 0`.

@rdhananjaya My gut feeling is that this representation will work bette

[2021-11-18 05:46] jclark commented on #402
This is now implemented.  Remaining things have their own issues.

[2021-11-18 05:46] #402 closed, assigned to nobody

[2021-11-18 07:10] #705 closed, assigned to heshanpadmasiri

[2021-11-18 13:23] jclark commented on #571
I think we can avoid the use of named structs by determining in advance the number of entries in the ComplexType array.  We can do this by adding a t:splitUniformTypes function that returns a `[all,some]` bitset pair. We then mask out the LIST_RO and MAPPING_RO and count the bits.

Edited: I was confused. This doesn't work at all.  The named structs are used for *subtypes* and we have no idea of t

[2021-11-19 03:20] jclark opened #710 "TypeDesc position testing failure with nested arrays"
If I change this line https://github.com/ballerina-platform/nballerina/blob/99bc03332edf5971e04013d31c03fadda69b95aa/compiler/testSuite/11-nested/array1-v.bal#L6

to use `float[][]`, then I get a test failure in testParserOnTestSuite relating to validating typeDesc position.

After fixing this, change the test back to use `float[][]`.

[2021-11-19 04:10] #710 closed, assigned to heshanpadmasiri

[2021-11-19 08:23] manuranga commented on #697
Some garbage collectors might have similar behavior to `calloc`. Eg boehm's `GC_malloc` does clear the allocated memory.
Let reconsider when we have a GC.

[2021-11-20 02:30] #691 closed, assigned to heshanpadmasiri

[2021-11-21 01:03] jclark commented on #289
There's a problem with remainder: https://github.com/ballerina-platform/ballerina-spec/issues/998

[2021-11-22 00:16] #329 closed, assigned to manuranga

[2021-11-22 00:18] jclark commented on #574
I have an idea for a quick and simple, unoptimized implementation. Let me give it a shot.

The idea is to do the same as we currently do for printing.

[2021-11-22 01:36] jclark commented on #574
This seems to work. @manuranga Please see if you find any case where it is incorrect.

If this holds up, then I think it's best to do just this for now.  It is by no means an optimal implementation, but it's no worse than what we do with `io:println`.  I think it will be quite a while before this is a bottleneck.

[2021-11-22 01:40] jclark commented on #682
This was fixed in #700.

[2021-11-22 01:40] #682 closed, assigned to heshanpadmasiri

[2021-11-22 01:49] jclark opened #713 "Implement `table<T>` in semtypes"
This issue is to implement just `table<T>` in semtypes, and in the front-end as a type descriptor.

This is useful, because it allows us to properly implement `anydata` which includes `table<map<anydata>>`, which in turn allows us to implement `record { }` #573

Currently we approximate `anydata` in the compiler (for the purposes of checking when `==` is allowed), by including all of the table bas

[2021-11-22 01:52] jclark commented on #713
This should be easy: it's a blend of the implementations of `error` and `xml`.

- like `error`, we can represent the subtype as a mapping BDD
- like `xml`, we need to split it in RO/RW parts

[2021-11-22 01:54] jclark opened #714 "Implement `anydata` type descriptor"
This is trivial after we have done #571 and #713.

It requires supporting `anydata` as a keyword.

[2021-11-22 02:06] jclark commented on #713
@rdhananjaya We should do this soon.

[2021-11-22 04:46] #574 closed, assigned to manuranga

[2021-11-22 06:54] heshanpadmasiri opened #718 "Extend the tests to verify error messages highlight the correct range"
Current tests verify we get the right line with an error but not the correct start and end column positions. We need a way to validate this automatically.
This follows on from #695 .

[2021-11-23 01:47] #677 closed, assigned to heshanpadmasiri

[2021-11-23 19:10] KavinduZoysa commented on #289
@jclark, related to `from_float` conversion, is that okay to use `emyg_dtoa_non_special` (from `third-party/dtoa`) in order to generate C string for given double value?

I have tried to generate c string with `sprintf`, but it does not give correct result as expected.

[2021-11-24 00:54] #644 closed, assigned to jclark, manuranga, KavinduZoysa

[2021-11-25 04:24] manuranga commented on #706
Progress:
I first tried having something like below, where `mt` is the smallest comparable super type of lhs type and rhs type.
[code]
But I realized, I don't need `mt`, because at most lhs type and rhs type is going to differ in nilability. Now I have
[code]
I have implemented about, needs testing and cleanup.

[2021-11-25 05:17] heshanpadmasiri opened #723 "Add a script to generate error output report"
We need a script that will parse the error messages generated by the compiler and generate a `html` file with source annotated with the errors messages and location

We need this with with #695 ensure we get proper positions with errors

[2021-11-26 00:57] #686 closed, assigned to ushirask

[2021-11-26 01:49] jclark opened #727 "TypeDesc position errors"
The test cases in this commit

https://github.com/ballerina-platform/nballerina/commit/9f31c0ad25e5fa48753600f3e044f2e81efb2e35

caused some test failure relating to positions in testParserOnTestSuite, so I temporarily disabled that test.

After this is fixed, this should be reenabled.

[2021-11-26 01:51] jclark commented on #727
We seem to get these kinds of issues quite often. Is the problem that the positions in the AST is wrong or is the problem with the testing code?

We need to get better error messages when the test fails.

Also I'm not sure if it was the `-fp` test that is causing the problems. Are these tests runs on `f` tests? If so, this should be changed.

[2021-11-26 02:27] jclark opened #728 "Experiment with Boehm GC"
The Boehm (or more properly Boehm-Demers-Weiser) conservative GC isn't our long-term GC strategy. But that leaves open the question of whether it could be useful as a temporary strategy, in particular to get us to self-hosting  more quickly.

The GitHub source is here:

https://github.com/ivmai/bdwgc/

The most obvious difficulty is that we use tagged pointers. The lo bits can be treated as interi

[2021-11-26 03:15] #572 closed, assigned to jclark

[2021-11-26 03:17] #555 closed, assigned to ushirask

[2021-11-26 04:04] heshanpadmasiri commented on #727
In this case problem was caused a bug in testing code. For left recursions that we can't actually parse separately (parsing function will parse the whole thing instead of stopping with the child node) we have a workaround that check if the newly parsed node by the testing code has a child equal to the one given to it. Bug was it only checked it once when it should have checked repeatedly.

[2021-11-26 04:12] #727 closed, assigned to heshanpadmasiri

[2021-11-26 04:41] jclark commented on #289
@KavinduZoysa We should be using third-party/dtoa not sprintf.

[2021-11-26 05:15] KavinduZoysa commented on #728
Sometime back, In nballerina-cpp, we have done some experiments related to Boehm GC,
https://github.com/ballerina-attic/nballerina-cpp/discussions/267.

At that time we did not have the tagged pointer mechanism, we just rely on the way that Boehm identifies heap references.

[2021-11-26 11:24] manuranga commented on #502
Are we maintaining the invariant that `repeatLastMember` is always maximal possible value?

[2021-11-26 12:37] jclark opened #731 "Valgrind error with decimal_arith"
Running valgrind on decimal_arith gives:

[code]

I built runtime using `CFLAGS="-g -O2" make` in order to get line numbers.

[2021-11-26 12:41] jclark commented on #731
I can't see anything in our code that could be triggering this, but decNumber is reputedly very solid.

@manuranga Can you see anything?

[2021-11-26 14:39] manuranga commented on #731
Error went away when I forced all stack variables to initialized to zero in `decQuad.o` using clang flag `-ftrivial-auto-var-init=zero`. I am still looking into which exact stack variable is responsible.

[2021-11-26 17:09] manuranga commented on #731
Following change got rid of the error, but it's still not clear  why.
[code]

[2021-11-27 03:07] jclark commented on #731
I also tried compiling decNumber with gcc to see whether this was a LLVM issue, and I get the same error. So I think we can conclude it is decNumber problem.

I suspect this harmless. The code is processing BCD digits 4 at a time (using a 32-bit int). My guess is that it is doing a transformation on some number of digits that is not a multiple of 4, which is leading to junk bytes  being transforme

[2021-11-27 05:54] jclark commented on #684
We need to be careful to implement the filling-read semantics described in this section: https://ballerina.io/spec/lang/2021R1/#section_7.14.1

For example, this

[code]

will create an empty intermediate array.

We also have to do this for maps:

[code]

This is now its own issue #739.

[2021-11-27 09:36] jclark commented on #684
We will split this into:

- chained field access (using `.`), which I don't believe needs filling-read in our subset #738
- chained member access (using `[]`), which does need filling-read (this issue)

[2021-11-28 06:26] manuranga commented on #706
@jclark  What should be a the OrderType in the BIR for following comparison ?
[code]

[2021-11-28 07:50] jclark commented on #706
Not an ordered type.

[2021-11-28 09:58] #707 closed, assigned to jclark

[2021-11-28 12:05] manuranga commented on #706
Can you please explain why the above relational expression is invalid.
Spec says

I interpret "belong" here as "subtype". In above case, since `()[]` is a subtype of `int?[]`, and `int?[]` is an ordered type, shouldn't it be valid?

(btw, above is currently working in jBallerina)

[2021-11-28 12:20] jclark commented on #706
`()[]` isn't an ordered type, but you are right that `int?[]` is, and _belong to_ must mean subtype of. So it doesn't make sense that the spec does not include nil in the basic types that are ordered. Can you create a spec issue?

We should add t:UT_NIL to UniformOrderType.

[2021-11-28 12:35] jclark commented on #289
We should implement https://github.com/ballerina-platform/ballerina-spec/issues/943 when were are doing literals

[2021-11-28 12:38] jclark opened #732 "Implement 2022R1 language changes"
These include:

- [x] #270
- [x] #272
- [x] #733
- [x] #734
- [x] Revised rules for floating point literals https://github.com/ballerina-platform/ballerina-spec/issues/943 (included in #289)
- [x]  #823

[2021-11-28 12:39] jclark opened #733 "Implement nil lifting for operators with numeric operands and a numeric result"
As described here: https://github.com/ballerina-platform/ballerina-spec/issues/191

[2021-11-28 12:42] jclark opened #734 "Disallow whitespace within qualified identifier"
As described here: https://github.com/ballerina-platform/ballerina-spec/issues/970#issuecomment-952463711

[2021-11-28 13:02] jclark commented on #145
Replaced by #495.

[2021-11-28 13:02] #145 closed, assigned to nobody

[2021-11-28 13:08] jclark commented on #613
See https://github.com/ballerina-platform/ballerina-spec/issues/1004

#734 helps but does not solve the problem

[2021-11-28 13:19] jclark opened #735 "Pass BIR insn position through to LLVM"
Implement DEBUG_FULL value for Options.debugLevel, which passes through position of every BIR instruction to LLVM.

[2021-11-29 01:48] jclark opened #736 "Support record-rest-descriptor"
Allow record type descriptors to contains `T...;`

This mainly involves supporting a MappingAtomic type where both the number of individual fields is non-zero and the rest type is not never.

This is part of #573.

[2021-11-29 01:53] jclark opened #737 "Support inclusive-record-type-descriptor syntax"
Support the `record { }` syntax. This should be explicit in the AST and then resolved into something equivalent to `record {| anydata...; |}`.

Need to make sure preparse understands `{` and `}` bracketing.

This is part of #573.

[2021-11-29 01:57] jclark commented on #736
Things to check/implement:

- [x] Allow `T...` unconditionally in resolveTypes.bal
- [x] In parsing, make sure that we require that `T...` occurs at most once and is at the end
- [x] Fix mapping.c to handle a MappingDesc with `nFields > 0` and restType that is not never (should look at every place we access `nFields`)
- [x] In nback, we cannot generally use indexed get/set when there is a rest fie

[2021-11-29 02:35] jclark opened #738 "Support chained field access lvalues"
With #571, we should generalize #510 to support chained field access for lvalues (e.g. `x.y.z = v;`).

This is just for field access using `v.k`, which can be done just in the front-end, not for member access using `v[k]`, which requires support in the backend for the filling-read operation.

Follow on to this is #684.

[2021-11-29 02:39] jclark opened #739 "Support filling-read operation on lists and mappings"
In order to support, chained member access lvalues, we need the backend to support the filling-read operation on lists and mappings described in this section: https://ballerina.io/spec/lang/2021R1/#section_7.14.1

For example, this

[code]

will create an empty intermediate array.

We also have to do this for maps:

[code]

_Originally posted by @jclark in https://github.com/ballerina-platform/nba

[2021-11-29 02:41] jclark commented on #739
Probably most convenient to do this in the BIR by adding a boolean `fill` flag to ListGet and MappingGet.

Need to make fillers work for mappings as well as lists: maybe want to share more between ListDesc and MappingDesc by moving fields into StructureDesc.

[2021-11-29 04:29] manuranga commented on #706
To accommodate nil arrays I plan to change BIR to

[code]

Also I'll have to pass `MemberType mt` to `_bal_array_generic_compare` as well.

[2021-11-29 08:18] manuranga commented on #706
we discussed having
[code]
This works. But since we use `bir:OrderType?` during calculation of order type, as an intermediate representation, where `()` means 'non order type', code becomes obtuse. I am thinking of using `bir:OrderType|"UNORDERED"`. This will not go into BIR.

[2021-11-29 08:58] manuranga commented on #706
I'll have to move https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/01-nil/rel-e.bal

[2021-11-29 10:33] KavinduZoysa commented on #289
@jclark, Related to `to_int` conversion,
Initially, I check the overflow case and convert decQuad value to decString. Then I have tried `strtol` and `sscanf` method to convert decString to int.
But for examples like `1e3` which available exponent(`e`), the above methods do not work. It only parses the coefficient. Also for fractional values, the rounding is incorrect. So what I thought was to use

[2021-11-29 10:53] jclark commented on #289
Converting to int is a straightforward operation: it should not require going through float (which are very complicated conversions).

Try to find some decQuadXXX functions that will turn it into a decQuad that will convert to a string that strtol will understand. Look at decQuadToIntegralExact and decQuadQuantize

[2021-11-29 12:06] jclark commented on #706
You could do something like:

[code]

where

[code]

Here `NoOrderType` is effectively never.

[2021-11-30 09:01] manuranga commented on #706
Found a corner case
[code]
Looks like it should compile, I might need a way to represent an empty tuple. Is there any other ways I can end up with `[]` type in current subset?

[2021-11-30 20:35] manuranga opened #744 "Refactor and move code to list.c form balrt.h and list_inline.c"
Move relevant code to list.c.
Use `NIL` and `COMPARE` macros.

[2021-12-01 09:14] manuranga opened #745 "Fix `run.sh` to work with initialization module"
`run.sh` should link `foo._init.ll`

related to  #511

[2021-12-01 09:27] #745 closed, assigned to manuranga

[2021-12-02 05:25] jclark commented on #733
Need to think about whether to do this in the front end or the back end or some combination.

[2021-12-02 09:54] manuranga commented on #576
Need to figure out if recursive tuple types can be comparable.

[2021-12-02 12:26] jclark commented on #733
My current thinking is that we should do it in the front-end, mainly because an optionally typed value will require a tagged representation, whereas the unlifted operation will usually require an untagged representation.

[2021-12-03 01:00] #695 closed, assigned to heshanpadmasiri

[2021-12-03 03:42] jclark commented on #502
We need to deal with the conclusion of https://github.com/ballerina-platform/ballerina-spec/issues/1001

This means the AST needs to have multiple dimensions for an array, and resolveTypes needs to reorder them.

@rdhananjaya We can either handle this in the same pull request or do it in a follow-on.

[2021-12-03 04:46] #723 closed, assigned to heshanpadmasiri

[2021-12-03 08:36] jclark commented on #713
@rdhananjaya @ushirask This isn't quite as easy to implement as it seems at first.

The difficulty is that although a read-only table type can contain only read-only mappings, a read-write table type can contain both read-only and read-write mappings.  So we have to represent the content of a read-write table as two independent Bdds rather than a single Bdd.

[2021-12-06 04:27] jclark opened #751 "endPos confusion"
currentEndPos is doing

[code]

The `-1` is not right: it makes parse errors have one two few carets.

endPos - startPos should be equal to the length of the token.

Positions should be thought of as **between** characters: the startPos is the position preceding the first character of the token; the endPos is the position following the last character of the token.

[2021-12-07 04:03] jclark commented on #713
Alternatively we can represent a read-write table as a SemType that is a subtype of t:MAPPING.

[2021-12-07 04:06] #706 closed, assigned to manuranga

[2021-12-07 04:09] #734 closed, assigned to jclark

[2021-12-07 04:11] jclark opened #752 "Get rid of bir:OrderType"
This is just creating complexity without adding value.

[2021-12-07 04:30] jclark commented on #752
Plan is to add method to types module:

[code]

Then we can do all the necessary checking in verify.bal using this.

[2021-12-07 05:34] jclark commented on #752
`comparable` can look something like this:

[code]

[2021-12-07 05:36] manuranga opened #754 "Handle cases when store through exact pointer can fail"
Normally static type checks are enough to ensure that a store into a structure can fail at runtime only if the inherent type at runtime is not the same as the static type. But there are some cases when they are not enough, for example:

[code]

[2021-12-07 05:48] jclark commented on #738
Let's do this in subset 11.

This will need an addition to the subset definition.

[2021-12-07 09:00] manuranga commented on #752
We have two C functions `_bal_string_compare` and `_bal_string_cmp`. I think we should rename `_bal_string_compare` to `_bal_nillable_string_cmp` along with all the other `_bal_*_compare` functions.

[2021-12-07 09:06] jclark commented on #752
@manuranga Isn't that #744?

[2021-12-07 09:11] jclark commented on #744
_bal_string_cmp returns <0, 0 or >0 (like strcmp)

The *_compare functions return one of 4 values allowing for unordered possibility.  We should use a typedef to make this clear e.g. `typedef int64_t CompareResult`.

There's a bug in taggedStringCompare which is incorrectly assuming that _bal_string_cmp returns -1,0,1.

[2021-12-07 09:11] jclark commented on #752
I answered in #744.

[2021-12-07 10:06] #751 closed, assigned to heshanpadmasiri

[2021-12-08 01:10] jclark commented on #754
This is a really interesting case because `c[m]` as an expression would give us nil.

[2021-12-09 02:26] #738 closed, assigned to manuranga

[2021-12-09 04:09] #754 closed, assigned to jclark

[2021-12-09 04:10] #571 closed, assigned to jclark

[2021-12-09 07:02] manuranga commented on #744
Need to address following comments:
https://github.com/ballerina-platform/nballerina/pull/742#discussion_r759178282
https://github.com/ballerina-platform/nballerina/pull/742#discussion_r759185017

[2021-12-09 12:28] jclark opened #757 "SemType bug related to order of definitions"
This gets a compile error:

[code]

The problem is that C is not recognized as being a subtype of A.  `--showTypes` gives:

[code]

But if we reorder of the definitions of A and B, we get the right result:

[code]

[2021-12-09 12:32] jclark commented on #757
We get the same thing if `int[]` is replaced by `map<int>`.

[2021-12-09 12:34] jclark commented on #757
Different order of definitions would lead to different ordering of BDD atoms.

[2021-12-10 03:22] jclark commented on #757
On page 15:35 of the [Castagna paper](https://arxiv.org/pdf/1809.01427.pdf), we have

B<sub>1</sub> \ B<sub>2</sub> = a<sub>1</sub> ? C<sub>1</sub> \ C<sub>2</sub> : U<sub>1</sub> \ U<sub>2</sub> : D<sub>1</sub> \ D<sub>2</sub> for a<sub>1</sub> = a<sub>2</sub>

(The Castagna notation uses 1 and 0 where we use true and false and uses \ means diff.)

where

B<sub>1</sub> = a<sub>1</sub> ? C<sub>1</

[2021-12-10 03:24] jclark commented on #757
This is exactly the same formula where the AMK tutorial had a different formula from the Castagna paper (which I reported as a bug): https://github.com/pnwamk/sst-tutorial/issues/3

If we look at the [Frisch PhD thesis](http://www.cduce.org/papers/frisch_phd.pdf) (in French) on page 213, it provides formulas for union, intersection, and complement but not difference. Also worth noting is that the

[2021-12-10 04:33] jclark commented on #757
One natural fix is to materialize the lazy union as in the intersection case, so the formula becomes:

a<sub>1</sub> ? (C<sub>1</sub> &#x2228; U<sub>1</sub>) \ (C<sub>2</sub> &#x2228;  U<sub>2</sub>): &#x1D7D8; : (D<sub>1</sub> &#x2228; U<sub>1</sub>)  \ (D<sub>2</sub> &#x2228; U<sub>2</sub>)

We can be confident this is correct since it follows from

- the formula for set difference in the non-la

[2021-12-10 06:20] manuranga opened #759 "Implement binary arithmetic operations for `decimal` type"
Implement  `+`, `-`, `*`, `/`,`%` for decimal type

Part of #289

[2021-12-10 06:47] #757 closed, assigned to jclark

[2021-12-10 06:54] jclark commented on #757
Everything seems to work now with the formula I propose in https://github.com/ballerina-platform/nballerina/issues/757#issuecomment-990611016

[2021-12-10 10:27] #752 closed, assigned to manuranga

[2021-12-10 18:24] manuranga commented on #757
Does this mean bdd should always be materialize before calling `isEmpty`?
Edit: No, the issue happens in diff not isEmpty

[2021-12-11 02:07] jclark commented on #757
As you realized, no.  Lazy unions are handled by `isEmpty` in `bddEvery`. This is why the lazy union concept works well.

[2021-12-11 02:12] jclark opened #760 "Apply folding to singleton returns from function calls"
When a call expression calls a function with a return type that is a singleton, then the result of the call expression needs to be available for folding.

We have one singleton type at the moment: nil. We will have others with #575.

[2021-12-11 02:23] jclark commented on #760
Problem here is that we lookup the function in codeGen, so we don't currently have the function type available during folding. Challenging case is method call, where we need to know that type of the operand before `.` in order to know the function type.

We may need a new strategy for recognizing singleton types in non-constant expressions.

One way to understand what we are doing at the moment is

[2021-12-11 02:25] #744 closed, assigned to heshanpadmasiri

[2021-12-11 02:51] jclark opened #761 "Base directory for debug info is output directory"
We need to deal with the fact that in the debug info, the base directory used to interpret relative directories will be the output directory, rather than the current directory at the time of compilation.

BIR locations are used both for debug information and for error messages (in verify). The base directory for each use case is different.

We also don't want absolutize directories in LL files, be

[2021-12-11 06:31] manuranga commented on #757
Yes, it's easy to understand that it is correct when atoms in middle doesn't intersect with atoms in left or right. It not obvious to me yet why it works otherwise. I imagined `bddEvery` will have to call itself 4 times not 3, twice for middle with current atom in both positive and negative.

Anyway this is irreverent to current issue.

[2021-12-11 08:40] jclark commented on #757
The BDD represents a disjunction of conjunctions, where each conjunction is a path from the root to a leaf that is true. When the path goes through the left of a node, the atom is included in the conjunction positively; when right, negatively; when middle, it's not included.  isEmpty checks that every conjunction is empty, by using bddEvery to accumulate each conjunction.  All bddEvery has to do i

[2021-12-11 09:25] jclark opened #762 "Use indexed get/set with open records when reference is exact"
At the moment we use an indexed get/set (bypassing hash table lookup) when we have a closed record.

We can also do it for an open record when the exact bit of the tagged pointer is set.

This builds on #736

[2021-12-11 09:26] #736 closed, assigned to jclark

[2021-12-11 10:08] jclark opened #763 "Positions of qualified names"
Currently, looks like namePos in AST is the start of the local name, even when there's a prefix.

This is not what is needed. It's the combination of the prefix and the local name that has meaning.  When an error refers to a qualified name, the entire qualified name should be underlined.

This means that:

- namePos should be the start of the prefix when there is one, not the local name
- we need

[2021-12-11 10:08] jclark commented on #763
As a temporary workaround I did this: f0fddf4aa2945267867a342043249ae7cffd6c10

[2021-12-13 02:49] #735 closed, assigned to heshanpadmasiri

[2021-12-13 05:41] jclark opened #765 "Update JBUGs for slbeta6"
Update all JBUG comments to remove any that are fixed for beta6 and add bug numbers for other.

[2021-12-13 06:45] manuranga opened #766 "Allow `decimal` as a type descriptor"
Support decimal in var-decl.
Eg: `decimal x = 10d;`

Part of #289

[2021-12-13 06:49] manuranga opened #767 "Compiler support for decimal conversion"
Implement decimal to float/int and vice versa

[2021-12-13 08:06] jclark opened #768 "Fix ComplexSemType.subtypeDataList to be ProperSubtypeData"
subtypeDataList is currently typed as `SubtypeData[]` which allows true/false.  But true/false should be handled by bits in all/some. It should really be `ProperSubtypeData[]`. This will make things clearer.

This will require some careful casts in union/intersection I expect.

[2021-12-13 09:38] #768 closed, assigned to jclark

[2021-12-14 02:32] manuranga commented on #272
Simple case can be handled by adding a narrowing just after `if` (or `else`).
[code]
A more involved case:

[code]
At the end of the outer `if`, we need `x` to be narrowed to `narrowing.ifFalse ∪ narrowing-at-end-of-body`.

Another case:
[code]
Merging of narrowings has to happen for all `if`s. Even the ones without a narrowing in the condition.

[2021-12-14 06:22] manuranga commented on #272
My current plan is to modify `codeGenStmts` to return bindings, and at the end of if-else combine bindings from both paths into a new binding.

[2021-12-14 19:03] manuranga commented on #272
Was able to handle above 3rd case with above approach. That is, get the bindings from if-body and else-body via modified `codeGenStmts`, diff it with current binding, union two sets of bindings and add `CondNarrowInsn`s after else body. I am not giving the correct `basis` yet.

Two more interesting cases that got handled : [multi-var-narrow](https://gist.github.com/manuranga/fafc963fd152b3b862973d

[2021-12-15 04:10] #713 closed, assigned to ushirask

[2021-12-15 04:57] jclark commented on #714
This also needs to fix createAnydata to use only `table<map<anydata>>`.

[2021-12-15 04:57] jclark commented on #714
Docs need fixing too.

[2021-12-15 05:13] #737 closed, assigned to heshanpadmasiri

[2021-12-15 05:20] jclark commented on #714
We should also have a test that anydata does not allow `table<map<any>>` or `table<map<error>>`.

[2021-12-15 05:29] jclark commented on #714
Also let's memoize createAnydata by adding

[code]

to t:Context and then using that in createAnydata. This requires changing createAnydata to take a Context rather than an Env.

Do the same for createJson (in a separate PR).

[2021-12-15 06:23] jclark commented on #766
I see `decimal` is already allowed unconditionally in resolveTypeDesc. That is a mistake.

This issue should have been the one to do that.

[2021-12-15 06:25] manuranga commented on #757
Here is a visual representation of the complement formula.
![not-formula](https://user-images.githubusercontent.com/1686124/146134525-650c6def-6631-47ea-8fe9-e628193d84f2.png)

[2021-12-15 09:40] #502 closed, assigned to rdhananjaya

[2021-12-15 10:00] jclark commented on #763
We discussed this and decided:

- use qNamePos for the cases when the the position is the start of a possibly qualified name (i.e. the prefix if it is non-nil or the name)
- pass an explicitly endPosition for errors that refer to a qualified name; this would use an additional function on the scanned line to figure out the end position of a qualified name from the start position of the prefix

[2021-12-16 10:59] manuranga commented on #765
Should we attempt following under this?
https://github.com/ballerina-platform/nballerina/blob/7425876af3164d914055c8b8b9f54c1590b9d2cb/compiler/modules/comm.err/err.bal#L26

[2021-12-16 11:35] jclark commented on #765
We use that with match IIRC, and I suspect unreachability doesn't work well enough in that case. So probably not.

[2021-12-16 22:00] #714 closed, assigned to heshanpadmasiri

[2021-12-16 22:08] #573 closed, assigned to nobody

[2021-12-19 02:26] jclark commented on #759
This needs to handle the case where operands are singletons, which will require adding decimalArithmeticEval to const.bal.

[2021-12-19 02:27] jclark commented on #767
I prefer to divide things up differently.

[2021-12-19 02:27] #767 closed, assigned to nobody

[2021-12-19 02:30] jclark opened #777 "Implement conversion from decimal to float"
This involves making the ConvertToFloat instruction work.

[2021-12-19 02:30] jclark opened #778 "Implement conversion from decimal to int"
This involves making the ConvertToInt instruction work.

[2021-12-19 02:34] jclark opened #779 "Implement unary minus for `decimal`"
This requires adding a DecimalNegate insn.

We also need to add runtime support for this.

[2021-12-19 02:37] jclark opened #780 "Implement relational operators for `decimal`"
Make `< > <= >=` work for `decimal`.

They also need to work for `decimal[]` and `decimal?` and other ordered types involving decimal.

[2021-12-19 02:38] jclark opened #781 "Implement equality operators for `decimal`"
These are `== != === !===`.

[2021-12-19 02:43] jclark opened #782 "Implement casts and type tests involving `decimal`"
This involves making `is D` and `<D>x` work when D is `decimal` or a union including `decimal`.

This requires adding ` ConvertToDecimal` BIR instruction.

[2021-12-19 03:01] jclark commented on #759
This also should make compound assignment operators (`+=`  etc. work for decimal).

[2021-12-19 03:24] jclark commented on #733
We can split the work into three stages each with its own function:

1. For each operand subexpression, codeGen it into an Operand; if the static type allows nil, then create a block and branch to that block if the value has type nil. Return the basic block for the non-nil case, the non-nil operands, and, if any other subexpressions can be nil, the block for the nil case. This code is common to al

[2021-12-20 01:08] jclark opened #783 "Detect unreachability due to decimal variables narrowed by equality expr in conditional"
With decimals, we have the same problem as we have now with float 0 but for every decimal.

If we have a conditional expression `if x == 1d { S }`, we know in S that x has a singleton decimal type i.e. we know its shape, but we do not know its value (it could be 1d or 1.0d etc.)

We need to generalize FloatZeroExpr to handle this.

[2021-12-20 02:43] jclark opened #784 "Wrong column for position of RetInsn when falling off the end of a function"
This case

[code]

will print an error highlighting the comment, not the underscore.

This is due to this line in codeGen.bal:

[code]

[2021-12-20 02:51] jclark opened #785 "SourceFile.lineContent crashes for position at end of line"
SourceFile:lineContent crashes in tokenEndCodePointIndex when the position is position following last character in file.

For example, if the line contains just a close brace and the position is 1. In this case, it should return `["}", "", ""]`.

(We probably shouldn't ever do this, but still better not to crash here.)

[2021-12-20 02:54] jclark commented on #785
Actually I think in d:format, we should check for that and panic with an informative message.

[2021-12-20 02:56] jclark opened #786 "Ensure start positions at not at end of line or a comment"
The index equal to the length of the line (not including the terminating newline) should only be used as a endPos. It should never be used as a startPos and (probably) should never be used as the position of a BIR insn.

There was a bug for this in #784. We should make sure it does not happen elsewhere.

[2021-12-20 02:57] jclark commented on #784
Follow on to this in #785 and #786. We can do those in subset 13.

[2021-12-20 02:58] jclark commented on #785
We need to test this with unit tests since `//@error` obscures this.

[2021-12-20 03:03] jclark commented on #786
We also should not generate a startPos (or BIR insn pos) that corresponds to a comment token.  When we run tests on the testSuite we should check that the startPos in errors is not the position of a comment fragment or at the end of line.

[2021-12-20 03:14] jclark opened #787 "Handle unreachability for match statements"
A match-stmt cannot complete normally if the patterns are exhaustive and all blocks cannot complete normally.

[2021-12-20 04:12] jclark opened #789 "Wildcard match pattern must not match `error` value"
Code for `match` statement was not updated when we added `error` value.

[2021-12-20 04:14] jclark opened #790 "Support `error()` match pattern"
We support the wildcard match pattern, which matches everything except error. Probably a good idea to support `error()` so we a pattern that matches everything.

[2021-12-20 04:15] jclark commented on #789
Might be a good idea to do #790 at the same time.

[2021-12-20 05:40] #779 closed, assigned to KavinduZoysa

[2021-12-20 09:14] #766 closed, assigned to KavinduZoysa

[2021-12-20 10:28] KavinduZoysa opened #792 "Compiler crash in float type cast"
[code]
For this example compiler crashes with,
[code]

[2021-12-20 12:05] manuranga commented on #792
I have wrongly removed untagging in #368, should have corrected the condition instead.

[2021-12-20 13:36] jclark opened #794 "Try to clean up AST representation of `else if`"
We currently represent the `else` part of an if-else statement as a `StmtBlock?`. But this doesn't cleanly represent the `else if` case: we are manufacturing a block that does not exist.  Better to represent it as `StmtBlock|IfElseStmt?`. But can we do this without complicating codeGen too much?

[2021-12-20 13:46] #784 closed, assigned to heshanpadmasiri

[2021-12-21 02:24] #759 closed, assigned to KavinduZoysa

[2021-12-21 09:18] #792 closed, assigned to manuranga

[2021-12-22 04:38] jclark commented on #794
Perhaps we can use this to reduce complexity of generated BIR.

[2021-12-22 05:15] jclark opened #799 "BDDs from union/intersection can be unnecessarily complicated"
The union/intersection functions applied to uniform types that are represented using BDDs can result in BDDs that are unnecessarily complicated.

This is because these functions simply create a BDD representing the union or intersection without checking whether one operand is a subtype of another. The reason for this is that these functions are used during type resolution, whether the atomic type

[2021-12-22 05:19] jclark commented on #799
One approach would be to have optional "smart" union/intersection ops in the UniformTypeOps table which would take an additional Context parameter.

Another possibility would be to implement a simplify operation on a BDD, which would make use of subtype relationships between atoms to produce a smaller BDD.  It would be good to do this particularly for BDDs used by SemTypes that are output by a mod

[2021-12-22 05:58] jclark commented on #799
Particularly type narrowing will produce types where simplification is desirable. When we have readonly types, we will have cases where we need to do `(T - X)|X`. Without simplification, we will get something more complex than T when BDDs are involved.

Edited: maybe normal BDD construction process will deal with that; not sure

[2021-12-22 07:45] heshanpadmasiri opened #800 "Add position to `WildcardMatchPattern`"
Currently `WildcardMatchPattern` doesn't have  a position attached to it (unlike other `MatchPatterns`)

[2021-12-22 07:52] jclark commented on #800
Preparation for #789, #790.

[2021-12-22 07:54] jclark commented on #800
Can we do

[code]

Then include *PositionFields; in WildcardMatchPattern.

WildcardMatchPattern would have a field whose value is singleton "_".

[2021-12-23 01:28] #777 closed, assigned to KavinduZoysa

[2021-12-23 01:31] #800 closed, assigned to heshanpadmasiri

[2021-12-23 08:40] rdhananjaya commented on #501
It's very tempting to add another boolean array to the `MappingAtomicType` and it's non-readonly sibling.
[code]
And we can add another boolean flag to the `FieldPair`
[code]
@jclark shall I start with this model for now and then we can refine it later?

[2021-12-23 09:08] jclark commented on #501
That was my first thought on MappingAtomicType too.

I guess we'll have to try and see if it works out.  Did you look at the Castagna paper to see if it deals with this?

[2021-12-23 15:34] #778 closed, assigned to KavinduZoysa

[2021-12-24 01:43] jclark commented on #763
We haven't completely fixed this problem.  For example, when reporting unreachable code we used stmt.startPos but the stmt could start with `io:println`, which led to `io:` being underlined.

I fixed this partly by passing in a range in more places, but I think we need a better solution.

[2021-12-24 03:33] #787 closed, assigned to jclark

[2021-12-24 03:33] #789 closed, assigned to jclark

[2021-12-24 04:18] jclark opened #804 "Handle const folding in codeGen"
We currently reuse the code for const folding to compute the type for expressions that have a singleton type.

In most cases, this works because expressions have a singleton type only if the subexpressions have a singleton type.

This doesn't work for function calls #760, but this can probably be worked around relatively easily.  More difficult is the case of method calls, where we need to know th

[2021-12-24 04:19] jclark commented on #760
General problem including method calls is #804 (which is difficult).

[2021-12-25 02:20] jclark opened #805 "Parse error with user-defined type and wildcard binding pattern"
This gets a parse error:

[code]

[2021-12-26 02:53] jclark commented on #760
Another problem here is that we cannot simply fold something like `io:println(x) = ()` into `true`. Although we know the result of the evaluation is true, it may have side-effects, so we still have to evaluate it.

This has similarities with #783.

[2021-12-26 03:29] jclark commented on #804
Not so easy to work around because of https://github.com/ballerina-platform/nballerina/issues/760#issuecomment-1001099543

[2021-12-26 04:26] jclark commented on #804
Possible alternative strategy:

- handle const folding in codeGenExpr
- separate kind of context for codeGenExpr and codeGenStmt
- context for codeGenExpr becomes object type, with two implementations, one for normal expressions and one for const expressions (as used in const definitions); context for codeGenExpr could contain the Env also
- when doing codeGenExpr for const expressions we should n

[2021-12-26 05:17] jclark commented on #804
Let's first think about stage 1.

We would need to pass down the expected type as an argument to codeGenExpr.

When the result of an expr is a ConstOperand v, that means:

- the result of evaluating the expression is the value v, and
- the static type of the expression is singleton v

The main problematic case is where the static type of the expression is singleton v, but we do not know the value.

[2021-12-26 07:02] manuranga opened #806 "Fix optional field binding on `Import` record"
Nightly build fails with.
[code]

[2021-12-26 07:06] #806 closed, assigned to nobody

[2021-12-26 08:40] jclark commented on #804
For stage 2, key problem is to represent the result of an expression that is known at compile-time but does not have singleton type. Several possibilities:

* use a Register
     * have additional field in ExprEffect giving the known value of a Register
     * have a separate array giving known value of a Register
     * stick it as an additional field in the Register
 * handle this with ConstOper

[2021-12-26 08:53] jclark commented on #804
Code generation doesn't really care about the SemType of a ConstOperand, but verification does. For example, it makes a difference with `==` whether intersection of SemTypes are empty, but it is definitely at edge case.

[2021-12-26 09:52] jclark commented on #804
Another thing we should think about before we do this is handling const values that are structured (although that gets us into readonly).

[2021-12-26 09:56] jclark commented on #804
We might also think of a better name than `codeGen`: does not convey that this is going from AST to  BIR.

[2021-12-26 18:37] jclark commented on #804
Structured const values will need us to wrap the value of a ConstOperand.

[2021-12-27 04:56] jclark commented on #804
I tried wrapping a ConstOperand in https://github.com/ballerina-platform/nballerina/tree/wrap-const-operand

Doesn't feel great: problem is that for boolean, int, string
- the singleton case is really important
   - boolean for conditions
   - int for list index
   - string for mapping key
- no possibility of multiple values with same shape
- no confusion with normal use of nil

So I am thinking a

[2021-12-27 05:57] jclark commented on #804
New idea for stage 2.

- Leave BIR as it is.
- Introduce a new record type into front (not bir) to represent the result of an expression that is know at compile-time, but with a static type that is not singleton. This would look like TypedConstOperand in the previous comment.
- The result field of ExprEffect is a union of this record type or a bir:Operand
- When these non-singleton consts need to

[2021-12-27 09:24] jclark opened #809 "Do second const folding for some expressions in codeGen"
This is stage 1 of #804.

The goal is to do just enough of #804 to solve #760 and #783. (However, it turns out that just enough to do this really correctly is almost everything.)

This consists of doing const folding again in codeGen for the following kinds of expression:

- [x] decimal binary arithmetic
- [x] decimal negation
- [x] equality (`==` and `!=`)
- [x] type cast
- [x] type test
- [x] ch

[2021-12-27 09:25] jclark commented on #809
We could potentially handle float arithmetic also, and thereby get rid of all the FloatZero complexity.

[2021-12-27 09:26] jclark commented on #809
This folding will need to look at a Register and see if it is a singleton SemType.

[2021-12-27 09:34] jclark opened #810 "Make codeGen not rely on foldExpr"
This is the 2nd part of #804.

codeGen will completely deal with constant folding without help from foldExpr. Turns out that 1st part (#809) has to deal with almost all kinds of expression. So main thing here is for codeGenExpr to pass down contextually expectedType.

Const folding is done for each expression after codeGen has been done for its operands. Const folding in codeGen will not simply ca

[2021-12-27 09:37] jclark opened #811 "Refactor expression compilation so it can handle const expression evaluation"
This is the 3rd stage of #804.

In this stage we refactor expression compilation so that it replace the const folding code in const.bal.

[2021-12-27 09:41] jclark commented on #811
Key problem is to represent the result of an expression that is known at compile-time but does not have singleton type.

Idea is:

- Introduce a new record type into front (not bir) to represent the result of an expression that is know at compile-time, but with a static type that is not singleton. This would have a field for the value and a field for the SemType.
- The result field of ExprEffect i

[2021-12-27 09:43] jclark commented on #760
Plan to handle this in #809.

#810 will extend it to work with #575.

[2021-12-27 09:43] jclark commented on #783
New plan is to handle this in #809.

[2021-12-27 09:45] #805 closed, assigned to manuranga

[2021-12-28 04:07] jclark commented on #781
I'm doing a bit of this so I can do #809 and #783.

[2021-12-29 05:06] jclark commented on #809
Cast to bir:Register in codeGenCheckingStmt looks bogus

[2021-12-30 02:34] #760 closed, assigned to jclark

[2021-12-30 02:34] #783 closed, assigned to jclark

[2021-12-30 02:59] jclark commented on #811
Start with this refactoring:

- Split off expression related part of codeGen into expr.bal (statement related part will go into stmt.bal; resolveTypes.bal will be renamed to typeDesc.bal)
- Rename `*FoldContext` to `*CompileContext`
- Rename `codeGen*Expr` to `compile*Expr`
- `compile*Expr` functions get CompileContext and an expected SemType rather than a CodeGenContext and an Env
- Function on C

[2021-12-30 03:08] jclark commented on #809
Since it turns out we have to handle almost all expressions here,

- we should definitely get rid of FloatZero
- CodeGenFoldContext.lookupConst should just return () for the Binding case

This would make it easier to test this.

[2021-12-30 03:16] jclark commented on #810
Might want to do some of this https://github.com/ballerina-platform/nballerina/issues/811#issuecomment-1002851361

[2021-12-30 03:28] jclark opened #812 "Front-end should not rely on BIR verification"
Currently front-end relies on BIR verification to find and report some semantic errors.

The goal of this issue is for the front-end to find and report all semantic errors itself, so that BIR verification can be optional.

Reasons to change our strategy now:
- front-end has richer location information and so can give better error messages
- we are doing unnecessary duplicate work in the verifier
-

[2021-12-30 03:30] jclark commented on #761
But with #812, BIR verification may be optional, which makes dual use less of an issue. (If you want to verify the BIR, we could generate it with source directory not output.)

[2021-12-30 04:10] jclark commented on #809
We can see this as implementing https://github.com/ballerina-platform/ballerina-spec/issues/902 for decimal and reimplementing for float.

[2021-12-30 04:17] jclark commented on #760
We had some test suite bugs here.

[2021-12-30 04:47] jclark commented on #780
I need to do some of this for #809. Probably just the backend stuff left.

[2021-12-30 04:59] jclark commented on #812
Verify messages that we should not get should start with `bad BIR:`.  We can then check we are not getting any of those. When we are finished, we can then remove the `bad BIR:` prefix and add a command-line option to verify.

[2021-12-30 05:42] jclark commented on #812
`operandTypeErr` mixes things that the front end catches (i.e. bad BIR) with things it doesn't. If I add `bad BIR` to the message, I get the following cases in the test suite:

[code]

This is because things like codeGenExprForInt/Boolean/String just check that the const operand is a boolean: they do not check the semtype of the register.

[2021-12-30 09:07] jclark commented on #809
We can maybe test this by having CodeGenFoldContext always return `()` for lookupConst: this would mean we are doing all the work apart from passing down the contextually expected type.

[2021-12-31 19:50] jclark commented on #501
A few points to bear in mind

- an optional field `x` in conjunction with `...`  has the effect of making `...` exclude `x`
- in particular, an optional field  `x` with a type of `never` in conjunction with `...` makes `x` not allowed as a field
- I seem to remember something in the Castagna paper about handling optional fields with a special value meaning not present; not sure if that will work f

[2022-01-01 01:04] jclark commented on #763
One fix is just not to use expr.startPos in error messages (grep for `semanticErr.*startPos` in codeGen.bal and replace `expr.startPos` by `s:range(expr)`.

[2022-01-01 12:18] jclark opened #813 "Wrong position for identifier in SimpleConstExpr"
12-singleton/match1-e.bal shows

[code]

The end position is off by one token.

If the body is changed to be just `{}`, then it gets an error in the position checking code.

[2022-01-01 12:19] jclark commented on #813
I think the fix is just to move the assignment to endPos in the IDENTIFIER case parseSimpleConstExpr to before the tok.advance().

[2022-01-01 12:19] jclark commented on #813
We need to have a discussion about how to ensure we don't have bugs in the positions in the syntax tree, because the current strategy isn't working.

[2022-01-01 12:22] jclark commented on #809
The suggestion here https://github.com/ballerina-platform/nballerina/issues/809#issuecomment-1002936045 doesn't work for match patterns. Local variables should still be in scope, but variable references must refer to const.

[2022-01-01 12:23] jclark commented on #811
SimpleConstExpr in match patterns is a special case that needs thinking about.

[2022-01-01 12:24] #809 closed, assigned to jclark

[2022-01-02 01:34] jclark commented on #739
Overall strategy in list get is to first check the index; if it's in bounds then do regular get via vtable. Otherwise, if the list member type is potentially fillable (what precisely is this?), call `_bal_list_filling_get`.

[code]
Note that although _bal_list_filling_get should never be called when it could return nil, we cannot use nil as a return value for the unfillable case, because there are

[2022-01-02 01:58] jclark opened #814 "List filling with structure members must not share members"
When there's a list with a member that's a structure, then filling multiple members should fill with a distinct value for each structure.  At the moment the value is shared.

[2022-01-02 01:59] jclark commented on #814
I will fix as part of #739 cc @manuranga

[2022-01-02 03:29] #814 closed, assigned to jclark

[2022-01-02 04:31] jclark commented on #739
MAPPING_GET becomes a PPI when it is filling, so the filling version needs to have a separate name.

[2022-01-02 04:59] jclark commented on #739
Two possible ways a mapping filling get can fail:
- mapping doesn't allow the field name (because closed)
- no filler value for the field type

I guess you could think of the second as being `never` type not allowing filler.

[2022-01-03 05:39] jclark commented on #763
Note that if we use expr.startPos then if we have identifier followed by colon, it must be a qualified name, since other two cases (conditional expr and field name) cannot happen here.

Edited: The above is not true. Consider `x ? y:z`: if we pass in the startPos for y, then we should highlight just `y` not `y:z`.

[2022-01-03 05:52] heshanpadmasiri opened #816 "Create a better position testing strategy"
We need a better position testing strategy (to replace `testPos.bal`). Current expectation are

1. Use a "position centric tree" (similar to `astString.bal`)
2. Instead of assertion failures we should provide error messages more easier to understand (similar to compile errors showing positions with the source code)

[2022-01-03 06:34] jclark commented on #816
Position-centric tree is something like this

[code]

You will probably need some more complexity to deal with cases where we do not have enough information to construct this.

Basic concept is
- construct the position-centric tree from the AST
- validate the position-centric tree

For a non-terminal validation means that the ranges of the child nodes cover (without overlap) the range of the paren

[2022-01-03 07:30] manuranga opened #817 "Returning from infinite loop does not compile"
Following input crashes the compiler

[code]
Error:
[code]

[2022-01-03 08:40] manuranga commented on #817
Similar to #222, similar solution (ie: on demand creation of bb for exit) may work.

[2022-01-03 09:07] jclark commented on #817
Is this an llvm.print problem, or is the front-end generating bad BIR?

[2022-01-03 09:25] manuranga commented on #817
Front-end, planning to send a PR soon.

[2022-01-03 09:59] jclark commented on #812
You can check by running the compiler on all the `*-e.bal` files and then grepping the output.

[2022-01-03 10:29] #782 closed, assigned to KavinduZoysa

[2022-01-03 10:34] rdhananjaya opened #820 "Semtype representation of fixed-length array grows linearly while performing `listInhabited`"
**Description:**
Fixed length array representation expands the `initial` components to `N` when the fixed length is `N` during `listInhabited`.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-01-03 10:34] jclark opened #821 "Implement specialized code for comparing two decimals for equality"
Like buildEqualStringString.

Follow on from #781.

[2022-01-03 10:35] #781 closed, assigned to KavinduZoysa

[2022-01-03 10:40] #780 closed, assigned to ushirask

[2022-01-03 10:41] #289 closed, assigned to KavinduZoysa

[2022-01-03 13:29] #817 closed, assigned to manuranga

[2022-01-03 13:29] #813 closed, assigned to heshanpadmasiri

[2022-01-03 14:44] jclark commented on #816
We could have nodes in the position-oriented tree referring to nodes in the AST by just typing the AST nodes as

[code]

Constructing this position-oriented tree will I think be a useful step towards editor support.  We could potentially use it to map from a position in the file to a position in the syntax tree.

We could also (in the future) redo the AST so that the nodes are subtypes of more gen

[2022-01-04 03:51] #733 closed, assigned to heshanpadmasiri

[2022-01-04 04:20] jclark commented on #786
We can handle this in #816

[2022-01-04 04:39] jclark commented on #763
Suppose we have an expression, and the fragments following startPos are `p:foo`: we can make the range be `p:foo` rather than `p` provided `p:foo` does not extend beyond endPos of the expression.

Another difficult case is parentheses. Since these are not represented by separate nodes, the startPos will be the position of the `(`, and it would be weird to highlight just the parenthesis.

So I thin

[2022-01-04 04:45] jclark opened #823 "Make parser support `map` as a method name"
This is all we need to do right now to support https://github.com/ballerina-platform/ballerina-spec/issues/958

[2022-01-04 04:46] jclark commented on #823
We should have a parseTest for `x.map()`.

[2022-01-04 09:40] manuranga opened #825 "Assignment to variables narrowed inside a loop is not supported"
Assignment to variables narrowed outside loops shouldn't be supported (ballerina-platform/ballerina-spec#904). But the current implementation rejects even the assignments to variables defined outside but narrowed inside the loop.

[code]

[code]

[2022-01-04 09:44] jclark commented on #825
The location for the error ought to be the location of the assignment.

[2022-01-04 20:02] #820 closed, assigned to rdhananjaya

[2022-01-05 06:01] ushirask opened #828 "`[T, T...]` is not a proper subtype of `[T...]`"
**Description:**
`[T, T...]` is expected to be a proper subtype of `[T...]` but they are given as both subtypes of each other with `isSubtype`

ex:
[code]
test case fails with `T2 is not a proper subtype of T1`

[2022-01-05 06:03] jclark commented on #828
@ushirask Please give a failing test case (check it in if we support `-ft.bal` cases).

[2022-01-05 06:14] jclark commented on #828
I checked that it fails with JSON syntax too.  The test case for `--testJsonTypes` is

[code]

[2022-01-05 06:15] jclark commented on #828
@ushirask Please see if it happens before the changes to add fixed length array types.

[2022-01-05 06:21] jclark opened #829 "More precise read-only diff for closed records"
Implement the more precise read-only diff for closed records which is described here

https://github.com/ballerina-platform/ballerina-spec/issues/1014#issuecomment-1005306096

[2022-01-05 06:59] ushirask commented on #828
It gives the same results before the fixed length array type implementation

[2022-01-05 10:23] rdhananjaya commented on #828
In `listInhabited` function, we are changing the fixed length of an array, fixing that solved the issue.

list.bal:239

[code]

[2022-01-05 11:01] heshanpadmasiri opened #833 "Provide correct positions for variable assignments"
Currently we store only the position of variable creation not assignment. This leads to a situation where we can't actually test the error position for errors of the form "assignment to narrowed variable" ([ref](https://github.com/ballerina-platform/nballerina/blob/2db018bc80ead942a237ad3b22ba58500bbc0e21/compiler/tests/testSuite.bal#L90))

[2022-01-05 11:07] jclark commented on #828
I explain the logic for rest type for tuples here:

https://github.com/ballerina-platform/nballerina/blob/main/compiler/modules/types/NOTES.md#rest-type-for-tuples

[2022-01-05 11:08] jclark commented on #828
This is the relevant commit:

https://github.com/jclark/semtype/commit/3e15e635b735cabdec422f3e00a984fb29456f61

[2022-01-05 11:41] #785 closed, assigned to heshanpadmasiri

[2022-01-05 15:44] jclark commented on #828
@rdhananjaya I think the fix is not as simple as what you suggest, because we have to explore all possible ways the list can be inhabited and see whether any of them can survive all the negs.

As the comment at the top says:

[code]

We have to find one v that is in the pos and not in any of the negs.

I see two bugs

1. is that we are doing fixedArrayFill without first copying
2. we are not consi

[2022-01-05 15:47] jclark commented on #828
So I think the code for the len < negLen case needs to be something like this:

[code]

I renamed the param to origMembers and assigned it to members, so I could mutate members.

But it's late and I'm tired.

[2022-01-05 23:48] jclark commented on #828
Actually not sure 1st point about modifying members is correct.

[2022-01-06 00:54] jclark commented on #828
@rdhananjaya I committed what I think is the correct fix. Please have a look and try to break it.

There was a bug in the JSON types parsing code also, which had me very confused for a while.

[2022-01-06 01:58] jclark commented on #828
I think  my patch has a problem with fixed length arrays: when negLen is large, we will test every possibility between len and negLen, which will be linear in the size of negLen.  Note that in deciding how many lengths we need to test, we need to consider what is in the remaining negatives not just the current negative.

So I also think there's a bug in the fix to #827 in that it does not do that.

[2022-01-06 03:53] #821 closed, assigned to KavinduZoysa

[2022-01-06 06:10] heshanpadmasiri commented on #763
As we discussed while this is not true for expressions this is true for statements and could probably be used to deal with statements.

[2022-01-06 07:46] heshanpadmasiri commented on #763
@jclark should this become the default behavior of s:range (with maybe an option to override this behavior and highlight whole expression). I am asking this because we already has a [`qNameRange`](https://github.com/ballerina-platform/nballerina/blob/66b0dc0f7240fe79c5410ffe6376349ccf098d7a/compiler/modules/comm.diagnostic/diagnostic.bal#L30) function (with `File`) that we use when we are highligh

[2022-01-06 08:59] KavinduZoysa commented on #762
Summary of the discussion:
In the existing code first, we check whether the type is closed or not.
If it is closed, the indexed_get function is called.
If it is opened, we have to check whether the tagged pointer is exact or not,
If it is exact we can call the indexed_get function otherwise, we should call the get function

The function `mappingFieldIndex` returns the index of the field for close

[2022-01-06 09:40] jclark commented on #763
I need to think more about this. Please stop working on this for now.

[2022-01-06 10:05] jclark commented on #762
Please make clearer distinction between compile-time and runtime. Also need to be clearer about atomic vs non-atomic types.

We should only generate different code for the case where at compile time, static type is an atomic type and the atomic type is open. The code that is generated should check whether at runtime the type is exact, and call get or indexed_get accordingly.

[2022-01-07 10:43] #272 closed, assigned to manuranga

[2022-01-07 11:51] manuranga commented on #794
Compiler is panicking for following input, therefor marking this issue as a bug.
[code]
Error:
[code]

[2022-01-08 02:25] #825 closed, assigned to manuranga

[2022-01-08 02:25] #833 closed, assigned to manuranga

[2022-01-08 05:17] jclark commented on #684
Need to think a bit more about combo of filling and compound assignment.

[2022-01-09 06:01] manuranga commented on #794
Let's consider the above code sample, currently if-else-stmt has three StmtBlocks, with this it will only have two. That means if-false narrowing of first if and if-true narrowing of second if will both be generated into second StmtBlock. `codeGenStmtBlock` will have to accept a list of initial narrowing ([prev](https://github.com/ballerina-platform/nballerina/pull/788#discussion_r777969156)). I a

[2022-01-09 06:07] jclark commented on #794
Can you instead make codeGenStmtBlock take either a StmtBlock or an IfElseStmt (and rename to e.g. codeGenScope)?

[2022-01-10 01:39] jclark opened #841 "Mapping runtime data structure should be in consistent state after a panic"
_bal_mapping_set and _bal_mapping_filling_get leave the map in an inconsistent state when they panic: lookupInsert inserts an entry in the table referring to array[len], but array[len] is not filled in on a panic.

This doesn't matter now, since we don't recover from panics, but it will later.

[2022-01-10 01:42] jclark commented on #841
Make `lookup` return the index where in the table the new entry should go if it's not there. Add a function do put the entry there at the same time as we add it to the array.

`lookup` can return `-i - 1` in this case where `i` is the index at which to `insert`.

[2022-01-10 03:26] #841 closed, assigned to jclark

[2022-01-10 04:46] #270 closed, assigned to manuranga

[2022-01-11 04:46] #739 closed, assigned to jclark

[2022-01-11 05:11] jclark commented on #684
Front-end isn't working for the nested case.

[2022-01-11 05:51] #794 closed, assigned to manuranga

[2022-01-11 05:53] #823 closed, assigned to ushirask

[2022-01-11 06:02] jclark commented on #812
First step is to fix codeGenExprForInt/Boolean/String to check the SemType of the register and give an error. Then make operandTypeErr use `bad BIR: `.

Then one by one do checks performed by verify into codeGen, and prefix the verify message by `bad BIR: `.

[2022-01-11 06:25] rdhananjaya opened #842 "Fixed length array subtyping bug when subtypes of array member type is involved"
**Description:**
[code]

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-01-12 01:21] #732 closed, assigned to nobody

[2022-01-12 01:49] jclark opened #845 "Extend semtype projection to allow arbitrary string subtypes as keys"
This is the last bit of #522 and is needed for #575.

[2022-01-12 03:58] #684 closed, assigned to jclark

[2022-01-12 12:38] jclark commented on #101
This will need doc added to subset13.

[2022-01-12 12:49] jclark opened #849 "Subset should not allow references to types defined in `xml` module"
Looks like code is allowing e.g. `int:Signed32` in the subset, which it shouldn't be doing.

This is moot with subset13, except for the types from the xml module.

[2022-01-13 04:22] jclark commented on #522
Remaining part is #845, so closing this.

[2022-01-13 04:22] #522 closed, assigned to nobody

[2022-01-13 04:24] jclark opened #850 "Support runtime type testing for subtypes of `string`"
This involves making the runtime ComplexType structure handle the string case, and generating the appropriate structures in init.bal.

Part of #575.

[2022-01-13 05:39] #661 closed, assigned to ushirask

[2022-01-13 05:51] jclark commented on #816
Another complexity will be switching the tokenizer between nodes while doing verification.

[2022-01-13 06:19] heshanpadmasiri opened #851 "Make functions without a return type explicit in the ast"
Currently we treat both function that has a return type `nil` (`function f() returns nil { `) and functions without a return type (`function f() {`) to be same in the ast. We need to make this difference explicit in the ast for #816

[2022-01-13 12:32] #850 closed, assigned to jclark

[2022-01-13 12:43] #851 closed, assigned to heshanpadmasiri

[2022-01-14 03:44] jclark opened #854 "Implement `enum` declaration"
With #575, we can implement `enum`, which is just sugar on top of `const`, `type` and unions.

[2022-01-14 09:26] jclark commented on #575
Check how numeric conversions interact with singleton.

If x has type `1|2|3`, what is the type of `<decimal>x`.  `1d|2d|3d` would be workable in this case, but consider applying it to int:Signed32: that would be very hard.  Suspect we only do something special in the singleton case.

[2022-01-14 13:03] jclark opened #855 "Support `-` followed by numeric literal as inline type descriptor"
A singleton-type-desc can consist of a `-` followed by an int-literal or floating-point-literal.

We need to make sure this works at the beginning of a statement, e.g.

[code]

This is required by #575.

[2022-01-14 14:48] jclark commented on #575
We need to deal with type tests/casts where the representation is not tagged.

[2022-01-15 03:55] jclark commented on #575
Need to check we are getting typing rules right for bitwise operations with integer subtypes.

[2022-01-15 05:12] jclark opened #856 "Optimizations for int subtypes"
Following on from #575, this is a tracking issue for possible optimizations of the implementation of int subtypes

- [x] #169 (this is for exactly bytes)
- [x] #890
- [x] #893
- [x] #900
- [x] #899
- [ ] #901
- [ ] variation of optimized int array representation that supports subtypes of int (i.e. checks the inherent type on mutation if not exact)
- [ ] special representation for 32-bit signed int

[2022-01-16 04:36] jclark opened #858 "Parse statement beginning with `null[n]`"
A cursory look at the code suggests this won't compile.

[2022-01-16 06:30] #168 closed, assigned to nobody

[2022-01-16 08:55] jclark opened #859 "Test position problem with `T|()`"
I had to work around another testPos failure with this commit 89ccca106ee679b67e25a378318a1f3f2c9acaec

May not be worth fixing given #816

[2022-01-17 06:51] jclark opened #860 "Bug with hex int literal with contextually expected type of float or decimal"
The code appears to ignore the base of an integer literal when the contextually expected type is float or decimal.

[2022-01-17 12:16] manuranga commented on #101
@jclark Should following code compile ?
[code]

** Edit: There was a mistake in the sample, changed `true` to `false`

[2022-01-17 13:20] jclark commented on #811
Alternative idea to https://github.com/ballerina-platform/nballerina/issues/811#issuecomment-1001473615

- represent this case by a bir:Register with some info off to the side in the ExprContext that says its constant
- have a function on ExprContext that creates a register with a const value, with different implementations for the const and non-const case

[2022-01-18 01:06] jclark commented on #101
Please explain the issue.

[2022-01-18 02:06] jclark commented on #860
There's a spec issue here: https://github.com/ballerina-platform/ballerina-spec/issues/1024

[2022-01-18 02:16] manuranga commented on #101
Following shouldn't compile, but I think the above should. Since spec doesn't explicitly mention constants, can I still infer above should compile, or do I need to create a spec issue.

[code]

[2022-01-18 02:39] jclark commented on #101
By explain the issue, I mean explain why you think it should or should not compile.

Expression typing is based on singleton types not constants.

[2022-01-18 02:42] jclark commented on #762
#836 was an attempt at this.

[2022-01-18 03:00] jclark commented on #810
We have already done const folding of string concatenation.

[2022-01-18 03:00] #810 closed, assigned to jclark

[2022-01-18 03:18] jclark commented on #858
But it does...

[2022-01-18 03:21] jclark commented on #858
The problem is actually that

[code]

should parse but doesn't.

[2022-01-18 03:39] #858 closed, assigned to nobody

[2022-01-18 03:44] #855 closed, assigned to ushirask

[2022-01-18 05:51] jclark commented on #811
The other possibility is to add a multiSemType field to ExprEffect, which would be a non-nil semType in the case when the result is a ConstOperand that is not a sngleton.

[2022-01-18 08:40] #849 closed, assigned to nobody

[2022-01-18 09:23] heshanpadmasiri opened #862 "Make SingletonTypeDesc use SimpleConstExpr"
SingletonTypeDesc just records the single value corresponding to the type, rather than fully representing the syntax tree as elsewhere in the AST. It should instead use SimpleConstExpr (as in match pattern). The work done during parsing would instead be done in resolveTypes.

The current approach has the problem we can't determine the initial token value from float SingletonTypeDesc. For example b

[2022-01-18 09:26] heshanpadmasiri opened #863 "Make parentheses explicit in the AST"
Currently we don't store parenthesis information in the AST and position testing (#816) currently ignore parentheses, both for expressions and type descriptors.

It would be better if we can make parentheses explicit in the AST. We can then

- fully verify the syntax tree
- do #865

[2022-01-19 01:35] jclark commented on #816
Fixed by #843

[2022-01-19 01:35] #816 closed, assigned to heshanpadmasiri

[2022-01-19 01:38] jclark opened #865 "Redo astString on top of syntaxNode.bal"
We can use the tree produced by syntaxNode.bal to do astString.bal more simply.

First we need to #863.  Then astString can be done in two parts:

- transform the syntax tree by normalizing parentheses
- output the syntax tree inserting white space nicely

[2022-01-19 01:41] jclark commented on #859
With #816 we can just remove the workaround.

[2022-01-19 01:50] jclark commented on #863
Obvious approach is to have ParenExpr and ParenTypeDesc, or perhaps GroupingExpr and GroupingTypeDesc (since parentheses are the syntax to express grouping).

[2022-01-19 02:01] jclark commented on #786
@heshanpadmasiri We need to make sure the the position testing code checks that

1. a start-pos is not immediately before white space or comment or the end-of line (i.e. startPos is the position of a non-white space token)
2. an end-pos is not immediately after white space or comment

Then check that no BIR insn is using an endPos

[2022-01-19 03:35] #859 closed, assigned to heshanpadmasiri

[2022-01-19 03:49] heshanpadmasiri opened #867 "Add OptionalTypeDesc to the AST"
Currently we represent both T|() and T? similarly in the AST (Both as BinaryTypeDesc with right as BuiltinTypeDesc null) with only difference being for T? case BinaryTypeDesc’s right having same start and end pos. Instead we need to make this difference explicit in the AST.

[2022-01-19 07:31] jclark commented on #829
There's a problem with what was proposed in https://github.com/ballerina-platform/ballerina-spec/issues/1014#issuecomment-1005306096, so we cannot implement it.

[2022-01-19 07:31] #829 closed, assigned to nobody

[2022-01-19 07:46] gimantha commented on #765
Reopening this as there are few more issues left and currently working on them

[2022-01-19 07:46] jclark commented on #765
The build has broken...

[2022-01-19 07:48] gimantha commented on #765
I sent a revert PR here: https://github.com/ballerina-platform/nballerina/pull/868,
I will check what went wrong

[2022-01-19 07:49] jclark commented on #765
OK. I don't understand what went wrong.

[2022-01-19 11:38] #828 closed, assigned to jclark, rdhananjaya

[2022-01-19 11:38] #842 closed, assigned to rdhananjaya

[2022-01-20 04:08] manuranga commented on #101
Created [ballerina-spec#1029](https://github.com/ballerina-platform/ballerina-spec/issues/1029)  to track above.

[2022-01-20 06:51] #863 closed, assigned to heshanpadmasiri

[2022-01-20 10:44] manuranga commented on #101
I need to move `env` back out of the the `ExprContext` into a parameter.
Consider `x is string && isEmptyString(x)`, env created by `x is string` needs to pass to `isEmptyString(x)`. Another option is to update (push/pop) in the `ExprContext`, but extra state is undesirable.
I'll send this as a separate pr.

[2022-01-20 11:34] jclark commented on #101
You don't need to do that: just create a new ExprContext with different env.

[2022-01-21 02:53] #786 closed, assigned to heshanpadmasiri

[2022-01-23 09:15] jclark commented on #765
Where are we on this? Can we get this merged?

[2022-01-23 12:58] jclark commented on #811
Thinking ahead to structured constants, I think we are going to want to have constants in the BIR have an explicit type (although we could always compute the type from the constant).

[2022-01-23 13:39] gimantha commented on #765
I am having some trouble getting all the test working due to a clang failure. I will try to get it merged ASAP.

[2022-01-24 03:36] heshanpadmasiri commented on #867
@jclark for this I am thinking about adding the fallowing to the AST
[code]
One thing I am not clear is spec says [`optional-type-descriptor := type-descriptor ?`](https://ballerina.io/spec/lang/2021R1/#section_5.6.9)  but our grammar says [`optional-type-desc = postfix-type-desc [ "?" ]` ](https://github.com/ballerina-platform/nballerina/blob/2998c3cc1b59d019525878c7217375b740d8652f/docs/subset13

[2022-01-24 03:41] jclark commented on #867
postfix-type-desc grammar is wrong. I just fixed it in db800a78382ec24c02618399be8d78e3b1c97c8c

[2022-01-24 03:44] jclark commented on #867
Just change UnaryTypeOp to `"!"|"?"`, and you can handle OptionalTypeDesc  with UnaryTypeDesc (which it is, since unary means has one operand).

[2022-01-25 05:00] rdhananjaya opened #877 "Improve semtype testing"
Ideas:

- A starter might be [https://pnwamk.github.io/sst-tutorial/#%28part._.Strategies_for_.Testing%29](https://pnwamk.github.io/sst-tutorial/#%28part._.Strategies_for_.Testing%29).
- @manuranga had initially implemented a combinator like implementation, we should be able to add randomness to this.
- Use CDuce #981
- Property-based testing

[2022-01-26 07:00] #765 closed, assigned to gimantha

[2022-01-26 07:51] manuranga opened #879 "Logical operations does not produce an `unreachable code` error when lhs is not a single boolean but whole is"
Following correctly gives an unreachable code error
[code]

But following does not

[code]

The second type test don't produce a narrowing in ether case. Error is given based on the result being a singleton boolean, which is not getting correctly calculated in the latter case.

[2022-01-26 17:33] manuranga commented on #879
Difficulty in fixing this is, by the time I know that rhs is a singleton or const, I have already created basic blocks.

[2022-01-27 02:59] #811 closed, assigned to jclark

[2022-01-27 02:59] #804 closed, assigned to jclark

[2022-01-27 03:13] #867 closed, assigned to heshanpadmasiri

[2022-02-01 02:24] jclark opened #883 "Improve verifiability of BIR's representation of conditional type narrowing"
The BIR is supposed to be _verifiable_. This means that

- there is a definition of when the BIR is valid (we can distinguish well-formed and well-typed)
- the validity of the BIR is the contract between the front-end and back-end: the front-end is required to produce valid BIR and the backend should handle any valid BIR
- there should be a way to verify that when BIR is valid

Probably the most c

[2022-02-01 02:31] jclark commented on #883
Alternative idea for representation of conditional type narrowing:

- Represent variable narrowing by having a optional 3-tuple of registers associated with a conditional branch insn
   1. unnarrowed register
   2. narrowed register when true
   3. narrowed register when false
- Add a combine narrowings instruction: this would take 2 (or perhaps N >= 2) existing narrowed registers and construct a

[2022-02-01 02:47] jclark commented on #883
Generating the alternative representation described above would require a new strategy for handling negation.  The idea is

- codeGenExprForBoolean gets an additional negated argument
- it checks for each kind of expression that can produce a narrowing and calls it with a negated argument; other kinds of expression are handled as now
- codeGenTypeTest already has a negated argument: just need to f

[2022-02-01 02:54] jclark commented on #883
The Ballerina spec has a constraint that it is an compile error if narrowing results in "the type of a variable reference being affected by assignments that lexically follow the variable reference". This effectively means (I think) that the effects of type narrowing only flow through forward edges in the CFG. (Although this may change with https://github.com/ballerina-platform/ballerina-spec/issue

[2022-02-01 03:43] #101 closed, assigned to manuranga

[2022-02-02 03:49] #845 closed, assigned to rdhananjaya

[2022-02-02 04:02] jclark commented on #575
Need to look at exactness when key type is neither singleton nor string.

[2022-02-02 04:14] manuranga opened #885 "Migrate to jBallerina SL GA 2201.0.0"
- [x] Migrate `make` build
- [ ] Re-enable JNI build

[2022-02-02 04:46] jclark opened #888 "Update subset doc for `&&` and `||`"
Need to update subset 13 to document support for `&&` and `||`.

[2022-02-02 05:36] ushirask opened #890 "Optimize testing for int subtype that is a single range"
Special case testing an int representation against an int subtype that is a single range.

[2022-02-02 05:45] jclark commented on #860
For now we should disallow `decimal d = 0x1234;` as proposed in

https://github.com/ballerina-platform/ballerina-spec/issues/1024#issuecomment-1016003543

[2022-02-02 05:53] jclark opened #891 "Support for typing list projection with int subtype"
We need to be able to compute the type of `v[i]` when v is a subtype of list and i is an arbitrary subtype of int (not just `int` or a `singleton`).

Needed for #576.

[2022-02-02 06:43] manuranga commented on #883
Logical operations can't always broken down to if-else without duplicating the body. eg:
[code]
But the same sort of union instruction that will work for combining if-else should work. So general idea of narrowings flowing through the CFG is still valid for logical operations.
![Edit pad 2(1)](https://user-images.githubusercontent.com/1686124/152106196-d9e7dfeb-c142-4202-8247-5c35e99d4350.png)

[2022-02-02 08:33] #885 closed, assigned to manuranga, heshanpadmasiri

[2022-02-02 09:57] jclark opened #893 "Use integer/string subtypes to optimize more equality cases"
Some equality operations can be optimized into pointer comparisons.

For some subtypes of int or string, we can determine that the tagged representation will always be immediate.

When we have an `==` comparison between two types T1 and T2, if the intersection will always use a tagged representation, we can optimize it into a pointer comparison.

Part of this is to write a function for each of int

[2022-02-03 05:30] #888 closed, assigned to manuranga

[2022-02-04 03:37] #575 closed, assigned to jclark

[2022-02-04 03:42] jclark commented on #860
This needs some further cleanup.

[2022-02-04 03:51] #860 closed, assigned to ushirask

[2022-02-04 03:58] #879 closed, assigned to manuranga

[2022-02-04 06:04] #862 closed, assigned to ushirask

[2022-02-06 14:10] jclark commented on #891
@rdhananjaya I suggest you start by adding the necessary functions to the types module. Changing other modules will require other changes that are not ready yet.

[2022-02-07 03:58] heshanpadmasiri opened #895 "Comparisons of arrays of subtypes of simple type or string do not work"
Comparing `int` array with sub-type of `int` using the either `<` or `<=` (other comparison operators seems to work fine) will generate invalid output
example:
[code]
expected output:
[code]

actual output:
[code]

[2022-02-07 04:14] jclark commented on #895
@heshanpadmasiri Please include PR with failing test case ( `14-bug/subtypecompare-fv.bal`).

Please check subtypes of other basic types also (float, string, boolean).

[2022-02-07 05:55] heshanpadmasiri opened #896 "`boolean`, `float` and `string` array subtype comparison causes segfault in runtime"

[2022-02-07 05:58] heshanpadmasiri commented on #896
issue merged with #895

[2022-02-07 05:58] #896 closed, assigned to nobody

[2022-02-07 05:59] jclark commented on #895
More examples in #896.

[2022-02-07 06:13] heshanpadmasiri opened #898 "special representation for 32-bit integers"
In the case of 32-bit integer operations other than division (we can have divide by 0 here) we can use `IntNoPanicArithmeticBinaryInsn` instead or `IntArithmeticBinaryInsn`.

[2022-02-07 06:23] heshanpadmasiri opened #899 "Take advantage of non-panicking insns for arithmetic on int subtypes"
Use limited range of int subtypes to determine when there is no possibility of overflow of arithmetic operations.

In the case of 32-bit integer operations other than division (we can have divide by 0 here) we can use `IntNoPanicArithmeticBinaryInsn` instead or `IntArithmeticBinaryInsn`.

 This is a front-end optimization because the panicking instructions are different.

[2022-02-07 06:24] #898 closed, assigned to heshanpadmasiri

[2022-02-07 06:25] heshanpadmasiri opened #900 "Generate better code for boxing/unboxing int subtypes"
When we have an int subtype that fits in 56 bits, we know the representation is immediate. Converting the value to a tagged pointer is just a truncate/shift/increment. Similarly converting from a tagged pointer is just a shift/mask/sign extend.

[2022-02-07 06:45] jclark commented on #900
Be sure to test with negative numbers.

[2022-02-07 07:03] jclark commented on #899
For int:Unsigned32, multiplication can overflow; whereas for int:Signed32 it can't (but check and test this).

[2022-02-07 08:39] #895 closed, assigned to jclark

[2022-02-07 12:06] jclark opened #901 "Optimize comparison for subtypes of `int[]`"
We can generate better code for two arrays that are subtypes of `int[]` by using the get_int vtable member to access the members.

This will avoid a lot of memory allocation when the type is inexact.

[2022-02-07 13:53] manuranga commented on #900
I added max/min intimidate int consts in my pr https://github.com/ballerina-platform/nballerina/pull/902/files#diff-e816d0935faff2498db272a1ac22b7168bbfe690b42a7a0ca8908c123d03daffR30

[2022-02-08 01:30] jclark opened #903 "Compile some tuples into LLVM structs"
When a Ballerina tuple is not open and includes types that have an immediate representation, we can represent it as an LLVM tuple e.g.
The Ballerina type `[int, float]` can be represented as LLVM `{ %ListDescPtr, i64, f64 }`. Access to the member would leverage exactness: if the reference is exact, then the access would be inlined; otherwise it would go via the vtable.

[2022-02-08 15:38] heshanpadmasiri commented on #899
I think int:signed32 can also overflow given max value is 21474836487 so 21474836487 * 21474836487 will overflow

[2022-02-09 03:11] heshanpadmasiri commented on #899
This is wrong. Please ignore this

[2022-02-10 01:21] #899 closed, assigned to heshanpadmasiri

[2022-02-10 01:23] #865 closed, assigned to heshanpadmasiri

[2022-02-10 01:24] #812 closed, assigned to nobody

[2022-02-10 02:32] jclark opened #907 "Implement function type descriptors and values"
At the moment, the only thing you can do with an identifier of a function definition is use it in a function call expression.

In this stage, we allow functions to be values, which can be (like other values):
- stored in variables
- passed as parameters
- returned from functions
- be the result of expressions

In this stage, the only way to create a function value is with a reference to the identi

[2022-02-10 02:37] jclark opened #908 "Implement anonymous functions w/o variable capture"
This builds on #907 to add support for anonymous functions.

This means supporting [explicit-anonymous-function-expr](https://ballerina.io/spec/lang/2022R1/#section_6.18) with a block-function-body.

Initially, we would have the restriction that these functions could not refer to block-scope variables defined outside the function body. This would be handled in #909.

Further we would _not_ support

[2022-02-10 02:38] jclark opened #909 "Implement closures"
This builds on #908 to support closures i.e. allow capturing of local variables.

[2022-02-10 02:50] jclark commented on #909
BIR concept is ClosureConstruct insn.

This takes
- FunctionCode for the body of the function
- list of registers captured by value
- list of registers captured by reference

The function code for the body of the function would have its own register for each of the registers that it captures from its enclosing scope.

In the backend, when a register in a function body is captured by a ClosureConst

[2022-02-10 03:04] jclark commented on #907
The main challenge here is dealing with the implications of variance for function types.

For example if I declare a function like this:

[code]

it will return its value as an i64. But I can assign `foo` to a variable of type `function() returns any`.  When a function is called indirectly through this variable, the caller would expect to get the return value as a tagged pointer.

There is a simil

[2022-02-10 03:41] jclark opened #910 "Allow relational operators between comparable tuple types"
We need to allow comparison between e.g.

* `[int, string]` and `[int, string]`, or
* `[string, int]` and `[string, int...]`

[2022-02-10 03:42] jclark commented on #910
Backend already has necessary support

[2022-02-10 04:25] jclark opened #911 "Do not allocate stack space for tmp registers"
At the moment, we do an alloca for all registers. But really this is needed only for registers corresponding to _variables_. Intermediate results of expressions can be held in registers.

[2022-02-10 04:26] jclark commented on #911
This is what clang does.

[code]
turns into:

[code]

[2022-02-10 04:27] jclark commented on #911
This implies BIR needs to distinguish different kinds of register.

[2022-02-10 06:09] jclark opened #913 "Parse inline fixed length array type descriptors"
Need to be able to parse:

[code]

[2022-02-10 06:38] jclark opened #914 "Introduce function like listAtomicTypeMemberAt for mapping"
Use here

https://github.com/ballerina-platform/nballerina/blob/06e1da907865142409bedf9e13dcb06ef9449830/compiler/modules/bir/verify.bal#L202

When we have an atomic type (e.g. in a mapping constructor) we should find the member type directly from the atomic type rather than using the complex projection algorithm.

[2022-02-10 06:39] jclark commented on #914
Maybe also can use when setting contextually expected type for field values in mapping constructor.

[2022-02-10 07:03] jclark opened #915 "Parse inline tuple types"
Support something like

[code]

[2022-02-10 07:17] jclark commented on #910
@heshanpadmasiri Need to be careful about recursive tuple types.

Also need to be careful about types like `int[512]`: don't take time proportional to the fixed length of the array. (e.g. comparing `int[512] and `int[]`.) If you don't see how to do this, create a separate issue and leave it for later. Link with #913.

[2022-02-10 07:22] jclark commented on #915
We have to look ahead to the space to distinguish:

`[X].length();` (list constructor and method call statement) from `[X] n = [1];` (tuple type descriptor starting variable declaration statement).

[2022-02-10 12:17] #890 closed, assigned to ushirask

[2022-02-11 11:44] rdhananjaya opened #918 "Probable type ordering issue in list sub-typing"
**Description:**
Removing random ranges from the top of the file cause subtype tests for Q and T to fail.
(T already fails)

[code]

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-02-12 02:32] jclark commented on #883
So I think we want two instructions (which would replace the existing ConditionalTypeNarrow insn):

- TypeBranch
- TypeMerge

TypeBranch insn has

- Operand Register to be tested
- SemType to test
- for each of ifTrue/ifFalse case:
   - label of branch to jump to
   - narrowed register to create

This tests whether the value in the operand register belongs to the SemType. Depending on the result i

[2022-02-12 02:46] jclark opened #919 "Improve BIR"
This is a tracking issue for improvements to nBallerina's BIR, particularly with a view to reuse in jBallerina.

- [ ] Better approach to representing conditional type narrowing [#883 ](https://github.com/ballerina-platform/nballerina/issues/883#issuecomment-1036952993)
- [x] #920
- [ ] Add support for closures #909
- [x] #921
- [ ] #926
- [ ] #929
- [x] #935
- [ ] #928
- [ ] Annotations
- [ ] Def

[2022-02-12 02:50] jclark opened #920 "BIR should distinguish different kinds of register"
BIR should distinguish at least the following kinds of register:

- parameter
- non-final variable
- final variable
- narrowed variable
- intermediate expression result

We need this to determine
- whether they are single assignment
- how (if at all) they correspond to source level variables

This in turn affects for LLVM
- whether they need an alloca slot
- how to generate debug info

This is nee

[2022-02-12 08:15] jclark commented on #918
Is this related to the fixed length array optimization or independent of that?

[2022-02-12 08:23] jclark opened #921 "Make BIR better capture structure of control flow"
Currently BIR represents control flow as just a control flow graph. This is all that is needed for conversion to LLVM, but loses information about the structure that was present in the source.  This makes several things more difficult than they could be:

- verification of conditional type narrowing (as proposed here #883, or as currently in the conditional type narrowing instruction)
- constructi

[2022-02-12 08:27] jclark commented on #921
GraalVM IR has an interesting approach to representing control flow https://ssw.jku.at/General/Staff/GD/APPLC-2013-paper_12.pdf

[2022-02-12 10:56] jclark commented on #921
I think the general approach that can work is to allow a block to have properties, and to have constraints about how blocks with particular properties are connected in the graph, which can be enforced in the verifier.

Consumers of the BIR who just want a CFG can ignore the properties.  Those that need structural information can may attention to the properties.

The design goal for the properties

[2022-02-12 11:14] jclark commented on #921
Ideas:

- edges from conditional branches are all forward
- forward branches form a DAG
- property on a block saying it's the loop head
- property on a block says terminating branch is backward
- backward branch only allowed to loop head
- property on a block saying it's the exit block of a loop (where break would go to)
- one exit block per loop
- a block is in a loop if it is reachable from the

[2022-02-12 18:29] jclark commented on #921
Probably better to have some of these properties on the branch instruction, specifically whether the branch is backwards.

[2022-02-12 18:34] jclark commented on #921
I am not clear about whether we need more structure for if/else.

[2022-02-13 02:35] jclark commented on #921
This paper [Johnson and Pingali. Dependence-based program analysis](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.38.7952&rep=rep1&type=pdf) has the concept of single-entry/single-exit regions.  Source statements have corresponding single-entry/single-exit regions, and nesting of source statements turns into nesting of these regions.

There are a number of complications we have to deal

[2022-02-13 03:48] jclark opened #922 "Do not create unnecessary narrowing for sequence of statements"
Given something like:

[code]

the type for x in `baz` is the union of it's narrowed types in the `foo` and `bar` branches.  But this will be identical to its type before the `if`.  One way to detect this is that the if/else branches neither have any special control flow (like `return` or `break`).

In any event, we should not create a narrowed register here.

[2022-02-13 04:11] jclark commented on #921
Can we go as far as saying that any merge block (two or more predecessors) is the entry or exit block of a single-entry/single-exit region?  Or maybe just that TypeMerge insns (#883) are in the exit block?  We would also need TypeMerge insns in the block  `on fail` (tied with an exit block).

[2022-02-13 05:31] #891 closed, assigned to rdhananjaya

[2022-02-14 01:25] #893 closed, assigned to manuranga

[2022-02-14 01:33] jclark opened #924 "Add function to types module to compute projection for every index in one call"
This does a projection for all indices at once

[code]

Just iterating over every index is too inefficient for fixed length arrays (consider comparing `int[]` with `int[10000000]`).

[2022-02-14 01:33] jclark commented on #910
This really needs #924 to do properly.

[2022-02-14 01:36] jclark commented on #910
@heshanpadmasiri Once you have #924, you iterate over the two arrays you get back, split up the ranges as necessary so that the left and right parts align, and then check for comparability of the members.

[2022-02-14 01:40] jclark commented on #910
@heshanpadmasiri To get started you can write a version of #924 that works only for atomic types, then write your function using that.

[2022-02-14 05:52] manuranga commented on #921
In this scheme, will we be able to easily recover the structured flow of logical expressions?. eg:

[code]

![short-circuit-or](https://user-images.githubusercontent.com/1686124/153807519-52d8bafc-c1da-44ab-8292-1d6fa9d61588.svg)

[2022-02-14 06:04] jclark commented on #921
We could model the condition as a region with one entry and two exits (one for true and one for false); we would then have the constraint that in such a region, assignments (other than to temp registers) is disallowed.

The two exits allow us to model the separate flow of type information implied for true and false cases  an if/else statement.

But I think the only case where this matters is WASM

[2022-02-14 07:27] poorna2152 commented on #921
For the above representation following is the output generated [using the relooper](https://gist.github.com/poorna2152/985ae28df808895045c82930c46cd047) ,

- WAT

[code]
- Relooper Block Structure
![Relooper Block structure](https://user-images.githubusercontent.com/58025190/153824128-51b71162-733c-4c91-8136-8579b15ce35e.png)

[2022-02-14 08:44] manuranga commented on #909
When will capturing by value used? Is it only for final variables/consts? Or any type that doesn't have storage identity?

In  jBallerina following will  output 6.
[code]

[2022-02-14 12:31] jclark commented on #921
@poorna2152 When you format WAT, please

* don't put the close parenthesis on a separate line and
* indent by more than 1 space.

[2022-02-14 13:27] poorna2152 commented on #921
Updated the comment.

[2022-02-14 15:25] manuranga commented on #921
Optimized  with binaryen
[code]

[2022-02-14 16:36] manuranga commented on #921
![short-circuit-or-opt](https://user-images.githubusercontent.com/1686124/153906162-20db2d66-2800-47e9-8460-40cf9394d456.svg)

[2022-02-15 01:41] jclark opened #926 "What does BIR need to represent multiple strands?"
Things to consider:

- `start`
- named workers in a function
- inter-worker communication
- `wait`
- yield points

[2022-02-15 02:25] rdhananjaya commented on #919
Jballerina employs a set of `internal` langlib functions, we should formalize them or find alternatives.
https://github.com/ballerina-platform/ballerina-lang/tree/master/langlib/lang.__internal/src/main/ballerina

[2022-02-15 02:27] manuranga commented on #919
Instruction set used in jballerina : https://github.com/ballerina-platform/ballerina-lang/blob/5ba7b3d3e9fb1929d0f11b78ea0614ffa44e9626/docs/bir-spec/src/main/resources/kaitai/bir.ksy#L1131

[2022-02-15 04:04] manuranga commented on #909
Please also consider capturing of narrowed variables. Related spec issue: https://github.com/ballerina-platform/ballerina-spec/issues/1043

[2022-02-15 05:11] jclark commented on #909
Capture by value is only for final variables (and variables that could have been declared as final but weren't).

I agree there are spec issues as pointed in https://github.com/ballerina-platform/ballerina-spec/issues/1043, but I think the implementation strategy here can handle it.

[2022-02-15 05:16] jclark commented on #919
@rdhananjaya We also need to know how these internal functions are used. Some are obvious to me; some not. We will probably need a separate issue for this.

[2022-02-15 08:45] #915 closed, assigned to ushirask

[2022-02-15 08:48] #914 closed, assigned to ushirask

[2022-02-16 01:13] jclark opened #928 "Design BIR for handling match patterns"
One possibility is a "looks like" insn.

Need to think about whether that is sufficient for the BIR to be type-safe.

[2022-02-16 01:31] jclark commented on #907
Contravariance and varargs makes things difficult.

Consider

[code]

Since `[int, int]` is a subtype of `[int, anydata...]`, the type `function(int, anydata...)` is a subtype of `function(int, int)` (because of contravariance). So the value `bar` belongs to F.

Ideally, we want to design things so that in `foo` (or any situation with an indirect function call) if the reference to `func` is exact,

[2022-02-16 03:17] jclark commented on #907
The fundamental problem is that the representation of the arguments list of a function depends on the exact type of the function.  When making a direct call to a function this will be known. We will accordingly call this representation the direct representation. However in general when making an indirect call to a function having an argument list of type T, the caller knows only that the function

[2022-02-16 04:26] jclark commented on #907
Here's some C code with a rough sketch

[code]

foo and foo2 are different ways of doing the same thing: with foo we construct the arg list once but pass an extra arg to the direct function; with foo2 we construct the arg list twice. The former is less code, the latter is faster.

Note that the `uniformArgsToIntInt` and `uniformArgsFromIntInt` can be shared between functions types with the same re

[2022-02-17 03:18] jclark opened #929 "Allow values to be constructed using multiple BIR insns"
Currently a single BIR instruction is used to perform the complete process of construction of a mapping or list value. This has the advantage that registers never contain partially constructed values.

But there are disadvantages
- makes the construction insns rather complex
- this won't work for object construction
- will be complicated with `...x`
- probably won't work well with query expression

[2022-02-17 04:27] rdhananjaya commented on #918
Small reproducible program:
[code]

[2022-02-17 04:28] jclark commented on #924
Then use this to finish comparableNillableList

[2022-02-17 04:41] #900 closed, assigned to nobody

[2022-02-17 05:01] jclark commented on #920
Names could be

- param
- var
- final
- narrow
- temp

[2022-02-17 05:08] jclark commented on #921
Note that these regions may correspond to scopes for variables needed for debug info.

[2022-02-17 09:28] heshanpadmasiri commented on #920
@jclark for this I am thinking of doing fallowing changes:

- In `bir.bal`:

  1. Introduce an new `RegisterKind` enum with [above](https://github.com/ballerina-platform/nballerina/issues/920#issuecomment-1042577643) values.
  2. Change `Register` type to be:
[code]
  3.  change the `createRegister` (We don't use this directly to create registers) to be
[code]
- In `StmtContext`:

  1.  Change [`c

[2022-02-17 17:59] jclark commented on #920
You also need to define subtypes of Register corresponding to some of these kinds and then use these subtypes in the definitions of BIR insns. For example, with a few exceptions the result register of an insn should be a temp. So define a type TmpRegister with kind fixed to "tmp", and then use that as the ResultType.

You need to look at every insn that uses Register, figure out the allowed kinds

[2022-02-17 18:01] jclark opened #934 "Implement varargs functions"
This means allowing functions to use `T... arg`.

For a direct function call, the caller can simply construct the list with the correct type and pass it as an argument.

[2022-02-17 18:04] jclark opened #935 "BIR needs to include debug info about variables"
For registers corresponding to source variables and parameters, we will need to generate debug info which will require additional information in the BIR such as variable scope and probably location of definition.

We need to figure out what is necessary for JVM and DWARF.

[2022-02-17 18:14] jclark commented on #920
We should also try to enforce with types that varName will be non-nil for specific kinds.

[2022-02-17 18:59] jclark commented on #921
Concretely, we add a field to bir:FunctionCode

[code]

where Region is

[code]

Then we generate these regions in stmt.bal and verify them in verify.bal.

Also add field to unconditional branch saying whether its backwards.

[2022-02-17 19:02] jclark commented on #935
Note that scope for narrowed variables will be relevant to #883.

[2022-02-18 03:48] heshanpadmasiri commented on #920
@jclark  in that case I'll refactor the [`Register`](https://github.com/ballerina-platform/nballerina/blob/5f132673c3ac91d0788fc011f54d283b03a132de/compiler/modules/bir/bir.bal#L135) type as:
[code]
and update all the bir `Insn` that has a Register field to use the correct subtype.

[2022-02-18 03:57] jclark commented on #920
Minor points
- no space in `* Register`
- Use _REGISTER_KIND rather than _REGISTER
- you may not need all these subtypes

Names aren't quite right yet
- NamedRegister corresponds to something that has a local declaration in the source: something that can be referred to with a variable reference
- varName doesn't go with NamedRegister

Also `varName` is allowed for other variables with a slightly d

[2022-02-18 07:16] #918 closed, assigned to jclark, rdhananjaya

[2022-02-18 09:11] heshanpadmasiri commented on #924
Fallowing tests that has been disabled with #927 must be re-enabled with this:
- 11-nested/order1-v.bal
- 11-nested/order2-v.bal
- 11-nested/order3-e.bal
- 11-nested/order3-v.bal
- 11-nested/order4-v.bal
- 11-nested/order5-v.bal

[2022-02-18 10:20] rdhananjaya commented on #924
I see two ways to approach this.
1. Identify all individual ranges in list type and then invoke `listProj` for each of those ranges.
2. Add an alternative version (duplicate) of `listProjExclude` that would return all range-semtype pairs for each path.

@jclark I prefer the first approach, any thoughts?

[2022-02-18 10:27] jclark commented on #924
My only thought is that 1 is only going to work if you generate a list of disjoint ranges from the ranges mentioned in the list type.

[2022-02-18 10:30] #910 closed, assigned to heshanpadmasiri

[2022-02-19 07:14] jclark commented on #924
I reworked #927.

In particular, I factored out the difficult logic into a combineRanges function.   You can probably reuse this for 1 in conjunction with listAtomicTypeAllMemberTypes.

You might want to change it to return two parallel arrays i.e. `[Range[], [int?,int?][]]`.

[2022-02-21 03:07] jclark commented on #913
This will also need an update to the subset doc

[2022-02-21 03:13] jclark opened #937 "Fix isMappingSetAlwaysInexact for string subtypes"
This needs to have type of key added.

[2022-02-21 05:50] manuranga opened #938 "Conditionals on provably set/unset exact bit should get optimized away"
- [ ] Verify if this works for integral address spaces
- [ ] Explore the options to do it for non-integral address spaces

[2022-02-21 09:44] manuranga commented on #926
This is how Ballerina concurrency model interacts with external code that has an async concurrency model, on jBallerina:

1) Library function will get called to perform io-bound operation.
2) A task is scheduled to a native thread (eg: netty).
3) Library function will return with a special return code. Execution returns to scheduler, instead executing anything below the caller (ie: like swapcontex

[2022-02-22 05:22] jclark opened #941 "Clean up anomalous uses of tmp registers"
Currently we assign to tempRegisters "internally" in the following places

1. https://github.com/ballerina-platform/nballerina/blob/0005efda65f580233f63a8485cd5ad774e5feb4d/compiler/modules/front/stmt.bal#L1161
2. https://github.com/ballerina-platform/nballerina/blob/0005efda65f580233f63a8485cd5ad774e5feb4d/compiler/modules/front/expr.bal#L312
3. https://github.com/ballerina-platform/nballerina/bl

[2022-02-22 05:29] jclark commented on #941
There are two cases

1. we are using a constant but non-singleton boolean in a condition (in stmt.bal) (the case above in stmt.bal)
2. we are assigning to a tmp variable in different basic blocks but once only (like we can do to a final variable without an initializer) (the cases above in expr.bal)

Case 1 happens because

- BIR conditional branches use a Register rather than a BooleanOperand
- st

[2022-02-22 05:55] warunalakshitha commented on #935
JVM use localvariable table to store the debug information related to variables. Local variable tables require start label (starting of visibility), end label (termination of visibility), variable name, type etc.

Bir contains bir scope and end basic block for each variable. Bir scope will be created for each variable definition. Bir scope will have an incremental integer id and the reference to p

[2022-02-22 06:09] jclark commented on #935
@warunalakshitha A couple of questions

- Does every local variable has a separate scope? If so, what about parameters?
- How are basic blocks in the BIR associated with scopes? Does a scope have to correspond to a contiguous range of BIR blocks?

[2022-02-22 06:11] jclark commented on #926
@manuranga How does this impact what is needed in BIR?

[2022-02-22 06:16] jclark commented on #926
IIRC from my @rdhananjaya, named function workers are desugared into start and futures.  If we do that, then we need a way to represent inter-worker message send/receive, which isn't available at the language level for futures.

In terms of typing, there is some complexity in figuring the appropriate error type at each message send/receive point.

[2022-02-22 06:19] warunalakshitha commented on #926
wait, inter-worker communication ( worker send and receive), start have been designed as terminator instructions in jballerina bir. Each terminator will be a yield point.

CALL and ASYNC_CALL instruction will be used to differentiate 'start' action.

AFAIK strand is a not included in the jballerina bir. So how multiple strands work, worker data handling through channels are actually part of jballe

[2022-02-22 06:36] manuranga commented on #926
I was thinking if we were to continue support such interactions with async code, and support doing it fully in ballerina, we need new instructions, eg: `suspend` and `restart <strand-id>`.
Other options are: support this via langlib, or keep on doing this in java/native side, or come up with a different model.

Edit: Now that I think about it, instructions will not work since there is no way for t

[2022-02-23 01:31] jclark commented on #941
We can fix case 1 by using an alternative instruction to Assign e.g. `true !== true` for false and `false === false` for true.

We should fix case 2 by introducing another register kind for these cases.  Let's call it `AssignTmp`: Tmp is not allowed in assignment and AssignTmp is allowed only in assignment.

[2022-02-23 05:11] warunalakshitha commented on #935
Yes. Every local variables have separate BIR Scope. parameters are also added to local variable table. But we are not adding BIR Scope or either startBB, endBB for parameters. Since parameters should have the visibility scopes from the beginning to end of a function, we are using methodStartLabel and methodEndLabel to add parameters to the variable table.

There is no association between BIR scope

[2022-02-23 06:31] ushirask opened #944 "Implement fixed length array types"
Only know thing needed to make fixed length array types work is #913.  But we need to check that there is nothing else.

Need -p, -v and -e tests.

[2022-02-24 01:28] #169 closed, assigned to manuranga

[2022-02-24 02:05] jclark commented on #913
This still needs:

- more parsing tests to check that things that should not parse as type descriptors
- update to subset doc

[2022-02-24 02:07] jclark commented on #944
Follow on from #913.

[2022-02-24 02:10] jclark commented on #937
This was fixed here https://github.com/ballerina-platform/nballerina/commit/3e9334338d7ae34fa22a0e3438ddc1800814319d

[2022-02-24 02:10] #937 closed, assigned to jclark

[2022-02-24 05:38] manuranga commented on #907
[Assembly instruction](https://godbolt.org/z/r5Tssv37G) count for foo and foo2 seems to be almost same size.

[2022-02-24 06:34] #920 closed, assigned to heshanpadmasiri

[2022-02-24 06:37] jclark commented on #928
Part of #255

[2022-02-24 06:38] jclark commented on #928
See https://github.com/ballerina-platform/nballerina/issues/255#issuecomment-885347732 for some earlier thoughts

[2022-02-24 08:50] manuranga commented on #911
Idea: Since `TypeMerge` is kind of a phi node, maybe it will help to get rid of some allocas.

[2022-02-24 09:24] manuranga commented on #883
[code]

[2022-02-27 06:20] manuranga commented on #883
My current plan is to let `codeGenTypeTest` create `TypeBranch`. It will create ifTrue and ifFalse blocks if needed and keep them in `ExprContext`. `if`/`while` will use those blocks if available, and create `Branch`es only if all paths are not covered by the expression itself. `TypeMerge` will be created by the `if`/`while`.

[2022-02-27 18:18] jclark commented on #883
This doesn't sound like a good plan to me. If I do:

[code]

I don't need a TypeBranch.

Can we start by agreeing the changes to bir.bal?

[2022-02-28 04:24] manuranga commented on #883
I added an extra flag to `ExprContext` when I am creating it via `codeGenExprForCond`. For above code, BIR is unchanged.
At first stage I am planing to replace `TypeTest`+`CondBranchInsn` with limited version of `TypeBranch`, without `Registers`.
For the first stage BIR change will be :
[code]

[2022-02-28 06:06] jclark commented on #883
OK, but let's leave CondNarrowInsn in until we are sure this new approach will work.

[2022-02-28 06:44] ushirask opened #946 "Add filler values to tuples"
When initializing a tuple or fixed length array with fewer members than the minimum required length, remaining members should be filled with filler values, if the rest type has a filler; otherwise this should be a compile-time error.

i.e. `int[3] a = [1, 2]` should be filled as `[1, 2, 0]`

[2022-03-02 02:35] #924 closed, assigned to rdhananjaya

[2022-03-02 04:17] rdhananjaya opened #949 "ListMemberTypes should not contain an entry when relevent semtype is `never`"
**Description:**
See: https://github.com/ballerina-platform/nballerina/commit/f4651e18fb4c9dda0cf2745fb4086d53a6ca81ab#r67756087

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2022-03-03 02:41] #949 closed, assigned to rdhananjaya

[2022-03-03 06:49] jclark commented on #946
Difficult case is something like this:

[code]

This constructs 1024 separate maps.

[2022-03-03 08:07] jclark commented on #946
I think this implies it should be done in the backend.

Front-end checks whether member type is fillable. Back-end generates code to fill.

[2022-03-03 15:40] manuranga opened #953 "Create CondBranch instead TypeBranch if narrowed registers not needed"
Eg:
[code]
Above can be a CondBranch. It will save unnecessary tagging & untagging, but I think it be difficult to implement.

[2022-03-04 08:51] manuranga commented on #883
As the second stage, I was trying to add Registers to above `TypeBranchInsn` instruction and replace some uses of `CondNarrowInsn`.
[code]
My plan is to initialize narrowed registers at the beginning of the target bb, (instead of just before the first usage, which will require more analysis). I save the info needed for it in the `Scaffold`. There can be a potential problem with this, if there is a

[2022-03-05 01:58] jclark commented on #883
I prefer (1).

I am hoping we can make all backward branches be unconditional (I think they are currently).

[2022-03-05 02:57] jclark commented on #941
I reverted #943.

Problem is how to represent narrowing. It's not really another kind of register, but something you do to one of the other kinds of register. In particular with nil lifting, we narrow tmp registers.

[2022-03-05 04:22] #941 closed, assigned to heshanpadmasiri

[2022-03-05 04:49] #944 closed, assigned to ushirask

[2022-03-06 01:55] jclark commented on #913
This was fixed by #945

[2022-03-06 01:55] #913 closed, assigned to ushirask

[2022-03-06 02:17] jclark opened #956 "Allow contextually expected type for list constructor to be a union"
It is allowed for the contextually expected type for a list constructor to be a union, provided the number of expressions in the list constructor can be used to select between the members of the union.

[2022-03-06 02:18] jclark commented on #956
We have to do something like selectMappingInherentType for lists.

[2022-03-06 03:45] jclark opened #957 "Link fails when runtime built with -g"
If the runtime directory is built with `make CFLAGS=-g`, then in the `test` directory `make 14-bug` gets the error:

[code]

[2022-03-06 05:45] jclark commented on #946
`fillableStructureBasicType` isn't doing the right thing for lists.

[2022-03-06 08:56] jclark commented on #946
This is difficult because for lists a filling-get has to fill in members that are required, not just the members in `rest`. This is different from the situation with mappings. Records have defaults, so defaults are used to fill in required members; tuples don't have defaults, so instead filling is used to fill in required members.

The particular point that is difficult is filling in required stru

[2022-03-07 00:26] jclark commented on #946
Recursive tuples can be both fillable `[int, T?]` and unfillable `[int, T]`.

[2022-03-07 06:15] ushirask opened #958 "Unclear error messages in fixed length arrays"
Some errors given for fixed length arrays have unhelpful error messages.
[code]
`error: type of member access is never`

[code]
`error: value assigned to member of list is not a subtype of array member type`

[2022-03-07 06:20] jclark commented on #958
These cases could arise equally with tuples

[2022-03-08 04:16] heshanpadmasiri commented on #957
@jclark based on my testing ([demo repo](https://github.com/heshanpadmasiri/llvm-link-debug)) 3 conditions that must be true for the error to occur,

1. runtime (`.bc` file) is compile with `-g` flag on (I managed to produce the error without both static and inline explicitly stated but with -O2 in the [header file](https://github.com/heshanpadmasiri/llvm-link-debug/blob/7df19009735b4154542ca83073

[2022-03-08 05:14] jclark commented on #957
So the fix is to add the debug location to the call instruction?

Can you find the commit where calls stopped having the debug location?

[2022-03-08 05:52] jclark opened #960 "Implement `string:substring`"
Implement in C the `substring` function defined in `lang.string`.

[2022-03-08 05:55] jclark commented on #960
The substring function is defined here: https://ballerina.io/spec/lang/2022R1/#lang.string

The implementation should be added to `runtime/string.c`. The runtime representation of strings is described here: https://github.com/ballerina-platform/nballerina/blob/main/docs/rtvalue.md#string

Note that what makes this non-trivial is that startIndex and endIndex use units of code points *not* bytes.

[2022-03-08 10:48] heshanpadmasiri commented on #957
Yes. I'll make a pr for that.
It seems that first time llvm-link complained about this issue was with bf3618503fd88f1757c9076e50f7d4e541121e41. But that fixed another issue (#636) where llvm-link was complaining about another problem when runtime is complied with -g. So we may had this even before that and #636 was hiding it.

[2022-03-10 01:16] jclark opened #961 "Parse bare `function` type"
We need to recognize `function` by itself as meaning any function.

[2022-03-10 02:15] jclark opened #962 "Allow io:println to be called with multiple arguments"
With #934, we can now remove the limitation on io:println accepting just a single argument.

[2022-03-10 03:03] jclark commented on #946
See also https://github.com/ballerina-platform/ballerina-spec/issues/1064

[2022-03-10 03:04] jclark commented on #956
We won't address this problem for now: https://github.com/ballerina-platform/ballerina-spec/issues/1064

[2022-03-10 03:45] #956 closed, assigned to nobody

[2022-03-10 05:36] jclark commented on #935
LLVM tutorial https://llvm.org/docs/tutorial/MyFirstLanguageFrontend/LangImpl09.html
and debugging docs https://llvm.org/docs/SourceLevelDebugging.html

[2022-03-10 06:01] jclark commented on #922
Related to #953

[2022-03-10 06:08] ushirask opened #963 "Verify register kinds"
Enhance bir/verify.bal to verify that the kind of a BIR register is consistent with how it is used within the FunctionCode.
Follow-up from #920

[2022-03-10 09:42] #958 closed, assigned to ushirask

[2022-03-10 10:31] #934 closed, assigned to heshanpadmasiri

[2022-03-11 05:29] manuranga commented on #953
Same problem exist for expressions

[code]

[2022-03-13 02:05] jclark commented on #960
There are also examples of how to work with the string representation in `runtime/tests/string_*.c`. The substring function will need tests added there.

[2022-03-14 02:40] jclark opened #966 "Recognize some unions as fillable"
A subtype of a single basic type where the filler value is a member of the union is fillable.  In particular subtypes of int are fillable.

[2022-03-14 03:51] #966 closed, assigned to nobody

[2022-03-14 04:11] #962 closed, assigned to heshanpadmasiri

[2022-03-14 04:46] heshanpadmasiri commented on #957
There seems to be another bug when we compile runtime with `-g`. It causes llvm to segfault giving an error message as fallows in few test cases (such as [`02-misc/stackoverflow-p.bal`](https://github.com/ballerina-platform/nballerina/blob/main/compiler/testSuite/02-misc/stackoverflow-p.bal)):
[code]

[2022-03-14 05:43] jclark opened #967 "Handle filling of decimal"
I don't think we handle filling when member type is decimal. This should fill to zero.

We want to avoid this causing decimal library to get linked in.

[2022-03-14 06:14] jclark opened #968 "Handle filling of singleton types"
A singleton type is fillable, but I don't think we are handling this.

This is mostly going to be useful with tuples.

[2022-03-14 06:51] heshanpadmasiri commented on #957
@jclark in order to simplify our current approach towards setting and clearing the debug location I think we should separate the setting debug location `position` and `origin` (currently we do both [here](https://github.com/ballerina-platform/nballerina/blob/16c4dee3660f681b38cd8283228b77c464574e07/compiler/modules/nback/scaffold.bal#L290)) in the scaffold
1. `function setDebugLocation(llvm:Builde

[2022-03-14 10:33] heshanpadmasiri commented on #957
This is also related to the positions (a position that linker did not complain about but adding it fixed the problem)  will be fixed by #964

[2022-03-14 11:56] jclark commented on #957
It doesn't make sense to me to continue to call this DebugLocationOrigin, nor to call the method setDebugOrigin. This is just not what the method is doing.  Maybe DebugLocationUsage and useDebugLocation?

More consistent name for function would be buildRuntimeFunctionCall.

[2022-03-15 06:11] jclark commented on #946
There are several distinct uses of filling values:

1. when adding a new member to a list at some index i, we need to fill in the members between the old length and i; this requires creating members that belong to the rest type of that list
2. when a list constructor is constructing a list with tuple type, we need to fill in required members that were not specified in the list constructor
3. when

[2022-03-16 04:10] jclark opened #969 "Revise design of filling members"
Current implementation has problems:

- #946 (in particular https://github.com/ballerina-platform/nballerina/issues/946#issuecomment-1067601202)
- #967
- #968

We need a revised design to fix these.

[2022-03-16 04:40] jclark commented on #969
Concept is to have FillerDesc object in C

[code]

The fillerDesc field in ListDesc and MappingDesc changes to have type FillerDescPtr. The `hasIdentityPtr` argument gets a boolean saying whether the returned TaggedPtr has a storage identity; if this is false, then the returned value can be used to fill in multiple members.  We determine fillability of a type at compile-time: if the rest type is n

[2022-03-16 05:46] heshanpadmasiri opened #970 "Remove runtime functions from the stacktrace when runtime built with -g"
With #964 if the runtime is compiled with `-g` stack trace in the case of a panic will include the runtime functions (since runtime function calls now have locations). For example in the case of `01-int/div1-p.bal` we will get the stack trace as
[code]
instead of
[code]

[2022-03-16 06:18] jclark commented on #969
The types module should have a function that says whether a semtype is fillable.

When it is filled with simple or string value, then this function can return that value.  For mutable values, it can return a ListAtomicType or MappingAtomicType.  For tuples, maybe also the filler for the members.

This can be cached in t:Context.

[2022-03-19 05:21] jclark opened #972 "Function subtyping bug with intersection"
Using `--showTypes` on this

[code]

gives

[code]

This is missing `T13 <: T14`.

Reported by Giuseppe Castagna.

[2022-03-22 11:47] jclark opened #973 "Another function intersection subtyping bug"
[code]

Ballerina returns

[code]

But it should also return `T16 <: T09`

[2022-03-23 01:40] jclark commented on #972
Not a bug

[2022-03-23 01:40] #972 closed, assigned to rdhananjaya

[2022-03-23 04:25] #973 closed, assigned to jclark

[2022-03-23 05:08] #957 closed, assigned to heshanpadmasiri

[2022-03-23 07:14] manuranga opened #975 "Tuple subtyping bug"
I came up with this as a counter example for 4.7 in the paper. I not quite sure if this is a bug or not.

[code]

Running above as `bal test --tests "testSubtype#'tuple3.bal'"` gave me
[code]

[2022-03-23 07:15] jclark opened #976 "Bug with array types"
`--showTypes` with this:

[code]

gives

[code]

But we should not have `T13 <: T14` (and we don't if we use `map<T>` instead of `T[]`): a list that contains both int and string is a member of T13 but not T14.

[2022-03-23 07:35] rdhananjaya commented on #975
T1A => { [1, 3], [3, 1] }
T1B => { [1, 3], [2, 3], [3, 3], [3, 2], [3, 1] }
T2   => { [3, 3] }

Did I miss any values that should be in these tuples, if not this is not a bug?

[2022-03-23 07:45] manuranga commented on #975
You are correct, not a bug.

[2022-03-23 07:45] #975 closed, assigned to rdhananjaya

[2022-03-23 07:52] manuranga opened #977 "Tuple subtype bug"
[code]

Currently missing `T1B<:T1A`

[2022-03-24 05:50] rdhananjaya commented on #977
T1A => { [1, 3], [3, 1] }
T1B => { [1, 1], [1, 2], [1, 3], [2, 1], [3, 1] }

I think this is also fine

[2022-03-24 06:07] manuranga commented on #977
Thanks.

[2022-03-24 06:07] #977 closed, assigned to rdhananjaya

[2022-03-27 15:03] heshanpadmasiri opened #980 "Integrate conformance tests to the test suite"
Integrate [conformance tests](https://github.com/ballerina-platform/ballerina-spec/tree/conformance-tests/conformance/lang) from `ballerina-spec` to the test suite.

[2022-03-28 06:57] jclark opened #981 "Use CDuce to test semantic subtyping"
CDuce is available at https://www.cduce.org/

[2022-03-28 06:58] jclark commented on #981
Recipe for new monomorphic CDuce works on Ubuntu impish with a few tweaks:

[code]

The camlp4-extra line is needed, plus terminating single quotes on the `opam pin` lines.

[2022-03-28 07:03] jclark commented on #981
Using `ledit cduce` starts a REPL with a command-line editing.  You have to type `;;` to finish each bit of input.  You can test a subtype relationship like this:

[code]

which prints

[code]

which tells us that

[code]

[2022-03-28 07:05] jclark commented on #981
CDuce type syntax is here:

https://www.cduce.org/manual_types_patterns.html#syntax

[2022-03-28 08:48] jclark opened #982 "Verify correctness of algorithm for checking emptiness of list/mapping types"
The code I implemented for checking emptiness of list/mapping types is based on generalizing the code for checking emptiness of products (2-tuples). I took the formula on page 57 of the Castagna paper:

[code]

and then generalized it to n-tuples in what appeared to me to be the obvious way e.g. for a 3-tuple this became:

[code]

The question is whether this generalization is correct or not (for

[2022-03-30 10:31] jclark commented on #877
Ideas for property-based testing:

- Use covariance for structures: if `T1 <: T2`, then `map<T1> <: map<T2>`. Similarly for record members, arrays. Can apply this recursively.
- Use transitivity of subtyping: if `T1 <: T2` and `T2 <: T3`, then `T1 <: T3`.
- Unions make things bigger: if `T1 <: T2` then `T1 <: T2|X` for any X.
- Intersections make things smaller:  if `T1 <: T2`, then `T1&X <: T2` f

[2022-03-31 10:17] heshanpadmasiri opened #986 "`string` to `string:Char` cast failing"
Fallowing code must run properly
[code]
but we are getting a runtime panic `panic: bad type cast`

[2022-03-31 12:52] jclark commented on #976
#984 cannot be right because `rd` is not being used in the recursive call to listInhabited. If we think in terms of producing a witness, there is no guarantee that the witness produced by the recursive call to listInhabited will not be cancelled out by the current negative.

[2022-03-31 12:53] #976 closed, assigned to rdhananjaya

[2022-04-01 04:06] jclark commented on #986
This is a bug in taggedStringIsChar.

[2022-04-01 04:35] #986 closed, assigned to jclark

[2022-04-04 05:39] jclark commented on #877
Another equivalence is to transform lists into car/cdr style pairs i.e. we transform

[code]

into

[code]

and
[code]

into

[code]

Then we check that we get the same result for `S <: T` as `transform(S) <: transform(T)`

[2022-04-05 11:54] heshanpadmasiri opened #988 "Prevent stackoverflow with `testParserOnTestSuite`"
We are calling [`syntaxNodeToWords`](https://github.com/ballerina-platform/nballerina/blob/4aa4f33f01c875b8ca8835b57d66797f0ebfa7d6/compiler/modules/front.syntax/syntaxNode.bal#L653) in a recursive manner which seems to cause stack-overflow in resource constraint systems (such as github workflows)

[2022-04-06 04:58] jclark commented on #988
That's strange, because our syntax trees aren't very deep.  Which case exactly is causing this?

[2022-04-06 04:59] jclark commented on #988
Can we just increase the size of the Java stack in the workflow?

[2022-04-06 04:59] manuranga opened #989 "Change syntaxNodeToWords to iterative instead recursive"
I am getting following fail when running my fork in GitHub.

[code]

[2022-04-06 05:04] heshanpadmasiri commented on #988
stack trace I got for pr #987 is as fallows:
[code]

[2022-04-06 05:05] jclark commented on #989
This is a duplicate of #988.

The problem seems to me to be that our syntax tree is representing a flat source structure using a deeply nested syntax tree.

[2022-04-06 05:07] jclark commented on #988
Problem here looks to me that we are turning `(x1|x2|x3|x4)` into `(((x1|x2)|x3)|x4)`.

[2022-04-06 05:08] #989 closed, assigned to heshanpadmasiri

[2022-04-06 09:56] jclark opened #991 "Representation for mapping atoms that can handle intersection and difference"
Section 9.1.4 (page 177) if the [Frisch thesis](http://www.cduce.org/papers/frisch_phd.pdf) has a way of representing records that can represent intersection and difference. There is a mentioned in footnote 29 of the April 1 version of the Castagna paper.

Here's the relevant section.

![FrischRecord](https://user-images.githubusercontent.com/499966/161949403-60dc2793-50f8-415f-94f2-5a06530b5679.p

[2022-04-06 10:03] jclark commented on #991
Putting this into English and our terminology, this is saying that the atomic mapping representation has an additional component, _E_, which is a finite set of types. Each type _s_ in _E_ adds a constraint that there is a field _f_ such that the name is not one of the individual field names and value of _f_ is in _s_.

More precisely what this representation does is to allow the representation of

[2022-04-14 09:05] jclark commented on #982
Castagna confirms that this generalization is correct.

[2022-04-14 09:05] #982 closed, assigned to jclark, rdhananjaya

[2022-04-14 09:46] jclark opened #994 "Check correctness of mapping subtyping for rest types"
Following #993, I believe we need to consider N distinct labels that do not occur in the positives or negatives where N is the number of negatives, since for each negative we need to be able to freely choose the type of one label to avoid being matched by that negative.

[2022-04-15 08:31] #988 closed, assigned to heshanpadmasiri

[2022-04-18 04:46] #970 closed, assigned to heshanpadmasiri

[2022-04-18 17:51] heshanpadmasiri commented on #935
@jclark for LLVM we will have to use 2 intrinsics

1.[`llvm.dbg.addr`](https://llvm.org/docs/SourceLevelDebugging.html#llvm-dbg-addr) / [`llvm.dbg.declare`](https://llvm.org/docs/SourceLevelDebugging.html#llvm-dbg-declare)

For our purposes I think we can use either one llvm documentation says `llvm.dbg.addr` is the preferred option but clang still uses `llvm.dbg.declare`.  We have to call this at

[2022-04-20 19:22] ushirask opened #995 "Verify register kinds and regions in BIR"
**Description:**

Verify register kinds and regions in the BIR verfier

- [x] #963

Check if
- Temp registers are assigned once and only once as a result of an instruction.
- List/map operand in ListSetInsn / MappingSetInsn is not a final register.
- Temp registered are assigned in a previous instruction in the block before being used as a operand in another instruction.
- Narrow register is a sub

[2022-04-21 15:59] manuranga commented on #935
[This](https://github.com/rust-lang/rust/issues/68817) Rust issue claims that only using `llvm.dbg.value` is not viable. We'll have to verify this.

[2022-04-21 16:15] jclark commented on #935
I wonder why that issue doesn't mention llvm.dbg.addr. We discussed using a mix of llvm.dbg.addr and llvm.dbg.value, right?

[2022-04-24 14:47] heshanpadmasiri commented on #935
Yes. There is a small issue with that approach. It seems llvm [c api](https://llvm.org/doxygen/group__LLVMCCoreDebugInfo.html) only support [`llvm.dbg.value`](https://llvm.org/doxygen/group__LLVMCCoreDebugInfo.html#ga03df065ab16ad97b93f6eb5b4eaca51d) and [`llvm.dbg.declare`](https://llvm.org/doxygen/group__LLVMCCoreDebugInfo.html#ga60e79a030690e65526284e737f9d4de1) intrinsic. While we can use our

[2022-04-28 04:10] #980 closed, assigned to heshanpadmasiri

[2022-04-29 05:21] heshanpadmasiri opened #1000 "`is-expr` must accept any expression not just `shift-expr`"
Our definition of `is-expr` : https://github.com/ballerina-platform/nballerina/blob/e41b7cbcbd8725fb32761044a3567bd89d9380f1/docs/subset14.md?plain=1#L278
Spec definition : https://ballerina.io/spec/lang/2022R1/#is-expr
lhs of the expression can be any expression according to spec

[2022-04-29 05:24] heshanpadmasiri opened #1001 "Error when creating `anydata|anydata[]` type variables"
Fallowing code should not cause an error:
[code]
But gives error message:
[code]

[2022-04-29 05:26] heshanpadmasiri opened #1002 "Exact equality check for lists failing"
Fallowing code should work:
[code]
Instead throws error as:
[code]

[2022-04-29 05:27] jclark commented on #1000
It's defined this way because the grammar in the subset is making precedence explicit, whereas the grammar in the spec isn't. Please create an issue saying with an example that you think nballerina is handling wrong.

[2022-04-29 05:27] #1000 closed, assigned to nobody

[2022-04-29 05:29] jclark commented on #1001
Please check the spec https://ballerina.io/spec/lang/2022R1/#section_6.7.1 and make sure that this a bug.

[2022-04-29 05:31] jclark commented on #1002
This is not allowed in the subset grammar. See first bullet point in Notes in subset14.md.

[2022-04-29 05:31] #1002 closed, assigned to nobody

[2022-05-02 01:45] jclark opened #1003 "Remove restrictions on where list/mapping constructors are allowed"
The subset restricts the syntactic context where list and mapping constructors are allowed, to ensure that there is always a contextually expected type.

Now that we have tuple types and record types, we can handle this case by inferring the inherent type as the spec requires.

[2022-05-02 01:47] jclark commented on #1002
I added an issue to remove this restriction from the subset #1003

[2022-05-02 02:29] jclark commented on #995
What does this mean? It's the graph formed by the forward edges that is acyclic.

[2022-05-02 02:30] jclark commented on #995
Reached from where? Must be reachable via forward edges only.

[2022-05-02 02:30] jclark commented on #995
Point is that backward branch must point to a block that is the entry of a loop.

[2022-05-02 02:31] jclark commented on #995
Really? I don't think so. How are you going to find *every* single-entry/single-exit region.

[2022-05-02 14:36] ushirask commented on #995
Can't we determine the location of single-entry/single-exit regions with conditional branch instructions?

[2022-05-03 04:12] heshanpadmasiri opened #1006 "Implement type system in DWARF"
﻿Fallowing #935 in order for us to properly view variables in a debugger we need to
1. Port our type system to DWARF
        DWARF has its own type system described under section 5 [here](https://dwarfstd.org/doc/DWARF4.pdf). We have the necessary functions to build those types using the DIBuilder ([ref](https://llvm.org/doxygen/group__LLVMCCoreDebugInfo.html))
2. (most probably) Add a pretty prin

[2022-05-03 04:13] heshanpadmasiri commented on #1006
When it comes to implementing our type system in DWARF it can be broken down to two main groups
1. Untagged values (WIP)
        These can be represented using `Base Type Entries` (section 5.1 in the [spec](https://dwarfstd.org/doc/DWARF4.pdf)). For integer type this is all we need. For others (boolean, null) we will need the help of a pretty printer to properly show the “value” (ex: true instead

[2022-05-03 07:04] ushirask commented on #995
When the graph created by edges in the function code diverges into a different path and eventually rejoin, such a  branching is considered a region to be used for WASM.

[2022-05-03 10:20] heshanpadmasiri commented on #1006
Regarding VS code debug architecture, VS code can be extended using Debug Adapters.

![debug-arch](https://user-images.githubusercontent.com/17991461/166436951-a18d56a7-58f9-4495-9325-656156387272.png) [source](https://vscode-docs.readthedocs.io/en/stable/extensions/example-debuggers)

 These are stand alone executable that talks to the real debugger (how is left to the debug adapter). Every debug

[2022-05-04 03:44] jclark commented on #995
@ushirask Does it mean that every conditional branch is the entry point of a single-entry, single-exit region? Or does it mean every place that is a join has to be the exit point of a region? Or something else?