[2020-10-03 04:58] shubhamnarlawar commented on #8
If we remove this flag, then at our side, the testcases are failing in the execution phase.

Depending on the ENVIRONMENT, one can alter this flag in the Makefile.

[2020-10-03 08:26] ayonam commented on #8
We should add a condition check in the
        Makefile for the OS and if it is MacOS (Or probably Darwin), we
        should omit that flag.

        Ayonam Ray
        Director

              R. R. Logic Systems
                  Private Limited

                #89, 1st Floor, V. M. Cosma
                Karthik Nagar, Marathahalli Outer Ring Road
                Bengaluru - 560 037, INDIA

[2020-10-16 09:27] shubhamnarlawar commented on #8
The current Makefile status for flag `-ltinfo` is -

UNAME=$(shell uname)
ifeq ($(UNAME), Linux)
  LTINFO = -ltinfo
endif

In the call, @manuranga mentioned that there is some error while building nballerina. Can you post the reason for the error so that we can alter the Makefile accordingly?

[2020-10-16 09:37] manuranga commented on #8
@warunalakshitha shall we verify this using ubuntu.

[2020-10-19 05:17] shubhamnarlawar commented on #8
Any updates on this?

[2020-10-20 09:15] shubhamnarlawar commented on #8
Have you checked at your side? I think this is the only issue that is blocking the PR for milestone 2.

[2020-10-27 18:35] shubhamnarlawar commented on #8
Have you checked this flag on Linux ENV at your end?

[2020-12-10 19:09] ayonam commented on #6
We need those classes once we start emitting the DWARF debug info.  So may be a good idea to keep them around as placeholders.  May be we will need to add some more information in them to match the requirements of the DWARF standards.

[2020-12-17 05:01] dulvinw commented on #13
Fixed by PR #15

[2020-12-17 09:01] shubhamnarlawar commented on #29
@dulvinw - Can you please put below lines of code in the CI script?

It will download and extract LLVM-11.0 release packages.

`cd $HOME`
`wget https://debian.pkgs.org/sid/debian-main-amd64/llvm-11-dev_11.0.0-5+b1_amd64.deb.html`
`dpkg -x llvm-11-dev_11.0.0-5+b1_amd64.deb $HOME/llvm-11-dev`

`https://debian.pkgs.org/sid/debian-main-amd64/llvm-11-tools_11.0.0-5+b1_amd64.deb.html`
`dpkg -x llvm-11-t

[2020-12-17 09:11] dulvinw commented on #29
Don't we need another wget for the tools as well? @shubhamnarlawar

[2020-12-17 10:17] shubhamnarlawar commented on #29
Yes. Corrected in above comment.

[2020-12-17 10:26] dulvinw commented on #29
I think the links are invalid. I get 403 trying locally.

[2020-12-17 10:27] shubhamnarlawar commented on #29
Let me check!

[2020-12-17 10:33] shubhamnarlawar commented on #29
The links are not working now. Maybe some server issue at debian.pkgs.org

I had used the same links and downloaded the packages. Let me come up with the solution.

[2020-12-17 10:34] dulvinw commented on #29
Sure. Thanks

[2020-12-17 10:40] shubhamnarlawar commented on #29
Should we put these packages somewhere inside nballerina? Will it be a correct approach?

Sometimes the link may not work(just now it happened) and hence CI will fail whenever a new PR will be sent if links are not working.

[2020-12-17 10:46] shubhamnarlawar commented on #29
@dulvinw - Try these links -

`wget http://ftp.br.debian.org/debian/pool/main/l/llvm-toolchain-11/llvm-11-dev_11.0.0-5+b1_amd64.deb`
`wget http://ftp.br.debian.org/debian/pool/main/l/llvm-toolchain-11/llvm-11-tools_11.0.0-5+b1_amd64.deb`

[2020-12-17 10:50] dulvinw commented on #29
They are working. Let me try with them

[2020-12-17 10:53] dulvinw commented on #29
Should I also remove the llvm building steps or that should be done in a separate stage?

[2020-12-17 11:22] shubhamnarlawar commented on #29
No. Please keep llvm building process as same. Currently the testing infrastructure is dependant on llvm project present inside nballerina.

Once, nballerina is independent of llvm project, then we can remove it and use above prebuilt binaries.

[2020-12-22 04:43] ayonam opened #32 "Add support for handling strings in nBallerina"
**Description:**
Currently the nBallerina implementation does not handle strings.  Need to add support for the same in order to implement the typecast operations for strings in nBallerina.

**Suggested Labels:**

**Suggested Assignees:**
@shubhamnarlawar @ramakotareddy @ayonam

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Is

[2020-12-22 04:46] ayonam opened #33 "Add support for String objects to the Type Cast framework"
**Description:**
Add support for String objects in the typecast framework.  The support is dependent upon the Issue #32

**Suggested Labels:**

**Suggested Assignees:**
@shubhamnarlawar @ramakotareddy @ayonam

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**
Issue #32

[2020-12-22 04:51] ayonam opened #34 "Document the BIR Specification"
**Description:**
Currently we only have a documentation of the BIR representation in the serialized format as emitted by the jBallerina compiler.  We do not have a formal documentation of the BIR Specification itself.  Document the BIR specification and ensure that the new documentation is in sync with the existing documentation of the serialized BIR.

**Suggested Labels:**

**Suggested Assignees:

[2020-12-22 04:57] ayonam opened #36 "Pipeline BIR binary output from the FE to the BE"
**Description:**
Currently, the BIR binary output is serialized and written out to a file by the Front End and the Back End reads that output from the file and deserializes it.  @Kishanthan proposed to remove this mechanism in favour of a seamless flow of BIR data without the intermediate file.  This issue is to discuss the possible approaches to this problem and a final implementation of the same

[2021-01-19 08:28] shubhamnarlawar commented on #44
Thanks @ruvi-d for pointing it out. I have opened PR #46 for this bug.

[2021-01-20 18:13] shubhamnarlawar commented on #45
importCount, constCount and typeDefinitionCount were `0` till now. Yes, We should handle them if they are non zero. I will send a PR for this bug.

[2021-01-20 18:13] shubhamnarlawar commented on #45
@ruvi-d - Is import count refers to multiple packages present in a module?

Currently, there is only one package present per module.

[2021-01-20 18:20] shubhamnarlawar commented on #45
Does simple assertions help here? Like -

assert(importCount != 0);
assert(constCount != 0);
assert(typeDefinitionCount != 0);

In this way, if those count needs to be evaluated, then I can add the implementation for it.

Both ways are fine to me -
1. Adding simple assertions
2. Loop the count and store it in BIRPackage

[2021-01-20 19:15] ayonam commented on #45
Shubham,
    Actually here the assertions should be like assert(importCount ==
      0).  Because currently those counts are indeed zero and you want
      to know when they turn non-zero so that you can then add the
      further implementation.

    On 20/01/21 23:50, shubhamnarlawar
      wrote:

      Does simple assertions help here? Like -
      assert(importCount != 0);
        assert(const

[2021-01-21 03:58] ruvi-d commented on #45
Assert with a `TODO` comment would be my preference

[2021-02-03 09:54] ruvi-d opened #60 "Add LIT test that uses the runtime"
**Description:**
Add LIT tests to cover the functionality added by the runtime

**Suggested Labels:**
Priority/High

**Suggested Assignees:**
shubhamnarlawar

[2021-02-03 09:54] ruvi-d commented on #60
@shubhamnarlawar for your attention

[2021-02-03 09:58] shubhamnarlawar commented on #60
@ruvi-d - Do you mean porting current LIT tests to use runtime functions like print64() instead of echo $?

[2021-02-03 10:43] ruvi-d commented on #60
I was thinking that for the functionality that was added to the runtime like `new_int_array`, `printf32`, etc.. we need to have some LIT tests to invoke them to confirm the functionality.
I suppose we don't need to port all the existing tests. But shall we add new tests to cover the existing runtime features?

[2021-02-03 16:26] shubhamnarlawar commented on #60
I will add new tests to cover those functionalities.

[2021-02-05 05:21] ruvi-d commented on #16
@uthaiyashankar we can close this

[2021-02-05 05:55] KavinduZoysa commented on #44
FIxed in https://github.com/ballerina-platform/nballerina/pull/46

[2021-02-05 06:08] KavinduZoysa commented on #12
Fixed in https://github.com/ballerina-platform/nballerina/pull/15

[2021-02-05 06:13] ruvi-d commented on #8
@Kishanthan : we can close this since the use of -ltinfo was removed with #52

[2021-02-05 06:26] Kishanthan commented on #8
Ack.

[2021-02-05 06:28] Kishanthan commented on #6
@manuranga @ayonam should we close this issue?

[2021-02-05 08:29] ruvi-d opened #64 "LIT test simpleMain fails"
**Description:**
The LIT test [simpleMain.bal](https://github.com/ballerina-platform/nballerina/blob/master/test/functions/simpleMain.bal.skip) fails. Returning `16` instead of the expected `128` on Ubuntu 20.04 / clang11

**Suggested Labels:**
Type/Bug

**Suggested Assignees:**
shubhamnarlawar

[2021-02-05 08:35] ruvi-d opened #65 "LIT test floatTypecast fails to compile"
**Description:**
The LIT test [floatTypecast.bal](https://github.com/ballerina-platform/nballerina/blob/master/test/casting/floatTypecast.bal.skip) fails generate a .ll throwing the following error.
[code]

**Suggested Labels:**
Type/Bug Priority/High

**Suggested Assignees:**
shubhamnarlawar

[2021-02-05 08:50] Kishanthan commented on #9
@shubhamnarlawar @ruvi-d , can this be closed?

[2021-02-05 08:51] Kishanthan commented on #11
@shubhamnarlawar @ruvi-d can this be closed?

[2021-02-05 09:00] ruvi-d commented on #9
Yes we can close.
Though we should consider taking a step further and move the files into two separate sub folders. The `compiler` src folder is already getting pretty cluttered.

[2021-02-05 09:02] ruvi-d commented on #11
Yes +1

[2021-02-05 09:16] ruvi-d commented on #14
Since we added LIT testing in #47 I think we can close this.
Going forward we will require LIT tests for new feature additions and optional unit tests where applicable.

[2021-02-05 09:18] ruvi-d commented on #31
support was added in #41
good to close

[2021-02-05 09:26] shubhamnarlawar commented on #11
Yes +1

[2021-02-05 09:27] shubhamnarlawar commented on #14
Yes, LIT does this job. +1 to close

[2021-02-05 09:29] ramakotareddy commented on #33
Added Support in #41

[2021-02-05 09:30] ramakotareddy commented on #32
Added support in #41

[2021-02-05 09:31] shubhamnarlawar commented on #32
+1 to close this issue.

[2021-02-05 09:31] shubhamnarlawar commented on #33
+1 to close

[2021-02-05 10:23] ruvi-d opened #66 "Make nballerinacc compilable on Windows OS"
**Description:**
Add support to build in Windows

**Suggested Labels:**
Type/Improvement,Priority/High

**Suggested Assignees:**
@KavinduZoysa

[2021-02-05 11:14] Kishanthan commented on #9
@ruvi-d can you create a separate issue to address this?

[2021-02-05 12:04] ruvi-d opened #68 "Organize compiler src folder"
**Description:**
Move the files instead compiler folder in two at least two sub folders. One for BIR parser side logic and one for CodeGen side logic

**Suggested Labels:**
Type/Improvement

**Suggested Assignees:**
ruvi-d

[2021-02-05 12:05] ruvi-d commented on #9
Done! #68

[2021-02-05 12:27] ruvi-d opened #69 "Fixing compiler warnings"
**Description:**
Current master is throws a few warnings even with `-Wall` OFF. They should be addressed so that we can enable `-Werror` for release builds.

**Suggested Labels:**
Type/Improvement

**Suggested Assignees:**
@shubhamnarlawar @ramakotareddy

[2021-02-05 12:50] shubhamnarlawar commented on #69
Can you post the warnings please? (Stack trace of terminal)

[2021-02-08 05:15] ruvi-d commented on #69
Compiler : `gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0`
CMake : `cmake ../ -DCMAKE_BUILD_TYPE=Release`
with `-Wall`:
[code]

[2021-02-08 05:22] ruvi-d commented on #69
I can't seem to reproduce the 2 warnings I saw previously with `-Wall OFF`. Let's address the these -Wall warnings.

[2021-02-08 05:53] shubhamnarlawar commented on #69
Got it. Thanks. Most warnings seems use of uninitialised variables.

Ram, Can you please take a look at it.

Assigned to @ramakotareddy

[2021-02-08 12:42] ruvi-d commented on #66
The knowledge we have gathered so far on this topic : https://gist.github.com/ruvi-d/c31b0615baabfcc5dbc51ecb52436878#file-llvm-on-windows-md

[2021-02-08 18:29] shubhamnarlawar commented on #65
Thanks for pointing it out. It is silly updation miss.

It should be -

``poolEntry->getTag() == ConstantPoolEntry::tagEnum::TAG_ENUM_CP_ENTRY_FLOAT'`

I will push this change!

[2021-02-08 18:37] shubhamnarlawar commented on #64
Now that simple rust print routines are already present in the master. Let us find a way to port the LIT unit tests to use these print routines instead of `echo $?`.

[2021-02-10 07:07] ruvi-d commented on #62
Need a link to the Ballerina pack for this
Discussion for that is at : https://ballerina-platform.slack.com/archives/C01LNSAHK18/p1612789622005500

[2021-02-10 08:25] Kishanthan opened #74 "Ballerina types support"
**Description:**
Add basic support for following Ballerina types.
- [x] Simple types: Nil
- [x] Simple types: Boolean and Int
- [ ] Sequence types: Strings
- [ ] Structured types: Arrays and Maps
- [ ] Behavioural: Errors
- [ ] Other types: Any, Unions, Optional

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-10 08:26] Kishanthan opened #75 "Module-level declarations support"
**Description:**
Add support for following module level declarations.

- [ ] Import declaration
- [ ] Function definition
- [ ] Module variable definition

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-10 08:29] Kishanthan opened #77 "Ballerina statements support"
**Description:**
Add support for following Ballerina statements.

- [ ] Loops: while, continue, break
- [ ] Assignment statement
- [ ] Local variable declaration support with capture-binding-pattern
- [ ] Function call statement
- [ ] Conditional statement
- [ ] Return statement

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related

[2021-02-10 08:31] Kishanthan opened #78 "Support subset functionalities of Lang library modules"
**Description:**
Support subset functionalities of each of following lang lib modules.

- [ ] lang.int
- [ ] lang.boolean
- [ ] lang.error
- [ ] lang.array
- [ ] lang.map
- [ ] lang.value
- [ ] lang.string

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-10 08:32] Kishanthan opened #79 "Integrate nBallerina backend to the “bal” tool"
**Description:**
nBallerina backend should be integrated with the "bal" tool to be used with commands (build, run, test, etc).

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-10 08:35] Kishanthan opened #80 "Basic interoperability support"
**Description:**
Ability to nBallerina to interoperate with native code/libraries.

Example: Ability to use existing static C libraries

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-10 08:57] Kishanthan opened #84 "Roadmap of nBallerina development 2021"
**Description:**
This issue captures the high level roadmap planned for nBallerina development work for 2021.

- [ ] **Support for Ballerina types**
     - Storing values without storage identity and values with storage identity (Reference values))

- [ ] **Runtime type checker**

- [ ] **Langlib modules**
     - https://github.com/ballerina-platform/ballerina-spec/tree/master/lang/lib

- [ ] **In

[2021-02-11 02:59] ruvi-d opened #85 "Array initialization values not being set"
**Description:**
In the following .bal code
[code]
Does not return `3` as expected.
this is the main from the generated .ll
[code]
The values `[1.2.3]` does not appear to be set to the array

**Suggested Labels:**
type/bug priority/high

**Suggested Assignees:**
@shubhamnarlawar

[2021-02-11 05:12] ayonam commented on #85
Although the array is being allocated by calling a rust function, the initialization of the same is being done on a local allocation.  The locations %4, %5 and %6 are being allocated on the local stack for this purpose.  This is wrong.  In case Rust has the concept of variable argument functions, you can have a rust function like new_int_array_with_init(), which can take up additional parameters a

[2021-02-11 05:58] manuranga opened #86 "Implement is_same_type for array type"
**Description:**
Implement `is_same_type()` for array type in RUST.

Input - one source type mangled string and one destination type mangled string.
Output - `bool` value stating whether typecast is possible or not.

More details are available in discussion - #50

**Suggested Assignees:**
@shubhamnarlawar

[2021-02-11 06:21] manuranga opened #87 "Create type strings for array/boolean/int/float types"
**Description:**
Implement type strings for int/float/boolean and Array types.
Create type strings(mangled type names) and send to Rust Functions.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-11 06:31] #33 closed

[2021-02-11 09:51] ruvi-d commented on #89
Sub tasks:

- [ ] Support create new map BIR
- [ ] Support map initialization BIR
- [ ] Support map set field BIR
- [ ] Support map get member from key BIR

[2021-02-11 09:53] ruvi-d commented on #89
Will hold `Support map initialization BIR` sub task till #85. Once Array initialization is supported, we can extend it to support map initialization too.

[2021-02-11 10:10] ruvi-d commented on #89
Get member sub task is blocked on `nil` and `union` support from #74. Even if I directly cast the output as
[code]
BIR de-sugars it as
[code]
Here codegen currently fails/skips the union and nill types

It's a similar issue if I use the `map.get()` method. It returns a  `any | error{map<anydata | readonly>}` before being casted to `int`.

Unless anyone has suggestions, I will mark with this sub ta

[2021-02-11 10:20] ruvi-d commented on #62
## Status

### Sub tasks
- [ ] Get download URL for Ballerina pack : **Blocked**
- [ ] Setup dependencies on Github PR check instance
- [ ] Execute checks (Lit tests) on Github PR check instance

[2021-02-11 18:19] shubhamnarlawar commented on #86
Tasks to be done -

[] - Write wrapper function for is_same_type() to check whether original types of source and destination can be typecasted.
[] - Avoid converting to rust strings from char *

[2021-02-12 04:39] KavinduZoysa commented on #90
I have added 2 .ll files to compare in [here](https://github.com/KavinduZoysa/llvm). Since generated .ll file in windows does not work, I took bellow steps. (Let's take .ll file generated in windows as **windows.ll** and in Linux **linux.ll**)

- In windows.ll file, method names are represented as, `0` and `1`. So I manually changed them as `main` and `test`. Then it starts to work in windows. Als

[2021-02-12 04:53] KavinduZoysa commented on #90
Closing this issue. because the things we need to do are identified. Created another issue #95 to fix them.

[2021-02-12 07:31] ayonam commented on #95
@ramakotareddy What we need to do here is that if the platform is Windows, we should not emit the DataModel at the beginning of the .ll file.  Also, the Target Machine description should change.  I think if you see the target that is sent to LLVM through the build process, I think it will be compatible with Windows.  Please check that and, if needed, we will have to correct it.

[2021-02-12 11:01] ruvi-d commented on #95
@ayonam / @ramakotareddy : we also need to figure out why the function names are missing in the Windows generated LLVM IR

[2021-02-12 18:45] ayonam commented on #95
@ramakotareddy, yes, we need to figure out that too.  On windows, it is only printing the integer IDs instead of the function names.  So you need to figure out why this is happening.

[2021-02-12 20:14] sameerajayasoma commented on #84
Let's remove the proposed reference counting solution from this. My initial proposal does not work.

[2021-02-13 05:51] KavinduZoysa commented on #89
@ruvi-d, I am working on supporting `nil` type #94.

[2021-02-15 11:49] uthaiyashankar commented on #67
Done with compilation.

Need to fix #97 for ```make check``` to work. ```make check``` is failing due to the warning generated in target triple

[2021-02-16 14:47] #66 closed

[2021-02-16 17:03] ruvi-d commented on #89
Required functionality for map init and store is complete: https://github.com/ruvi-d/nballerina/tree/ruvi/feature/map-init-store
Will use the extra allocated time to refactor the surrounding code base.

[2021-02-16 17:38] ayonam commented on #89
I suppose this implements map init and store in the BIR and now we can use that to implement the LLVM side of things.  Right?

[2021-02-17 02:44] ruvi-d commented on #89
Actually, this implements the LLVM side and Rust runtime side too.

[2021-02-17 06:37] ruvi-d commented on #89
@ayonam : Please let me know whether there is any issue with these generated code.

**map.bal**
[code]

**map.ll**
[code]

**disassemble map.out**

[code]

[2021-02-17 07:16] ayonam commented on #89
@ruvi-d Both the .ll as well as the assembly output look fine to me.

[2021-02-17 07:30] KavinduZoysa commented on #94
Please check the slack channel for [the initial discussion](https://ballerina-platform.slack.com/archives/C01LNSAHK18/p1613363112071700).

[2021-02-17 07:30] KavinduZoysa commented on #94
Please check the slack channel for [the initial discussion](https://ballerina-platform.slack.com/archives/C01LNSAHK18/p1613363112071700).

[2021-02-17 07:32] KavinduZoysa commented on #94
@ayonam, I have updated the [assembly file](https://github.com/KavinduZoysa/llvm/blob/assembly/assembly_file) with .data section.

[2021-02-17 07:51] ayonam commented on #94
@KavinduZoysa Okay, so the contents of 0x603010 should be 0x00000000 for a 32-bit system.  Currently it is showing the hex values for the string "null".  Please make the correction that I suggested earlier and we should be able to get all zeros in that address.

[2021-02-17 08:40] KavinduZoysa commented on #94
Thank you @ayonam, I am working on that.

@ramakotareddy , Is the the [API](https://llvm.org/doxygen/classllvm_1_1DataLayout.html#a8fec4e751427335eb21217d29dcce52d), which can be used to get the pointer size.

[2021-02-17 10:27] ramakotareddy commented on #94
@KavinduZoysa You need LLVM API or C++ API ?

From LLVM side, you can use "LLVMValueRef LLVMSizeOf(LLVMTypeRef Ty)" this API.

[2021-02-17 10:54] KavinduZoysa commented on #94
As I understood, it should be an LLVM API, which can be able to get the size of the pointer for that machine. @ayonam , could you please confirm?

[2021-02-17 11:17] ayonam commented on #94
@KavinduZoysa Yes, you need to call that LLVMSizeOf API with the pointer type as a parameter and it will return you a LLVMValueRef which will be a Constant value and the value there is the size of the pointer.  You should have an API in the LLVMValueRef class that will return you this size as an integer.

@ramakotareddy Can you please check which API in that class gives us the value as an integer?

[2021-02-17 11:37] ramakotareddy commented on #94
@ayonam Is LLVMGetPointerAddressSpace() this API will give Size of Pointer ?.
    unsigned LLVMGetPointerAddressSpace(LLVMTypeRef PointerTy)

[2021-02-17 11:47] ayonam commented on #94
@ramakotareddy No.  Not this.  There should be a member function of LLVMValueRef.  If the LLVMValueRef is a Constant value, that member function should give the constant value.

[2021-02-17 15:34] manuranga commented on #94
@ayonam Instead of we finding the platform size, can't we use a some pointer type variable, so llvm allocates the correct size.
eg:
[code]

[2021-02-17 15:37] ayonam commented on #94
Yes, that is a good idea.  That way the size gets allocated automatically.  Even the alignment can be made system dependent so that on a 32-bit system it will automatically issue an align 4 instead of an align 8.

[2021-02-17 18:32] shubhamnarlawar commented on #86
Created an issue for 2nd point - Issue #106

[2021-02-18 02:31] KavinduZoysa commented on #94
@ayonam , for implement the manu's suggestion, I think we can use `Constant::getNullValue();`. Am I correct?

[2021-02-18 04:37] manuranga commented on #86
Hi @shubhamnarlawar ,
Is it possible to directly call the rust function from generated code, without using a wrapper ?

[2021-02-18 04:44] KavinduZoysa commented on #94
I have a concern here. Please consider below function signatures.

[code]

[code]

In both cases, BIR is modelled to return `nil` type. So when implementing these cases in nballerina, both cases will return nil and there is not a void return.

Do we need to distinguish these cases? Is that okay to consider both cases as same?
@Kishanthan, @manu, @warunalakshitha

[2021-02-18 04:48] ruvi-d commented on #94
https://ballerina.io/lang-guide/Ballerina_Language_Presentation-2021-01-29.pdf slide no: 13 suggests that it should be treated the same.

[2021-02-18 04:59] warunalakshitha commented on #94
Yes. Both cases are the same.

As per spec 'The value returned by a function will belong to the type specified in the return-type-descriptor. An empty return-type-descriptor is equivalent to returns ().'

() x = fooWithReturn();
() y = fooWithOutReturn();

AFAIU both should have the same behavior.

[2021-02-18 05:07] KavinduZoysa commented on #94
What about the `main function` if it does not have a return type?
`public function main() {}`

[2021-02-18 05:21] warunalakshitha commented on #94
The main function also the same as other functions. There is no difference in return type as per spec.

[2021-02-18 05:23] KavinduZoysa commented on #94
@warunalakshitha and @ruvi-d , thank you for your response.

[2021-02-18 05:49] ruvi-d commented on #94
If i remember correctly main for native binaries (ELF spec) expects a int or void return. So on the codegen side we would need to special case the main function.

[2021-02-18 06:04] manuranga commented on #94
ya, we'll need to wrap the ballerina main with a real native main, this is what we have done in java as well.

[2021-02-18 06:56] KavinduZoysa commented on #94
ACK.

[2021-02-18 07:33] shubhamnarlawar commented on #86
Yes. there is no need to write wrapper function now. 'is_same_type()' can be called directly from generated code.

[2021-02-18 08:11] ruvi-d commented on #60
@shubhamnarlawar I have a suggestion as to how to call our runtime print routines from Ballerina.
e.g. to call `int32_t printu32(uint32_t num32)`
Write the following .bal code, defining our runtime functions with the `external` keyword.
[code]
The ballerina compiler will throw an error when you compile this, but a BIR dump will get created.

The BIR will contain an empty function for `printu32` wi

[2021-02-18 08:40] ruvi-d commented on #85
@Kishanthan I am looking at the BIR to figure out how the initialization values should be loaded.
I am using the following test app.
[code]
The problem is that I don't see instructions for initialization in the BIR dump. Which is
[code]
As you can see the initializing values are being loaded to TEMP int variables (%4, %5 and %6), but at no point are they associated with the Array (%1).
I checked t

[2021-02-19 04:44] warunalakshitha commented on #85
We are using initial values from java bir model new array instruction. It seems we do not dump those initial values in the new array instruction to bir dump.

https://github.com/ballerina-platform/ballerina-lang/blob/master/compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java#L368

https://github.com/ballerina-platform/ballerina-lang/blob/33192

[2021-02-19 06:04] manuranga commented on #85
Ya looks like a bug in https://github.com/ballerina-platform/ballerina-lang/blob/800161670167211da8ed7e84a83b65f46e2426e2/compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/compiler/bir/writer/BIRInstructionWriter.java#L325

need fix it and get a new pack.

[2021-02-19 06:08] ruvi-d commented on #85
Noted. I think we will have to fix this for other data types like Maps too. The initialization values appears to be missing in that too.

[2021-02-19 11:55] Kishanthan commented on #85
Yes, its a bug. This is not found because we directly use the BIRModel at the jBallerina backend.

[2021-02-20 06:43] shubhamnarlawar commented on #60
Makes sense! Thank you for the suggestion.

Edit -  `printu32()` does not return

[2021-02-21 16:41] shubhamnarlawar commented on #60
Apart from the function has 0 basic blocks, Can you suggest a way to detect current function is not a runtime function based on name?

[2021-02-22 04:12] manuranga commented on #60
In java side we are relying on the flags, flag is checked as follows `(functionFlags & NATIVE) == NATIVE;` where `NATIVE = 2`.

reference:
[1] https://github.com/ballerina-platform/ballerina-lang/blob/3b3832f96dfdcafc3cd5630c950a12cccc6c92fa/compiler/ballerina-lang/src/main/java/org/wso2/ballerinalang/util/Flags.java#L31

[2] https://github.com/ballerina-platform/ballerina-lang/blob/4510139d40b86c

[2021-02-22 05:48] ruvi-d opened #115 "Fix memory leaks"
**Description:**
Doing a static analysis or enabling sanitizers show that that is a large number of memory leaks in the LLVM codegen classes. Suggest that we fix these leaks using smart pointers.

**Suggested Labels:**
Priority/High, Type/Bug, Points/2

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related I

[2021-02-22 05:49] ruvi-d opened #116 "Enable Static analysis and Sanitizers"
**Description:**
Enable static analysis and Sanitizers via CMake options. This will allow us to check for and catch issues during the development phase.

**Suggested Labels:**
Task/Improvement, Priority/Low, Points/1

**Suggested Assignees:**
Ruvi-d

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-25 06:33] Kishanthan opened #121 "Support for map initialization"
**Description:**
This is a continuation from map type support as it was blocked on a bug from jBallerina BIR writer.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-25 06:48] Kishanthan opened #123 "[CI/CD] Create a windows weekly build workflow"
**Description:**
Setup a GH action that runs windows build weekly.

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**
https://github.com/ballerina-platform/nballerina/issues/101

[2021-02-25 08:23] ruvi-d opened #128 "Support map get member from key"
**Description:**
Support map get member from key. Depends on `Union`(#112 ) and `nil`(#94 ) type support.
Continues the work from #89

**Suggested Labels:**

Task/Feature

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**

[2021-02-25 08:24] ruvi-d commented on #89
Blocked tasks have been moved to separate issues #121 and #128

[2021-02-27 08:59] Kishanthan commented on #129
Closing this as a duplicate of https://github.com/ballerina-platform/nballerina/issues/124

[2021-03-01 08:31] ruvi-d commented on #134
This issue is blocked on #135
But this is no longer a blocking issue. We can run tests that use global variables by adding an extra initialization before use. We can change the label to High priority.

[2021-03-01 10:23] ramakotareddy opened #137 "Array type support for array-of-arrays"
**Description:**
Current implementation supports only int arrays at rust side and translation side.
We need to support for array-of-arrays and union-type.
    array-of-arrays, union-type

**Suggested Labels:**

**Suggested Assignees:**

**Affected Product Version:**

**OS, DB, other environment details and versions:**

**Steps to reproduce:**

**Related Issues:**
#124

[2021-03-02 10:29] ramakotareddy commented on #124
Hi All, i am planing to implement template function in rust side for generic data type for Array. Do you have any thoughts on this?
Please share your thoughts.

[2021-03-02 10:44] ruvi-d commented on #124
Is it possible to call Rust template functions via a C ABI?
As in can you expose a Rust generic function with our runtime lib(with the `#[no_mangle].. pub extern "C".. ` ) and call the functions from a C app?
Better do a small experiment and see if you haven't already.

[2021-03-02 14:43] ayonam commented on #124
@ruvi-d, yes, this is a good idea.  It didn't occur to me that exposing templates from Rust to C may not be trivial.  With no_mangle, it may actually be impossible.  What I would rather want to do is to change to a setup where we do not use no_mangle.  Instead we incorporate the name mangler from Rust into our compiler to generate mangled names using the same algorithm that Rust uses, so that the

[2021-03-03 15:13] manuranga commented on #145
This is not guaranteed to be correct.

New structure's RHS argument is of type `typedesc`. Currently all new structure instructions will appear immediately after new typedesc instruction. (Even though vice-versa is not guaranteed). The new typedesc instruction is the one with the real type.

So we need to get the type from the previous instruction (which is a little bit ugly). In jvm side it actua

[2021-03-04 06:13] Kishanthan commented on #135
Blocked by https://github.com/ballerina-platform/nballerina/issues/149

[2021-03-04 07:54] ruvi-d commented on #145
Summary of the conclusion following our discussion : stick with the current implementation of using lhs to infer type till we need to support a use case that breaks. At which point we will use the type information from the proceeding typedesc command

[2021-03-05 04:23] #86 closed

[2021-03-07 19:10] shubhamnarlawar commented on #125
For this feature, is there such conversion present at rust side? Can anyone point it out the scenario?

For the typechecker, I am receiving a NULL terminated string pointer from LLVM side. I am converting it to Rust string and operating on it.

@ruvi-d - Does bal map consist any such string on which `std::sllice::from_raw_parts` can be applied?

[2021-03-08 07:16] ruvi-d commented on #125
Let me try to clarify the requirement. Currently we handle Ballerina strings types as C style char* arrays. But we should be modelling Ballerina strings as a Rust type that exposes Ballerina string features. e.g. When we are doing codegen for Ballerina `string val = "hello";` we need to pass "hello" to Rust and get back an opaque pointer to Ballerina String type object. So, in LLVM IR val will now

[2021-03-08 15:16] ruvi-d commented on #131
Let's hold this till #116 since it will make it easier to add a new target.

Also, these are the compiler and linker options we need to enable via CMake to get coverage stats: https://github.com/lefticus/cpp_starter_project/blob/master/cmake/Sanitizers.cmake#L6

[2021-03-08 15:45] ruvi-d opened #158 "Refactor BIRReader.h/.cpp into smaller files"
**Description:**

Refactor BIRReader.h and cpp files into multiple smaller files similar to what #114 did for BIR.h.
These new files can be moved in to a sub directory inside the compiler folder.

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-03-09 10:16] ruvi-d commented on #131
Got it working: https://github.com/ruvi-d/nballerina/tree/ruvi/task/code-coverage

![image](https://user-images.githubusercontent.com/6542630/110455557-9973b180-80ee-11eb-897c-c0ec9abaf8cb.png)

[2021-03-09 10:37] #68 closed

[2021-03-09 10:37] #69 closed

[2021-03-09 14:25] shubhamnarlawar commented on #125
Got it. Now, it is clear.
Thanks for the detailed explanation!

[2021-03-12 06:07] #116 closed

[2021-03-12 06:17] #60 closed

[2021-03-12 06:17] #65 closed

[2021-03-12 06:22] ruvi-d opened #171 "Make run time print function name format uniform"
**Description:**

Rename runtime print functions to snake case.

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-03-12 06:53] Kishanthan opened #172 "Tuple type design"
**Description:**
Support Tuple Type
- [ ] Design - 02 points
- [ ] BIR to LLVM IR - 03 points

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-03-12 08:15] shubhamnarlawar commented on #175
@Kishanthan and @ruvi-d - Should we revert #175 ?

[2021-03-12 09:03] shubhamnarlawar commented on #175
There seems an issue in the github workflow file.

[2021-03-12 16:48] shubhamnarlawar commented on #165
There is a regression in master due to #163 and hence it will be reverted back.

[2021-03-12 16:56] shubhamnarlawar commented on #175
The regression is caused by #175

[2021-03-12 18:08] shubhamnarlawar commented on #175
I have ported LIT tests to use print routines from rust instead of `$?` -

1. Based on the function flags, if the function is external (for example - `printu32()` in rust), function body is not generated. Instead there is function call.

2. After making above change, I have added print routines from rust in all the bal testcases. But some random tests are failing with below error - (Some times all

[2021-03-15 03:24] ruvi-d commented on #175
I think I found the issue.
In the current test runner, we are piping the standard errors from all the tools to the same file `err.log`. Since Ballerina is actually outputting an error due to the missing external function, the err.log is not empty and the subsequent build steps fail. The following patch will fix the issue.
https://github.com/ruvi-d/nballerina/commit/e106cbe55334e740ce5888c44fea486a

[2021-03-15 06:46] shubhamnarlawar commented on #175
Done. I have sent PR #177 along with above fix.
Thanks @ruvi-d

[2021-03-15 07:20] ramakotareddy opened #178 "Destruct resources from Abort() function"
Abort is OK for the moment, but eventually we will have to deinit module (destruct resources) on a runtime check fail like this. Let's create an issue to keep that task tracked.

_Originally posted by @ruvi-d in https://github.com/ballerina-platform/nballerina/pull/159#discussion_r589934730_

[2021-03-16 04:15] shubhamnarlawar commented on #126
Started a discussion here - https://github.com/ballerina-platform/nballerina/discussions/183

[2021-03-16 06:12] #87 closed

[2021-03-18 03:28] ruvi-d commented on #169
Blocked on #188

[2021-03-18 03:29] ruvi-d commented on #181
Blocked on #188

[2021-03-18 04:55] ramakotareddy commented on #137
Please share your comments/ideas in discussion #185

[2021-03-22 04:40] Kishanthan commented on #192
Related test cases are also disabled. Let prioritize this.

[2021-03-22 09:21] ramakotareddy commented on #192
We need to update casting/multipleStringBuilderEntries.bal test with float print after fix float print issue.

[2021-03-22 12:36] ruvi-d commented on #127
Started a discussion on the design at #194

[2021-03-23 18:09] shubhamnarlawar commented on #192
The testcase prints a string value. Do we want to print float value there?

Now, float printing support is enabled in PR #196

[2021-03-23 18:59] ayonam commented on #195
Okay.  The reason for this is that we are trying to replace all uses of that "value" with the offset we obtain from the string table.  If we use the same value everywhere, then for every entry that we pick from the string table, it will replace that offset at all the places where it has a use of that value.  Essentially, all the smart pointers will get the same offset every time we find a new offs

[2021-03-24 02:55] KavinduZoysa commented on #195
@ayonam, thank you for your explaination.

In method `LLVMReplaceAllUsesWith()`, All uses mean all the uses of the entire IR program?

[2021-03-24 03:27] #115 closed

[2021-03-24 13:48] shubhamnarlawar commented on #199
In BIRReader, while fetching `BooleanCp` -

https://github.com/ballerina-platform/nballerina/blob/a969374bf4ee1f76fc4a33de052c35646010b2e2/compiler/BIRReader.cpp#L152

[2021-03-24 16:15] ruvi-d commented on #199
Found the issue at https://github.com/ballerina-platform/nballerina/blob/a969374bf4ee1f76fc4a33de052c35646010b2e2/compiler/BIRReader.cpp#L304

The "valueCpIndex" is not an index. It's the actual value of the bool constant

[2021-03-25 05:31] ruvi-d opened #205 "Support generic map types"
**Description:**

Currently only int type maps are support. Add support for all currently supported types. Including union types.

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-03-25 05:39] Kishanthan commented on #126
This currently captures only the basic error construction. But we need to comeback and think about the design when constructing error with detailed type.

[2021-03-25 05:56] manuranga commented on #206
https://man7.org/linux/man-pages/man2/mprotect.2.html might be a possibility.

[2021-03-25 05:59] Kishanthan opened #208 "Windows PR build workflow"
**Description:**
We need to add a workflow for windows PR build by fixing the caching issues faced currently.

**Describe your task(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-03-25 06:05] ruvi-d opened #209 "Support LTO between Codegen C and Rust runtime lib"
**Description:**

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-03-25 06:31] KavinduZoysa opened #210 "Support for anydata type"
**Description:**
$subject

[2021-03-26 08:48] ruvi-d commented on #205
I think we should take up take up map load before this (#128). @Kishanthan WDYT?

[2021-03-26 10:12] ruvi-d commented on #128
waiting on #200 and #161 to beging

[2021-03-26 13:02] shubhamnarlawar opened #216 "Migrate runtime maps to use rust string"
**Description:**

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-03-26 13:03] shubhamnarlawar commented on #125
Created an issue #216 for second subtask.

[2021-03-26 16:02] ruvi-d commented on #209
References:
https://blog.llvm.org/2019/09/closing-gap-cross-language-lto-between.html
https://blog.haoxp.xyz/posts/cross-lang-lto-guide/

[2021-03-27 17:07] KavinduZoysa commented on #217
@ayonam, FYI

[2021-03-28 06:58] KavinduZoysa commented on #208
Should address this comment here https://github.com/ballerina-platform/nballerina/pull/189#discussion_r597410480

[2021-03-28 14:22] ruvi-d commented on #209
ThinLTO References:
https://clang.llvm.org/docs/ThinLTO.html
ThinLTO Whole Program Optimization - Meeting C++ 2020 Center Keynote: https://youtu.be/VAMvr1rXmg8

[2021-03-28 14:25] ruvi-d commented on #209
Linux and Windows support should be possible provided that we use clang and ldd instead of the platform's default C++ compiler and linker. ref: https://clang.llvm.org/docs/ThinLTO.html#clang-bootstrap

[2021-03-28 21:17] ayonam commented on #209
Yes, you necessarily need to use clang/lld in order to get LTO to work on Windoze.  The IR from LLVM will not be compatible with the one generated by the MSVC compiler to do an LTO.  (That is if the LTO on Windoze is stable __and__ anything worth the salt.)

[2021-03-28 21:18] ayonam commented on #209
@ruvi-d I will post the exact sequence of things that you need to do for this task.  Just remind me once mid-week.

[2021-03-28 23:13] ayonam commented on #217
The string table should contain two strings, viz., __I and __B to denote the Integer and the Boolean.  So the string table should look like the following:
__I\00__B\00
If it is not, then the string table generation is incorrect.  If the string table is generated correctly, then you should be sending the two strings __I and __B separately.  As you can see, if you get the pointers to the beginning o

[2021-03-29 03:35] KavinduZoysa commented on #217
Thank you @ayonam.
Yes, the problem is in string table generation.

[2021-03-29 03:56] ruvi-d commented on #217
@KavinduZoysa : I didn't notice such strings like `__I__B\00` when I was test the PR for type strings. Is this issue on master and/or is it specific to Windows?

[2021-03-29 04:15] ruvi-d commented on #209
Sure. Let me know what you have in mind. I was thinking to do the following:
1. Setup a demo C++ app with Rust static lib (with trivial functions)
    * Enable ThinLTO
    * Disassemble binaries to check whether functions are getting in-lined
2. Enable ThinLTO for nBallerina's ubuntu build (change compiler to clang, etc)
    * Disassemble binaries to check whether functions are getting in-lined

[2021-03-29 04:19] KavinduZoysa commented on #217
This is on master. Let me check it again and update this issue.

[2021-03-29 05:33] manuranga commented on #169
We need to replicate the same erors as jballerina side https://docs.google.com/document/d/1qjQTIMjpedZTGTNVXRg3WggmmjcAS23SkY4yxn_teDQ/edit

[2021-03-29 05:53] ruvi-d commented on #181
We need to replicate the same erors as jballerina side https://docs.google.com/document/d/1qjQTIMjpedZTGTNVXRg3WggmmjcAS23SkY4yxn_teDQ/edit

[2021-03-29 08:18] KavinduZoysa opened #220 "`is-expr` should be implemented"
**Description:**
$subject

**Describe your problem(s)**
[code]

`is-expr` should work, please consider the above example. Check https://ballerina.io/spec/lang/2020R1/#is-expr

[2021-03-29 08:37] ruvi-d commented on #209
Need to also check whether hoisting is happening as expected

[2021-03-29 08:48] #121 closed

[2021-03-29 19:02] #123 closed

[2021-03-30 03:46] ramakotareddy opened #223 "Create test case of Array out of bound Access Abort functionality"
Create test case of Array out of bound Access Abort functionality.

_Originally posted by @ruvi-d in https://github.com/ballerina-platform/nballerina/pull/219#discussion_r603758588_

[2021-03-30 03:47] ramakotareddy commented on #181
Create test case of Array out of bound Access Abort functionality #223

[2021-03-30 04:05] KavinduZoysa opened #224 "Change the ballerina pack in windows build"
**Description:**
$subject

[2021-03-30 04:39] #224 closed

[2021-03-30 05:29] KavinduZoysa commented on #217
This issue appears in master branch, we need to fix

[2021-03-30 10:10] KavinduZoysa commented on #210
Please check the discussion for more details https://github.com/ballerina-platform/nballerina/discussions/227

[2021-03-30 10:18] ruvi-d commented on #64
Fixed with #43

[2021-03-30 10:18] #64 closed

[2021-03-30 10:24] #32 closed

[2021-03-30 10:26] KavinduZoysa commented on #91
Closing this issue because windows build is working

[2021-03-30 10:53] KavinduZoysa commented on #165
@shubhamnarlawar, can we close this issue?

[2021-03-30 13:20] shubhamnarlawar commented on #165
Yes. You can close it.

[2021-03-31 07:07] ramakotareddy opened #229 "Array type support for union-type"
**Description:**
Array type support for array-of-arrays and union-type

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-04-02 12:11] ruvi-d opened #233 "Fix memory leaks"
**Description:**

Memory leaks still exist (after #180 ) due to cyclic references of shared pointers.

**Steps to reproduce:**

**Affected Versions:**

**OS, DB, other environment details and versions:**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-04-02 12:12] ruvi-d commented on #233
Discussion regarding possible solution : https://github.com/ballerina-platform/nballerina/discussions/201

[2021-04-05 04:35] ruvi-d commented on #128
Ned to resolve https://github.com/ballerina-platform/nballerina/discussions/230 to proceed

[2021-04-05 13:33] ruvi-d commented on #209
Was able to enable ThinLTO for ballerina apps in this branch: https://github.com/ruvi-d/nballerina/tree/ruvi/task/enable-cross-lto

I managed to notice about a x2.5 improvement in execution time for this particular test when run 10,000 times: https://github.com/ruvi-d/nballerina/blob/ruvi/task/enable-cross-lto/test/functions/lto_test.bal

These are the compiled binaries with and without LTO enable

[2021-04-05 15:30] ruvi-d commented on #209
![image](https://user-images.githubusercontent.com/6542630/113591700-dd0bfd80-9651-11eb-9533-34b21e592fc2.png)

Runtime (LTO disabled) vs Runtime with LTO vs Implementing same logic in LLVM

[2021-04-06 04:59] ruvi-d commented on #239
Duplicate of #157
We can close this

[2021-04-06 05:07] ruvi-d commented on #233
Seems we can use weak pointers to break the cyclic dependency without having to resort to a class hierarchy redesign.
Ref: https://stackoverflow.com/a/22186193

[2021-04-06 08:27] #128 closed

[2021-04-06 08:27] #216 closed

[2021-04-06 11:03] shubhamnarlawar opened #241 "Add support for floating point arithmetics and operations"
**Description:**
Add support for Float arithmetic (addition, subtraction, multiplication, division, unary ops, etc) and Float comparison ( greater or equal, etc).

**Describe your problem(s)**
For a simple `a + b`, `add` instruction is generated instead of `fadd`.

for example - `add float %"%1_temp", %"%3_temp"`

**Describe your solution(s)**
Generate instructions such as `fadd float` in the Code

[2021-04-08 04:02] ruvi-d commented on #205
Blocked on #237 and #236

[2021-04-08 05:10] Kishanthan commented on #122
Since we have now release Alpha4, lets move to that version.

[2021-04-08 06:16] Kishanthan commented on #96
@ushirask

[2021-04-08 06:22] Kishanthan commented on #143
Not applicable anymore.

[2021-04-08 06:42] Kishanthan commented on #122
Related issue #158

[2021-04-08 06:42] Kishanthan commented on #158
@heshanpadmasiri

[2021-04-08 06:51] Kishanthan commented on #212
@ushirask

[2021-04-08 06:51] Kishanthan commented on #214
@ushirask

[2021-04-09 08:42] shubhamnarlawar commented on #240
I have fixed above warnings in #245.

If you run - `cargo test` - you will not get any warnings.
If you run - `cargo build` - then you will get below warnings -

[code]

because imports are being used by `cargo test` to run rust tests and hence will appear as warnings in build process.

[2021-04-09 12:36] ruvi-d commented on #240
Can you check whether the Rust best practice to break the tests into a separate file? That could solve the warnings.

[2021-04-09 13:56] shubhamnarlawar commented on #240
I have tried putting tests in separate rust file which will anyway included in `lib.rs`. But still I am getting above warnings while doing `cargo build`.

[2021-04-09 14:15] shubhamnarlawar commented on #240
I think it is due to visibility of tests. If I make then public, then these warnings will go.

[2021-04-09 14:17] shubhamnarlawar commented on #240
The warnings are still present even if pub specifier is used on tests.

[2021-04-10 08:01] KavinduZoysa opened #246 "Support for spread field of anydata maps"
**Description:**
$subject.

In `map<anydata>` each element is modelled as a smart pointer (smtPrtStruct) we have to convert each element of spread field to insert `map<anydata>`

[code]

Now each element of boys should be converted as smtPtr.

[2021-04-11 03:38] KavinduZoysa opened #247 "Arrays should be initialized with nil values"
**Description:**
$subject

**Steps to reproduce:**
[code]

[2021-04-15 06:22] KavinduZoysa opened #251 "Learn and try out on llvm GC"
**Description:**
$subject https://llvm.org/docs/GarbageCollection.html

[2021-04-15 16:58] manuranga opened #252 "Migrate int-to-any and any-to-int to BalValue representation"
**Description:**
Remove fat-pointer (`smtPtr`) usage when compiling int to any casting

**Describe your problem(s)**
Below code should work without any usage of fat pointer and external type checker.

[code]

**Describe your solution(s)**

Equivalent C++ code to the generated code should look as follows

[code]
Will add more implementation details instead above pseudo-code as we flesh out this des

[2021-04-16 06:27] #209 closed

[2021-04-16 07:12] shubhamnarlawar commented on #215
Testcases to be added -

- [ ] Float arithmetic (addition, subtraction,  multiplication, division, unary ops, etc)
- [ ] Float comparison ( greater or equal, etc)
- [ ] Casting from float to int

[2021-04-16 12:12] #210 closed

[2021-04-18 01:18] ayonam commented on #252
Just one small correction.  The left shift and right shift in the pseudo code above needs to interchanged.

[2021-04-18 01:27] ayonam commented on #252
Also, the immediate mode range in the pseudo code above can be set to a 61-bit signed integer.  So the range will be   -(2^60)  to  (2^60) - 1.

This is because we expect 64-bit pointers to have their lowest three bits to be zeros.  So we want to use those three bits to denote various things in our scheme of type representation.  Hence, we can represent integers only within the 61-bits that are le

[2021-04-19 04:39] manuranga commented on #252
Ahh yes.

I am not seeing the advantage of keeping integers looking the same as the pointers, in fact this can negatively impact by fooling the garbage collector.

[2021-04-19 08:44] #233 closed

[2021-04-20 06:49] shubhamnarlawar commented on #255
Please try to keep issue description as small as possible. You can give details in the description.

for example - issue title can be - `Casting anydata or optional string to string in ballerina swan lake alpha 4`

[2021-04-20 07:16] ruvi-d commented on #255
The problem boils down to when we call a function passing a temp string created from a casted smrt.ptr.
I had a quick look with the LLVM IR and it seems that the only difference is that with alpha-4, that we are reusing a local variable to hold the temp string value. Not sure why it fails, but we might have to check the disassembled code to figure out why this local variable is holding the previou

[2021-04-20 07:18] ruvi-d commented on #255
Also note that we tried compiling the LLVM IR with `-O0 -g`, bug this bug was reproducible.

[2021-04-20 09:58] heshanpadmasiri commented on #255
I think this an #257 are caused by the same reason because they both have the same differences in the LLVM IR files.

[2021-04-20 10:31] manuranga commented on #252
I have tested following equivalent C++ code.
Generated LLVM/x86 can be views form : https://godbolt.org/z/nq6nGMGes
[code]
Some samples:
Int | Binary | BalValue
---|------- | ----------
`0`|`0000000000000000000000000000000000000000000000000000000000000000`|`0000000000000000000000000000000000000000000000000000000000000001`
`1`|`0000000000000000000000000000000000000000000000000000000000000001`|`0000

[2021-04-21 02:08] jclark commented on #252
Even though we have 3 tag bits, we can (and should) still support 63-bit ints:

- 000 means a pointer
- XX1 means an int, and XX are the two lo bits of the int

This is the normal way of doing things.

This still leaves us three tags:

- 010
- 100
- 110

which is more than enough:

- we can (if need be) use the same tag for nil, true and false, since the high 61 bits can distinguish between them
-

[2021-04-21 06:06] ruvi-d opened #261 "Weekly Windows build is broken"
**Description:**

**$subject** since #244

https://github.com/ballerina-platform/nballerina/runs/2371895467?check_suite_focus=true

Issue is due to : https://github.com/ballerina-platform/nballerina/blob/master/runtime/CMakeLists.txt#L16

Need to figure out a cross platform solution to set the `CARGO_TARGET_DIR` and `RUSTFLAGS` shell variables.

**Steps to reproduce:**

**Affected Versions:**

**O

[2021-04-21 19:14] manuranga opened #269 "Migrate boolean to any cast to BalValue representation"
**Description:**
Migrate boolean to any cast to BalValue representation.

False = (unsigned long)  0b010 ;
Ture = (unsigned long)  0b110 ;

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-04-22 04:02] KavinduZoysa commented on #251
Related discussion : https://github.com/ballerina-platform/nballerina/discussions/267

[2021-04-23 06:16] shubhamnarlawar commented on #215
Float arithmetic and Float comparision tests are present in #271.

[2021-04-23 06:34] manuranga opened #273 "Migrate String new representation"
**Description:**

Migrate string in the on consent section to be represented in the following structure.
Get rid of the `new_string` rust function.
Migrate `print_string` and other rust functions to use this format.

[code]

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-04-23 07:55] manuranga commented on #252
please send the pr to add `BalValue` type first.

[2021-04-25 12:36] manuranga commented on #275
A possible solution : https://lists.llvm.org/pipermail/llvm-dev/2014-July/074993.html

[2021-04-27 04:09] #241 closed

[2021-04-27 05:37] KavinduZoysa commented on #276
Please note that a couple of test cases are disabled in PR https://github.com/ballerina-platform/nballerina/pull/281, due to this issue. Those tests should be enabled under this PR.

[2021-04-27 10:37] ruvi-d commented on #265
Experiment was successful!
It is doable with little effort following the code structuring introduced in #282
Example -> https://github.com/ruvi-d/nballerina/blob/ruvi/task/inline-bb-injection/compiler/codegen/TypeCastInsnCodeGen.cpp#L72

[2021-04-27 12:18] manuranga commented on #252
To clarify above comment:
What i meant was to add a llvm type, with the goal of catching potential type errors

[code]
After a little bit of testing I realized this doesn't add much value since llvm is a structurally typed language, it will ignore the name `BalValue`.

But let's add anyway, for us to keep track.

[2021-04-28 02:41] ayonam commented on #252
Actually, we can add a derived type in the LLVM type system which will create a distinct type.  The operational details are given here:

https://llvm.org/docs/ExtendingLLVM.html#adding-a-derived-type

But this would mean that we have to ship our version of LLVM with the nballerina compiler.  The question that we need to answer here is whether we are game for that?  Our current approach is to make

[2021-04-28 03:06] ruvi-d commented on #252
Correction here. We are statically linking LLVM libs with the nBallerina compiler. As such, only nBallerina developers need to install LLVM. As it is right now, users will not have to install any dependencies on any of the platforms we plan to support.

[2021-04-28 03:11] ruvi-d commented on #274
@manuranga : would you mind adding the examples to cover the scope of this requirement?

[2021-04-28 03:19] ayonam commented on #252
Okay.  Then this should be fine.  But it would mean that we now have to build the llvm sources along with our builds.  Alternately, we can make this implementation and create installable binaries with this change.  We all can install those binaries and continue with the development.  We only go back to building the sources when we need to debug something in this implementation.

[2021-04-29 04:35] shubhamnarlawar commented on #273
Reference document - https://docs.google.com/document/d/1wH9T-VTz-Ad9YnrAoT4f05nh6EpBrZxqvfhSzfWng3s/edit?ts=6063f600#heading=h.dyksfb506vbw

[2021-04-29 09:01] ruvi-d opened #286 "Represent Map struct in llvm side"
**Description:**

[code]

Ref: [link](https://docs.google.com/document/d/1wH9T-VTz-Ad9YnrAoT4f05nh6EpBrZxqvfhSzfWng3s/edit#heading=h.vspfek914kgd)

**Describe your problem(s)**

**Describe your solution(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-04-29 17:18] KavinduZoysa commented on #277
Please follow the discussion for more details https://github.com/ballerina-platform/nballerina/discussions/267

[2021-04-30 13:52] ruvi-d commented on #286
Draft implementation : https://github.com/ruvi-d/nballerina/commit/8f3a4ba90f8499be97c4b05063023a119f9c1f60

Since #275 is WIP, I've implemented the logic in C and import it as a static lib.

[2021-05-03 02:58] KavinduZoysa commented on #277
Closing this issue, because expected things are tested and verified here. https://github.com/KavinduZoysa/test-GCs/tree/master/boehm

[2021-05-03 05:08] manuranga commented on #252
@jclark has suggested using custom address spaces to represent pointers, we'll need to do this inorder to add precise GC support.

So it's better to represent `BalValue` as a pointer
[code]
So in the future we can change it to
[code]

Here `i8*` is used because llvm does not have `void*`

[2021-05-03 06:42] ushirask commented on #275
## 1. Start our module on top of the common functions module

[code]

## 2. Clone function into a prototype
[code]

[2021-05-03 08:08] ruvi-d commented on #275
@ushirask Option #2 sounds good. Can you get a PoC up for a function with input params and return value? We can then compare the LLVM IR to make sure that what we are expecting is happening correctly.

PS: I don't think you can keep `valuemap` empty and you can design for functions that don't take global variables (i.e. arg 4 = false). Ref: https://docs.hdoc.io/hdoc/llvm-project/f6382E7EFB2969C74.

[2021-05-03 09:48] ushirask commented on #275
The functions appear to clone as expected. However the function names are changed since Clang mangles function names.

fun.cpp
[code]
fun.ll (LLVM IR for the functions)
[code]
output.ll (generated LLVM IR)
[code]

[2021-05-03 12:07] shubhamnarlawar commented on #273
Process -

1. Create a pointer to struct `BalAsciiString`.
2. Add `CodeGenUtils::storeValueInBalAsciiString()` to fill members of `BalAsciiString` object.
3. Generate Store instruction
4. Modify rust `print_string` to handle `BalAsciiString` struct object.

[2021-05-03 21:28] ayonam commented on #252
@jclark
If we are going to use custom address spaces, then we would need to modify the linker in order to handle linkages across address spaces, don't we?  Or is it that these address spaces will be only heap regions and hence we would not need to have any static linking?

[2021-05-04 01:14] ruvi-d commented on #275
@ushirask : name mangling is happening probably because your function is in a .cpp. Adding an `extern "c"` to the function definition should address that.

So the output.ll looks ok as you say. Please share the code snippet used to for the codegen to verify.

What's your next step? If I were you, I'd try to inject this same multiply function via nBallerina. Then we can compare this option to the o

[2021-05-04 04:48] ushirask commented on #275
Code snippet for the above:
[code]
As for the ValueToValueMapTy, I have kept it without initialization as the cloned function is an exact copy.  (ref: https://stackoverflow.com/questions/13104085/what-to-pass-for-the-vmap-argument-of-clonefunction-in-llvm)

[2021-05-04 04:59] ruvi-d commented on #275
The mangled name usage will have to addressed. But otherwise looks good.

[2021-05-04 05:40] jclark commented on #252
@ayonam I would not expect to have to modify the linker. LLVM "address spaces" aren't what I would call address spaces: rather they are a way to tell LLVM that a pointer type is special in some way and that LLVM should not make the assumptions that it usually does.

[2021-05-04 05:50] ayonam commented on #252
@jclark Ah! You meant address spaces in the LLVM context.  I didn't know that they don't necessarily map to a physical address space as we know in processor terminology.  I read it up just now that they are an artifact only within the LLVM context for the purposes of alias analysis and other such memory access optimizations.  In fact, they can be used to represent the physical address spaces also,

[2021-05-05 05:25] heshanpadmasiri commented on #274
@manuranga : for clarification is this is to handle cases such as
[code]
Because if so compiler front end adds a type cast after array access (which due to a bug doesn't work properly in nballerina)

[2021-05-05 07:48] manuranga commented on #274
Here by casting, i mean up-cast down-cast we need to handle in array access it self. Cases where there are no casts injected by the frontend.

 eg:
[code]
I'll post few more examples later

[2021-05-06 13:18] shubhamnarlawar opened #296 "Add Doxygen support"
**Description:**
1. Move the existing code comments to map up with doxygen syntax.
2. Document remaining files.

**Describe your problem(s)**
There is very minimal documentation of the code present in nballerina. Adding Doxygen support will enable new developers to quickly grasp the code base.

**Describe your solution(s)**
Add Doxygen support.

**Related Issues (optional):**

**Suggested Labels (

[2021-05-06 13:19] shubhamnarlawar commented on #296
Also, please suggest any better available tools than doxygen.

[2021-05-07 17:25] shubhamnarlawar commented on #34
Is this task done

[2021-05-07 17:27] shubhamnarlawar commented on #36
This would eliminate BIR Reader completely.

In which phase this issue needs to be addressed?

[2021-05-07 17:29] shubhamnarlawar commented on #45
Addressed in #297

[2021-05-09 15:12] KavinduZoysa commented on #287
Please follow https://github.com/ballerina-platform/nballerina/discussions/298

[2021-05-09 16:14] manuranga opened #299 "Setup continuous benchmarking for github actions"
**Description:**
Setup github action and persist benchmark data so we can monitor performance behavior over time.

**Describe your task(s)**

**Related Issues (optional):**

**Suggested Labels (optional):**

**Suggested Assignees (optional):**

[2021-05-10 06:08] ramakotareddy commented on #252
Code with pointer(i8*) balValue:
-----------------------------------------

#include <iostream>

size_t HEADER_SIZE_IN_BYTES = 1;
//typedef uint64_t BalValue;
typedef int64_t BalInt;
uint64_t TAG_MASK = 0b11;

uint8_t * int_to_any(BalInt i) {
    if (0x3FFFFFFFFFFFFFFF >= i && i >= -0x4000000000000000) [[likely]] {
        return reinterpret_cast<uint8_t *>((i << 1) | 1);
    } else {
        auto

[2021-05-10 08:58] ruvi-d commented on #252
@ramakotareddy can you format code snippets and put them inside a code block so that syntax highlighting works?

[2021-05-10 09:42] ruvi-d commented on #252
Missing the reinterpret_cast type in the `any_to_int` function
[code]

[2021-05-10 10:40] #158 closed

[2021-05-10 15:27] ramakotareddy commented on #252
`#include <iostream>

size_t HEADER_SIZE_IN_BYTES = 1;
//typedef uint64_t BalValue;
typedef int64_t BalInt;
uint64_t TAG_MASK = 0b11;

uint8_t * int_to_any(BalInt i) {
    if (0x3FFFFFFFFFFFFFFF >= i && i >= -0x4000000000000000) [[likely]] {
        return reinterpret_cast<uint8_t *>((i << 1) | 1);
    } else {
        auto *boxHeader = static_cast<uint8_t *>(malloc(sizeof(uint8_t *) + HEADER_SIZE

[2021-05-10 15:30] ramakotareddy commented on #252
[code]

[2021-05-10 15:42] ramakotareddy commented on #252
@ruvi-d , exactly where i miss the reinterpret_cast type in the any_to_int function ?
i think i miss in the below line right ?

' ' ' BalInt *p = reinterpret_cast<BalInt *>(i + HEADER_SIZE_IN_BYTES); ' ' '

[2021-05-10 15:43] ramakotareddy commented on #252
@ruvi-d , exactly where i miss the reinterpret_cast type in the any_to_int function ?
i think i miss in the below line right ?

``` BalInt *p = reinterpret_cast<BalInt *>(i + HEADER_SIZE_IN_BYTES); ```

[2021-05-15 08:56] ramakotareddy commented on #293
same as #252

[2021-05-15 08:57] ramakotareddy commented on #292
Same as #252

[2021-05-17 05:20] manuranga commented on #269
Let's use `i8*` to represent BalValue for now.

[2021-05-17 09:50] #286 closed

[2021-05-18 06:58] ramakotareddy commented on #314
#252

[2021-05-18 08:44] ruvi-d commented on #314
@ramakotareddy : better create separate issues for each functionality that you had to disable

[2021-05-19 10:10] #252 closed

[2021-05-19 10:46] ramakotareddy commented on #276
@ruvi-d, Now printing true with below test, without any changes in source code

float a = 5.5;
float b = 5.5;
print_boolean(a >= b);   // printing true

and getting expected output from disabled float tests(i have enabled locally and all tests are passing).

Can i enable those disabled float tests if every thing pass successfully ?

[2021-05-19 10:49] ruvi-d commented on #276
Yes. I suppose that they should be enabled.
Did you switch compilers from GCC to Clang?

[2021-05-19 10:57] ramakotareddy commented on #276
@ruvi-d, in testRunScript.sh we are using clang only. do we need to change in any other places ? Please suggest.

[2021-05-19 11:05] ruvi-d commented on #276
no no.. just asked to figure out what the change was. Master branch build recently switched from using gcc to clang-11 for nballerina, so was just wondering whether the test started to pass after we switched compilers.

[2021-05-19 12:18] ramakotareddy commented on #276
@ruvi-d, i think that is the issue. In the old builds we got unexpected results with float comparison and i have tested today with new build and it's working.  And jballerina is also updated. We don't have old builds to figure out the exact issue.

[2021-05-19 13:12] shubhamnarlawar opened #317 "Create BalString from char* in C runtime"
We should probably add a function to create a BalString from char*.

_Originally posted by @ruvi-d in https://github.com/ballerina-platform/nballerina/pull/291#discussion_r635128980_

[2021-05-19 13:14] ruvi-d commented on #317
Depends on #291

[2021-05-19 16:58] shubhamnarlawar commented on #276
Can we close this issue then?

[2021-05-20 00:30] ramakotareddy commented on #314
Created separate issues for each disabled functionality.

[2021-05-20 06:15] #273 closed

[2021-05-24 04:36] #269 closed

[2021-05-29 07:23] shubhamnarlawar commented on #324
Latest log of windows build fail -

[code]

[2021-05-29 13:28] shubhamnarlawar opened #2 "Links in README.md are broken"

[2021-05-31 03:49] shubhamnarlawar commented on #324
Latest build - https://github.com/ballerina-platform/nballerina-cpp/runs/2648052493?check_suite_focus=true

[2021-06-03 17:25] shubhamnarlawar commented on #324
Upon successful llvm build, now I am resolving nballerina build issue -

[code]

@ruvi-d - As you mentioned, new PATH variables can not be set in the cmake cmd like `add_custom_target()` in windows. Can you please guide me what exactly do I need to change in rust and C runtime CMakeFile?

[code]

[2021-06-07 00:51] jclark opened #5 "Reorganize repo to accommodate runtime"
Currently the root of the repo is the ballerina package containing the compiler.

But nballerina will need other parts, in particular a runtime, that are tightly integrated with the compiler.

My current thinking is:

- make the current root directory become a subdirectory `compiler`
- rename the package module from `nballerina` to `nballerina.compiler`
- add `runtime` directory for the runtime
-

[2021-06-07 00:54] jclark opened #6 "Enhance runtime panic function to print backtrace before exiting"
Eventually panics need to unwind until they are caught with `trap`, but until then our implementation of panic can simply print a backtrace before exiting.

This needs some debug info (#7), and is an enhancement to the strategy in #44, which explicitly passes the location of the offending instruction to the runtime panic function.

[2021-06-07 00:56] jclark opened #7 "Generate enough debug information for backtraces to work"
We need eventually to have full debugging information. But to start we should have just enough to enable us to get line numbers in backtraces (see #6).

[2021-06-07 00:57] jclark commented on #2
Fix this after doing #5.

[2021-06-07 01:15] jclark opened #8 "Print a backtrace when a signal is caught"
Ballerina requires that the `/` operator result a panic if its right operand is 0.  We could handle this by explicitly testing for 0, before performing the division, but it would be much more efficient if instead we relied on the CPU's ability to generate an exception in this case. In POSIX terms, the CPU exception will turn into a signal (SIGFPE in this case), which the kernel will deliver to the

[2021-06-07 01:15] jclark commented on #6
Can we extend this to deal with #8?

[2021-06-07 01:16] jclark commented on #6
@KavinduZoysa has done a PoC here: https://github.com/KavinduZoysa/test-GCs/tree/backtrace

[2021-06-07 01:18] jclark commented on #6
I don't understand why we don't need debug info on the call    https://github.com/KavinduZoysa/test-GCs/blob/c42cecac3af8eef2e9a5819d08483a73961d4bd5/expr_binary_add.ll#L10

Edited: answer is there's debug info on the call to panic

[2021-06-07 01:21] jclark opened #9 "Generate module target triple"
At the moment, compiling the .ll file generated by the compiler produces the warning:

[code]

We need to generate the appropriate target triple to deal with this.

This should be a configurable value. Eventually, it should be possible to override with command-line option.

[2021-06-07 01:22] jclark opened #10 "Implement call insn in nback.llvm"
There's a stub that needs to be implemented.

[2021-06-07 01:22] jclark commented on #10
Stub is here: https://github.com/ballerina-platform/nballerina/blob/c9cca1952bce5e7cff4b4e8d6a02aea652cf09f5/modules/nback.llvm/llvm.bal#L260

[2021-06-07 01:26] jclark opened #11 "Add doc for language subset 1"
Create a .md file in this repo describing the precise subset we are targeting.

[2021-06-07 01:27] manuranga opened #12 "Run tests from annotated ballerina files"
**Description:**

Write tests such that it is execute without writing any extra code. Expectation and input should be mentioned in the file itself.
Slimier to LLVM LIT system errors should be mentioned inline.

[2021-06-07 01:27] jclark opened #13 "Add sufficient parsing for language subset 1"
See the docs in #11

[2021-06-07 01:28] jclark commented on #11
I want to handle booleans in this also.

[2021-06-07 01:30] jclark opened #14 "Need to handle mangling/demangling of global symbols"
Global identifiers in Ballerina are structured values with at least organization/module/name (not sure about version). We need to encode this into a symbol that can go in an object file.

The backtrace code #6 needs to demangle.

[2021-06-07 01:39] manuranga opened #15 "Serialize BIR format"
**Description:**
Serialize BIR format to a text format and incorporate that into the testing.

[2021-06-07 02:19] manuranga commented on #6
does path need to be normalized? is it relative?

[2021-06-07 02:27] manuranga commented on #12
[code]
how about a format like above.

[2021-06-07 02:40] jclark commented on #12
I was thinking of

[code]

[2021-06-07 02:41] jclark opened #16 "Make io:println work"
Hardcode a partial implementation of io:println (just accepting a single int argument), so we can do #12

[2021-06-07 02:45] manuranga opened #17 "jBallerina compiler frontend call into nBallerina"
**Description:**
Have jBallerina compiler call into compiled version of nBallerina with a BIR object.

[2021-06-07 03:15] manuranga commented on #17
At the beginning I imagine this working in two steps. Later we can have it as a single cmd if needed.
[code]

[2021-06-07 03:30] jclark commented on #5
I can't get it to compile after I rename the package, so I'll leave that too later.

[2021-06-07 05:18] jclark opened #19 "Implement API of nback.llvm using LLVM C API via JNI"
When we do #17, it would also be good if we use an alternative module to nback.llvm that calls the LLVM C API via JNI.

We can use this to do it:

https://github.com/bytedeco/javacpp-presets/tree/master/llvm

This will validate that when we self-host we will be able to easily switch to the C API.

[2021-06-07 05:51] jclark commented on #9
We can get the system's target triple by doing

[code]

[2021-06-07 06:18] jclark commented on #9
An easy solution is just to pass -Wno-override-module to clang when compiling the .ll file.

[2021-06-07 06:52] jclark commented on #6
As discussed today, we should probably pass at least a line number to the panic function, eventually column number and filename. Rust does something similar. https://doc.rust-lang.org/core/panic/struct.Location.html

[2021-06-07 07:03] manuranga commented on #6
I got following from C:
[code]
from https://godbolt.org/z/E474TrhPf
Note that they are generating two calls to `@__ubsan_handle_add_overflow` one per addition.

[2021-06-07 07:05] manuranga commented on #6
I think it should be possible to have just one call, if we use a phi node to distinguish and load different structs, but not sure it's worth the effort.

[2021-06-07 07:12] KavinduZoysa commented on #6
@manuranga, In [DIFile](https://llvm.org/docs/LangRef.html#difile) node, whatever the string we add as `directory` will append to the file name and it will be printed out at the log.

`!1 = !DIFile(filename: "expr_binary_add.bal", directory: "PATH_TO_BAL_SOURCE")`

In my example, I have added `PATH_TO_BAL_SOURCE` manually.

[2021-06-07 07:15] KavinduZoysa commented on #6
@jclark, Currently we are printing the line number, file name and path in the log. I will check how to add the column number as well.

[code]

[2021-06-07 07:30] manuranga commented on #6
@KavinduZoysa  I think you misunderstood. Yes you are printing it now, but the information is coming from the backtrace lib. But if you look at above [Godbolt](https://godbolt.org/z/E474TrhPf) information is passed as a struct from the code to trace printer.

[2021-06-07 07:36] manuranga commented on #6
I do understand what is happening.
The questions is, what *should* it be? What is the convention? Should it be relative to the source root? Should it be an absolute path? Ect.

[2021-06-07 08:06] KavinduZoysa commented on #6
What we can do is specifying the name of the file in `filename` filed and the absolute path to the directory in `directory` filed. By looking at examples we can say that the convention is specifying the absolute paths. Another thing that I noticed, if we specify the path of the file in `filename` filed, it will discard what we specify in `directory` filed.

[2021-06-07 08:06] manuranga opened #20 "Expand nback.llvm to support int operations"
Add llvm constructs needed to support integer operations.

Ref:
https://github.com/ruvi-d/nballerina-tests/tree/master/stage_1

[2021-06-07 08:35] jclark opened #21 "Extend nback.llvm to support function attributes"
C API has

* LLVMAttributeIndex (what the attribute applies to: function, return value or specific parameter)
* LLVMAddAttributeAtIndex
* LLVMCreateStringAttribute
* LLVMCreateEnumAttribute (looks like `val` argument is typically 0), which needs
   * LLVMGetEnumAttributeKindForName

[2021-06-07 09:38] manuranga opened #22 "Serialize SemTypes to a pseudo-Ballerina like text format"
We should serialize SymType to a pseudo-Ballerina text format with possible addition of `not` operator.
Since SemTypes have references to TypeCheckContext we can't trivially serialize it. Some type references may be needed.

Prerequisite for #15.

[2021-06-07 09:46] jclark commented on #20
Can we separate this issue into specific instructions/features?

We need at least:

- structure types - enough to do {i64, i1}
- ability to call intrinsics
- icmp

Before implementing, I would like to see the API addition in the issue.

[2021-06-07 09:50] jclark commented on #22
The text format can be a set of Ballerina type definitions with the addition of a `!` operator. Also you will need integer ranges to express integer subtypes conveniently (as in the Castagna paper).

A SemType can refer to members of arrays in TypeCheckContext, but each of those members can be represented as a type definition.  So for example, for member 17 of the listDefinitions in TCC you might

[2021-06-07 10:06] manuranga commented on #6
@KavinduZoysa I think we need a bit more research to back this proposal. Please look at how other languages are storing paths. Please look if there is a spec relevant to this.

[2021-06-07 10:38] heshanpadmasiri commented on #20
I think these are the things we need for this issue:

LLVM instructions:
- `extractvalue` (get values from the structure types) [`LLVMBuildExtractValue`]
- `br` (we need both conditional and unconditional variants) [`LLVMBuildBr`, `LLVMBuildCondBr`]
- `icmp` (strictly speaking we may not need all the possible predicates but I think we can support all similar to how we do `binaryInt`) [`LLVMBuildIC

[2021-06-07 10:47] heshanpadmasiri commented on #20
I was thinking of making the first PR to deal with the structure types and external function( I think this only need small changes to the current function implementation. But It may make sense to break it in to a separate issue because it is unrelated to structures)
- Way to define structure types and use them as a type of a value / return type of function
- `extractvalue` so we can get values out

[2021-06-07 11:00] jclark commented on #7
References:

https://llvm.org/docs/LangRef.html#specialized-metadata-nodes
https://llvm.org/docs/SourceLevelDebugging.html
https://llvm.org/doxygen/c_2DebugInfo_8h.html

Key API is

- LLVMDIBuilderCreateDebugLocation
- LLVMDIBuilderCreateLexicalBlock
- LLVMDIBuilderCreateFunction
- LLVMDIBuilderCreateFile
- LLVMSetCurrentDebugLocation2

The one non-obvious aspect of this is the handling of lexical

[2021-06-07 11:15] manuranga opened #24 "Implement nback.llvm support for struct types"
Add support for:

- Define structure types (minimally `{i64, i1}`) and use them as a type of a value / return type of function
- Use `extractvalue` so we can get values out of them by index

[2021-06-07 11:15] manuranga opened #25 "Implement nback.llvm support for conditionals"
Add support for:

- `br` (we need both conditional and unconditional variants) [`LLVMBuildBr`, `LLVMBuildCondBr`]
- `icmp` (strictly speaking we may not need all the possible predicates but I think we can support all similar to how we do `binaryInt`) [`LLVMBuildICmp`]
- `unreachable` (I think this is optional but better if we can add this after calling abort and should be trivial to implement)[`LL

[2021-06-07 11:17] manuranga commented on #20
Closed in favor of #24  #25

[2021-06-07 11:17] #20 closed, assigned to heshanpadmasiri

[2021-06-07 11:44] jclark commented on #6
It looks to me that this comes from DWARF. Look at page 97 "file_names" in http://dwarfstd.org/doc/Dwarf3.pdf

[2021-06-07 11:59] jclark commented on #24
@heshanpadmasiri Please
1. Propose API design in the issue before implementing
2. Talk to me about the right order to implement things in, so I can sync things up across the pipeline

[2021-06-07 17:04] jclark commented on #25
I don’t think we should have unreachable yet

https://llvm.org/docs/LangRef.html#unreachable-instruction

[2021-06-07 23:59] jclark opened #28 "Investigate using C++ exception handling ABI to catch panics"
What this would mean would be that

- stack unwinding can use the C++ runtime's implementation
- we generate code for Ballerina `trap` similar to what C++ generates for C++ `catch`/`throw`
- Ballerina panics can interop with code in C++ that uses exception handling

Reasons why this might be a good approach:
- one of the implementation strategies that Rust uses for panics is on top of C++ exceptio

[2021-06-08 00:04] jclark commented on #28
This is a good series of blog posts on how C++ exception handling works:

https://monkeywritescode.blogspot.com/p/c-exceptions-under-hood.html

C++ ABI is here:

https://itanium-cxx-abi.github.io/cxx-abi/abi-eh.html

[2021-06-08 01:24] jclark opened #29 "Consider using C++ for the langlib runtime"
This builds on #28.

The idea would be to use a carefully chosen, very small subset of C++. In particular, all Ballerina values would be represented by what C++11 calls [standard-layout](https://stackoverflow.com/questions/4178175/what-are-aggregates-and-pods-and-how-why-are-they-special/7189821#7189821) classes: these are basically POD structs that have the same layout as equivalent C structs (so

[2021-06-08 01:25] jclark commented on #29
Another point is that the easiest way to compile `.ll` files is with clang, which is part of the LLVM project, and clang can compile C++ together with `.ll`.

[2021-06-08 01:29] jclark commented on #29
Also clang can generate bitcode (.bc) from C++, so we can do optimization between the runtime and the Ballerina generated code. This applies to C too. of course. Not sure if it is possible with Rust, though in theory it should be.

[2021-06-08 03:01] heshanpadmasiri commented on #24
As I understand what we need for stage 1 are

- A way to create struct types given the types of its element. I don't think at the moment we need things like being able to have named struct types in our llvm files (ex `%struct.myType = type { i64, i64 }`). This would mean everywhere we use the structure we will end up with having the whole structure (for example in function returns we have  `%0 = c

[2021-06-08 04:46] jclark commented on #24
Can you write in this issue the declarations for the functions you are proposing to add to the public API?

For point (i), we need something like https://llvm.org/doxygen/group__LLVMCCoreTypeStruct.html#ga76526e252ad17fb9744f473be8df36ba

This can be a module-level function (not on Module):

[code]

Ballerina terminology is to use `member` not `element` when talking about members of structures.

[2021-06-08 04:52] heshanpadmasiri commented on #24
So for the public API in addition to this function we will have a method in builder for `extractvalue`(similar to LLVMBuildExtractValue) `function extractValue(Value value, int index) returns Value` and we check if the type of the value is a StructType within the function and if not panic.

[2021-06-08 05:41] jclark commented on #24
Sounds good.

[2021-06-08 05:51] jclark commented on #28
We are going to do #6 initially. This would be at a later stage, when we implement `trap`. But it might be worth thinking about now, since we are spending time on panics.

@KavinduZoysa What do you think?

[2021-06-08 06:15] jclark opened #30 "Implement nback.llvm support for calling intrinsic functions"
We can call intrinsics using a `call` instruction like other functions. But we also need to create a `Function` that refers to them. The nback.llvm module should take care of emitting the appropriate declaration.

LLVM C API has:

* LLVMGetIntrinsicDeclaration
* LLVMLookupIntrinsicID

We may need two types of Function.

This is needed in order to be able to use #24 to support arithmetic with overf

[2021-06-08 06:18] jclark opened #31 "Implement front-end codegen support for break and continue"
The parser being developed in #23 includes support for `break` and `continue`.  The flow control implemented in BIR is sufficient for these. But codeGen does not yet handle it. We need somehow to pass down into statement codeGen the labels to which `break` and `continue` should jump.

[2021-06-08 06:33] KavinduZoysa commented on #28
Yes @jclark, I also agree with that, I will look into this.

[2021-06-08 07:54] manuranga commented on #28
So this is _sort of_ what we were doing before we started looking into backtrace.

to quote llvm-libunwind doc:

We were looking at the layer below __cxa_* functions. One concern with relaying on higher level __cxa_* function is that we'll have to ship `libcxxabi`. We were able to get the cross language unwinding working even with C. So I don't see this as a strong deciding factor for picking C++.

[2021-06-08 08:50] #24 closed, assigned to heshanpadmasiri

[2021-06-08 08:55] jclark commented on #28
This is an interesting doc from Herb Sutter on problems with exception C++ model

http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p0709r0.pdf

Summary is here

Throwing such values behaves as-if the function returned union{R;E;}+bool where on success the function re- turns the normal return value R and on error the function returns the error value type E, both in the same return channel in

[2021-06-08 09:07] heshanpadmasiri commented on #30
@jclark instead of two function types would it be okay if we

1. Update the `Function` output to handle the case where there is no body (just the function declaration) So it will correctly output with `declare` keyword instead of `define`. If I understand this correctly this behavior is not specific to just intrinsic but to any function (ref:https://llvm.org/docs/LangRef.html#functions) without a

[2021-06-08 09:47] jclark commented on #30
For case 1, we still should distinguish function declaration from function definition. I don't like modelling a function declaration as a function definition with an empty body.  I think we want

[code]

and then use whichever of Function/FunctionDefn/FunctionDecl makes sense in each context.

For case 2, in LLVMGetIntrinsicDeclaration the parameter types are only for the overloaded case. I think

[2021-06-08 10:23] heshanpadmasiri commented on #30
@jclark correct me if I am wrong but if we do like `public type Function FunctionDefn|FunctionDecl;` every time we need to access a method like `output` or `genreg` we have to check the base type (`FunctionDefn` or `FunctionDecl`) before calling those methods even if we implement the same method in both classes. So this will add those check to pretty much every where we use a `Function`. (We may a

[2021-06-08 10:58] jclark commented on #30
I'll write some code to show what I mean.

[2021-06-08 11:34] jclark commented on #30
I pushed some code: it's quite a nice demo of structural typing.  I've intentionally made the code less object-oriented, and more Ballerina-ish.

I wanted to make isDefn be something whose value was `"declare"|"define"`, but I couldn't think of a good name for the field.

[2021-06-09 02:14] jclark commented on #2
Fixed in b554bc81ff8f8fe9b7efa4f4716917c388a8f9ed

[2021-06-09 02:14] #2 closed, assigned to nobody

[2021-06-09 03:03] heshanpadmasiri commented on #30
Thank you. I'll add the rest of the functionalities to that

[2021-06-09 04:14] KavinduZoysa commented on #8
https://github.com/KavinduZoysa/test-GCs/tree/div

@jclark, could you please review my draft code and give your opinion on this?

I took the ballerina source code and llvm IR from @ruvi-d's [test cases](https://github.com/ruvi-d/nballerina-tests/blob/master/stage_1/step_3/expr_binary_div.ll). To get the line where the division is done to print on the backtrace, I put the debug info(ex : !dbg !4) o

[2021-06-09 05:17] jclark commented on #8
I don’t understand why you are getting a SIGFPE since the .ll code is explicitly checking for a divisor of 0.  I must be missing something obvious.

[2021-06-09 05:42] jclark commented on #11
Fixed in 5c1a5ee35234a720f6d359ba4fb2bd6486e21302

[2021-06-09 05:42] #11 closed, assigned to nobody

[2021-06-09 05:47] jclark commented on #13
Still to do are:

- [x]  `<`, `<=`, `>`, `>=` binary operators
- [x] `==`, `!=` binary operators
- [x] `!` unary operator
- [x] `import` declaration
- [x] function call with qualified identifier
- [x] `public` qualifier
- [x] boolean literals

[2021-06-09 08:00] jclark commented on #10
Fixed

[2021-06-09 08:00] #10 closed, assigned to heshanpadmasiri

[2021-06-09 08:19] jclark opened #35 "Add support to nback.llvm for declaring functions defined in other modules"
This is similar to #34 but for non-intrinsic functions. We need it for #16.

[2021-06-09 08:22] #30 closed, assigned to heshanpadmasiri

[2021-06-09 13:20] KavinduZoysa commented on #8
As per our offline discussion, since I have used `panic()` function before `unreachable`, we expect that the rest of the code is unreachable because `panic()` is declared as `noreturn` function. But when we look at assembly code, `panic()` function returns. Therefore rest of the code executes discarding `unreachable`.

[2021-06-09 14:38] KavinduZoysa commented on #8
@jclark, as per suggestions I have written a simple llvm IR by removing the checks for div operation. Since we do not have any branching now, there is not a place to call `panic()`. Therefore we can get the backtrace when SIGFPE signal is cought, by putting debug info on `sdiv` instruction.

Please check the new changes and give your opinion.
Edited : https://github.com/KavinduZoysa/test-GCs/tree/

[2021-06-10 04:00] #25 closed, assigned to heshanpadmasiri

[2021-06-10 06:02] #35 closed, assigned to heshanpadmasiri

[2021-06-10 06:10] jclark commented on #8
@KavinduZoysa The problem with that is that LLVM specified that divide by zero is undefined behavior for "sdiv". Unless we can find a documented, correct way to avoid this, we cannot rely on it.  I believe Rust specifies the same behavior for `/` as us, and they will probably have done this in the best way that LLVM allows. Can you look at how they deal with it?

We can also potentially call llvm.

[2021-06-10 06:29] KavinduZoysa commented on #8
Yes @jclark, I will check how the rust is handling this. Currently, I am trying to build an example on `llvm.ubsantrap` (Please note that this is a new intrinsic introduced for in llvm-12 and not available in llvm-11 which is currently used by us)

[2021-06-10 06:29] KavinduZoysa commented on #8
Yes @jclark, I will check how the rust is handling this. Currently, I am trying to build an example on `llvm.ubsantrap` (Please note that this is a new intrinsic introduced for in llvm-12 and not available in llvm-11 which is currently used by us)

[2021-06-10 07:53] manuranga opened #38 "Avoid undefined behavior for LLVM "sdiv" with RHS of 0 w/o explicit checks"
LLVM defines its sdiv instruction to have undefined behaviour when the right operand is zero. Similarly, when the left operand is INT_MIN and the right operand is -1.

One way to solve this is to generate code that explicitly tests for these cases before using the sdiv instruction. This issue is to investigate whether there is a better way.

At the assembly code level, at least for x86, we would i

[2021-06-10 08:30] jclark opened #39 "BIR verifier stage 1"
Implement enough of a verifier  to catch semantics errors in subset 1. At least:

- [x] in function call, number of arguments must match signature of called function
- [x] in function call, type of arguments must match signature of called function
- [x] integer binary operations only on int not boolean
- [x] `==` and `!=` must have non-empty intersection
- [x] integer minus only on int not boolean

[2021-06-10 10:30] jclark opened #40 "Make entry point of main work"
Need to change our minimal runtime to call mangled main.

This needs a minimal amount of mangling #14

[2021-06-10 10:31] jclark commented on #16
Still need to do the runtime part.

This will be useful in conjunction with #40

[2021-06-10 12:36] jclark opened #41 "Implement BIR branching instructions"
Build LLVM br/condBr from BIR branch/condBranch.

[2021-06-10 23:50] jclark opened #42 "Backend for remaining BIR instructions for subset 1"
Need:

- [x] Equal
- [x] IntCompare
- [x] IntNegate
- [x] Branch
- [x] CondBranch
- [x] BooleanNot

We will deal with panicking separately.

[2021-06-10 23:52] jclark opened #43 "Minimal mangling for subset 1"
Full mangling #14 is quite complicated.

For subset 1, something much simpler will suffice.

[2021-06-11 00:00] jclark commented on #43
A name `X` in the module being compiled will be mangled to `_B_X`.

A name `X` in an imported module `O/M` will be mangled to `_BM__X`. This is assuming that

* we do not yet need to use organizations to distinguish names
* module names are restricted in their use of underscore: only allowed when preceded and followed by a non-underscore (see https://github.com/ballerina-platform/ballerina-spec/is

[2021-06-11 02:39] #40 closed, assigned to jclark

[2021-06-11 02:39] #16 closed, assigned to jclark

[2021-06-11 02:39] #43 closed, assigned to jclark

[2021-06-11 05:07] KavinduZoysa commented on #38
[code]

@jclark, I have generated the llvm IR for the above simple test case. In rust, they are doing the operand check before call `sdiv`. If RHS is 0, they call `panic()` function with file name, line number, column number and error message(In this case it is "attempt to divide by zero") as parameters. After that, the rest of the code is `unreachable`. Full llvm IR is available [here](https://gi

[2021-06-11 06:27] jclark commented on #41
Fixed in 35bf482f91aa54e7e799029f9343f71094dee8b1

[2021-06-11 06:27] #41 closed, assigned to jclark

[2021-06-11 06:39] jclark commented on #38
Can you also check for the overflow case (i.e. INT_MIN/-1)? Something like:

[code]

[2021-06-11 07:29] manuranga commented on #38
@KavinduZoysa can you please take a look at [@llvm.experimental.constrained.fdiv](https://llvm.org/docs/LangRef.html#llvm-experimental-constrained-fdiv-intrinsic) as well. It has the`"fpexcept.strict"` argument.

Sounds like what we are looking for.

[2021-06-11 07:33] KavinduZoysa commented on #38
Yes, in this case also, LHS and RHS operands are check accordingly and call panic if result overflows. Please check below llvm IR.

[code]

[2021-06-11 07:47] jclark commented on #38
OK. Thanks. I think that means that our implementation needs to explicitly check its operands rather than relying on a CPU exception.

Can you also see how it handles the `%` case? We want INT_MIN/-1 to be 0. Not sure what Rust does here.

[2021-06-11 17:55] KavinduZoysa commented on #38
@jclark, for the `%` case, rust is following the same pattern that is checking the operands and panicking. In `INT_MIN%-1` case, they are panicking with the error message `attempt to calculate the remainder with overflow`. But in our case, we can handle this case to return 0 without panicking.

[2021-06-12 01:04] jclark opened #44 "Backend support for integer arithmetic panics"
The front-end generates BIR that allows for integer arithmetic instructions to panic on overflow or division by zero. We need to support this in the backend.

There are two parts to the design of this:

1. how do we detect overflow/division by zero?
2. what do we do when we have detected this?

For part 1, there are two subcases:

* add, sub, mul: in these cases, we use the intrinsics provided by

[2021-06-12 01:08] jclark commented on #38
OK, great. I think the conclusion is clear: we need to have explicit checks.  This feeds into #44.

[2021-06-12 01:08] #38 closed, assigned to KavinduZoysa

[2021-06-12 01:14] jclark commented on #44
The runtime function should have LLVM `cold` and `noreturn` attributes.

[2021-06-12 01:23] jclark commented on #6
This needs to handle the mangling in #43.

[2021-06-12 01:24] jclark commented on #8
This approach isn't going to work because of #38.

[2021-06-12 01:24] #8 closed, assigned to KavinduZoysa

[2021-06-12 01:41] jclark commented on #44
Issue #6 is a usability enhancement to this.

[2021-06-12 01:43] jclark commented on #28
@manuranga and I are talking about the same thing, which is the base API defined in the Itanium C++ ABI doc:

https://itanium-cxx-abi.github.io/cxx-abi/abi-eh.html#base-abi

[2021-06-12 01:53] jclark opened #45 "Implement `trap` expression"
Ballerina allows panics to be caught using `trap` expressions. These are used only for abnormal conditions, such as program bugs, not for normal error handling, so use of `trap` should be infrequent.

This follows on from #44.

I see three possible implementation strategies:

1. Use something similar to what C++ exceptions does (see #28)
2. Use setjmp/longjmp (this is viable for Ballerina, because

[2021-06-12 01:59] jclark commented on #45
The runtime panic function from #44 will then:

1. take enough of a snapshot of the stack to be able to print a backtrace;
2. construct an error value on the heap containing the source location and the stack snapshot
3. perform an abnormal return with that error value as determined by the implementation strategy for catching panics

[2021-06-12 02:00] jclark commented on #44
The follow on to this is #45.

[2021-06-12 02:02] jclark commented on #6
@KavinduZoysa If there's no debugging information, what info can we get in the backtrace? I guess we can at least get the names of the functions.

[2021-06-12 02:06] jclark opened #46 "Take a snapshot of the stack that can be used to generate a backtrace"
In order to implement the error value #167 and to implement #45, we need not just to print a backtrace as in issue #6, but take a snapshot of the stack, which we can store in the error value and be used subsequently to generate a backtrace.

We want to be as lazy as possible here, i.e. do as little work as possible when taking the snapshot, because the backtrace may never be needed.

[2021-06-12 02:06] jclark commented on #6
Follow on from this is #46.

[2021-06-12 02:08] jclark commented on #21
We need only EnumAttributes without an argument for now (things like `noreturn`, `cold`).

[2021-06-12 02:10] jclark commented on #21
@heshanpadmasiri Could you propose in this issue an extension to the nback.llvm API to handle this?

[2021-06-12 02:14] jclark commented on #12
I have used a convention where the name of a valid test case (a program that should compile and run without panicking) starts with the letter `V`; these have `@output` comments specifying the expected output.

  I envisage having other letters for other categories of test case, including

* `P`: this compiles but panics when executed: this would have a `@panic` comment on the line which should pan

[2021-06-12 02:16] jclark commented on #12
We should use a DataProvider with testerina to run all the test cases: this should leave `.ll` files for all the `V` cases. These `.ll` cases can separately be tested using the `testll.sh` script.

[2021-06-12 02:37] jclark opened #47 "Rename root module from nballerina to nballerina.compiler"
This is the part leftover from #5.

[2021-06-12 02:38] jclark commented on #5
Made a separate issue for the remaining part.

[2021-06-12 02:38] #5 closed, assigned to jclark

[2021-06-12 02:40] jclark opened #48 "Design subset 2 of the language"
First step for subset 2 is to decide what it is.

I have created a [doc](https://github.com/ballerina-platform/nballerina/blob/main/docs/futuresubsets.md) to describe the possibilities.

[2021-06-12 03:48] KavinduZoysa commented on #6
@jclark, `libbacktrace` provides us pc, filename, line no and function name. Among them, we can get `pc` without debugging information.

[2021-06-12 06:26] jclark commented on #6
I am surprised function name is not available - the function name is in there to allow linking even if there is no debugging information.

[2021-06-12 09:48] KavinduZoysa commented on #6
@jclark, Yes, it is available as you said. I couldn't figure it out earlier. Sorry about it.

In `libbacktrace`,  we can get the function name when pc is given and the debugging information is not provided.

[2021-06-12 11:22] #42 closed, assigned to jclark

[2021-06-12 11:22] #13 closed, assigned to jclark, hasithaa

[2021-06-13 11:00] jclark commented on #25
@manuranga I was wrong about unreachable: LLVM actually requires it: otherwise you have a basic block that does not end with a terminator.

[2021-06-13 11:06] jclark commented on #44
Things to do:

- [x] For add, sub, mul call the intrinsic and go to basic block's panic label if there's an overflow
- [x] For div and rem, check whether right operand is zero and go to basic block's panic label if it is
- [x] For div, check for MIN/-1 case and go to basic block's panic label if it occurs
- [x] For rem, check for MIN/-1 case and give correct result if it occurs
- [x] Implement abn

[2021-06-14 00:48] jclark opened #50 "Improve maintainability of parsing tests"
The parsing tests should be designed in a way that when the AST data structure is changed, it is only a little work to get the tests working.

[2021-06-14 00:54] jclark commented on #50
Some thoughts on how to do this:

- expected output should be in .json files, so they can easily be edited
- the AST should be transformed into a JSON format: the tests should work by comparing the expected and actual results in this format
- the JSON format should not be the same as the AST format; the AST format has design decisions that may change; instead it should be a neutral tuple-based for

[2021-06-14 00:55] jclark commented on #50
Note that with this approach, parsing tests can be shared with jBallerina.

[2021-06-14 01:09] jclark opened #51 "Show line number in runtime panic"
Preferably column too.

This requires passing line/column info through the compilation pipeline from parsing to LLVM building.

[2021-06-14 01:09] jclark commented on #44
I have separated out the line/column number support into a separate issue #51, since it is not just a backend issue.

[2021-06-14 01:09] #44 closed, assigned to jclark

[2021-06-14 01:13] jclark commented on #51
Plan:

- for AST node for binary `+ - * / %`, and unary `-`, include position
- include that also in relevant BIR insn
- when building LLVM, put the column and line in the argument passed to panic (we can either make a LLVM struct or do the encoding with bitwise operations ourself)

[2021-06-14 01:18] jclark opened #52 "Test cases for subset 1"
We need a full set of test cases for subset 1, using the format described in https://github.com/ballerina-platform/nballerina/issues/12#issuecomment-859983087

These test cases must follow the  on the [definition of correctness](https://github.com/ballerina-platform/nballerina/blob/main/docs/correctness.md) and the [definition of subset 1](https://github.com/ballerina-platform/nballerina/blob/main

[2021-06-14 02:02] jclark opened #53 "Support an optional name parameter on LLVM builder methods"
Should be on all methods where corresponding LLVM function has it.

[2021-06-14 04:48] jclark opened #54 "Fix up documentation to be current for subset 1"
When we tag subset 1, we should be in a consistent state.

[2021-06-14 04:51] jclark commented on #53
@heshanpadmasiri Can you do a pull request first that just adds the parameter `string? name = ()` to the methods where LLVM has it, without actually doing anything with the parameter?

[2021-06-14 06:01] #53 closed, assigned to jclark, heshanpadmasiri

[2021-06-14 06:07] heshanpadmasiri commented on #21
Since we are purely concerned about adding attributes to functions and they are not going to have arguments I think the minimum we need to implement is this

1. In our `Function` implementation add the equivalent of `addAttribute` (ref: https://llvm.org/doxygen/classllvm_1_1Function.html#ae8ef440a4592cd8b97ddf1826d22d9f9).
2. I think for our use case we can use a simple list of `Attributes` in eac

[2021-06-14 06:09] jclark opened #56 "llvm.nback should make use of name argument to alloca"
These correspond to local variables, so there's an obvious semantic.

Follow on from #55.

[2021-06-14 06:10] jclark opened #57 "Preserve local variable names in BIR and pass on to LLVM"
This is follow on from #55 and goes with #56.

[2021-06-14 06:11] jclark commented on #56
This will be used by #57.

[2021-06-14 06:22] jclark commented on #21
Let's keep to the C API as the reference.

LLVM has enum attributes and string attributes. What you suggest is combining LLVMAddAttributeAtIndex and LLVMCreateEnumAttribute.  The index value is saying what the attribute attaches to, which is either the function itself, the return value or a parameter.

So I would suggest a slight variation:

[code]

The index would implicitly be LLVMAttributeFunct

[2021-06-14 06:30] manuranga opened #58 "Implement nback.llvm support for annotations"
Add annotation support for nback.llvm

[2021-06-14 06:35] jclark commented on #58
What are LLVM annotations for?

We have functions attributes as issue #21.

[2021-06-14 06:56] #57 closed, assigned to jclark

[2021-06-14 09:23] KavinduZoysa opened #61 "Call _bal_panic after ret instruction"
**Description:**
If bal file contains a function call, it is considered as potentially panicking instruction and call `_bal_panic` after return

https://github.com/ballerina-platform/nballerina/blob/5efb9e205bc8e743edf2bb9fb83d65d8502fa506/compiler/modules/bir/bir.bal#L395

**Steps to reproduce:**
ball file:
[code]
generated llvm for the main function:
[code]

[2021-06-14 09:30] jclark commented on #61
Thanks! I guess the easy fix for now is not to consider "call" to be a potentially panicking instruction.

[2021-06-14 10:06] #61 closed, assigned to nobody

[2021-06-14 10:21] KavinduZoysa opened #62 "Call inst contains extra llvm instructions"
**Description:**
$subject. It seems there are two extra load and store instruction which are not needed.

**Steps to reproduce:**
bal file:
[code]

llvm ir for the main function:
[code]

This can be verified by generating a llvm ir for a similar C code.

[2021-06-14 10:28] #21 closed, assigned to heshanpadmasiri

[2021-06-14 10:30] KavinduZoysa commented on #62
@jclark, WDYT about this?

[2021-06-14 10:58] KavinduZoysa commented on #62
I found this when writing test cases for function call. Still, I am not sure whether it is okay to continue with these extra instructions.

[2021-06-14 11:12] KavinduZoysa opened #63 "Func call inside if block contains extra store instruction"
**Description:**
$subject

**Steps to reproduce:**
bal file for main function:
[code]

llvm ir for the main function:
[code]

[2021-06-14 11:17] jclark commented on #63
This one is fine.  Ballerina functions without an explicit return type return nil. This is storing the return value of `bar` into a register.

The objective of the front end is to generate correct code, not the minimum number of instructions.

(Please always include complete test case.)

[2021-06-14 11:17] #63 closed, assigned to nobody

[2021-06-14 12:05] jclark commented on #62
This is fine.

There are 3 BIR instructions call/assign/ret, and 2 BIR registers R0 and R1: R0 is a temporary for the result of the call; R1 is for variable x. The translation of the call instruction does the first store. The load and second store are the translation of the assign instruction.

The input source code has a dead store, and the resulting BIR is faithfully reproducing that.

LLVM will

[2021-06-14 12:05] #62 closed, assigned to nobody

[2021-06-14 12:20] jclark commented on #56
With that patch, the numbering of anonymous registers isn't ideal.

Given this:

[code]

I get:

[code]

Note that it has skipped %_1, which feels weird. @heshanpadmasiri Can you fix this?

[2021-06-15 04:22] KavinduZoysa opened #67 "Test failures in master"
**Description:**
Running the command `bal test --tests "testCompile*" ../compiler` says that two tests are failing.
[code]

Also running script (`sh testll.sh`) says,
[code]

**Steps to reproduce:**

[code]

[2021-06-15 04:28] jclark commented on #67
Please also say what system you are running on, including clang version.

[2021-06-15 04:35] KavinduZoysa commented on #67
Please find the environment details,

[code]

[2021-06-15 04:40] manuranga commented on #67
1) I'll fix the `wrong error position` one
2) I used to get `testll.sh: line 11: 68508 Abort trap: 6           ./a.out > /dev/null 2> $b-actual.txt` printed by sh (`GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin19)`) but I was able to git rid of it by [wrapping with a sub-shell](https://github.com/ballerina-platform/nballerina/blob/4b9b45a82bca6922f668efec712dca1d85f6f12c/tests/testll.sh

[2021-06-15 04:49] KavinduZoysa commented on #67
I will work on that.

[2021-06-15 06:37] manuranga opened #70 "Add a stack overflow test case"
Add following test case as `Pstackoverflow00.bal`
[code]

[2021-06-15 06:51] jclark commented on #70
I would have thought the right line was the recursive call to f.

We don't handle this correctly at the moment, so we should add as a failing test i.e. `FPstackoverflow00.bal.`

Please send a pull request.

[2021-06-15 09:09] #56 closed, assigned to heshanpadmasiri

[2021-06-15 09:12] jclark commented on #67
I updated the testll.sh. See if it works for you now (I used /bin/bash instead of /bin/sh).

[2021-06-15 09:26] #70 closed, assigned to nobody

[2021-06-15 17:15] jclark opened #76 "Make tail calls work"
I think fastcc is needed.

[2021-06-16 05:20] #39 closed, assigned to jclark

[2021-06-16 09:39] jclark commented on #51
This will require changing AST, so this one is waiting on #50. Apart from adding position info, I want to separate out the arithmetic binary ops from the other ones.

[2021-06-16 10:23] jclark opened #81 "Make test framework handle U type tests"
U type tests are like V tests, but for things we haven't implemented yet.

They should get a syntax error or a unimplemented error.

[2021-06-16 10:44] jclark opened #82 "Implement `while true`"
Currently gets an unimplemented error, but needed with support for `break` in #31.

[2021-06-16 10:46] jclark opened #83 "`while false` generates bad code"
Generates incorrect LL code.

This
[code]

compiles to:

[code]

[2021-06-16 10:49] #83 closed, assigned to jclark

[2021-06-17 04:39] #31 closed, assigned to jclark

[2021-06-18 08:39] jclark opened #88 "Leading zeros should not be allowed in numeric literals"
Ballerina does not allow them because of the potential confusion with octal. We should not allow them either.

This is a bug in both the implementation and the subset spec.

[2021-06-18 12:18] jclark opened #89 "Add README.md to testSuite directory describing test format"
Can take most of this from https://github.com/ballerina-platform/nballerina/issues/12#issuecomment-859983087

[2021-06-18 12:23] jclark commented on #54
I think this is now up to date.

[2021-06-18 12:23] #54 closed, assigned to jclark

[2021-06-19 07:00] jclark opened #90 "Implement needed instructions for subset 2"
Needed instructions are:

- [x] null constants: equivalent of LLVMConstNull, but only for pointer types; this should generate `null` in the .ll
- [x] getelementptr (we only need to be able to add a ptr and an i64); we use this for adding a tag to pointers
- [x] llvm.ptrmask intrinsic (we only need i8* i64 overload); needed to strip out the tag
- [x] ptrtoint: needed to get the tag out of the tagge

[2021-06-19 22:02] #88 closed, assigned to jclark

[2021-06-19 23:45] #82 closed, assigned to jclark

[2021-06-20 00:21] #48 closed, assigned to jclark

[2021-06-20 00:21] jclark commented on #48
Now described in [here](https://github.com/ballerina-platform/nballerina/blob/main/docs/subset02.md).

[2021-06-20 00:24] jclark commented on #12
Still need to do #81 and #89, but this is enough for subset01

[2021-06-20 00:24] #12 closed, assigned to manuranga

[2021-06-20 00:26] jclark commented on #52
We need some U tests (which needs #81)

- syntax not implemented (not many tests needed)
- limitations on `io:println`:
   - `io:println(true)`
   - `io:println()`
   - `io:println(1, 2)`

[2021-06-20 01:11] jclark commented on #9
We should have a setTarget method on Module corresponding to LLVMSetTarget. For now, we can make the type of the argument be a union of strings.

Then have a configurable variable in `nback` specifying the default target triple (which should be 64-bit x86 Linux). (Check that the configurable implementation handles this.)  Eventually we may want to generate target specific code.

[2021-06-20 01:15] jclark opened #91 "Panic on stack overflow"
At the moment, we seg fault on stack overflow.

We ought to detect this and call the runtime panic function.

I think LLVM has some stuff to help with this.

[2021-06-20 01:19] jclark commented on #90
Please do the first two (needed for #94) before the last four (needed for #95).

For each of these:

1. Create an issue
2. Write a comment with proposed addition to public API of nback.llvm and tag me; include link to relevant LLVM C API function

[2021-06-20 01:22] jclark opened #92 "More tokenizer tests"
We need more tokenizer tests to give complete coverage, particularly for ill-formed cases like unterminated strings, strings crossing newline etc.

The tokenizer tests should also be setup to check line/column information.

[2021-06-20 01:25] jclark opened #93 "Implement nil literal"
This is (I think) just a matter of implementing the syntax `()`.

[2021-06-20 01:33] jclark opened #94 "Implement `any` type"
This requires:

- [x] implement `any` type descriptor syntax
- [x] design representation for variables of type `any`
- [x] change representation of `nil` so conversion between `any` and `nil` is a no-op
- [x] convert from existing representation of int/boolean into this representation when needed

[2021-06-20 01:39] jclark opened #95 "Implement type cast expressions"
Tasks

- [x] parse the syntax
- [x] add to AST to string
- [x] generate BIR (casts of constants go away)
- [x] implement verifier
- [x] not generate anything for redundant casts
- [x] generate code to test whether a tagged pointer belongs to int/boolean (use `ptrtoint` and `and`)
- [x] generate code to convert from tagged boolean to boolean (use `trunc`)
- [x] generate code to convert from tagged

[2021-06-20 02:17] jclark opened #96 "Implement binary bitwise expressions"
As specified here: https://ballerina.io/spec/lang/2020R1/#section_6.34

[2021-06-20 02:18] jclark opened #97 "Make parameter type of io:println be any"
Builds on #94.

[2021-06-20 02:20] jclark opened #98 "Implement `===` and `!==` operators"
This can be used with two operands of type `any`.

[2021-06-20 02:23] jclark commented on #98
If we do https://github.com/ballerina-platform/ballerina-spec/issues/814, this is less needed in this subset.

[2021-06-20 02:24] jclark commented on #93
Need to check we handle `==` and `!=` with two nil operands.

[2021-06-20 02:44] jclark commented on #51
When we do this, we also need to fix `testll.sh` to check that the line number is correct.

[2021-06-20 03:08] jclark opened #99 "Store small enough ints in the tagged pointer"
Initial implementation of #94, will store all ints on the heap. This can be improved by storing small enough (e.g. 48 bit) ints in the pointer. In this case, we need a bit in the pointer to indicate which of two possible representations of int (variants) we are using, heap or in the tag; this bit should be 0 for the in the tag case, and 1 for the heap case.

This needs #100.

[2021-06-20 03:10] jclark opened #100 "Implement instructions needed for storing small ints in the tagged pointer"
This is a follow-on from #90 and a prerequisite for #99. Only instruction needed is:

- [ ] sext: needed to sign extend from small ints to 64-bit ints

[2021-06-20 04:15] jclark opened #101 "Implement logical expressions `&&` and `||` in the front-end"
Specified in

https://ballerina.io/spec/lang/2021R1/#section_6.31

I don't think they need anything from the backend.

[2021-06-20 04:16] jclark opened #102 "Implement compound assignment operators"
Specified in https://ballerina.io/spec/lang/2021R1/#section_7.14.3

These shouldn't need anything in the backend.

[2021-06-20 04:18] jclark opened #103 "Implement shift expressions"
Specified in:

https://ballerina.io/spec/lang/2021R1/#shift-expr

Note the point about "all except the bottom 6 bits of the shift amount are masked out (as if by x & 0x3F)". This should be done by the backend.

[2021-06-20 04:45] jclark commented on #103
There is a lexical complication when we also implement `map<T>`, in that with `map<map<T>>` we want `>>` to lex as two tokens not one.

[2021-06-20 05:36] jclark commented on #99
I was thinking that this would be easier if the tag for `int` was zero, but that doesn't really buy anything, because the integer in the tagged pointer has to be sign extended. So you have to truncate the pointer to the number of bits of the integer in the pointer (e.g. 48) and then sign extend. Truncating will get rid of any tag.

[2021-06-20 07:54] jclark commented on #94
Given https://github.com/ballerina-platform/nballerina/issues/99#issuecomment-864502576, I plan to implement `any` as a tagged pointer, where the tag is:

- 0 for nil; all bits are zero
- 1 for boolean; lo bit is 1 for true, 0 for false
- 2 for int; when the tag is masked out, this will point to an i64 on the heap

We will do the optimization where small enough ints are in the tagged pointer later

[2021-06-20 08:34] jclark opened #104 "Do not allocate stack space for BIR registers of type nil"
This is not necessary, but will make for less  confusing LLVM IR code.

[2021-06-20 12:01] jclark opened #105 "Report all jBallerina bugs"
There are quite a number of bugs that I have found but not reduced to a test case.

These all have a JBUG comment on them without a bug number.

This issue is to report all these and add a bug number to the comment.

[2021-06-20 12:09] #81 closed, assigned to nobody

[2021-06-20 12:32] jclark commented on #52
I added the cases for https://github.com/ballerina-platform/nballerina/issues/52#issuecomment-864480589

[2021-06-20 12:32] #52 closed, assigned to jclark, manuranga, heshanpadmasiri, KavinduZoysa, ushirask

[2021-06-20 19:10] KavinduZoysa commented on #28
This is a brief summary of how the exceptions are handled in C++.

When an exception is thrown, it will call 2 [c++ ABIs](https://libcxxabi.llvm.org/spec.html)(__cxa_allocate_exception and __cxa_throw). Then __cxa_throw calls a couple of [\_Unwind_ methods](https://itanium-cxx-abi.github.io/cxx-abi/abi-eh.html#base-abi) to iterate through each stack to find the correct catch. If the correct catch

[2021-06-21 00:19] #93 closed, assigned to jclark

[2021-06-21 00:20] jclark opened #106 "Write test runner in Java to run jBallerina on nBallerina test suite"
Would be useful to have this for cross-checking our tests with jBallerina.

[2021-06-21 01:10] jclark commented on #90
@heshanpadmasiri I needed `constNull` to keep going, so I added it. Please check I got it right.

[2021-06-21 02:28] heshanpadmasiri opened #107 "Implement the getelementptr instruction in nback.llvm"
@jclark for this I am planning to add the fallowing functions to the builder:
1.`gep(Value ptr, Value[] indices, string? name=()) returns Value` similar to https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilder.html#gaf392c575dd594d83894d3e71a520ffa4
2. `inBoundsGep(Value ptr, Value[] indices,string? name=()) returns Value` similar to https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilde

[2021-06-21 02:38] heshanpadmasiri opened #108 "Implement llvm.ptrmask intrinsic in nback.llvm"
@jclark  with regards to the api we can add a new `IntrinsicFunctionName` as `ptrmask` and modify the `getIntrinsicDeclaration` to handle this. I am also thinking of modifying `getIntrinsicDeclaration` so it adds the relevant function attributes inside the `getIntrinsicDeclaration` function itself without relying on the user to use the `addEnumAttribute` for intrinsics.

[2021-06-21 02:44] heshanpadmasiri opened #109 "Implement ptrtoint instruction in nback.llvm"
@jclark for this I am planning to add a new function to the builder as `ptrToInt(Value ptr, IntType destinationType, string? name=()) returns Value` similar to https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilder.html#gadc4471c1a7c0a701adcf601af1e87b7f. If the destination is always going to be `i64` perhaps we can remove that parameter from the function or make it optional (if not defined i

[2021-06-21 02:48] heshanpadmasiri opened #110 "Implement the bitcast instruction in nback.llvm"
@jclark  for this I am planning to add a new function to the builder as `bitcast(Value val, IntType destType, string? name=()) returns Value` similar to https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilder.html#ga1d8e6d373823d51438bf4889af6ff08a.

[2021-06-21 02:53] heshanpadmasiri opened #111 "Implement the trunc in nback.llvm"
@jclark for this I am planning to add a new function to builder as `trunc(Value val, IntType destType, string? name =()) returns Value` similar to https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilder.html#ga78a6936c06635f0e8b087a8538293c8d.

[2021-06-21 03:01] jclark commented on #111
Looks good.

[2021-06-21 03:02] jclark commented on #110
Shouldn't destType be a PointerType?

[2021-06-21 03:03] jclark commented on #109
Shouldn't type of first arg be PointerValue?

[2021-06-21 03:05] jclark commented on #108
The function name would need to be the right overload `ptrmask.p0i8.i64`.

I agree with adding the attributes automatically.

[2021-06-21 03:07] jclark commented on #107
We don't need the `inbounds` case.

We should follow the name of the instruction: so `getElementPtr`. We only need a simple version for now: `getElementPointer(PointerValue ptr, Value index)`

[2021-06-21 03:10] heshanpadmasiri commented on #110
Bitcast don't necessarily has to be to a pointer type if I understand it correctly (things like `%X = bitcast i8 255 to i8` are valid) but if in our case we are going to stick to pointers to destination I'll change the destination type

[2021-06-21 03:11] jclark opened #112 "Fix the way the nback.llvm API handles alignment"
At the moment alignment is part of PointerType, which is not how the LLVM API does things, and is also not conceptually right.

[2021-06-21 03:11] jclark commented on #112
@heshanpadmasiri Any ideas how to fix this?

[2021-06-21 03:12] heshanpadmasiri commented on #109
Yes that's my bad the function signature should be `ptrToInt(PointerValue ptr, IntType destinationType, string? name=()) returns Value`

[2021-06-21 03:13] heshanpadmasiri commented on #108
I'll use the `ptrmask.p0i8.i64` as the `IntrinsicFunctionName`

[2021-06-21 03:15] jclark commented on #112
See https://github.com/ballerina-platform/nballerina/commit/ac0f9a0f64fd8645d42e0a3f6576622d8db9dfae for an example of where things are not working right.

[2021-06-21 03:39] heshanpadmasiri commented on #112
@jclark  can't we infer the alignment based on the type it pointsTo? If so we can have separate function (not part of the public API) that does that and where we need it (I assume this is only for the builder at the moment) we can pass the `PointerValue` directly to that function and have it return the alignment

[2021-06-21 03:50] jclark commented on #112
@heshanpadmasiri There must be something in the C API that allows control over alignment.

But perhaps we can just leave it out from the `.ll`. It's not required and will be defaulted by the target, so perhaps that's the best thing to do.

[2021-06-21 04:12] jclark commented on #112
This makes it clear what is going on:

https://llvm.org/doxygen/IR_2Core_8cpp_source.html#l02064

The alignment is associated with the store/load/alloca, but it can be left out.

[2021-06-21 04:51] heshanpadmasiri opened #114 "Add support for context in nback.llvm"
@jclark for this I am thinking of adding fallowing to the public API

1. Public record type `Context` to represent [LLVMContextRef](https://llvm.org/doxygen/group__LLVMCSupportTypes.html#ga9c43e01525516ff6b4feab5166c5b1da). Initially this can be an empty place holder since we only need this to have API similar to what we get with #19.
2. Public function `createContext() returns Context` similar to

[2021-06-21 05:34] jclark commented on #112
I fixed this in b068365d00a1af27951f29bd6de5496b38ed1a83

@heshanpadmasiri I wasn't very careful in fixing up the test cases. Should probably have some test cases for explicit alignment (which we will use for heap alignment)

[2021-06-21 05:34] #112 closed, assigned to jclark, heshanpadmasiri

[2021-06-21 05:35] #107 closed, assigned to heshanpadmasiri

[2021-06-21 06:35] jclark commented on #109
LGTM

[2021-06-21 06:38] jclark commented on #110
So far we only need pointers, so let’s stick to that for now.

[2021-06-21 07:41] #108 closed, assigned to heshanpadmasiri

[2021-06-21 09:48] #109 closed, assigned to heshanpadmasiri

[2021-06-21 09:48] #110 closed, assigned to heshanpadmasiri

[2021-06-21 09:52] jclark commented on #105
Maybe tackle this after jBallerina beta2

[2021-06-21 13:28] manuranga commented on #105
@gimantha is working on this
https://github.com/ballerina-platform/ballerina-lang/issues?q=is%3Aissue+is%3Aopen+label%3ANBalNeeds

[2021-06-21 13:30] manuranga commented on #105
@gimantha please send a pr to nBallerina updating comments with issue numbers when done.

[2021-06-21 13:51] manuranga commented on #89
What about test cases that are out of subset but passing ?
eg:
[code]

[2021-06-21 14:12] jclark opened #119 "Allow for overimplementation"
Sometimes it will be pragmatic to allow there to be test cases that:

- are valid Ballerina programs
- the compiler correctly implements them
- but they are not in the subset

We can use `O` prefix for such cases. These work exactly the same as `V` cases, except they're not in the subset.

Need to update test machinery and correctness doc to allow for these.

[2021-06-21 14:14] jclark commented on #119
For example: type descriptors in the function signature are checked semantically not syntactically for being in the subset, so e.g. `returns ()` will work, as will `int|int`.

[2021-06-21 14:15] jclark commented on #89
@manuranga This is the O type I talked about this morning. I just made an issue for this #119.

[2021-06-21 14:15] #89 closed, assigned to jclark

[2021-06-21 17:49] KavinduZoysa commented on #91
For our knowledge, this is how rust implemented this.

Rust detects stack overflow using `SIGSEGV`. When `SIGSEGV` was detected, we cannot say that the root cause is stack overflow because stack overflow is not the only cause to `SIGSEGV`(https://en.wikipedia.org/wiki/Segmentation_fault). So when `SIGSEGV` was detected, their [signal handler](https://github.com/rust-lang/rust/blob/6a5b97adb4da4b0f

[2021-06-21 22:01] jclark commented on #91
Lots of non-portable, low-level code there.  It would be nice if we could do something more straightforward for now.

[2021-06-22 00:17] jclark commented on #107
@heshanpadmasiri Note that GEP returns a pointer (it's like pointer addition in C). I fixed your code in https://github.com/ballerina-platform/nballerina/commit/8e6d26a8cdf50382cd86f432d1bb3988bf716965

Please use clang to check that your `.ll` test outputs are correct.

[2021-06-22 07:23] jclark commented on #67
@KavinduZoysa If you still have the problem, please reopen

[2021-06-22 07:23] #67 closed, assigned to nobody

[2021-06-22 07:24] #94 closed, assigned to jclark

[2021-06-22 07:24] #97 closed, assigned to jclark

[2021-06-22 07:31] jclark commented on #114
Sorry, I didn't get to this earlier: I was busy with  #94.

This is not quite right:

- item 1 should be a class (not distinct)
- item 2 should be a public constructor of the class
- items in 3 should be done by createXXX method calls on Context, with the corresponding constructor no longer public

For types, you would need to make the appropriate calls to the C api with a context to construct the

[2021-06-22 07:36] #111 closed, assigned to heshanpadmasiri

[2021-06-22 07:45] #50 closed, assigned to hasithaa, manuranga

[2021-06-22 08:26] jclark commented on #105
@gimantha If you have any problems reproducing, please let me know.

[2021-06-22 08:27] #90 closed, assigned to heshanpadmasiri

[2021-06-22 08:32] gimantha commented on #105
@jclark I was able to reproduce most of the issues, but I cannot reproduce the issue here: https://github.com/ballerina-platform/ballerina-lang/issues/31327

For a simple case, I cannot reproduce this. I will have a look again, once I create issues for other comments

[2021-06-22 09:06] gimantha commented on #105
@jclark Also, if i revert this commit locally, will I be able to reproduce this distinct error related issue(bug is mentioned in the commit itself) ? https://github.com/ballerina-platform/nballerina/commit/0ac7b5532e628028d41a4e1f1b06b9c10bd14803

[2021-06-22 18:25] KavinduZoysa commented on #91
@jclark, Please check the below approach with a working sample and add your thoughts/improvements. Sample codes can be found [here](https://github.com/KavinduZoysa/llvm).

In this approach, we can detect the stack overflow by comparing the remaining stack size with the stack frame size we are going to allocate. I have written an [equivalent C code](https://github.com/KavinduZoysa/llvm/blob/master/

[2021-06-23 00:28] jclark commented on #91
Stepping back a bit, the approach is:

1. in the runtime's main, we identify the stack limit (ie a pointer to the end of the stack) and store it in a global
2. at the beginning of each function, we panic if there's a possibility that this function call will exceed the stack limit (except in so far as it calls other functions)

I like this approach. On details:
1. stack limit (we can have a system

[2021-06-23 00:32] jclark opened #122 "Unit test for bitCount in types module can overflow"
It shouldn't ever get a negative value.

[2021-06-23 01:09] jclark commented on #91
We should also be careful we do not do anything that inhibits LLVM inlining.

[2021-06-23 02:15] jclark commented on #105
@gimantha The problem is that with

[code]

it doesn't make these distinct errors: the `is` tests in testSuite.bal don't work.

I think there is a misunderstanding about how distinct types work: https://github.com/ballerina-platform/ballerina-spec/issues/864

I will explain there.

[2021-06-23 02:56] jclark commented on #91
We can divide between C and LL as follows:

* C runtime exports global `char *_bal_stack_limit` for use by LL code
* C runtime has system dependent function setStackLimit(argc,argv,envp), which is called by `main` before calling `_B_main`
* LL code tests whether current stack pointer < _bal_stack_limit + something TBD, and calls _bal_panic if it is

I wonder whether llvm.frameaddress can be relied

[2021-06-23 02:58] jclark commented on #6
We should also look at how this works:

https://clang.llvm.org/docs/UndefinedBehaviorSanitizer.html#stack-traces-and-report-symbolization

[2021-06-23 03:07] jclark commented on #91
Eventually we will want to be able to grow stacks, so strands can start off with small stacks. Here is what Go does

https://docs.google.com/document/d/1wAaf1rYoM4S4gtnPh0zOlGzWtrZFQ5suE8qr2sD8uWQ/pub

[2021-06-23 03:16] jclark commented on #91
Have a look at the section "// go:nosplit" in this

https://dave.cheney.net/2018/01/08/gos-hidden-pragmas

where it shows the code the Go inserts in its prolog to check for stack overflow

[2021-06-23 03:22] KavinduZoysa commented on #91
Thank you @jclark, I will go through these details and come back.

[2021-06-23 03:27] jclark commented on #91
I suggest looking at how llgo (Go on LLVM) deals with stack overflow

https://github.com/llvm/llvm-project/tree/release/10.x/llgo

I couldn't find the relevant code.

[2021-06-23 03:28] KavinduZoysa commented on #91
Sure, I will check that.

[2021-06-23 03:29] jclark commented on #91
Also see

https://lists.llvm.org/pipermail/llvm-dev/2013-September/065333.html

It seems like a good start would be to add up all the space allocated by the alloca instructions (which we can do easily).

[2021-06-23 03:47] heshanpadmasiri commented on #9
@jclark for this I think there are 3 possible options for the `setTarget` method's arguments

1. Possible values are fully qualified target triples like `x86_64-pc-linux-gnu` (Identical to `LLVMSetTarget`)
2. Possible values are short-hands (assuming we are not going to support all possible target) so something like `linux-64` will be the argument and it will be translated internally to `x86_64-pc

[2021-06-23 03:51] jclark commented on #91
I wonder if this will work: after doing all the allocas, but before spilling the parameters into stack, we check whether the address of the last alloca is beyond the limit: we also make sure that there's  some space between _bal_stack_limit and the real stack limit, to allow for anything that LLVM adds itself.

[2021-06-23 05:07] manuranga commented on #91
1. Since LLVM alloca instruction can allocate dynamic arrays (even though we are using it to allocate statically sized things), I don't think there will be a way to get the current stack frame size statically from LLVM.
In the initial version, we should do something simple that doesn't involve finding frame sizes. eg
[code]

2. If it messes with the LLVM optimization, we might have to do this as a

[2021-06-23 06:05] jclark commented on #9
1 looks good to me. We can do something fancier later on.

[2021-06-23 06:54] #114 closed, assigned to jclark, heshanpadmasiri

[2021-06-23 07:01] #122 closed, assigned to jclark

[2021-06-23 23:52] jclark commented on #51
Handle type casts too: they already have the position in BIR.

[2021-06-23 23:53] #95 closed, assigned to jclark

[2021-06-24 00:44] jclark opened #124 "Add command-line option to output normalized AST"
Expose functionality of astString.bal.

[2021-06-24 00:48] jclark opened #125 "Check that parse+ast-to-string is idempotent"
There should be a test that checks this for all our test cases that are not parse errors i.e.

for each test case (not just V ones):

- parse it; if this gives a parse error, continue to the next
- convert parse tree to string; call this S1
- parse S1
- convert parse tree to string; call this S2
- if S1 != S2, fail the test

This should be one test, not one test per input file (so we don't clutter

[2021-06-24 01:30] #105 closed, assigned to gimantha

[2021-06-24 01:44] KavinduZoysa commented on #91
[code]

This is the output of llvm-goc.

[code]

[2021-06-24 02:16] KavinduZoysa opened #126 "Explore on llvm.lifetime.* intrinsics on allocas"
**Description:**
https://llvm.org/docs/LangRef.html#object-lifetime.

These two intrinsics specify the stack object's lifetime. We need to check the importance of adding those intrinsics on allocas.

[2021-06-24 02:41] jclark commented on #126
[gollvm](https://go.googlesource.com/gollvm/) is generating these e.g. https://github.com/ballerina-platform/nballerina/issues/91#issuecomment-867268555

We do not yet use any alloca outside the function. So there may be a simple way to say just that.

This will get more complex with closures, since local variables can be captured in closures, which can have indefinite lifetime. In general we will

[2021-06-24 04:07] heshanpadmasiri opened #127 "Add support for global variables in nback.llvm"
This is to support #91.

@jclark for this I am thinking of adding a new function `getOrInsertGlobal(string name, Type ty) returns Value` similar to [`getOrInsertGlobal`](https://llvm.org/doxygen/classllvm_1_1Module.html#a1ec20a6f23ced1a328d4b1223fa22d96) in C api

[2021-06-24 04:53] jclark commented on #127
@heshanpadmasiri The link you gave is the C++ API. What is the C API?

[2021-06-24 05:10] heshanpadmasiri commented on #127
C API
Add global variable: [`LLVMAddGlobal` ](https://llvm.org/doxygen/group__LLVMCoreValueConstantGlobalVariable.html#ga4ea6995aa41031588c639c2681f2323b)
Get global variable:[`LLVMGetNamedGlobal`](https://llvm.org/doxygen/group__LLVMCoreValueConstantGlobalVariable.html#gafb8efc9027c1b70a7185c45baa8191ea)

[2021-06-24 05:19] KavinduZoysa commented on #91
I did a test to verify the output of `llvm.frameaddress` and compare its' output with the address of the first local var in function. Sample codes can be found [here](https://github.com/KavinduZoysa/llvm/tree/stack-frame-address).

First I have written a [C code](https://github.com/KavinduZoysa/llvm/blob/stack-frame-address/get_frame_addr.c) to print the address of the first local var.
Then I gene

[2021-06-24 05:21] jclark commented on #127
I think we should follow the C API and add methods to Module corresponding to those two functions.

Be careful about types: I believe if you add a global `x` of type `i8`, then `@x` is of type `i8*`. Please test with LLVM.

[2021-06-24 05:27] jclark commented on #91
@KavinduZoysa  How does this work with function inlining? We want to compare using the address from alloca vs using llvm.frameaddress. I am not clear which is more appropriate for our use. If there are multiple allocas, is the address of the last at the end of the stack (i.e. bottom if growing down)?

[2021-06-24 10:57] jclark commented on #98
With https://github.com/ballerina-platform/ballerina-spec/issues/814, for subset 2 `==` and `===` are the same when they are both allowed. The only difference is that for `==`, one of the operands must be a subtype of anydata.

[2021-06-24 11:02] jclark commented on #98
Still to do

- [x] make verifier enforce restrictions on `==` and `!=`
- [x] tests for invalid cases
- [x] make type cast use the helper functions used by equal

[2021-06-24 11:37] KavinduZoysa commented on #91
When we consider function inlining,

- llvm.frameaddress: This intrinsic gives us the frame address of the function after inlining happens. In the above example, let's say foo was inlined inside main. Then this intrinsic provides us the frame address of main.
- address from alloca: If we consider the first address of the variables in foo, when inlining, those variables are allocated after the allo

[2021-06-24 11:59] jclark commented on #91
Yes. The frame size for a function F needs to include at least

1. all the allocas of F,
2. the maximum of the space needed for the arguments of each function that F calls
3. space to save registers

What else is there?  I'm not too worried about 3, because a fixed amount of space can deal with this.  Question is: is there anything other than 1 and 2 that can cause *unbounded* increase in frame si

[2021-06-24 18:10] KavinduZoysa commented on #91
The difference between llvm.frameaddress and address from alloca depends on the size of the first alloca. If the size of alloca is i64, then the difference is 8 bytes, if it is i32 then the difference is 4 bytes.

Yes, I also did not found any other reason for unbounded increase in frame size. I will check more on that.

[2021-06-24 22:23] jclark commented on #91
Given the point about llvm.frameaddress and inlining, I don't think llvm.frameaddress is going to work well for stack overflow checking, because we cannot estimate our frame size in a way that's consistent with llvm.frameaddress when inlining has been done. Of course, we could add a LLVM pass to insert these checks, but then we don't need llvm.frameaddress. So it's clear to me that at this stage w

[2021-06-25 03:10] jclark opened #129 "Implement conditional type narrowing"
This is specified here: https://ballerina.io/spec/lang/2021R1/#section_6.17

This is needed for a language subset that includes either `is` expressions or  `T?` types (because `x != ()` narrows `T?` to `T`).

[2021-06-25 03:13] jclark commented on #129
One part of the problem is how to support this in BIR in a clean way that can be straightforwardly verified as type-safe in the BIR.

My current design for this part of the problem is here: https://github.com/ballerina-platform/nballerina/blob/9990d88f4417e2def109a51f3fb30ea90d7aa2d3/compiler/modules/bir/bir.bal#L319

[2021-06-25 03:56] jclark commented on #98
Still more to do:

- [x] V tests to check that `==` and `!=` are allowed in places they should be
- [x] Document that we have implemented https://github.com/ballerina-platform/ballerina-spec/issues/814

[2021-06-25 04:10] KavinduZoysa commented on #91
I am working on this, I will update as soon as possible.

Just to verify this, `address_from_alloca` is the address of the last alloca for a given function and `stack_guard` is the `stack_limit + CONSTANT memory size`. Please correct me if I am wrong.

[2021-06-25 04:20] jclark commented on #101
Better to do #129 first.

[2021-06-25 04:36] jclark opened #130 "Implement minimal subset of `string` type"
This minimal subset does not allow the construction of new strings at runtime and does not expose the structure of a string as a sequence of characters. This allows for a simple initial implementation.

* New type descriptor: `string`
* New expressions: string literals `"abc"`

We can also have a compile-time limits on string literals (e.g. length or which code points are allowed).

Existing synta

[2021-06-25 04:37] jclark opened #131 "Implement method call syntax for calling langlib functions"
New syntax: `v.foo(arg)` for calling langlib functions.

Implement array:length.

[2021-06-25 04:49] jclark opened #132 "Implement optional type descriptor"
This is the type-descriptor `T?`. Specified here: https://ballerina.io/spec/lang/2021R1/#section_5.6.9

Requires #129

[2021-06-25 04:50] jclark opened #133 "Implement nil type descriptor"
Specified here https://ballerina.io/spec/lang/2021R1/#nil-type-descriptor

[2021-06-25 04:51] jclark opened #134 "Implement `null` as nil literal"
Specified here: https://ballerina.io/spec/lang/2021R1/#nil-literal

[2021-06-25 04:54] jclark opened #135 "Implement minimal subset of `any[]`"
This does arrays of `any` without mutation.

Includes:

* New type descriptors: `any[]`
* New expressions
   * list constructors `[1, 2, 3]` - syntactically allowed only where there is an explicit contextually expected type e.g. as function argument, initializer or following a type cast
   * `E[n]`

Existing syntax extended:
* `===`, `!==`
* `io:println`

Note: at this point `io:println` does not

[2021-06-25 05:19] jclark opened #136 "Implement minimal subset of record types"
* Add type definitions with syntax `type T record {| ... |};` (only)
* Allow type descriptor in function definitions and variable declarations to refer to type definition
* Expression syntax
  * mapping constructor `{ xyz: E }` syntactically allowed only where there is an explicit contextually expected type e.g. as function argument, initializer or following a type cast
  * field access E.x

Exist

[2021-06-25 06:07] jclark commented on #91
Eventually, I would expect address_from_alloca to be the first alloca of the function minus an estimate of the frame size (or the last plus an estimate of space used for arguments of called functions); stack_guard to be as you say.

For now, I would expect stack_guard to be the address of a local variable in main minus a constant for the allowed size of the stack (e.g. a megabyte) and address_from

[2021-06-25 06:38] #98 closed, assigned to jclark

[2021-06-25 07:31] KavinduZoysa commented on #91
I have run a couple of tests to check the impact of mem2reg optimization. If we have used a particular alloca as shown below then those allocas will not be removed after mem2reg optimization.

before mem2reg:
[code]

after mem2reg:
[code]

When we consider the function inlining, the callee function's allocas are merged with callers allocas. But the alloca we used to get `address_from_alloca` will

[2021-06-25 08:06] manuranga commented on #91
Since are not planing to be precise at this stage, wouldn't it be better to do:
[code]
1) It will not mess with any optimizations. From the llvm docs:

2) Check will be redundant when inlined but not incorrect.

[2021-06-25 09:26] jclark commented on #91
@KavinduZoysa What does the assembly look like for that example?

@manuranga llvm.frameaddress is a step in the wrong direction: I can’t see any way to make an approach based in llvm.frameaddress robust.  Using the address of an alloca, we can make it robust by putting an upper bound on stack usage based on number of allocas and number of arguments passed to called functions.  Optimization cost is

[2021-06-25 09:27] jclark commented on #91
I think the C equivalent of llvm.frameaddress __builtin_frame_address is useful in main. Taking the address of a stack variable and adding to it is undefined behaviour in C.

[2021-06-25 10:30] KavinduZoysa commented on #91
Please find the below assembly for the checking code above example.

before mem2reg:
[code]

after mem2reg:
[code]

After mem2reg optimization, since only one alloca is left, that is taken to compare.

[2021-06-25 13:01] jclark commented on #127
@heshanpadmasiri You shouldn't rely on iteration order over a map. I fixed this. I also cleaned up getIntrinsicDeclaration and tweaked a few other things.  Please try to follow my style. https://github.com/ballerina-platform/nballerina/commit/2b3629c42ce6864d9c9cfc079ae11fe0d7fd352e

[2021-06-25 13:01] #127 closed, assigned to heshanpadmasiri

[2021-06-26 01:24] jclark opened #138 "Check that we do not allow assignment for parameters"
Parameters are implicitly final in Ballerina.

Need to check we are enforcing this.

[2021-06-26 01:25] jclark opened #139 "Check constraints on `main`"
Constraints are:

- needs to be `public`
- doesn't currently allow arguments
- return type must be nil

[2021-06-26 02:12] #91 closed, assigned to KavinduZoysa

[2021-06-26 02:14] jclark commented on #91
What I implemented was to do use an extra alloca for the compare against stack_guard. After optimization, this seems to end up pretty much the same as frameaddress in the presence, so it's not as robust as I would like. I will create a separate issue to improve this.

[2021-06-26 02:28] jclark opened #140 "Improve robustness of stack overflow detection"
Follow on from #91.

Currently implemented solution is as follows:
- in the runtime in `main`, we set up a stack_guard global variable which is 1Mb beyond the frame pointer of `main`
- after doing an alloca for each BIR register, but before saving the parameters into registers, we do an extra alloca and compare that against stack_guard; we then panic, if it is the result of the alloca is past the

[2021-06-26 02:33] #92 closed, assigned to manuranga

[2021-06-26 02:39] jclark opened #141 "Implement `foreach` with `..<`"
Implement a subset of `foreach` that uses `..<` e.g.

[code]
This can turn into the same as a `while`, but for incrementing the loop variable, we can use an addition without the need to check for overflow.

This is useful with #130 or #135

[2021-06-26 03:39] jclark opened #142 "Langlib functions on string"
Start with:
    * string:substring
    * string:getCodePoint

Depends on #130.

[2021-06-26 03:40] jclark commented on #142
More useful with  #131

[2021-06-26 03:42] jclark opened #143 "Member access on strings"
This is the  `E[k]` syntax applied to the string type. It panics for out of bounds index.

Type of this is `string:Char`, which might have an optimized representation.

Depends on #130.

[2021-06-26 04:38] jclark opened #144 "Implement `is` operator"
This is straightforward by itself, since type casts already do this.

The difficult part is that it requires #129.

[2021-06-26 06:30] manuranga commented on #140
Did some research on existing implementations, here is a summary

**1) Guard page**

1.1) Plain Guard pages -

- Used by pthreads with pthread_attr_setguardsize

1.2) Guard pages with probing - Same as above but prevents "Stack Clash" exploit by checking each page when allocating chunks bigger than a page.

- Used on Windows, by default
- Used by GCC when enabled by `-fstack-check`
- Used by Rust,

[2021-06-26 06:51] jclark commented on #140
Useful info: 2.2 looks promising. But this can wait for quite some time.

[2021-06-26 11:50] jclark opened #145 "Implement record mutation"
This follows on from #136 and provides `r.x` as an lvalue, e.g.

[code]

It would also be natural to support at least `array:push` and `array.setLength`.

This requires dealing with inherent types. It also means that `==` needs to deal with cycles.

[2021-06-26 12:40] jclark commented on #51
- [x] Separate out arithmetic binary ops from other ones
- [x] Include position in AST for arithmetic binary ops
- [x] Include position in BIR for arithmetic binary ops
- [x] Pass position information to panic function for arithmetic ops
- [x] Pass position information to panic function for type cast
- [x] Fix runtime to print out position information if present
- [x] Fix testll.sh to check that l

[2021-06-27 12:59] #51 closed, assigned to jclark

[2021-06-28 01:17] jclark opened #147 "Have parts of runtime library in `.ll` files that can be inlined"
I think the right way to do this is with [llvm-link](https://llvm.org/docs/CommandGuide/llvm-link.html).

[2021-06-28 01:28] jclark commented on #147
Basic idea is we have a file `runtime/builtins.ll` containing functions small enough that

- we can practically write them by hand in LLVM assembly
- they are candidates for inlining

Compilation process is:
- add build process to runtime directory which assembles builtins.ll into builtins.bc and balrt.c into balrt.bc
- compilation script
  1. runs the compiler jar to turns the .bal for a module i

[2021-06-28 03:45] #138 closed, assigned to jclark

[2021-06-28 03:46] jclark opened #148 "Implement `final` in local variable declaration statements"
Some of the work was done in #138.

[2021-06-28 05:07] heshanpadmasiri commented on #100
@jclark for this I am thinking of adding new function `public function sext(Value val, IntType destTy, string? name=()) returns Value` (similar to [`LLVMBuildSExt`](https://llvm.org/doxygen/group__LLVMCCoreInstructionBuilder.html#ga1c17766d2faab1903b336c306ab3ce9f)) to `Builder`

[2021-06-28 05:25] jclark commented on #100
Should be `sExt`. Note that I did `zExt` already.

[2021-06-28 05:34] jclark opened #149 "Use non-integral address space for heap pointers"
In order to take advantage of LLVM's support for garbage collection, pointers in the heap should be in a non-integral address space.

This requires at a minimum:
1. declaring address space 1 as non-integral
2. specifying an address space in the pointer type
3. using address space casts before doing ptrtoint/inttoptr

[2021-06-28 05:36] jclark commented on #149
@KavindoZoysa To start with I suggest we take an example of code generated by the compiler now that uses the heap (i.e. for boxing and unboxing `int`s), and then figure out the modifications needed to use a non-integral address space.

[2021-06-28 05:57] jclark opened #151 "Implement array mutation"
This builds on #135 to allow mutation of arrays.

- [x] Allow a statement consisting of a method-call-expr
- [x] Implement `array:push` langlib function for `any[]`
- [x] Make `io:println` handle cycles.
- [x] Parse lvalues in assignment `V[k] = E;`
- [x] Generate ListSetInsn BIR instruction
- [x] Implement ListSetInsn in backend and runtime

[2021-06-28 06:15] jclark opened #152 "Implement string concatenation"
This provides the `+` operator on strings, which requires the ability to construct new strings at runtime.

This builds on #130.

[2021-06-28 06:24] jclark opened #153 "Use LLVM unnamed local identifiers"
At the moment, llvm.nback uses a named LLVM local identifier starting with `_`  (e.g. `%_17`) when the API user does not specify a `name` argument. It would be better for it to use an unnamed LLVM identifier (e.g. `%17`). This would improve the similarity of code generated using llvm.nback and using #19.

This isn't as simple as just leaving out the `_`: LLVM has a specify method of numbering basi

[2021-06-28 07:44] #139 closed, assigned to nobody

[2021-06-28 11:03] #119 closed, assigned to manuranga

[2021-06-28 11:05] #96 closed, assigned to manuranga

[2021-06-28 11:17] jclark opened #154 "Write definition of subset 3"
Main thing is #135.

[2021-06-28 11:32] jclark commented on #9
This solution doesn't work because clang may require specific unpredictable target on a particular system e.g. `x86_64-apple-macosx10.15.0`.

So I think what we need to do is have a script that uses `llvm-config --host-target` to generate the toml file specifying the right option for the configurable target variable.

[2021-06-28 11:34] #100 closed, assigned to heshanpadmasiri

[2021-06-28 11:36] jclark commented on #147
Not sure if this is the right approach.

Might be better for nback to generate the function definition using the nback-llvm API. This allows it to use constant definitions and the like that are defined in the nback module.

[2021-06-28 12:05] jclark opened #155 "Implement LLVM instructions needed for `any[]`"
For #135, we will need:

- ability to create array types (i.e. LLVMArrayType)
- getelementptr with multiple arguments

[2021-06-28 12:12] jclark commented on #135
We can split this into the following steps:

- [x] construct a list and print it out with io:println (I think code for identity will work as is)
- [x] add `any[]` type descriptor
- [x] make `E[n]` work
- [x] check that `===` works properly
- [x] check that `==` is not allowed

[2021-06-29 03:39] jclark commented on #154
Defined [here](https://github.com/ballerina-platform/nballerina/blob/main/docs/subset03.md).

[2021-06-29 03:39] #154 closed, assigned to jclark

[2021-06-29 04:04] KavinduZoysa commented on #149
@jclark,
`%_7 = getelementptr i8, i8* %_5, i64 144115188075855872 ; adding the TAG_INT`

You have mentioned that doing this way helps to work with non-integral pointers. That is not clear to me. Can you help me to understand this?

[2021-06-29 04:13] jclark commented on #149
@KavinduZoysa I believe `getelementptr` works with NI pointers. The other way to do it would be with a ptrtoint/inttoptr pair, which would not work with NI pointers.

[2021-06-29 04:33] jclark opened #156 "Implement new design for unreachability"
As specified in this issue:

https://github.com/ballerina-platform/ballerina-spec/issues/887

[2021-06-29 04:39] jclark commented on #155
We are going to need `inbounds` on GEP also.  The full GEP is quite complicated, particularly getting the types right.

@heshanpadmasiri Please be sure to test the complicated examples at https://llvm.org/docs/LangRef.html#getelementptr-instruction to make sure the types are right and that LLVM accepts what you're generating.

[2021-06-29 05:21] KavinduZoysa commented on #149
Thank you, I understood the reason.
[code]

For the above example, initially, I came up with [this llvm IR](https://github.com/KavinduZoysa/llvm/blob/with-addrspace/with-addrspace.ll).

Currently, I am working on understanding other languages' implementations, to figure out what they have done for this use case.

[2021-06-29 05:41] jclark commented on #149
Thanks. That's very helpful.  Can you check this in the main repo in experiments/addrspace? It would be helpful to have both the original version and your hand modified .ll, so I can diff them. Also can you do something including the io:println so we can see it's working?

When you compile with -O3, do you get the same `.s` as with the original version without address spaces?

[2021-06-29 05:46] jclark opened #157 "Figure out what code to generate for bounds checking"
In implementing #135, we will need to generate code for `E[i]` that checks that `i` is >= 0 and < length of the array. I am wondering whether we can just generate the obvious code or whether there's something special we need to do to allow LLVM to optimize.

I suspect we need an attribute on __bal_alloc that says that the return value does not refer to any existing object.

@KavinduZoysa Can you i

[2021-06-29 06:26] heshanpadmasiri commented on #155
@jclark for array type I am planning on adding following

1. New public type `ArrayType` and public function `arrayType(Type ty, int ElementCount) returns ArrayType` similar to `StructureType` ([`LLVMArrayType`](https://llvm.org/doxygen/classllvm_1_1ArrayType.html))
2. New public function `ConstArray(IntType ty, int[] values) returns Value` (I am assuming currently we need only integers here) ([`L

[2021-06-29 06:54] KavinduZoysa commented on #149
Sure, I will work on this.

 Yes, both are same.

[2021-06-29 07:17] jclark commented on #155
The function should have been called getElementPtr not getElementPointer, since our naming convention are using the LLVM instruction name with additional capitalization.

Better to make the argument: `"inbounds"? inBounds = ()`. This make the call more readable.

I don't think I need constArray for subset 3. We will need it eventually, but we'll need pointers too.

[2021-06-29 08:45] KavinduZoysa commented on #157
Sure @jclark, I will check

[2021-06-29 09:59] jclark commented on #149
I'm surprised by this:

[code]

I would have expected a different name for the overload i.e. `llvm.ptrmask.p1i8.i64`: I thought `p0i8` meant pointer in address space 0 to i8.

[2021-06-29 10:06] jclark commented on #149
The declaration of _bal_alloc raises the interesting question (related to #147) on how we are going to deal with address space 1 in the runtime library. I am nervous about declaring it as addrspace(1) when we use it, but defining it as addrspace(0) and just linking together.

I think what we're doing here is the same as gollvm.

[2021-06-29 10:10] jclark commented on #149
@KavinduZoysa If you run `opt` on the IR with address space 1, does that transform to address space 0 or is that done later? Is there some way to run the pass that does this?

[2021-06-29 10:59] KavinduZoysa commented on #149
@jclark, Sorry I did not understand what you expect here. What you mean here is, finding a pass that transforms IR with address space 1 to address space 0?

[2021-06-29 11:35] jclark commented on #149
@KavinduZoysa At some point address space 1 gets lowered to address space 0. I am trying to understand when that happens. Is it part of the optimization pipeline or does it happen later?

[2021-06-29 19:31] KavinduZoysa commented on #149
According to address space usage of Julia language, it does not happen in the optimization phase. Because they use address spaces to preserve GC roots in the optimization phase. http://mortenpi.eu/gsoc2019-mockups/bulma/v10/julia/devdocs/llvm.html#Representation-1

I am currently trying to find out exact place of this address space lowering happens.

[2021-06-29 22:51] jclark commented on #149
That makes sense. I remember now reading that the statepoint stuff needs target-specific support.

Is there a way to get `llc` to show the IR after lowering the non-integral address spaces?

[2021-06-29 23:45] jclark opened #160 "Improved uniform type tag numbering scheme"
This scheme will work better:

Tag | Basic type | Mutability
-- | -- | --
0x00 | nil | ro
0x01 | boolean| ro
0x02 | list | ro
0x03 | mapping | ro
0x04 | table | ro
0x05 | xml | ro
0x06 | object | ro
0x07 | int | ro
0x08 | float | ro
0x09 | decimal | ro
0x0A | string | ro
0x0B | error | ro
0x0C | function | ro
0x0D | typedesc | ro
0x0E | handle | ro
0x0F | (unused) |  
0x10 | future | rw
0x11 | str

[2021-06-29 23:46] jclark commented on #160
This should be defined once in a separate file in the types module. Then we should generate a C header file from it with sed for use by the runtime.

[2021-06-30 03:54] #160 closed, assigned to nobody

[2021-06-30 04:08] jclark commented on #155
@heshanpadmasiri Unless you are nearly finished with this, could you do a pull request for the easy bit first? i.e.

* add arrayType
* change name and declaration  of getElementPtr, but panic if it has more than one index

[2021-06-30 07:31] KavinduZoysa commented on #149
@jclark, I tried but still did not find a way to generate IR after lowering the ni address space. I generated the .bc(LLVM Byte Code) from .ll using `llvm-as` and used that .bc to generate the .ll back(`llvm-dis`). Compared those llvm IRs and still, the address spaces are there. I am investigating more to find a way.

[2021-06-30 09:14] #155 closed, assigned to heshanpadmasiri

[2021-07-01 05:04] KavinduZoysa commented on #157
[code]
For the above example, I have generated the llvm IR and the relevant part for us is added below. So they are compare the index and length as ususal.

[code]
Also for an example like this, They are doing the same this, which means compare the index and length.

[code]

[2021-07-01 05:27] KavinduZoysa commented on #157
Also, for an example something like this (iterate over the slice), they are checking the index for each iteration as shown above. I am still investigation more on this because the checking the lower bound and upper bound is enough for an example like this.

[code]

[2021-07-01 05:57] jclark commented on #157
There is an important detail here.

The obvious thing would be to check that the index (which is a signed int) is both less then the length and, greater than or equal to 0 (i.e. do *two* compares) but instead they are doing it only *one* compare, by doing an *unsigned* compare of the index against the length.

[2021-07-01 07:35] jclark opened #164 "Add option to set GC strategy"
This would be an additional command-line option on the driver that takes the name of the strategy e.g. `--gc "example"`

If this is used then, the compiler will call `F.setGC(strategy)` on each function definition, which will result in  the LL IR including `gc "example"`, e.g.

[code]

as described here: https://llvm.org/docs/GarbageCollection.html#quick-start

[2021-07-01 07:36] jclark commented on #164
@heshanpadmasiri Is there a way to do this through the JNI/LLVM C interface?

[2021-07-01 07:44] jclark opened #165 "Identify GC roots on the stack"
Based on #149 and #164, we need to build the capability to identify at runtime the GC roots on the stack.

Concretely, we want to add a C file to the runtime directory that provides a `markRoots` function that can be used by our garbage collector:

[code]

Not sure if this is the best API. We should probably look MMTK and figure out something that is a good fit.

[2021-07-01 07:48] heshanpadmasiri commented on #164
Yes it has a function `public static native void LLVMSetGC(LLVMValueRef Fn, String Name)` that does this.

[2021-07-01 08:25] jclark commented on #164
@heshanpadmasiri Great! At some point, can you add this to nback.llvm? (No urgency.)

[2021-07-01 08:35] #157 closed, assigned to KavinduZoysa

[2021-07-01 08:36] jclark commented on #135
See https://github.com/ballerina-platform/nballerina/issues/157#issuecomment-871944555 for bounds checking on `E[n]`: we can do a single unsigned compare of the i64 index against the length.

[2021-07-01 08:44] jclark commented on #149
Remaining thing I am not clear about is what we need in the datalayout. Can we just have this?

[code]

If not, what's the minimum we need and will it work for all our targets (x86_64 and ARM, Linux, Mac and Windows)?

[2021-07-01 11:49] jclark commented on #134
`io:println` uses null to print out nil members of arrays, so it makes sense to add this in subset 3.

[2021-07-01 12:29] jclark opened #166 "Implement arrays of basic types"
This adds support for the type descriptors:

* `int[]`
* `string[]`
* `boolean[]`

by adding an inherent type to the runtime representation of arrays. The inherent type can be represented by a bit vector of the uniform types of the allowed members (i.e. a `UniformTypeBitSet`).

We have to support `==` and `!=` on these, but we don't yet need to support comparison of values with cycles.

This build

[2021-07-01 16:18] KavinduZoysa commented on #149
Except `ni:1` part in the data layout string, the rest of the part is auto-generated and `ni:1` was added manually. Therefore we only need to specify `ni:1` to mark the pointer types of particular address space as non-integral. I was able to test (i.e. `target datalayout = "ni:1"`) this only with linux. Also according to the [datalayout document](https://llvm.org/docs/LangRef.html#langref-datalayo

[2021-07-02 00:55] jclark opened #167 "Implement minimal subset of `error` type"
This involves:

- support error values
- new type descriptor `error`
- new expression syntax `error(E)`
- `T|error` and `error?` as return values only (including for `main`)
-  `panic E;` statement

Follow ons are
- `check E` , `checkpanic E`  expression #406
- langlib `error:message` function #407

This needs #130.

This would be more useful if we have the `is` operator #144 and unions generally.

[2021-07-02 01:57] jclark opened #168 "Implement `byte` type descriptor"
This requires extra typing rules for bitwise operators.

I think it will probably work best to represent *variables* of type `byte` the same as variables of type `int`, but we can leverage the limited range in a few ways:

- there is no possibility for addition, subtraction and multiplication to panic
- when converting to a tagged pointer #99, it will always fit

This applies also to int:Signed32,

[2021-07-02 02:09] jclark opened #169 "Implement `byte[]` as array of bytes"
This  implements `byte[]` using a specialized representation of arrays that represents the array as an array of bytes.

We have to deal with the fact that an `byte[] <: any[]`, so code dealing with `any[]` will have to deal with the (unlikely possibility) that it gets an array of bytes rather than a tagged pointer. (This is now handled using exactness.)

This depends on #168.

[2021-07-02 02:23] jclark opened #170 "Implement `map<any>`"
This introduces a new type descriptor `map<any>`.

* New type descriptor: `map<any>`
* New expressions
   * mapping constructors `{ "xyz": E }` - allowed in same syntactic contexts as list constructors
* Langlib
  * map:length

Existing syntax extended:
* `===`, `!==`
* `io:println` handles maps
* `E[k]`
* `M[k] = E`
* `<map<any>>E`

This depends on #130.

Implementation steps:
- [x] Design AST fo

[2021-07-02 02:26] jclark commented on #170
A good implementation strategy would be Python's "compact dict" data structure. https://morepypy.blogspot.com/2015/01/faster-more-memory-efficient-and-more.html

See also: https://blog.toit.io/hash-maps-that-dont-hate-you-1a96150b492a

This is a good balanced overview https://bigdata.uni-saarland.de/publications/p249-richter.pdf

[2021-07-02 06:15] KavinduZoysa commented on #149
@jclark, I have a concern regarding this address space example.
https://github.com/ballerina-platform/nballerina/blob/main/experiment/addrspace/with_addrspace.ll

Since we only need to push heap pointer to ni address space, we do not need to push `%v` to ni address space as shown in [here](https://github.com/ballerina-platform/nballerina/blob/main/experiment/addrspace/with_addrspace.ll#L10).
If so

[2021-07-02 07:59] jclark commented on #149
Hmm.  My understanding is that address space is associated with the thing you're pointing to.  (It works like `const` in C.) So

- `i8 addrspace(1)` is a byte on the heap and
- `i8 addrspace(1)*` is a pointer on the stack pointing to an a byte on the heap
- `i8 addrspace(1)* addrspace(1)` is a pointer on the heap pointing to a byte on the heap

So this example needs the addrspace as it.

Try an ex

[2021-07-02 11:42] #135 closed, assigned to jclark

[2021-07-03 03:57] jclark commented on #149
Another part of this problem is how to make address spaces work with runtime functions written in C. It turns out that clang has an (undocumented) `address_space` attribute that allows you to write:

[code]

and the IR gets `i8 addrspace(1)*` in it and has the appropriate `addrspacecast`!

This should make it quite a bit easier to get our runtime code to work with GC.

[2021-07-03 07:04] KavinduZoysa commented on #149
Some useful information.

This is the commit for adding non-integral pointer support in gollvm https://go.googlesource.com/gollvm/+/69a2c98b2992aff8efc4e4195b8b319a361cae97%5E%21/

- It categorizes each pointer type for address space 0 and 1
- It adds a pass to remove addrspacecast after the statepoint insertion pass

This is the Julia lang commit for remove address spaces.
https://github.com/Juli

[2021-07-03 09:52] jclark commented on #149
The gollvm approach makes good sense to me.

Why does Julia need all these address spaces?

[2021-07-03 12:32] jclark commented on #141
According to https://llvm.org/docs/Frontend/PerformanceTips.html#restricted-operation-semantics we should also use `nsw` on the addition.

[2021-07-03 12:35] jclark commented on #141
We really need three different varieties of add:

1. may panic on overflow
2. guaranteed by compiler not to overflow
3. wrap on overflow

The NO_PANIC BIR instructions should be type 2 and should generate LLVM IR with `nsw`. We can have langlib functions to explicitly generate type 3.

[2021-07-03 15:59] manuranga commented on #141
With addition of `nsw` (and other optimized instructions) it'll be useful to incorporate `opt -passes=poison-checking`. Otherwise tests can pass due to undefined behavior.

[2021-07-03 23:38] jclark commented on #141
@manuranga Is there a clang argument to do that?

[2021-07-04 01:03] jclark commented on #166
If we have `array:push`, then this will require making it generic.

[2021-07-04 01:46] #131 closed, assigned to jclark

[2021-07-04 01:50] jclark commented on #103
Another interesting lexical case is `1<<int>2`. I think that's probably a parse error.

[2021-07-04 03:53] jclark commented on #166
Each of these types has a different filler value also.

[2021-07-04 11:29] manuranga opened #173 "Redeclared symbols should cause a semantic error"
Following compiles without errors

[code]

[2021-07-04 12:14] manuranga commented on #141
Couldn't find a way to directly do it. Running though `opt -S` command and then passing the output to `clang` works.

[2021-07-04 12:14] manuranga commented on #141
What would be the best way to code gen foreach:

## 1) Desuger and call codeGenStmts
[code]
### Pro:
We could formalize desguring pattern and have a set of unit tests, similar to how LLVM tests passes.

### Con:
Need new AST elements to represent non-panicking add in addition to new bir instruction
Need check how to deal with scope leak

## 2) Desuger and codeGen each
[code]
### Pro:
More control

[2021-07-04 12:16] #173 closed, assigned to nobody

[2021-07-04 12:35] jclark commented on #141
Code gen directly. If there's significant common code between foreach and while, then we can factor that out in due course (you can leave that to me.)

I view BIR as the desugared form of the syntax.

[2021-07-04 18:27] KavinduZoysa commented on #149
AFAIU, those are Julia specific address spaces that are defined to hold GC tracked pointers, in order to preserve after optimizations.

[2021-07-04 21:29] jclark commented on #149
That much I understand. But why does it need *multiple* such address spaces?

[2021-07-05 02:28] KavinduZoysa commented on #149
This Julia documentation explain about the selection about their address spaces.
https://docs.julialang.org/en/v1/devdocs/llvm/#Representation

[2021-07-05 06:04] heshanpadmasiri opened #174 "Make outputs from `jni.llvm` and `print.llvm` comparable"
C-API perform constant folding on generated code while our API does not for example:
[code]
in our API will be
[code]
in C API. This will prevent validation by comparing generated codes.

[2021-07-05 06:09] heshanpadmasiri commented on #174
This also need to address more complex situations such as
[code]
to
[code]

[2021-07-05 06:21] jclark commented on #174
Diff cases here
[print-jni-diff.txt](https://github.com/ballerina-platform/nballerina/files/6762160/print-jni-diff.txt)

[2021-07-05 06:23] jclark commented on #174
I wonder if there is a way to make the C API not do this constant folding.

Edited: I found this suggestion online:

The issue then is to get to this using the C API.

[2021-07-05 06:26] jclark commented on #174
Things we've tried that don't work:

- use` ll-as | ll-dis` to canonicalize
- use `clang -c -emit-llvm` to try to canonicalize

[2021-07-05 06:27] jclark commented on #174
Another possibility is to compile both .ll files to .s (with `clang -O2 -S`) and see if we get identical results.

[2021-07-05 07:16] heshanpadmasiri opened #175 "Codegen adds unreferenced empty basic blocks"
For test case `Vwhile05.bal` it will create an empty basic block that is not referred (no predecessor)
bal code:
[code]
generated llvm-ir:
[code]
Note the missing `L3` current implementation of `nback.llvm` will not print empty basic blocks that are not referred.

[2021-07-05 07:20] heshanpadmasiri commented on #174
Running `opt -instcombine` on both will make them comparable

[2021-07-05 07:20] #174 closed, assigned to jclark, heshanpadmasiri

[2021-07-05 07:25] jclark commented on #175
When we do #156, this case will turn into an unreachable code error.

[2021-07-05 12:04] jclark commented on #151
Decided not to do array:setLength now.

[2021-07-05 12:04] #151 closed, assigned to jclark

[2021-07-05 12:07] #19 closed, assigned to heshanpadmasiri

[2021-07-05 12:09] jclark commented on #175
Note that this causes a difference between the results from the two LLVM backends for this case.

[2021-07-06 01:50] jclark opened #176 "Make `_bal_panic` have appropriate LLVM attributes"
It should have at least `cold`, which tells LLVM to optimize on the assumption that it is rarely called, and `noreturn`.

[2021-07-06 02:09] jclark opened #177 "Make return value of `_bal_alloc` have `noalias` attribute"
Semantics are:

Note that this requires the LLVM backend to attach attributes to return values not just to functions.

[2021-07-06 03:31] #134 closed, assigned to nobody

[2021-07-06 04:08] manuranga opened #180 "Implement non-panicking integer addition"
Implement non-panicking integer addition

Originally part of  #141. See [comment](https://github.com/ballerina-platform/nballerina/issues/141#issuecomment-873401106)

[2021-07-06 04:30] #141 closed, assigned to manuranga

[2021-07-06 04:54] heshanpadmasiri opened #181 "Add `LLVM` support for `nsw` arithmetic operations"
@jclark for this I am planning of adding fallowing changes to the public API

1. Add new `public type BinaryNSWArithmeticOp "add"|"mul"|"sub"` (This is because not all of the current `BinaryArithmeticOp`s have a `nsw` version
2. Add new function to builder as `public function binaryNSWInt(BinaryNSWArithmeticOp op, Value lhs, Value rhs, string? name=()) returns Value` (Similar to `binaryInt` in cur

[2021-07-06 06:11] jclark commented on #181
This is for #180.

[2021-07-06 07:01] jclark opened #183 "Unary minus does not handle overflow"
I think we have a bug here: `buildIntNegate` just calls `sub` without checking for INT_MIN.

[2021-07-06 07:11] jclark commented on #181
Hmm. That feels a bit ugly to me. We need to rethink our naming here.

Fundamentally I think there are three groups:

1. add/mul/sub
2. sdiv/srem
3. xor/or/and (and the shift operations)

where (1) has flags for wrapping. Also note that (1) corresponds to the operations that have `*.overflow` intrinsics.

The difference between (1) and (2) is that (2) is signed, whereas (1) is signless: in two's c

[2021-07-06 08:11] #183 closed, assigned to nobody

[2021-07-06 10:50] jclark commented on #180
I am not completely clear about whether for non-panicking add we want `nsw` or both `nuw` and `nsw`. Does it make a difference?

[2021-07-07 01:18] #181 closed, assigned to nobody

[2021-07-07 04:19] #164 closed, assigned to heshanpadmasiri, KavinduZoysa

[2021-07-07 07:14] manuranga commented on #180
Let's consider `i4` for simplicity. So the valid numbers are 0 to 7 (unsigned) or -4 to 3 (signed).
LLVM doesn't know if they are signed or not, but that's OK, because in two's complement you don't need to know that to do operations. But what overflow means changes depending on if it's signed or not.

Eg:
Signed
 -1 + 1 = 0b111 + 0b001 = 0b000 = 0  - shouldn't be considered overflow,  can claim `n

[2021-07-07 07:20] jclark commented on #180
Thanks for figuring this out.  Since the C API does not appear to support nsw+nuw, I suggest

- we make the non-panicking BIR instructions compile into LLVM instructions with just nsw for now
- we create an issue to add `nuw` for loops with non-negative lower bounds in the (distant) future

[2021-07-07 07:22] KavinduZoysa commented on #165
@jclark, when we are adding the statepoint intrinsic for call/invoke instructions to track the GC roots in StackMap section, what we can do is running the opt command (with `--rewrite-statepoints-for-gc` flag). But in gollvm, they have written a pass called [go-statepoints](https://go.googlesource.com/gollvm/+/refs/heads/master/passes/GoStatepoints.cpp) which is same as [rewrite-statepoints-for-gc

[2021-07-07 08:16] jclark commented on #165
I don’t understand the question. Why can we not use `opt —rewrite-statepoints-for-gc` for now? I guess eventually we will have to add our own pass.  This is what you need to figure out…

[2021-07-07 08:26] KavinduZoysa commented on #165
When I was testing the statepoints, I also used `opt —rewrite-statepoints-for-gc`. When I am looking at the gollvm source code I saw they are using a different pass for that. That is why I need to ask whether we use the command-line option or a different pass in our initial implementation.
Now I understood.

[2021-07-07 11:19] manuranga commented on #180
I tested the merge sort case with these options. I don't see any difference between`add` vs `add nsw`. Perhaps these only matter in C where automatic integer promotions need to happen.

Even more surprisingly, even though it produces inconsequentially different assembly, there is no improvement over the panicking version. Looks like llvm good at getting rid of `@llvm.sadd.with.overflow.i64`s.

[2021-07-07 12:49] jclark commented on #180
That is surprising.

[2021-07-07 23:36] #180 closed, assigned to manuranga

[2021-07-07 23:43] jclark commented on #176
Not sure what, if anything, to add to the C declaration.

[2021-07-07 23:45] jclark opened #188 "Add LLVM API support for address spaces"
Needs

* pointers with address spaces,
* addrspacecast

Needed for #199

[2021-07-07 23:55] jclark commented on #147
New plan:

1. write the inlineable code in C
2. compile into `.ll` with `clang -emit-llvm`
3. run it through a sed script to fix linkage (I believe we need `linkonce_odr`) and anything else necessary
4. pipe the output of into the llvm assembler to generate a `.bc`
5. llvm-link all such .bc files into a single `balrt.bc`
6. when compiling a program, llvm-link the `.ll` (from nballerina) and `balrt

[2021-07-08 01:04] jclark opened #189 "Generate `dso_local` when appropriate"
clang generates function definitions using `dso_local`.

Understand what this means and do it, if it makes sense for us.

[2021-07-08 01:05] jclark opened #190 "Remove workarounds no longer needed with slbeta2"
The code has a lot of ugly workarounds for jBallerina bugs.

We should get rid of as many as possible as we can now that slbeta2 is out.

[2021-07-08 01:07] jclark opened #191 "Report unreported compiler bugs still present in slbeta2"
There are some unreported bugs (marked with JBUG comments).

Find out which of these still apply in slbeta2 and report as necessary, adding bug numbers.

[2021-07-08 03:28] heshanpadmasiri commented on #188
@jclark for supporting pointers with address spaces I don't think we need to add any changes to the public API because our `pointerType` function already takes an address space as an argument. We only have to handle the code generation part (already working in the `jni.llvm` side we have to fix only the `print.llvm` side)
For `addrspacecast` I am thinking of adding new function `public function ad

[2021-07-08 03:46] jclark commented on #188
If we are not getting a clean addrspacecast in the LL IR, then we aren't doing it right. The example in

https://github.com/ballerina-platform/nballerina/issues/149#issuecomment-873339983

generates

[code]

So first step is to figure out how to use the LLVM API to generate what clang generates.

[2021-07-08 04:46] heshanpadmasiri commented on #188
If I understand this correctly above "unclean" code generation happens only when the source is a `external` pointer. It doesn't happen when it is not (works fine even if it the return value of an external function). In the case of clang even for `extern` pointers it puts an explicit load before the bit cast which fixes the issue.
For example for
[code]
In the IR I get
[code]
With the C API (in `jn

[2021-07-08 05:58] jclark commented on #188
Do all the unclean cases use `LLVMAddGlobal`?

[2021-07-08 06:51] heshanpadmasiri commented on #188
Yes and you need to pass the global value ref directly to `addrspacecast` otherwise it is fine.

[2021-07-08 07:10] heshanpadmasiri commented on #153
@jclark if I understand how LLVM does this correctly what it does it is it start (from 0) numbering parameters then skip the next number and start numbering variables. It gives the next number to the basic block. For example
[code]
It start naming parameters from 0 . Then skipped 1 and start naming variables from 2 to 4 in the first basic block. It named the next basic block 5 and start naming its

[2021-07-08 07:14] jclark commented on #188
So the problem in that case is that the global should have an addrspace. There's an example [here](https://llvm.org/docs/LangRef.html#global-variables) :

[code]

Conceptually, address space applies to the thing that is pointed to rather than the pointer itself.

I see the LLVM C API has [LLVMAddGlobalInAddressSpace](https://llvm.org/doxygen/group__LLVMCoreValueConstantGlobalVariable.html#gad8d95a

[2021-07-08 07:35] jclark commented on #153
No, that's not okay: Ballerina variable names can be arbitrary strings (because of escapes and quoting), and we need to be able to handle that.

You should transform the user-specified name into a valid LLVM identifier by using quotes and `\`. LLVM identifier rules are here: https://llvm.org/docs/LangRef.html#identifiers (The right way to do this for strings that contain code points >= 128 is to t

[2021-07-08 07:36] jclark commented on #153
Check what happens in the JNI API if you specify a name parameter starting with a digit e.g. `123`: I am guessing it will turn into `"%123"` or maybe something with escapes.

[2021-07-08 08:17] heshanpadmasiri commented on #188
It seems to work.
For example:
[code]
Will lead to
[code]
_(Only difference is it adds parenthesis)_
So I'll modify the `addGlobal` method to handle this.

[2021-07-08 08:23] #147 closed, assigned to nobody

[2021-07-08 08:26] jclark opened #192 "Improve Makefiles to reduce unnecessary work during testing"
At the moment `make test` always recompiles all the test cases into `.ll` , which results in them all those `.ll` files being compiled with LLVM and tested.

[2021-07-08 08:31] heshanpadmasiri commented on #153
It will become `%"123"`. This is because you can't have a number as the first character (it fine for something like `v1`) so it'll use quotations.  Fallowing the same logic then I'll use names in the form `%*1` for the initial temporary names (if users gives name as "*1" it'll end up as `%"*1"` since you can't start with a * as well) then replace them inside the `output` function.

[2021-07-08 09:51] jclark commented on #153
Can't you just use `%1` as the temporary name?

In `print.llvm`, if the user specifies `1` or `*1` as the name parameter, you need to transform it `"1"` or `"*1"`.

[2021-07-09 03:49] #192 closed, assigned to jclark

[2021-07-09 03:52] jclark commented on #156
Several parts to this:

1. When we detect that a condition in `if` or `while` is constant, then do the right thing
2. Correctly detect when a condition is constant, and what its constant value is
3. Implement `error:unreachable`

We can leave 3 till later #196. We will do 2 separately in #194.

[2021-07-09 03:56] jclark opened #194 "Evaluate constant expressions at compile-time"
We need to do this for

- to implement unreachability properly #156
- in the future for implementing `const` definitions #195

Note that:
- for this to work with `const`, we cannot do in during parsing
- since type descriptors can refer to `const` definitions as types, we need to do this as part of type normalization (which currently happens before code generation)
- constant folding doesn't prese

[2021-07-09 04:02] jclark opened #195 "Implement `const` definitions for simple types and strings"
We have constant definitions implemented only for semtype at the moment not allowing full constant expressions.

We should fix this

- to allow all constant expressions
- allow them to be referenced in expressions

We can do this in two phases
1. Simple types and strings only
2. Add structures: this will need `readonly` and backend support for emitting structures as constant.

This builds on #194.

[2021-07-09 04:05] jclark opened #196 "Implement `error:unreachable`"
As described in https://github.com/ballerina-platform/ballerina-spec/issues/887

This follows on from #156

[2021-07-09 05:23] jclark commented on #153
I would suggest you represent each line as an array of strings, where each string is either

1. a maximal chunk of the output line, not including any unnamed variables, or
2. just an unnamed variable

At the output stage, you just transform strings of type 2 via a lookup in a map and concatenate the members of the array.

This should hopefully reduce the performance hit from implementing this issu

[2021-07-09 09:54] jclark opened #197 "Fix testing to take advantage of new DataProvider functionality in slbeta2"
We should fix our tests to leverage this:

https://github.com/ballerina-platform/ballerina-lang/issues/31146

[2021-07-09 18:09] manuranga commented on #189
This turned out to be quite the rabbit hole!
In ELF shared libraries, it is possible to replace symbols at runtime (known as "interpositions"), this can be used for debugging and other [cool link-time tricks](https://github.com/gaul/awesome-ld-preload). However this has made a lot of [people](https://www.airs.com/blog/archives/307) very [angry](https://www.facebook.com/dan.colascione/posts/1010735

[2021-07-10 01:44] jclark commented on #189
Sounds like it would be slightly better to generate `dso_local` for public functions, so that we can compile with `-fpic` if we want to without a performance hit. But as far as I can see there's no way in the C API to do this (@heshanpadmasiri please check this). So I think the conclusion is to do nothing...

I wonder whether interposition would be useful for some of the observability stuff Choreo

[2021-07-10 03:14] jclark opened #198 "Bug with type-checking bitwise operations and equality"
This should get a semantic error

[code]

because the type of `(1 & 255)` is int:Unsigned8 and the intersection of that with 256 is empty.

[2021-07-10 08:56] #156 closed, assigned to jclark

[2021-07-10 08:56] #194 closed, assigned to jclark

[2021-07-10 08:56] #198 closed, assigned to jclark

[2021-07-10 08:57] jclark commented on #175
@heshanpadmasiri This should be fixed now. Please verify that it is.

[2021-07-11 00:56] jclark commented on #188
This isn't working properly yet: getElementPtr is not dealing with address spaces at all.

[2021-07-11 01:53] jclark commented on #188
Also need to fix up the ptrmask intrinsic: we only need it for address space 1.

[2021-07-11 02:19] jclark opened #199 "Use address space 1 for heap pointers"
The compiler and runtime library should both use address space 1 for heap pointers.

This was split off from #149 together with #200.

[2021-07-11 02:26] jclark opened #200 "Make address space 1 non-integral"
This builds on #199 to make address space 1 non-integral.

This requires:

- changing the data layout to specify that address space 1 is non-integral
- ensuring that we generated LL IR for address space 1 in a way that works when address space 1 is non-integral

[2021-07-11 02:26] jclark commented on #149
Closing this in favour of #199 and #200.

[2021-07-11 02:26] #149 closed, assigned to jclark, KavinduZoysa

[2021-07-11 02:28] jclark commented on #200
We can make the address space 1 non-integral by adding to the sed script in `runtime/Makefile` for creating `.ll` from `.bc`.

[2021-07-11 02:34] #199 closed, assigned to jclark

[2021-07-11 02:37] jclark commented on #188
@heshanpadmasiri I have fixed both the above problems at least enough to get the tests working. Please check my fix for getelementptr is correct in all cases and add some test cases for getelementptr with multiple address spaces. You may also need to fix the ptrmark intrinsic in the JNI impl.

[2021-07-11 03:06] jclark opened #201 "Make runtime library use ptrmask intrinsic for untagging pointers"
At the moment, compiler generates code that uses ptrmask intrinsic for removing the tag from a tagged pointer. However, the runtime library uses inttoptr and ptrtoint, which is not ideal with address spaces, and may not work at all when address space 1 is non-integral (#200).

We can fix this with a hand-written .ll file.

[2021-07-11 03:15] jclark opened #202 "llvm.print should not generate a space before `(`"
At the moment, llvm.print is generating a space before `(`, which is unnecessary and looks ugly. The examples on the LLVM ref page don't do it.

[2021-07-11 03:26] jclark opened #203 "Make calculation of sizes of structs and arrays on the heap be portable"
At the moment `typeSize` in build.bal makes non-portable assumptions about data layout.  We should do this right.

[2021-07-11 04:30] jclark opened #204 "Implement "exact" bit in list/mapping tagged pointers"
Ballerina makes structures covariant in their member types. This imposes costs on the obvious implementation approach in a couple of ways:

* when a mutable structure is mutated by adding or changing a member, it is necessary to check at runtime whether the member belongs to the type required by the inherent type
* when specialized representations are used for subtypes of a basic type (e.g. repres

[2021-07-11 13:51] manuranga commented on #204
I tried to see if llvm is smart enough to hoist such a check out of a loop we naively generate the check per access. [I am not seeing hoisting](https://godbolt.org/z/8ozdsYazv.).

For C++, llvm has [whole program de-vertualizion](https://llvm.org/doxygen/WholeProgramDevirt_8cpp_source.html), but from what I can see it is tightly coupled to C++ type system.

[2021-07-11 14:07] jclark commented on #204
I see [fixing your URL](https://godbolt.org/z/8ozdsYazv)

[code]

which has two loops, so it *is* hoisting...

[2021-07-12 01:35] #189 closed, assigned to manuranga

[2021-07-12 04:07] jclark commented on #204
Exactness can be recovered by doing a cast or by using `is` and implicit type narrowing.

There's some subtlety required to make this work with `readonly`. A type `int[]` means either a mutable array of int, or an immutable array of int. There are a couple of ways to set things up.

One approach is this. A variable with static type `int[]` is exact only if it refers to a mutable array of int. This

[2021-07-12 04:23] jclark commented on #166
We could implement this using the idea in #204. This would mean having 4 representations of arrays, one for each inherent type (`any[]`, `int[]`, `string[]`, `boolean[]`).

[2021-07-12 08:42] #99 closed, assigned to jclark

[2021-07-12 08:43] #188 closed, assigned to heshanpadmasiri

[2021-07-12 09:07] jclark opened #206 "Add unit tests to runtime"
Runtime is now non-trivial, so should have some unit tests.

[2021-07-12 09:09] jclark opened #207 "Add tests for expression evaluation order"
The spec does not require this, but I expect it will change to require left-to-right evaluation order.

We should add tests for this.

[2021-07-12 09:21] KavinduZoysa commented on #200
@jclark, I have changed the sed command as follows, and I generated the `.bc` with ni addrspace 1 (confirmed by generating .ll using llvm-dis command)

`sed -e '/define .*@_B[a-zA-Z]/s/^define /define linkonce_odr /' -e '/target datalayout/ s/.$$/-ni:1"/' $< | $(LLVM_AS) >$@`

[2021-07-12 11:24] jclark commented on #200
OK. I suggest `-e '/target datalayout/ s/"$$/-ni:1"/'` (with a `"` instead of a `.` for slightly better robustness.

[2021-07-12 11:27] #200 closed, assigned to jclark, KavinduZoysa

[2021-07-12 11:27] jclark commented on #200
I tested it and it seems to work OK with the code I am generating now.

That was easier than I expected!

[2021-07-13 00:05] jclark commented on #176
clang has a `__attribute__((cold))`

[2021-07-13 00:16] #176 closed, assigned to jclark

[2021-07-13 01:13] jclark opened #211 "Implement string numeric escape syntax"
This is part of #130

Spec grammar [NumericEscape](https://ballerina.io/spec/lang/2021R1/#NumericEscape)

[2021-07-13 01:18] jclark opened #212 "Create subset 04 spec"
At least strings on top of subset 03.

[2021-07-13 01:30] jclark opened #213 "Make relational operators work for string"
Make operators `<`, `<=`, `>`,  and `>=` work for string. Follows on from #130.

[2021-07-13 03:47] jclark opened #214 "Implement unary `~` operator"
This doesn't need to be in BIR (can use xor with all ones).

Both codegen and constant folding need this.

[2021-07-13 03:49] jclark commented on #132
If we have this we can implement the new nil lifting from  https://github.com/ballerina-platform/ballerina-spec/issues/191

I think we will also need to look at relational operators because `T?` is an ordered type.

[2021-07-13 04:42] jclark commented on #212
Decided to add `map<any>` also, otherwise strings without concatenation don't make much sense.

Done: https://github.com/ballerina-platform/nballerina/blob/main/docs/subset04.md

[2021-07-13 04:42] #212 closed, assigned to jclark

[2021-07-13 07:16] #197 closed, assigned to manuranga

[2021-07-13 07:53] jclark opened #215 "LLVM module support for creating a string constant"
On Context add a method:

[code]

which will call `LLVMConstStringInContext(self, bytes, bytes.length(), true)` (i.e. the string constant will consists of exactly the specified bytes without any additional null byte)

Needed for #130

[2021-07-13 08:00] jclark commented on #215
**Edited: ignore this**

Actually, I think a better interface is for it to take a Ballerina string:

[code]

and then convert to bytes using string:toBytes only if the string has a code point >= 128.

[2021-07-13 08:09] #190 closed, assigned to manuranga

[2021-07-13 09:25] jclark commented on #215
The second interface isn't going to work as is, because I need to be able to pad out the array so that the total length of the string and the header is a multiple of 8.

[2021-07-13 09:31] jclark commented on #215
Another problem is the backend already needs to convert to bytes in order to determine the length in bytes. So let's stick with my original proposal for now

[code]

[2021-07-13 09:37] jclark commented on #215
At module init time you can build a `string[256]` array that maps each byte onto its representation as a string.

[2021-07-13 11:26] jclark opened #217 "LLVM module support for a structure constant"
We need the equivalent of `LLVMConstStructInContext` i.e. a method on Context.

[code]

[2021-07-13 11:30] jclark opened #218 "LLVM module support to create globals that are constant"
We want to make string constants be global constants, the equivalent of `LLVMSetGlobalConstant`. Maybe easiest to make this a boolean `isConstant` parameter on `addGlobal`.

[2021-07-13 11:43] #153 closed, assigned to heshanpadmasiri

[2021-07-13 12:37] jclark commented on #218
We also need to be able to set alignment, so maybe an included record parameter would be best here.

[2021-07-13 22:14] jclark commented on #202
Fixed in https://github.com/ballerina-platform/nballerina/commit/ee5cd553ec5f825510ab156f597501d50b3e1711

[2021-07-13 22:14] #202 closed, assigned to heshanpadmasiri

[2021-07-13 23:56] jclark opened #221 "Fix llvm.print escaping of identifiers"
escapeName has a number of problems including:

* `-` is allowed in identifiers
* when using double quotes not only `"` needs escaping, but also `\` and control characters
* doesn't handle Unicode at all

[2021-07-13 23:59] jclark commented on #221
@heshanpadmasiri I did a rewrite. Please review and write some tests.

Note that #215 needs to handle non-ASCII characters in a similar way.